[2016-03-29 16:48] JohannesPfeifer opened #1154 "Investigate crash of Octave under Windows"
There are two problems with the following mod-file under Octave

[code]

First of all, when no mex-files are present, `mjdgges.m` returns very different results than Matlab or the mex-file. While Octave then returns a rank failure, Matlab finds a small, but OK condition number and continues.

Second, when using the mex-files, Dynare crashes Octave 3.8.2 when computing theoretical moments. The culp

[2016-03-29 19:24] MichelJuillard commented on #1154
This example runs fine in Linux with Octave 4.01. As far as Windows is concerned I suggest to focus on Octave 4 and not to try to fix problems with Octave 3.8

[2016-03-29 19:47] JohannesPfeifer commented on #1154
@MichelJuillard That would be fine with me. But we do not have mex-files for Octave 4.01 yet, so I cannot check whether the file runs. Does the file crash older Octave versions on Linux?

[2016-03-29 19:47] JohannesPfeifer commented on #1154
@MichelJuillard And did you check whether ```ordeig.mex``` correctly works?

[2016-03-29 19:53] MichelJuillard commented on #1154
@JohannesPfeifer I don't have older versions of Octave and can't look for them in the near future. Any way, we don't plan to support but the latest Octave version.

The *.mod file ran as in Matlab until the end, so I guess that ordschur rand OK, but I didn't test it specially.

[2016-03-29 19:57] JohannesPfeifer commented on #1154
@MichelJuillard That's fine. I was only interested because it might make debugging easier in case the problem persists under Windows with Octave 4.01.

[2016-04-05 19:10] JohannesPfeifer opened #1157 "Save kurtosis and skewness when using simulated moments"

[2016-04-06 06:59] JohannesPfeifer commented on #1119
Closed by #1133

[2016-04-06 07:03] JohannesPfeifer commented on #1133
This has been closed by #1150

[2016-04-10 17:59] JohannesPfeifer opened #1160 "Implement filter_covariance option in Bayesian estimation"
Currently only possible in ML and calibrated smoother

[2016-04-10 21:27] JohannesPfeifer opened #1161 "Fix selected_variables_only option"
In Dynare 4.4.3, we have in ```dynare_estimation_1 ```
[code]
But ```bayestopt_.smoother_saved_var_list ``` only saves the index of the variable in ``` bayestopt_.smoother_var_list ```, not in the decision rules themselves. Therefore, we have to select ```atT(bayestopt_.smoother_var_list(i),:) ``` instead of ```atT(i,:) ``` if ```bayestopt_.smoother_var_list ``` is not equal to ```bayestopt_.smoot

[2016-04-11 05:00] MichelJuillard commented on #1161
The ability of selecting variables is important for large models. We want to keep the feature and fix it

[2016-04-11 05:07] JohannesPfeifer commented on #1161
@MichelJuillard But are large models ever estimated with ML? Regardless, I think I have fixed the issue in the above mentioned commit, but I still have to test it more.

[2016-04-11 06:30] MichelJuillard opened #1162 "Handling of trends"
Currently trends are taken into account only if users indicate them for observed variables. However, in random walk with drift, a deterministic trend appears endogenously for variables that are not necessarily observed.

Let consider the following model where only Y is observed:
[code]
Both A_t and Y_t contain a deterministic linear trend with a slope of g. The current practice of only specifying

[2016-04-11 06:35] MichelJuillard commented on #1161
@JohannesPfeifer some parameters of a large model can be estimated, computing posterior mode and even posterior distribution with MH. SmoothedVariables and forecast are routinely computed for large calibrated models.

[2016-04-11 06:50] JohannesPfeifer commented on #1161
@MichelJuillard Ok. I missed the calibrated smoother part. MH is not affected by the ```selected_variables_only ``` option.

[2016-04-11 07:01] MichelJuillard commented on #1161
Computing the posterior distribution of smoothed variables (and friends) can generate memory problems for large models. It is very important to be able to limit the number of variables for which we compute and store the smoothed values.

[2016-04-11 07:05] JohannesPfeifer commented on #1161
@MichelJuillard To clarify. The manual says for ```selected_variables_only ```:
[code]

[2016-04-11 12:28] JohannesPfeifer commented on #1161
There seems to be a second bug. In ```DsgeSmoother```, we select the observables via a matrix ```Z``` that relies on ```bayestopt_.mf = bayestopt_.smoother_mf ```
But ```bayestopt_.smoother_mf ``` only stores the indices of the observed and requested variables within ```bayestopt_.smoother_var_list ```, not within the actual state vector. Thus, it should be
```bayestopt_.mf = bayestopt_.smoother_v

[2016-04-12 08:46] #1157 closed

[2016-04-12 10:04] #1054 closed

[2016-04-12 10:15] JohannesPfeifer commented on #1147
Dealing with ```imcforecast.m ``` has been done in #1155

[2016-04-12 11:06] #896 closed

[2016-04-12 12:22] #820 closed

[2016-04-12 12:22] #1161 closed

[2016-04-13 13:22] rattoma commented on #1065
@stepan-a. Could you please retry the testsuite on the current state of the branch [i.e. after commits on Oct 14th 2015]?
If things look better I can work on this branch to allow a pull request.

[2016-04-13 22:15] tholden opened #1165 "stochastic_solvers calls transition_matrix without passing M_"
transition_matrix optionally takes M_ as an additional argument. If it doesn't get the extra argument, then it uses the global M_.
Given that stochastic_solvers takes M_ as an additional argument, it should also pass this to transition_matrix.
Without this, user code that calls Dynare internals in parallel can be messed up.

[2016-04-14 12:06] stepan-a commented on #1065
@rattoma It looks much better!

[code]
I have the impression that the failing tests are caused by bugs fixed since mid-October. I master and run the testsuite again...

[2016-04-14 12:56] rattoma commented on #1065
@stepan-a excellent. I think that properly mastering will require merging bug fixes done for

metropolis_hastings_initialization.m
random_walk_metropolis_hastings.m
random_walk_metropolis_hastings_core.m

on the new routines:

matlab\check_posterior_sampler_options.m
matlab\posterior_sampler.m
matlab\posterior_sampler_core.m
matlab\posterior_sampler_initialization.m
matlab\posterior_sampler_iterat

[2016-04-14 12:56] rattoma commented on #1065
I will work on that

[2016-04-14 13:21] rattoma commented on #1065
also TaRB il left out: I should factor it out together will all other samplers

[2016-04-15 07:45] MichelJuillard commented on #136
Added new block "shock_groups" and new option "use_shock_groups" in "shocks_decompostion" via commits #920d212d95f04027c815f233e97b2b71bbde47ee, #98b53553c6d49366a00e48c330e023a06c041e4d,
#800d79d6e530ac894a0e69fd05470852bfc3b490,
#de567377c3b11fc948e3e9b9e09796a2ff6b69f6.

[2016-04-15 07:45] #136 closed

[2016-04-16 15:42] MichelJuillard commented on #1165
calls to transition_matrix have been replaced by calls to kalman_transition_matrix that doesn't use global variables in e8c430a9232a4732c9dfd04fd47bed92c7ecdeaf

[2016-04-16 15:42] #1165 closed

[2016-04-18 06:27] #1150 closed

[2016-04-18 06:29] #633 closed

[2016-04-18 06:30] #1133 closed

[2016-04-18 06:31] #1119 closed

[2016-04-18 10:17] tholden opened #1170 "Non-bayesian estimation should use quasi-Maximum likelihood standard errors"
At present, with non-Bayesian estimation, Dynare computes standard errors using the Hessian of the likelihood. This is only valid if it is assumed that the shocks in the "true" model are normally distributed. And, in that case, it is an inefficient way of computing the standard errors, as it will be equal to the Fisher information matrix, which only requires the calculation of the derivative of th

[2016-04-18 10:40] MichelJuillard commented on #1170
Do you have recent references on computing quasi-Maximum likelihood "sandwich" covariances?

[2016-04-18 20:41] JohannesPfeifer opened #1172 "Remove or fix dsgevar_posterior_density.m"
The function is nowhere used and is totally buggy as it even does not reflect name changes in the header within the function (e.g. DynareOption instead of options_ )

[2016-04-18 21:07] JohannesPfeifer opened #1173 "Support estimation under optimal policy"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=8071

[2016-04-19 07:18] JohannesPfeifer commented on #1173
This should be doable by replacing the call to
[code]
in ```dsge_likelihood.m``` by a call to the respective solution technique with the default being the current one, but also allowing for Ramsey, commitment and OSR, conditional on the estimated parameters.

[2016-04-19 07:32] MichelJuillard commented on #1173
I believe it is currently possible with Ramsey policy when you use the {{{ramsey_model}}} syntax. The maintained assumption is that the initial Lagrange multiplier were at steady state before the beginning of the sample.
This is a conceptual issue while estimating assuming   Ramsey policy: one has to take a stand about when did optimal policy start.
Estimating under OSR would be extremely costly a

[2016-04-19 10:45] rattoma commented on #1065
@stepan-a would you prefer I rebase, so that slice commits are shown after latest commits, or a merge?

[2016-04-19 18:11] JohannesPfeifer commented on #1173
@MichelJuillard I meant ```discretionary_policy```

[2016-04-20 10:42] rattoma commented on #1065
I am about to make a pull request for slice which looks okay.
Notes on preprocessor. We would need to add:
1) slice as an optional `posterior_sampling_method`;
2) allow posterior sampler specific options, similar to `optim` for maximizers. Currently I am using `optim` to get the behavior [as exemplified in the specific test routine I am adding], but it would be good to have something like
`sampler

[2016-04-20 10:57] rattoma commented on #1065
@stepan-a I have just did a forced push on my personal slice branch [after rebase]. Could you please re-sun the testsuite on it?

[2016-04-20 11:38] stepan-a commented on #1065
@rattoma Okay I'll do that asap

[2016-04-20 12:42] stepan-a commented on #1065
@rattoma The output of the testsuite seems ok

[code]
I need to run again the testsuite on master to check the timing also...

[2016-04-20 12:58] tholden commented on #1170
Canova's textbook covers it (though it's not particularly clear), in the 2007 edition, it's the bottom of page 210, after exercise 6.17.
This textbook chapter covers it more clearly: http://homepage.ntu.edu.tw/~ckuan/pdf/et01/ch9.pdf
Plus these MIT notes cover it at the end: https://dspace.mit.edu/bitstream/handle/1721.1/46343/14-384Fall-2007/NR/rdonlyres/Economics/14-384Fall-2007/D6349EED-D2FE-44

[2016-04-20 13:18] stepan-a commented on #1170
We had this in dynare 3... I do not remember why we removed it. I agree that this should be an option. I wonder if this estimator is not already available with ```mode_compute=5``` (@rattoma 's likelihood optimizer).

[2016-04-20 13:24] stepan-a commented on #1065
Timing does not seem to differ significantly.

[2016-04-20 13:33] rattoma commented on #1065
excellent thanks a lot

[2016-04-20 13:42] stepan-a commented on #1065
@rattoma Did you add an example in your branch (in ```./tests```) for the slice sampler?

[2016-04-20 13:42] stepan-a commented on #1065
Sorry I found it... It was in the last commit.

[2016-04-20 15:03] rattoma commented on #1065
as usual in my tests it also ranks high in timing ... :(

[2016-04-20 15:16] rattoma commented on #1170
yes, I think that I1 in  MIT notes page 5 is the default output "hessian" [outer product gradient] from `mode_compute=5`. So, this should be combined with I2 in the same notes [i.e. the hessian] to get the sandwich if I am right.

[2016-04-21 11:43] JohannesPfeifer opened #1175 "Investigate whether commmit 3c7e60b really fixes a bug"
See the discussion at https://github.com/DynareTeam/dynare/commit/3c7e60b744567f6f39a9c611bce6dcaadcd52bc6

[2016-04-21 12:51] stepan-a commented on #1175
My understanding is that @MichelJuillard 's recent patch on auxiliary variables provides a better fix for this. But I have to check...

[2016-04-21 13:40] JohannesPfeifer commented on #1175
@stepan-a So this bug only appeared in Master? Because 4.4.3 was not affected by this.

[2016-04-21 13:46] stepan-a commented on #1175
From what I saw in CMR codes (where they had to call the code twice to get a proper steady state if I remember correctly), this bug appeared in previous versions of Dynare. As I said, I need to check...

[2016-04-25 09:36] JohannesPfeifer opened #1176 "Investigate crash in sim1_linear.m"
The following mod-file crashes Dynare in master
[code]
Setting periods bigger than 1 solves the issue.

[2016-04-25 09:52] stepan-a commented on #1176
@JohannesPfeifer But why one would want to simulate a perfect foresight model with only one period? I suppose we should not allow ```periods=1```.

[2016-04-25 09:54] JohannesPfeifer commented on #1176
@stepan-a It is a limit case taken from a recent JME paper. The goal is to solve for the endogenous variables in this one period, given the exogenous variable as well as terminal and initial conditions. I don't think this question is ill-posed.

[2016-04-25 10:02] stepan-a commented on #1176
@JohannesPfeifer Is it reasonable to assume that the economy is back to steady state in one period? Can you post the reference of the paper? Do they try to compute the steady state conditional on a particular value of the exogenous variables?

[2016-04-25 11:24] JohannesPfeifer commented on #1176
@stepan-a The model is a New Keynesian model without endogenous states. In normal times, i.e. the initial and terminal periods, divine coincidence holds and everything is in steady state (x and all endogenous variables are 0). However, in period 1, the endogenous one, the central bank deviates from the Taylor rule and just exogenously sets the interest rate. The question is what happens to the inf

[2016-04-25 13:21] stepan-a commented on #1176
@JohannesPfeifer Okay. If there is no lag in the model, the variables return to the steady state in one period. In this case it makes sense to put ```periods=1```, because we would have exactly the same solution for any value of ```periods``` greater than one (the solution of the linear model is a multivariate  white noise). Otherwise, the response in period one would be influenced by the fact tha

[2016-04-25 14:46] JohannesPfeifer commented on #1176
@stepan-a Without lags, it works with ```periods=1 ```, which suggests we simply need a more informative error message. But I still don't understand where the crash comes from. What distinguishes  ```periods=1 ``` from  ```periods=2 ```

[2016-04-25 15:20] stepan-a commented on #1176
@JohannesPfeifer Thanks. I need to run the example, but I cannot do it this week...

[2016-04-25 15:23] JohannesPfeifer commented on #1176
@stepan-a No hurry, please just set the bug label and a milestone so wo do not forget it.

[2016-04-25 15:35] stepan-a commented on #1176
@JohannesPfeifer I only add the enhancement label, because it's not clear to me if this issue is really a bug...

[2016-04-25 17:25] JohannesPfeifer commented on #1176
@stepan-a If it crashes without a proper exception handling, it should be classified as a bug.

[2016-04-26 12:49] JohannesPfeifer commented on #1170
@MichelJuillard The reference is Theorem 3.2 of Halbert White (1982): Maximum Likelihood Estimation of Misspecified Models, Econometrica, Vol. 50, No. 1, pp. 1-25

[2016-04-26 14:24] JohannesPfeifer opened #1177 "Implement interface for posterior sampling methods"
Related to #1174 and #1065

I would propose to use this occasion to further clean up the ```options_```-structure and create a field ```options_.posterior_sampler_options``` that stores as subfields the various options.

The preprocessor should have an option ```posterior_sampling_method``` that accepts a quoted string that can be ```slice```, ```random_walk_metropolis_hastings```, ```independent_

[2016-04-26 15:15] MichelJuillard commented on #1170
Thanks

[2016-04-26 15:57] rattoma commented on #1177
@JohannesPfeifer thanks a lot for this. If I understand correctly, `options_.posterior_sampler_options.sampling_opt` should be dealt with in `check_posterior_sampler_options.m` with `read_key_value_string`, so to fill the appropriate subfields in 1.

This looks a good solution to me.

One further note aside. As you may have noted, I also factorized a few more implicit options that were hard coded

[2016-04-27 10:13] JohannesPfeifer commented on #1177
A separate function like ```check_posterior_sampler_options``` seems to be the right place, although I would probably name it ```set_posterior_sampler_options```. I would also not allow users to reset the implicit options for the bar graphs, but make them sampler-specific.
@rattoma A list of options for slice should be easily derivable from ```check_posterior_sampler_options```. If you comment the

[2016-04-27 10:18] rattoma commented on #1177
@JohannesPfeifer. thank you. I applied and pushed on my slice branch your patch regarding TaRB.
I will add comments to  `check_posterior_sampler_options` and commit/push them to my personal slice branch.

[2016-04-27 12:24] rattoma commented on #1177
@JohannesPfeifer I just pushed comments for slice options

[2016-04-29 08:35] JohannesPfeifer opened #1178 "Ship Dynare++ example in Dynare++ folder"
I would suggest we provide the example from the documentation, but with a lower order:
[code]

[2016-04-29 08:42] JohannesPfeifer opened #1179 "Fix cross-compilation of Dynare++ for Windows"
With the unstable version under Windows 10 I get an error that `libquadmath-0.dll` is missing, while Dynare 4.4.3 still works.

[2016-04-29 11:36] JohannesPfeifer commented on #1026
@stepan-a and @MichelJuillard Sorry, but I think we have to reopen the issue. I encounter the same problem on Windows at ```order=4``` on a 32GB machine, while I can run the same file flawlessly with ```order=5``` on Sedna.

[2016-04-29 11:43] MichelJuillard commented on #1026
We should reopen the issue, but currently we don't have the environment to investigate it. We would need to install a full Dynare development (compilation and debugging) environment on a Windows machine. I don't know who could do it and where.

[2016-05-03 13:30] stepan-a commented on #1177
@houtanb Can you look into this, please?

[2016-05-03 20:47] stepan-a opened #1183 "Fix compatibility with matlab 2016a in installer and mex-folder"
I had to revert commit 6072aa0b462484da990ffa00ee39fb141fa9513f (which is PR #1144 by @JohannesPfeifer) because the snapshot build failed this evening. The generated mex files are not saved in the expected directory. They are saved in ```mex/matlab/win64-7.8-8.6``` instead of ```mex/matlab/win64-7.8-9.0```. I did not find where the name of this directory is controlled. @houtanb can you fix this?

[2016-05-04 08:38] houtanb commented on #1183
@stepan-a this is done by the script that runs the snapshots. I'll take care of it.

[2016-05-04 08:44] stepan-a commented on #1183
This is what I thought, but I didn't find the line where this is done in the main script...

[2016-05-04 09:14] houtanb commented on #1183
It's in `/usr/local/bin/make-dynare-win-unstable`

[2016-05-04 09:14] #1183 closed

[2016-05-04 09:19] stepan-a commented on #1183
Thanks @houtanb! I will change this when porting the build of the snapshot elsewhere.

[2016-05-04 09:41] rattoma opened #1184 "Crash in preprocessor in unstable branch"
I get a crash in the preprocessor in the unstable branch, since I rebased my local unstable branch onto the recent commits [pervious preprocessor versions I used date back October 2015 ...] when dealing with our Global Multicountry model.

I get the error both in Windows and MacOS.

In MacOS I get the following message:
``
dynare_m(554,0x7fff7411b300) malloc:
``
``
*** error for object 0x7fda6a60c

[2016-05-04 09:43] houtanb commented on #1184
Yes, please tell me how to get the files necessary to replicate the problem. @MichelJuillard made some changes recently, so we need to work out all bugs before the release.

[2016-05-04 09:43] MichelJuillard commented on #1184
Hi Marco,

can you send me the replication case please?

Best

Michel

Marco Ratto writes:

--
Michel Juillard

[2016-05-04 10:05] rattoma commented on #1184
I am sending an email

[2016-05-04 10:06] JohannesPfeifer commented on #1184
@rattoma Do you have a minimal working example to use as a unit test? It seems we currently don't have any test to trigger this issue.

[2016-05-04 10:11] rattoma commented on #1184
@JohannesPfeifer I'll try to set up something for a unit test.

[2016-05-09 14:11] #1184 closed

[2016-05-09 15:03] houtanb commented on #948
@stepan-a please tell me the syntax you want for this block. It does not seem to coincide much with `estimated_params_bounds`

[2016-05-09 15:15] MichelJuillard commented on #948
We need to think about this syntax also in relation with occasionaly
binding constraints.

We have the following contexts:

1) occasionaly binding constraints associated (replacing) a model
equation (LMMCP or OCCBIN) -> use equation tag
2) occasionaly binding constraints associated with a first order
condition of optimal policy (Ramsey problem) (LMMCP or OCCBIN)
3) occasionaly binding constraints

[2016-05-10 09:07] JohannesPfeifer commented on #860
Close by 7e13fe5ef7ea576542f1a451682795377130a743 and subsequent commits

[2016-05-10 09:07] #860 closed

[2016-05-10 12:31] JohannesPfeifer commented on #948
@houtanb Why do you think it does not coincide much with ```estimated_params_bounds```?

[2016-05-10 12:58] houtanb commented on #948
In @stepan-a's description, there was no mention of the bounds for the standard error and correlation, as we have for `estimated_params_bounds`. Furthermore, the output fields differ.

[2016-05-10 14:21] JohannesPfeifer commented on #948
@houtanb I see. The idea is to have a block
[code]
that allows for structural parameter names, but not correlations, standard errors, measurement error, etc. The content of the pairs
```param_name, lower_bound, upper_bound;```
should map into
```M_.osr.param_names```, which is a n by 1 cell of strings
```M_.osr.param_indices```, which is a n by 1 vector storing the index of the parameter in ```M_.

[2016-05-10 15:14] #58 closed

[2016-05-10 16:02] houtanb commented on #948
@JohannesPfeifer done. Can you add the documentation?

[2016-05-11 05:59] JohannesPfeifer commented on #948
@houtanb Yes, I will work on the documentation and the final implementation steps

[2016-05-11 10:43] rattoma commented on #1177
@JohannesPfeifer: working on provisions for preprocessor extentesion done by @houtanb, I have an issue:

when using `set_posterior_sampler_options` / `check_posterior_sampler_options` we get the default options in subfields `options_.posterior_sampler_options.tarb` etc...
the current implementation of `posterior_sampler` reads options from a structure `posterior_sampler_options` without subfields.

[2016-05-11 10:56] houtanb commented on #503
@stepan-a @JohannesPfeifer option added on `optimal_jscale_parameter` branch.

[2016-05-11 11:45] JohannesPfeifer commented on #503
I think we have to rethink the field where we save this. How about subsuming this in '''posterior_sampler_options''' instead of having a separate preprocessor option. This would agree better with #1177

[2016-05-11 11:48] JohannesPfeifer commented on #1177
@rattoma I did not think that far actually. This is a very elegant solution. I would make that structure local to the functions that use it, but make it global in '''dynare_estimation_1.m''' like the other structures so users can latter access and check it.

[2016-05-11 11:50] houtanb commented on #503
@JohannesPfeifer ok, then I will simply revert it and close this ticket.

Is the `optimal_jscale_parameter` branch still of use? Should it be merged, deleted, or are you still going to work on it?

[2016-05-11 11:53] JohannesPfeifer commented on #503
@houtanb I have to check out that branch. Just leave it for now and keep this open ticket assigned to me

[2016-05-11 13:13] #1172 closed

[2016-05-11 14:59] rattoma opened #1187 "allow to skip 2nd order param derivs"
For large models, computing the analytic Hessian just produces a too big `_params_derivs.m` file which is untractable.
For running identification or only computing scores, 2nd order derivs would be useless.
@houtanb  Would it be possible to tell the pre-processor to only compute 1st order derivatives, i.e. stop writing the `param_derivs` file when it reaches
`if nargout >= 3 ...`
?
2nd order terms

[2016-05-11 15:26] houtanb commented on #1187
@rattoma yes. Can you send me a `.mod` file that's giving you problems so I can test the changes I make?

[2016-05-11 15:28] rattoma commented on #1187
@houtanb I'll do it

[2016-05-12 06:41] rattoma commented on #1187
@houtanb I just sent you a private email

[2016-05-12 08:17] rattoma commented on #1177
@JohannesPfeifer what about using `estimation_info` for the global storage of these options, or defining another `options_` field like `posterior_sampler_opts` or `sampling_options`?
I am not sure whether to put everything in `posterior_sampler_options` which would then mix the method specific default subfield and the merged wrapped set of options ...
what do you think?

[2016-05-12 08:19] rattoma commented on #1177
perhaps we could use a wrapped field `options_.posterior_sampler_options.sampling_options`

[2016-05-12 09:00] JohannesPfeifer commented on #1177
@rattoma I would go for the wrapped field in your last post as it keeps all info in one place

[2016-05-12 10:05] #1187 closed

[2016-05-12 11:16] rattoma commented on #1187
@houtanb thank you so much!
The solution you propose is that, when running identification, only 1st derivs are computed, while when analytic_derivation is triggered in estimation, all derivs up to 2nd order are still provided.
This should fix the main issues I normally face. I still need to test this, but I am wandering whether it would also be useful/possible to allow a bit more control on this,

[2016-05-12 11:54] houtanb commented on #1187
Sure @rattoma I can do that. Do you want this to be the default for identification or do you want users to have to pass the option to dynare?

[2016-05-12 12:46] houtanb commented on #1187
@rattoma I made it the default for identification such that with identification you cannot obtain the 2nd derivative of the jacobian or the derivative of the hessian wrt the params. If you would like this default to be changed, please let me know.

[2016-05-12 14:28] rattoma commented on #1187
this looks okay, unless with testing I step into some error/problem. thanks a lot!

[2016-05-13 06:18] rattoma commented on #1187
@houtan thinking more carefully about the issue I think it would be better to keep the default with 1st and 2nd order derivs even for identification, otherwise there would not be an option to get it. Hence, let's skip 2nd order only when explicitly required by the user with `no_2nd_order_params_derivs` [computing the Hessian might be useful in any case, there are papers around that use the Hessian

[2016-05-13 09:24] rattoma commented on #1177
@JohannesPfeifer @houtanb et al: am I right that `use_mh_covariance_matrix` is an undocumented option of dynare, which is not recognized by the pre-processor?

[2016-05-13 09:32] houtanb commented on #1177
@rattoma you are correct

[2016-05-13 14:41] JohannesPfeifer commented on #948
@MichelJuillard @houtanb There is a fundamental design choice showing up here. Currently we set the above fields only for parameters in the ```osr_params_bounds;``` block. So the name vector for example only exists for the parameters where bounds have been specified.
I would prefer to use this opportunity to move preprocessor objects like ```osr_params_``` to the ```M_.osr``` structure and make al

[2016-05-13 19:40] rattoma commented on #1177
@JohannesPfeifer I pushed on my personal slice branch provisions for reworked poserior sampler options + patches on tabular output and IFAC documentation

[2016-05-16 07:17] rattoma commented on #1187
@houtan sorry for bothering again on preprocessor issues around identification.
Would it be possible to add the following options for identification [currently they are set automatically in identification to default but cannot be forced to different values by the user]
`analytic_derivation`
`analytic_derivation_mode`
Moreover, concerning params derivs, the most flexible option would be, if possibl

[2016-05-17 10:18] JohannesPfeifer commented on #267
@houtanb Could you please close this ticket. #891 supersedes the last discussion

[2016-05-17 10:21] houtanb commented on #1187
@rattoma so you want to have this option to `identification`. For `estimation` no option?

[2016-05-17 10:30] houtanb commented on #1187
@rattoma what are valid values for `analytic_derivation_mode`? Integers? Positive Integers? Positive Integers and Zero?

[2016-05-17 10:39] rattoma commented on #1187
@houtanb integers [can be negative and positive]. Since identification can also be triggered via sensitivity, I think we should add this to sensitivity as well. many thanks

[2016-05-17 11:03] #267 closed

[2016-05-17 12:04] JohannesPfeifer commented on #943
Was done in https://github.com/JohannesPfeifer/dynare/commit/066653cf03f81541c32cca04b82a70bca8808c75

[2016-05-17 12:04] #943 closed

[2016-05-17 20:52] rattoma commented on #1187
On the error in testsuite, I messed up things...
On the testsuite error of tonight: it seems that `analytic_derivation` in `estimation` does no longer trigger `params_derivs` in preprocessor. This should not change w.r.t. the past.
The option
`params_derivs_order=INTEGER`
should be a pre-processor option, just extending the previous `no_2nd_order_params_derivs`
i.e.
`dynare <mod-file> params_deriv

[2016-05-18 20:38] JohannesPfeifer commented on #1045
Also better document the concept of welfare used, see http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=8195&p=24227#p24227

[2016-05-19 19:34] #1105 closed

[2016-05-20 08:16] houtanb commented on #847
@stepan-a to add this feature requires a big hack in the preprocessor. Is that cost worth it?

[2016-05-20 09:25] houtanb commented on #847
@stepan-a doesn't remember requesting this. Closing

[2016-05-20 09:25] #847 closed

[2016-05-20 10:33] JohannesPfeifer commented on #948
@houtanb I talked to @MichelJuillard We will go for the  ```M_.osr``` structure with ```n_osr_params``` rows and provide backward compatibility via a conversion utility. Could you please do the preprocessor changes? I will do the Matlab part including the conversion tool. The plan is to have ```M_.osr``` with ```n_osr_params``` row subfields
```param_names```, ```param_bounds```, ```param_indices`

[2016-05-20 10:35] JohannesPfeifer commented on #1162
Solution agreed with @MichelJuillard: Provide subfields with size ```endo_vars``` for all variables and set trend to NaN for variables with unspecified trends. Allows for future setting of trends for unobserved variables using e.g. the ```trend_var``` command.

[2016-05-20 10:37] JohannesPfeifer commented on #1045
Decision made with @MichelJuillard Write down definition of welfare concepts considered and implement them. Allow using different concepts via corresponding option (e.g. conditioning on endogenous and exogenous states in the first period)

[2016-05-20 11:26] houtanb commented on #948
@JohannesPfeifer I'm a bit confused by your previous message. Do you mean that `M_.osr.param_names` and `M_.osr.param_indices` should be `n_osr_params` by 1? And `M_.osr.param_bounds` should be `n_osr_params` by 2? Where do `i_var` and `W` come from?

[2016-05-20 12:02] JohannesPfeifer commented on #948
@houtanb Yes. The fields related to parameters should have the size of the parameter vector to be optimized, not just the parameter that have bounds set. Parameters not declared with bounds should have default bounds of [-Inf, Inf].
```i_var``` and ```W``` are the inputs to ```osr.m``` already set by the preprocessor. As far as I can see they are called ```obj_var_``` and ```optim_weights_``` in t

[2016-05-20 12:05] JohannesPfeifer opened #1193 "Make preprocessor recognize state variables introduced by optimal policy"
In the mod-file

[code]

`r` becomes a state variable during Ramsey computations (albeit with 0 coefficients). As a state, one should be able to set its lagged value using `histval`. But this is not possible, as the preprocessor does not recognize `r` as a state.

[2016-05-20 12:32] houtanb commented on #948
@JohannesPfeifer in its current form, if there are multiple `osr_params` statements, only the last one counts as far as the declaration of osr parameters. Is this correct or is this a bug? Should an error be produced in the `.mod` file if there are more than one `osr_params` statements?

[2016-05-20 12:55] houtanb commented on #948
@JohannesPfeifer is there are reason `osr_params_` is set as a `char` as opposed to a cell array of strings?

[2016-05-20 13:14] JohannesPfeifer commented on #948
@houtanb I would provide a warning in the preprocessor and always only save the value of the last block.
Regarding your other question: we always go for cell arrays instead of character arrays. If I said anything else, please ignore it

[2016-05-20 13:16] houtanb commented on #948
@JohannesPfeifer no, you didn't. It's just that that's what's currently being printed for `osr_params_`. I just converted it using `cellstr`

[2016-05-20 13:19] houtanb commented on #948
@JohannesPfeifer now that `M_.osr.param_indices` will be the same size as the number of parameters, I am printing it when the `osr_params` statement is encountered. I hope this is ok.

[2016-05-20 13:21] JohannesPfeifer commented on #948
It should have the same size as ```osr_params``` not as ```M_.params```. Writing it when ```osr_params``` is encountered is fine

[2016-05-20 13:28] JohannesPfeifer opened #1194 "Allow for comments in parallel configuration files"
We would need a way to add comments to configuration files. @rattoma were thinking about using the hashtag # for this (unless someone envisions a role for it on Windows/MAC/Unix).

[2016-05-20 15:22] #1194 closed

[2016-05-20 16:54] JohannesPfeifer opened #1195 "Fix parallel error/warning on Windows systems"
```dynareParallelDelete.m``` has in line 51 a delete statment containing a ```$``` sign, which is not valid Windows code.

[2016-05-20 18:18] JohannesPfeifer opened #1197 "Get rid of globals in various functions"
As discussed with @MichelJuillard, we should try to get rid of globals in
- ```stoch_simul```
- ```simult_```
as most of their callers and subsequently called functions already use local instances of the variables

[2016-05-22 08:06] JohannesPfeifer commented on #1177
Closed by #1188

[2016-05-22 08:06] #1177 closed

[2016-05-22 08:06] JohannesPfeifer commented on #1065
This ticket is closed by #1188

[2016-05-22 08:16] JohannesPfeifer opened #1199 "Check mode-file related options of slice"
As discussed with @rattoma it is not clear the preprocessor can handle the necessary inputs which must be a set of vectors or an array of strings. We might need to delete the mode option from the manual and provide an example of the mode_files option

[2016-05-22 09:06] stepan-a commented on #1199
@JohannesPfeifer Can you elaborate on this? What is needed exactly?

[2016-05-22 09:23] JohannesPfeifer commented on #1199
I think you can assign this ticket to @rattoma. He knows what to do. As far as I understand it, the ```mode``` option is supposed to take a sequence of vectors like ```[x1 x2 x2]``` as an input. But it is not sure the preprocessor can handle this within the key-value combinations. Similarly, ```mode_files``` takes a character or cell array (not sure what Marco intended) as the value in the key-val

[2016-05-22 15:14] MichelJuillard commented on #1113
Octave for Windows is discussed at http://wiki.octave.org/Octave_for_Microsoft_Windows#Octave-4.0.2
Official 32 bit builds are available at https://ftp.gnu.org/gnu/octave/windows/
unofficai binary for 64 bits are available at http://www.tatsuromatsuoka.com/octave/Eng/Win/
They are mingw based. We should find in the distributions the libraries necessary to make Dynare mex files.

[2016-05-22 21:19] rattoma commented on #1199
mode_files is set properly in my last commit
3e8dbcfc7e4fbb87115b0a016a6a42089cb4039e
we need to use one single file name, so one single mat file that contains all multiple modes, one per column.

[2016-05-23 09:56] houtanb commented on #1199
@JohannesPfeifer @rattoma Just FYI, the preprocessor can accept a vector of vectors. See the `restrictions` option to `markov_switching` and the `variance` option to the `prior` command on a vector of parameters.

[2016-05-23 09:59] #1199 closed

[2016-05-23 10:05] rattoma commented on #1199
@houtan would it be possible then to use a syntax like
`mode_files=['file1' 'file2' 'file3']`
?

[2016-05-23 10:13] houtanb commented on #1199
@rattoma not yet, but I can add it.

[2016-05-23 11:06] rattoma commented on #1199
ok. in fact we are here in the key-value context, so we are getting in a situation like the following

`posterior_sampler_options=('mode_files',['fs2000_slice_mh_mode' 'file2'])`

which currently I can only handle as follows:

`posterior_sampler_options=('mode_files','file2')`

hence the individual file must contain all info about all modes. I think this should be enough, without having you to str

[2016-05-23 11:53] houtanb commented on #1199
@rattoma I am a bit confused when you say

Can you provide an example of what you mean by this?

[2016-05-23 17:10] rattoma commented on #1199
@houtan the current solution to the problem is solved by the following syntax that is handled by the preprocessor:
`posterior_sampler_options=('mode_files','file2')`
This allows to provide a matrix of modes in a binary file `file2.mat`. Given this fix, there is no need to change anything.
I am wandering, however, if it would be easy and make sense in general [not for this specific purpose only] to

[2016-05-25 12:54] #1128 closed

[2016-05-26 12:19] stepan-a commented on #1193
@houtanb, If you cannot do this quick (I have no idea of size of the patch) I propose to postpone this to the next version of Dynare. Please set a milestone in consequence.

[2016-05-26 13:03] houtanb commented on #1193
This is a bit of a patch because the error is encountered during parsing, which is out of the ordinary. So the change will be larger than usual. If I can get to it before the release, I'll do it. Otherwise, will wait.

[2016-05-26 13:07] #1178 closed

[2016-05-26 20:22] #1176 closed

[2016-05-26 20:25] stepan-a commented on #1176
Looking at other parts of the code, I have the impression that the same
issue will pop up with other solvers (for nonlinear or linearized models). I am still not convinced that we should deal with this case (```periods=1```).

[2016-05-26 21:12] stepan-a opened #1201 "Depth issue"
Looking into #1175 , by reverting commit 3c7e60b744567f6f39a9c611bce6dcaadcd52bc6, I obtained the following error from matlab when trying to run Christiano-Motto-Rostagno model (the one in subfolder `figure4` of the archive available [here](http://faculty.wcas.northwestern.edu/~lchrist/research/ECB/risk_shocks/20100922_data.zip)

[code]

@MichelJuillard May this be a consequence of your patch abou

[2016-05-26 21:38] stepan-a commented on #1127
I believe that this is fixed now, but we changed the interface. To run a monte carlo on (stochastic) extended path, ```extended_path_mc``` must be used instead of ```extended_path```.

[2016-05-26 21:38] #1127 closed

[2016-05-26 21:39] #1065 closed

[2016-05-27 06:41] MichelJuillard commented on #1201
@stepan-a. This remind me of something. I take a look

[2016-05-27 07:43] MichelJuillard commented on #1176
I would prefer that the code be robust to periods=1. But, it is not urgent to verify all solvers

[2016-05-27 13:26] tholden opened #1202 "Provide Windows cross compilation instructions"
I know building on Windows is no-longer supported. Still, building for Windows ought to be supported.

Thus, it would be a great help if there were e.g. a script for cross compiling for Windows from Linux.

The dependencies make this rather painful.

[2016-05-27 13:54] stepan-a commented on #1202
Obviously, we have such a script... But, because of the dependencies, it is running on only one machine at CEPREMAP. I want to make the system more portable, but it's a lot of work... I do not plan to do that before next year.

[2016-05-27 13:54] #1202 closed

[2016-05-27 13:58] tholden commented on #1202
Well, it would be a help if you could at least share that script...

[2016-05-27 13:58] tholden opened #1203 "In the latest unstable, sparse_hessian_times_B_kronecker_C.mexw64 has a dependency on libgomp-1.dll"
I was getting errors about missing dependencies. Running Dependency Walker on it revealed libgomp-1.dll as the problem. Copying this across from MinGW fixed the issue.

[2016-05-27 14:00] stepan-a commented on #1176
@MichelJuillard How do you interpret the results in this case (if the model has lags)?

[2016-05-27 14:03] stepan-a commented on #1203
Strange, I thought we were compiling the snapshot and the windows package without parallelization.

[2016-05-27 14:06] tholden commented on #1203
Actually, no. I think this was a problem on my end. Apologies. (I had this problem with my build, copied across your build DLLs, and still got the same error. But MATLAB must have still had the old DLLs in memory.)

[2016-05-27 14:06] #1203 closed

[2016-05-27 14:27] tholden commented on #1179
This is closely related to the issue I submitted here, then retracted: https://github.com/DynareTeam/dynare/issues/1203
You may fix it by copying https://github.com/tholden/dynare/blob/master/mex/matlab/win64-7.8-9.0/libquadmath-0.dll to the corresponding folder.

[2016-05-27 14:45] tholden opened #1204 "Crash in unstable mex when called from parallel workers"
I'm afraid I don't have time to produce a minimal example of this bug now, but I'll leave the replication steps here in case anyone else does.

1) Download my version of Dynare, with sub-modules from https://github.com/tholden/dynare
2) Replace the files in the mex subfolder with those from the latest unstable.
3) Browse to the dynare\examples\nonlinear-estimation directory within MATLAB, and then

[2016-05-28 16:06] MichelJuillard commented on #1201
I believe now that this issue is related to another change that occurred when we separated the temporary terms between the computation of the residuals and the computation of derivatives as various order. I don't remember who did it and how the issue of the commit is called.

[2016-05-28 17:17] JohannesPfeifer commented on #1201
Do you mean https://github.com/DynareTeam/dynare/commit/127637ffd672fdd8143ee13f2a38234e597d94d3

[2016-05-29 09:55] MichelJuillard commented on #1201
Thanks @JohannesPfeifer. That is the one. I think @houtanb did it before @stepan-a merged it in master. I will contact @houtanb to see how to handle it

[2016-05-29 10:19] JohannesPfeifer commented on #1176
@stepan-a In models with lags most of the time it is unreasonable to assume one is back in steady state within 1 period. But the same can be true for models with large persistence for any specified `periods`. It is always the user's duty to assure he has chosen the number of periods sufficiently large. 1 should therefore be treated as any other natural number. There might be valid applications. Ho

[2016-05-30 08:47] MichelJuillard commented on #1201
Here is a short example. Let's call it mod1.mod:
[code]
Look at the temporary term at the start of Jacobian computation in mod1_static.m. If this expression used temporary terms for common terms, it would solve the depth problem when there are lots of terms in the denominator.

[2016-05-30 08:57] stepan-a commented on #1176
@JohannesPfeifer I think that it will be simpler to have a consistent behaviour across the different implementations. I open an issue for that.

[2016-05-30 08:58] stepan-a opened #1205 "Allows period=1 with all perfect foresight model solvers"
See discussion in #1176.

[2016-05-30 10:03] houtanb commented on #1201
NB: This bug does not exist in 127637ffd672fdd8143ee13f2a38234e597d94d3. It has been introduced since then, and seems to belong to the `static` model, as the `dynamic` model is the same between `master` and 127637ffd672fdd8143ee13f2a38234e597d94d3. That said, the CMR model referenced above breaks for a reference to `logncdf` which is not found.

[2016-05-30 14:36] stepan-a commented on #1204
@tholden Sorry but we will not fix this now. I am not sure to understand what you mean by parallel. To support the computation of the gradient (and Hessian matrix) in parallel would suppose that we remove all the global variables from the estimation chain, which is still not the case... We have first to finish this (there must be an issue for this). Also it's not clear if the issue comes from our

[2016-05-30 15:13] houtanb commented on #1201
It seemed as though the bug came from `substituteStaticAuxiliaryDefinition()` but I could not immediately find the fault in the logic.

That said, removing the call to this function results in a `_static.m` file that contains the correct temporary variables. As we are substituting out the auxiliary variables in the static function, we don't need the associated auxiliary equations (after we change

[2016-05-30 15:39] tholden commented on #1204
The global variables are fixed in my version of Dynare. (Or at least fixed enough that it works.)
The issue comes with your MEX files. It works with my MEX files.

[2016-05-30 17:06] stepan-a commented on #1204
@tholden Sorry I misread point 5... Still we have to remove the last global (for the endogenous penalty) in the estimation chain. @MichelJuillard had a fix for this, but we reverted his commit. I will look for this later.

[2016-05-30 17:58] #337 closed

[2016-05-31 15:06] tholden commented on #1204
There's a fudged fix for the endogenous penalty global in my Dynare, to at least ensure that it works with those methods that don't adjust it. So it's independent of this bug, which is just to do with the MEX.

[2016-06-01 09:27] houtanb commented on #1201
Actually, this is a problem with the temporary variables. I will work on this.

[2016-06-01 11:59] JohannesPfeifer commented on #948
Close in #1196

[2016-06-01 11:59] #948 closed

[2016-06-01 12:03] JohannesPfeifer commented on #909
The comment before factorizing that function was

[2016-06-01 12:07] JohannesPfeifer commented on #684
@stepan-a I think this ticket can be closed after https://github.com/DynareTeam/dynare/commit/635d5b704b6ab0d7bb559a80807cc71b1a2a6bab

[2016-06-01 12:10] JohannesPfeifer commented on #520
@stepan-a Do you still plan on adding a unit rest for the random number generator? We do not have this for any other distribution.

[2016-06-01 12:11] JohannesPfeifer commented on #435
After two years, the issue has not come up again. Closing the ticket.

[2016-06-01 12:11] #435 closed

[2016-06-01 12:18] JohannesPfeifer commented on #261
@houtanb Could you implement this for `histval`. I can do the documentation

[2016-06-01 12:20] JohannesPfeifer commented on #220
@houtanb Could you please close this ticket

[2016-06-01 12:23] #220 closed

[2016-06-01 12:45] stepan-a commented on #520
@JohannesPfeifer Sorry I forgot to close this ticket, this was done in e53f3a67fa8bbc615cf1c9fac90cdf3275d48e69.

[2016-06-01 12:45] #520 closed

[2016-06-01 12:55] JohannesPfeifer commented on #1149
@stepan-a Could you please assign this ticket to me and set the milestone to 4.5. I am currently working on it.

[2016-06-01 13:58] rattoma opened #1208 "updated2histval"
for real time forecasting exercises, it would be useful a utility

`updated2histval`

with the same behavior as:

`smoother2histval`

but that uses `oo_.UpdatedVariables` in place of  `oo_.SmoothedVariables`

would this be feasible?

[2016-06-01 13:59] houtanb opened #1209 "rework recent static model preprocessor changes"
The changes to the preprocessor made in 6e514b7d1bfc4b76fbc483da1da0ae7416de7cda have been made in the `computingPass` when they should have been made in the `transformPass`. Move these changes from `StaticModel::computingPass` to `DynamicModel::toStatic`

[2016-06-01 14:07] houtanb commented on #261
@JohannesPfeifer should we not wait to finish #288?

[2016-06-01 14:09] JohannesPfeifer commented on #261
@houtanb Maybe, but I don't see how the two tickets are related.

[2016-06-01 14:20] houtanb commented on #1199
@rattoma yes, it is currently possible to provide arrays of numbers/integers. See, for example, the `geweke_interval` option to `estimation`

[2016-06-01 14:21] houtanb opened #1210 "Allow string arrays to be passed to options"
Following the discussion in #1199, allow the preprocessor to accept string array values: `['a' 'b' 'c']`

[2016-06-01 17:24] JohannesPfeifer opened #1211 "Check newrat-implementation and potentially port Michel's changes"
During his first try of removing `objective_function_penalty_base` @MichelJuillard made various changes to `newrat` that were reverted, but potentially still need to be ported to `master`. But I am not entirely sure what these commits do. @rattoma Could you maybe have a look.

1. In the reverted commits https://github.com/DynareTeam/dynare/commit/fe077fc7103658aab7becba95167aa9d240b07f1 and https:

[2016-06-01 17:39] JohannesPfeifer commented on #1211
This is the part of @MichelJuillard's commits not included in https://github.com/DynareTeam/dynare/pull/1212

[2016-06-02 10:58] #261 closed

[2016-06-02 12:11] houtanb commented on #1210
@rattoma this has been added to the preprocessor on the `vec_str` branch. I didn't push it to `master` because the unused rule causes warnings when compiling the preprocessor. It will be merged once I implement this for you. Just say when/where :)

[2016-06-02 15:16] houtanb commented on #1210
leaving open until change is merged into `master`

[2016-06-02 15:17] houtanb commented on #1209
@MichelJuillard do you see any problems with this change?

[2016-06-04 20:18] rattoma commented on #1210
@houtanb  thanks a lot

[2016-06-04 21:34] rattoma commented on #1211
@johannes, I think remember those reverted commits.
1) persistent `h1` and `htol` are needed to make computation quicker: re-setting them every call, makes the adaptive step size longer. If we want to get rid of persistent, we should pass them as input/output args.
2) the correct setting is to hard-code 0. The flag is used in `dynare_estimation_1`, because it also  depends on the value of `kalman_

[2016-06-05 11:37] johannes commented on #1211
Hi @rattoma, please write @JohannesPfeifer to tag him, not @johannes, which tags and subscribes me.

[2016-06-05 17:57] JohannesPfeifer commented on #1211
@MichelJuillard Was there a particular reason you wanted to replace the persistent variables?
@rattoma Regarding 3: is there anything we need to do here to close the ticket? If `hh` is only computed with analytic derivatives, we cannot delete the if-clause as in the commit.

[2016-06-05 18:46] MichelJuillard commented on #1211
@JohannesPfeifer I believe that persistent variables are as expensive as global variables. They also make for complicated code because of their initialization

[2016-06-05 18:51] JohannesPfeifer commented on #1211
@MichelJuillard Ok, but that is a general design choice and not something we have to change immediately, I guess.

[2016-06-06 05:14] MichelJuillard commented on #1211
It would be better to make at once all changes to the function calling parameters

[2016-06-06 09:40] JohannesPfeifer commented on #1211
@MichelJuillard Ok. I did the change in eef7e3c6062cbfadcacbce4441ef3c84e4fd24fd of #1212

[2016-06-06 15:38] rattoma commented on #1211
@JohannesPfeifer thanks a lot. I am sending you a patch for your branch, when the Hessian option of newrat is not to default (i.e. not 1).
By the way, I was wandering whether we should always check if params are at the bounds, irrespective to the error in `chol(hh)` [see the test fs2000_5.mod, where newrat gets to the lower bound for `rho`], so snip this check outside the `try-catch` block in `dyn

[2016-06-06 16:31] JohannesPfeifer commented on #1211
@rattoma Thanks a lot. I updated the branch

[2016-06-07 09:12] rattoma opened #1215 "qz_criterium in estimation"
I think it would be useful to allow option `qz_criterium` also in estimation, similarly to simulation. Would it be possible? Is there any strong reason for not allowing this?

[2016-06-07 09:32] JohannesPfeifer commented on #1215
We allow setting it implicitly via the `diffuse_filter` option. We can allow for setting it separately, but need to assure consistency.

[2016-06-07 09:38] rattoma commented on #1215
The point is that if  `qz_criterium` is set to 1-1.e-6 [e.g. from stoch_simul] and afterwards we set `diffuse_filter` in estimation, `qz_criterium` is not re-set because it is not empty [in `dynare_estimation_init`].
We could simply remove the `if isempty` there?

[2016-06-07 10:00] JohannesPfeifer commented on #1215
@rattoma How about https://github.com/JohannesPfeifer/dynare/commit/6537335a1807fbf962ff98fc247c3750525a3406

[2016-06-07 12:22] BenjaminBorn opened #1219 "Tabular output of variance decomposition after Bayesian MH estimation"
Dear all,

Johannes asked me to open this as an issue. Would it be possible to provide the output from the conditional variance decomposition after Bayesian estimation in tabular form?

Thanks,
Benjamin

[2016-06-07 14:17] JohannesPfeifer commented on #1219
@BenjaminBorn https://github.com/DynareTeam/dynare/pull/1207 will implement this, including TeX output. There will be one table per forecast horizon as is already the case after `stoch_simul`

[2016-06-08 13:51] houtanb commented on #1219
Reopening as this was fixed in the PR after this issue was created

[2016-06-10 11:58] #914 closed

[2016-06-10 12:23] #684 closed

[2016-06-10 12:23] JohannesPfeifer commented on #330
Decision during the summer school: increase size of files and leave structure unaltered

[2016-06-10 12:23] #671 closed

[2016-06-10 12:25] #644 closed

[2016-06-10 12:26] houtanb commented on #671
@stepan-a why did you close this?

[2016-06-10 12:28] JohannesPfeifer commented on #644
Decision: integrate the option into `posterior_sampling_options` so that no prefix is used, e.g. it would simply be `nblocks`

[2016-06-10 12:31] houtanb commented on #644
@JohannesPfeifer is there a ticket for that?

[2016-06-10 12:32] #611 closed

[2016-06-10 12:32] houtanb commented on #1210
@stepan-a why did you close this? This has not been merged into `master`

[2016-06-10 12:43] #375 closed

[2016-06-10 12:44] #347 closed

[2016-06-10 12:45] #288 closed

[2016-06-10 12:47] #238 closed

[2016-06-10 12:48] JohannesPfeifer commented on #1210
@houtanb What exactly prevents the merging?

[2016-06-10 12:49] #148 closed

[2016-06-10 12:50] #23 closed

[2016-06-10 12:50] houtanb commented on #1210
@JohannesPfeifer the code is not used in parsing and, as such, means that the compilation of the preprocessor issues warnings. Once we have an option to accept a string array, it can be merged.

[2016-06-10 12:51] #72 closed

[2016-06-10 12:59] #834 closed

[2016-06-10 13:00] #595 closed

[2016-06-10 13:06] #8 closed

[2016-06-10 13:07] stepan-a commented on #9
I close because this is not a code related issue.

[2016-06-10 13:07] #9 closed

[2016-06-10 13:07] stepan-a commented on #10
We need to start from scratch.

[2016-06-10 13:07] #10 closed

[2016-06-10 13:08] JohannesPfeifer commented on #641
We do not support Windows compilation anymore

[2016-06-10 13:08] stepan-a commented on #17
Impossible.

[2016-06-10 13:08] #17 closed

[2016-06-10 13:09] stepan-a commented on #22
We do not need that. Just have to reparameterize the model.

[2016-06-10 13:09] #22 closed

[2016-06-10 13:09] JohannesPfeifer commented on #1210
@houtanb I see. Could you reopen the ticket then and set the milestone to 4.5?

[2016-06-10 13:10] stepan-a commented on #27
We won't do that in matlab.

[2016-06-10 13:10] #27 closed

[2016-06-10 13:10] stepan-a commented on #38
Not useful.

[2016-06-10 13:10] #38 closed

[2016-06-10 13:12] stepan-a commented on #51
I do not understand this one. We now generate the same dynamic model routine with ```simul```and ```stoch_simul```

[2016-06-10 13:12] #51 closed

[2016-06-10 13:13] #106 closed

[2016-06-10 13:13] stepan-a commented on #106
Because it's not related to the code.

[2016-06-10 13:14] #111 closed

[2016-06-10 13:15] JohannesPfeifer commented on #111
People can easily do this with http://www.sciencedirect.com/science/article/pii/S0165188915000317

[2016-06-10 13:16] houtanb commented on #106
@stepan-a it's related to the documentation code

[2016-06-10 13:16] stepan-a commented on #146
Not in matlab.

[2016-06-10 13:16] #146 closed

[2016-06-10 13:44] houtanb commented on #1209
`toStatic` is called in `computingPass`, so this change is unnecessary

[2016-06-10 13:44] #1209 closed

[2016-06-10 14:23] houtanb commented on #1179
We should install the `fortran` package from `mingw` and statically link `libquadmath-0.a` from there. However, I don't see how `mingw` was installed on `karaba` and only see the library files in `/usr/local/lib/` without the corollary binary files....

[2016-06-10 14:35] MichelJuillard commented on #1179
@houtanb the cross-compiler is a Debian package

[2016-06-10 14:39] houtanb commented on #1179
@MichelJuillard it does not seem to be the case because the libraries are in `/usr/local`. They seem to have been installed from the `.zip` file that is in the same directory. Furthermore `which mingw-get` yields nothing.

[2016-06-10 18:08] JohannesPfeifer commented on #1195
@rattoma I was wrong. The problem is not the dollar sign, but the program trying to delete a non-existing file.

[2016-06-11 06:53] JohannesPfeifer commented on #644
@houtanb No, there isn't. And I am not sure, we should actually duplicate existing options. Users are used to particular options with the `mh_`-prefix. Therefore I would not also introduce the same option with the `mcmc_`-prefix. For new options related to other samplers, we do not need a prefix at all due to the `posterior_sampler_options`-construct.

[2016-06-13 13:05] JohannesPfeifer opened #1225 "Make sure mex-files are compatible with 64bit Matlab"
See http://de.mathworks.com/help/matlab/matlab_external/upgrading-mex-files-to-use-64-bit-api.html

[2016-06-13 13:36] MichelJuillard commented on #1225
@JohannesPfeifer, do have reasons to believe that it has not been done systematically? We have been using mwSize and mwIndex for very long now.

[2016-06-13 15:27] JohannesPfeifer opened #1226 "Support mingw-compiler on Windows"
Since Matlab2014a, the `mexopts.bat` cannot be used anymore to set the mex-compiler to `cygwin`, rendering it pretty much useless for most recent versions. However, Mathworks now has a MinGW-addon (http://de.mathworks.com/help/matlab/matlab_external/install-mingw-support-package.html) that  we should support.
For this, we need to
1. Allow for a `mingw` command line flag
2. Adjust `dyn_mex` with th

[2016-06-13 16:07] JohannesPfeifer commented on #1225
No, I haven't, but it is the first time I have that Matlab boilerplate warning seen appearing. It may be related to 32bit being phased out. So we should check this systematically at some point.

[2016-06-13 17:55] JohannesPfeifer commented on #641
@stepan-a Could you please reopen the issue. This is about the `use_dll` option, not building from source. It is related to #1226

[2016-06-13 18:57] JohannesPfeifer opened #1227 "Solve use_dll-incompatibility problem on Windows in master"
After merging the `temporary_terms`-branch (https://github.com/DynareTeam/dynare/commit/127637ffd672fdd8143ee13f2a38234e597d94d3) the `c`-files created are not `C89`-compatible, but require `C99`. This is a problem for Windows machines as Visual Studio before version 2015 only supported `C89`, resulting in errors of the form
`error C2143: syntax error : missing ';' before 'type'`
Before Matlab ver

[2016-06-13 19:08] MichelJuillard commented on #1227
If this occurred after merging temporary_terms branch, this is a bug. There is no reason for the C files not to be C89 compatible

[2016-06-13 19:12] JohannesPfeifer commented on #1227
The problem is that after the change we have code like
[code]

This is not valid `C89` because the temporary term `T106` is only created when the Jacobian is requested, but in `C89` all variables must be defined before other code.

[2016-06-13 19:22] MichelJuillard commented on #1227
So we need to break it in parts:

a residual function
a Jacobian function
a Hessian function
a 3rd order derivative function
and a main function calling all four other functions

[2016-06-14 07:36] houtanb commented on #1227
@MichelJuillard the problem with multiple functions is that we would need to return arrays of temporary variables that have previously been calculated. So, the residual function would need to return the temporary variables it calculated so that the Jacobian could use these, and so on.

Another option is to move our mex files to C++.

@JohannesPfeifer can you try passing the `/TP` flag to the MSVC

[2016-06-14 07:58] JohannesPfeifer commented on #1227
Changing Matlab's `xml`-file's `COMPFLAGS=` to include `/TP` solves the issue for msvc

[2016-06-14 08:18] houtanb commented on #1227
@JohannesPfeifer good. @MichelJuillard are you ok with this fix?

[2016-06-14 08:25] MichelJuillard commented on #1227
@houtanb OK for me

[2016-06-14 08:41] #1227 closed

[2016-06-14 08:50] houtanb commented on #1227
#1228 fixes a bug in 83eeafa

[2016-06-14 12:17] stepan-a opened #1229 "external functions and third order perturbation"
It appears that we did not implement the possibility to use external functions when solving DSGE models at third order. I thought that when the derivates are not provided by the user, Dynare computed the derivates numerically. It seems that this mechanism is not triggered at third order. Is this intentional?

[2016-06-14 12:18] JohannesPfeifer commented on #1229
@stepan-a No, this is not intentional. This ticket is a duplicate of #300

[2016-06-14 12:21] #1229 closed

[2016-06-14 17:33] JohannesPfeifer opened #1231 "Fix remaining Kalman-filter problems after #738"
In particular, the univariate filter may return wrong results with measurement error
TBD from #738
- Fix all bugs that result in unit tests crashing
- Improve unit tests to compare likelihood results for consistency
- Update and enable other unit tests for Kalman filter in kalman/likelihood directory

Please assign the ticket to me. Milestone should be 4.5

[2016-06-14 17:34] JohannesPfeifer commented on #971
Superseded by #1231 which is more comprehensive

[2016-06-14 17:34] #971 closed

[2016-06-14 20:57] #766 closed

[2016-06-14 20:57] #1219 closed

[2016-06-14 20:57] #330 closed

[2016-06-15 13:13] #1149 closed

[2016-06-15 15:19] JohannesPfeifer commented on #1063
Closed by 86ac253996cd65edb73ded4f35a8a3a2d13c599d

[2016-06-15 15:19] #1063 closed

[2016-06-15 15:20] JohannesPfeifer commented on #1051
Closed by manually merging #1212 @stepan-a Can you please close the ticket

[2016-06-15 15:38] stepan-a commented on #1051
Done.

[2016-06-15 15:38] #1051 closed

[2016-06-15 15:58] JohannesPfeifer commented on #1211
Closed by#1212. Part 3 above was a bug introduced by Michel

[2016-06-15 15:58] #1211 closed

[2016-06-16 17:09] JohannesPfeifer commented on #1147
Done by manually merging #1212

[2016-06-16 17:09] #1147 closed

[2016-06-16 17:09] JohannesPfeifer commented on #1160
Done by manually merging #1212

[2016-06-16 17:09] #1160 closed

[2016-06-16 18:24] JohannesPfeifer opened #1232 "Remove onlyclearglobals option"
It was introduced in master, but is now redundant with the `clear all` command being removed due to Matlab's JIT

[2016-06-16 18:44] stepan-a commented on #1232
@JohannesPfeifer We still use ```clear all```command for Octave and matlab's versions older than R2015b. So I would keep the option.

[2016-06-16 18:46] JohannesPfeifer commented on #1232
@stepan-a I missed that. I will update the manual and then close the ticket

[2016-06-16 19:50] JohannesPfeifer opened #1234 "Check whether fast_kalman_filter is compatible with non-stationary states"
From the Herbst (2015)-paper:
`This seems like a difficult problem, because the factorization is not obvious, and, in our
experience, even finding α consistently can be hard. Fortunately, the problem becomes
much easier once it is known that the states are stationary.`
In a nonstationary model I get a complex likelihood.

[2016-06-16 22:12] stepan-a commented on #1066
Done in d80f6d9a996a5b00fd449b221da17edb34b9bf1b, where I removed almost all the expensive calls to ```addpath``` command.

[2016-06-16 22:12] #1066 closed

[2016-06-17 06:41] rattoma commented on #1234
yes. it does not work: the covariance matrix of the states becomes non positive definite after the first diffuse step.
If we know that the model is stationary or if, in `lik_init=3`, the actual number of diffuse steps is zero [i.e. the model has unit roots but observables are stationary], then fast KF can be run

[2016-06-17 06:42] JohannesPfeifer commented on #1234
@rattoma So we need to implement a check for this and document it

[2016-06-17 08:25] JohannesPfeifer commented on #1234
@rattoma But how is it then compatible with `kalman_algo=3`, when it requires the `diffuse_filter` to not actually be used?

[2016-06-17 17:55] JohannesPfeifer opened #1237 "Investigate identification problem"
http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=8234
Sent email with mod-file to @rattoma on June 1, 2016

[2016-06-18 07:41] JohannesPfeifer commented on #853
@MichelJuillard I presume your are not going to do this. Can you please assign the ticket to me? I will try to get it done for 4.5

[2016-06-18 07:53] MichelJuillard commented on #853
@JohannesPfeifer done. Thanks

[2016-06-18 14:41] rattoma commented on #1234
I think that one can use option `lik_init=3`, then if observables are stationary the rank of Pinf of the initialized covariance of the diffuse filter is zero, so diffuse filter exits with zero iterations and the Kalman filter runs from the first observation.

[2016-06-18 15:13] JohannesPfeifer commented on #1234
@rattoma But how would you implement the check in this case?

[2016-06-18 15:38] rattoma commented on #1234
what about, simply:
 `elseif DynareOptions.fast_kalman_filter && diffuse_periods==0 `

?

[2016-06-18 15:48] JohannesPfeifer commented on #1234
But that would be a check in `dsge_likelihood` and therefore dependent on the parameter vector drawn. But as this is a general issue, I would prefer a check in `dynare_estimation_init`

[2016-06-18 15:58] rattoma commented on #1234
Unless we call the likelihood in `dynare_estimation_init` the only place we can do it is then in:
`initial_estimation_checks`
where we evaluate the likelihood and then, in `dsge_likelihood`, we trap it as:
``
elseif DynareOptions.fast_kalman_filter
   if diffuse_periods
          error('Fast Kalman filter only works with stationary models [lik_init=1] or stationary observables for non-stationary m

[2016-06-18 16:03] JohannesPfeifer commented on #1234
Ok. Thanks. I will try that.

[2016-06-19 15:58] JohannesPfeifer commented on #503
@houtanb That also means the `optimal_jscale_parameter` branch can be deleted

[2016-06-20 10:34] houtanb commented on #503
@JohannesPfeifer done.

[2016-06-20 12:38] JohannesPfeifer commented on #563
@houtanb Is there any chance of getting this feature soon? By having a command for defining expressions like variables we might also be able to use them in the `steady_state_model`-block to solve #709

[2016-06-23 15:27] rattoma opened #1240 "user_has_matlab_license"
Dynare checks license but for onsite licenses, toolboxes could be licensed but not installed on the current machine. This would be visible with `ver`, even if I am not sure of the overall behavior of ver ...

[2016-06-24 12:33] JohannesPfeifer commented on #1240
@rattoma what exactly is the problem you encounter. `ver` checks whether a toolbox is installed, but not whether you have a license. The `license` command does the opposite, checking whether you have a license, but not whether it is installed AND not whether a license can be checked out. Therefore we might need to test for the union of both.

[2016-06-24 14:36] JohannesPfeifer opened #1243 "Allow model-local variables with block and bytecode"
We currently return the error
`'block' or 'bytecode' options are not yet compatible with pound expressions`
Given that `steady_state_model` cannot be used for handling parameter dependence in the `perfect_foresight`, model-local variables seem the only way to go. We should therefore allow them.
@houtanb Where exactly is the challenge from the proprocessor-side?

[2016-06-24 14:41] houtanb commented on #1243
@JohannesPfeifer @FerhatMihoubi has implemented this code in the preprocessor, so we would need to ask him.

[2016-06-24 16:33] MichelJuillard commented on #1243
Why not modify perfect foresight to recognize parameters changed in steady_state_model block? Or maybe more precisely allow for parameter change in steady_state_block ?

[2016-06-24 16:36] JohannesPfeifer opened #1244 "Clarify Dynare++ timing convention"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=8393
Using time to build is confusing and should be clearly documented

[2016-06-24 20:42] JohannesPfeifer commented on #1243
@MichelJuillard I can come up with four reasons:
1. Handling this on the preprocessor side by just replacing every encountering of the model-local variable by its right-hand side is more flexible for the various other parts of the codes where this might be an issue, but where we might not want to use the cumbersome calls and checks associated with a steady state file
2. Using a `steady_state_model

[2016-06-27 06:52] rattoma commented on #1240
@JohannesPfeifer: yes I think the union of both tests would be better. I have situations here where the licence is OK but the package is not installed, so `ver` + `license` might be a better option.

[2016-06-27 08:59] JohannesPfeifer opened #1245 "Make sure _dynamic-file from block returns with proper arguments"
Currently, there are a few `return` statements where `varargout` has not been set, leading to crashes instead of proper switching to homotopy.

[2016-06-27 21:41] rattoma commented on #1237
@houtanb: #1238 should fix this

[2016-06-27 21:45] #1237 closed

[2016-06-27 21:45] houtanb commented on #1237
@rattoma thanks.

[2016-06-28 06:38] JohannesPfeifer commented on #1225
@MichelJuillard What we should do is call the `mex`-command with the `largeArrayDims`-flag (which is going to supersede the current default `-compatibleArrayDims`-flag) and then check whether the result are the same. When using
[code]
on the `example1_use_dll` everything works fine.

Do we already cross-compile the 64bit-dll using this flag?

[2016-06-28 07:09] MichelJuillard commented on #1225
@JohannesPfeifer this needs to be investigated further. We don't use the "mex" command to compile the mex files, but directly gcc. For cross-compilation, I suspect that it is the same. I need to check what exactly is triggered by the -largeArrayDims option of the "mex" command

[2016-06-28 07:11] JohannesPfeifer commented on #1225
@MichelJuillard My example above referred to the `dyn_mex.m`, but I guess the same issue is relevant for the gcc-compilation of the prepackaged mex-files

[2016-06-28 07:40] JohannesPfeifer commented on #1240
@rattoma Could you please try https://github.com/JohannesPfeifer/dynare/commits/license_test

[2016-06-29 07:09] JohannesPfeifer opened #1246 "Investigate Matlab crash caused by k_order_perturbation in a loop"
The user at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6379 reports a Matlab crash on Windows and Linux. `k_order_perturbation`  crashes Matlab on Windows, but in a strange way. When I run
[code]

in a loop:
[code]
Matlab crashes in the third iteration. This again suggests there is an issue with running the mex-files in loops. It reminds me of the memory leak issues

Given that this issue ap

[2016-07-03 15:36] JohannesPfeifer opened #1249 "Add preprocessor interface for setting perfect foresight tolerance"
Currently, one must manually set ```options_.dynatol.f```. I would suggest to use the name `TolFun` for the option.
While we are at it, I would also suggest to use an option `TolFun` for the `steady` command to set `options_.solve_tolf`

[2016-07-14 10:34] JohannesPfeifer opened #1250 "Investigate mex-file issues"
The mod-file
[code]
triggers two issues.

1. During the `check` command, both the Linux and the Windows Octave `mex`-files trigger a `LAPACK`-error that `The generalized Schur (QZ) decomposition failed`. This is not the case on Windows, but should happen there as well, I guess.
2. When removing the call to check on Linux/Octave so that `k_order_pert` is subsequently triggered, the mod-file crashes

[2016-07-15 22:18] MichelJuillard commented on #1250
dynamic exception specifications hide exceptions when not properly specified.
Mex routines then don' t exist nicely.
I open another issue about whether to remove them all

[2016-07-15 22:21] MichelJuillard opened #1252 "do we need to remove dynamic exception specifications?"
dynamic exceptions specification is now deprecated in C++
In mexFunction, when an unknown exception occurs, Matlab or Octave may crash

Maybe we should remove them from the mexFunction code. I don't see very well their contribution.

[2016-07-16 07:56] JohannesPfeifer commented on #1250
@MichelJuillard Your fix should solve the problem with `k_order_pert` in 2) above.
Do you have any insights about the `LAPACK`-behavior?

[2016-07-16 07:58] JohannesPfeifer commented on #1252
@MichelJuillard Could you please check whether this is also the reason for https://github.com/DynareTeam/dynare/issues/828

[2016-07-16 08:12] JohannesPfeifer commented on #1252
Reading the discussion at http://programmers.stackexchange.com/questions/114338/why-are-exception-specifications-bad I am left with the feeling that we should get rid of them and e.g. use a very high-level `try-catch` instead to handle exceptions. With people using these files in loops, the worst thing that can happen is a crash of the program. The exception specifications in principle should allo

[2016-07-16 12:11] MichelJuillard commented on #1252
@JohannesPfeifer now I get a proper error also for #828. In the current case and in #828, the problem happens before the call to LAPACK, because there are some Inf or NaN in the derivatives.
@JohannesPfeifer please tell me if the change fixes the problem under Windows.

[2016-07-16 12:51] JohannesPfeifer commented on #1252
@MichelJuillard For testing on Windows, I have to wait for the snapshot to include the changes, which will be tomorrow, I guess. The LAPACK-problem is unrelated to `k_order_pert`. It happens at first order during `check` where `mjdgges.mex` returns different results between Windows with Matlab and Linux with Matlab or Windows with Octave

[2016-07-16 23:32] MichelJuillard commented on #1250
@JohannesPfeifer I can' t debug or even test issues concerning Windows

[2016-07-17 07:44] JohannesPfeifer commented on #828
Fixed through https://github.com/DynareTeam/dynare/commit/5d38280f27ea5c1e64d8e41b7272c259ffc61d2e

[2016-07-17 07:44] #828 closed

[2016-07-17 07:48] JohannesPfeifer commented on #1246
Putting a `pause(2)`in the loop prevents a crash. My guess is that the mex-file does not get fast enough access to one of the files and then crashes. Maybe the issue is again with exception handling (https://github.com/DynareTeam/dynare/issues/1252) as the permission conflict might not be correctly handled.

[2016-07-17 12:23] JohannesPfeifer commented on #1225
@MichelJuillard Looking at e.g. `mjdgges.c` we have
[code]
If I understand it correctly, the `int` should be `mwSize`

[2016-07-17 12:32] MichelJuillard commented on #1246
I can' t reproduce the problem on my machine. But it is a very bad idea to run Dynare inside the loop. All kind of file input output occurs when one is running Dynare.
The loop should be inside the *.mod file

[2016-07-17 12:47] MichelJuillard commented on #1225
Yes, it should. So, I will have to go through all mex files. But, I guess that we have still to worry about compatibility with 32bit Matlab

[2016-07-17 12:50] JohannesPfeifer commented on #1225
@MichelJuillard If I understand Mathworks correctly, compatibility with 32bit is assured via a compiler flag (`-compatibleArrayDims` for 32bit vs `-largeArrayDims`). Moreover, Matlab 9 does not support 32bit systems anymore. Therefore, we could just implement this going forward.

[2016-07-17 14:20] JohannesPfeifer commented on #1246
@MichelJuillard I traced the issue to
`       [err, g_0, g_1, g_2, g_3] = k_order_perturbation(dr,M,options);
`
When looping over `resol` and code execution is too quick, the repeated calls to `k_order_perturbation` crash Matlab. This does not depend on parameter values.

[2016-07-17 14:27] MichelJuillard commented on #1246
@JohannesPfeifer did you test it with a loop inside the *.mod file?

[2016-07-17 14:32] JohannesPfeifer commented on #1246
No. in a separate Matlab file that contains
[code]

[2016-07-17 14:50] MichelJuillard commented on #1246
This is weird. We need to try on different combinations of hardware and Matlab versions

[2016-07-17 14:59] MichelJuillard commented on #1246
I just run a similar loop in Octave in 3 minutes without any problem. I monitored the memory usage and it remains constant. There is no memory leak

[2016-07-20 14:18] houtanb commented on #1249
@JohannesPfeifer is this analagous to the `tolf` option to `osr`? If so, should we use `tolf` instead of `tolfun`?

[2016-07-20 14:32] JohannesPfeifer commented on #1249
@houtanb Yes, why not. In the context of `optim` we use `TolFun`, but following the logic of `osr` makes more sense.

[2016-07-20 14:57] houtanb commented on #1249
@JohannesPfeifer can you add the doc?

[2016-07-20 15:10] JohannesPfeifer commented on #1249
@houtanb Sure

[2016-07-20 19:08] JohannesPfeifer opened #1255 "Clarify role of MCMC_jumping_covariance in subsequent display of results"
The `MCMC_jumping_covariance` option resets `hh` and thereby affects the standard errors displayed and saved for parameters and the Laplace approximation to the marginal data density. At a minimum, we should document this and add a warning in this case that the subsequent results are affected. Alternatively, we might try to move the resetting of `hh` to the beginning of the MCMC or condition the d

[2016-07-21 07:30] JohannesPfeifer commented on #1249
@houtanb Could you please also provide `tolx` for perfect foresight, mapping into `options_.dynatol.x`

[2016-07-21 07:38] JohannesPfeifer commented on #1249
@houtanb We should also remove `tolf` and `maxit` from the `osr` interface, because we now use the `optim`-framework to pass optimizer-specific options. This is also the reason you cannot find `tolf` in the manual anymore.

[2016-07-21 13:44] houtanb commented on #1249
`tolx` done in ed549d3ba7657c8a6e6e5afaad7288464a9da19f

[2016-07-21 13:45] JohannesPfeifer commented on #1249
@houtanb Thanks. So we need only to merge the documentation to close this ticket in #1256

[2016-07-21 13:47] #1249 closed

[2016-07-22 18:39] houtanb commented on #419
@JohannesPfeifer can you also provide a .mod file where the model is declared linear but has been correctly specified and thus should pass the test?

[2016-07-23 06:33] JohannesPfeifer commented on #419
You can use https://github.com/DynareTeam/dynare/blob/master/tests/ls2003/ls2003.mod

[2016-07-25 16:00] tholden commented on #1201
This does not appear to be fixed. With the latest unstable (dynare-2016-07-24-win, untouched) and the CMR files downloaded from https://www.aeaweb.org/articles?id=10.1257/aer.104.1.27 if I run `dynare cmr` in the table2 subdir, I get the error:

    Error: File: cmr_static.m Line: 1292 Column: 598
    Nesting of {, [, and ( cannot exceed a depth of 32.

as reported above.

[2016-07-25 16:20] tholden opened #1259 "normcdf is not supported using MSVC for use_dll"
normcdf has a one line implementation using standard library functions (included in MSVC), namely:

    double normcdf(double value)
    {
       return 0.5 * erfc(-value * M_SQRT1_2);
    }

It seems a little unnecessary for this not to be supported with MSVC.

[2016-07-25 16:20] tholden commented on #1259
Implementation taken from: https://stackoverflow.com/questions/2328258/cumulative-normal-distribution-function-in-c-c

[2016-07-25 16:38] tholden opened #1260 "cygwin command line option should be renamed to gcc"
MATLAB on Windows now supports the MinGW toolchain, and indeed adding it is just a few clicks via the "Add-Ins" button.
The MinGW toolchain seems to work fine with the cygwin command line option, as one would expect.
Renaming the command line option to GCC and documenting that it can use either Cygwin or MinGW installed via "Add-Ins" would seem to be sensible.

[2016-07-25 19:27] JohannesPfeifer commented on #1260
@tholden This seems to be a duplicate of #1226. Do you happen to know whether there are any special compiler flags that need to be passed? Or does the same configuration as for Cygwin in `dyn_mex.m` work?

[2016-07-26 08:38] JohannesPfeifer commented on #419
@houtanb I feel that the current check is too strong. The preprocessor just stops without providing any useful debugging information. Is there a way to display the affected equation(s)? Or could we turn this into a warning instead of an error so that execution continues and one can e.g. try `resid`, which often helps.

[2016-07-26 09:07] tholden commented on #1260
The Cygwin compiler options seem to work fine. GCC is GCC.
I had misread that other issue previously, and would have commented there otherwise. Apologies.
I'm closing this, and adding a comment to the other issue.

[2016-07-26 09:07] #1260 closed

[2016-07-26 09:13] tholden commented on #1226
A few notes copied from issue: https://github.com/DynareTeam/dynare/issues/1260
 * The MinGW toolchain seems to work fine with the cygwin command line option, as one would expect.
 * To me it would make more sense just to rename the cygwin option to gcc. The same compiler options ought to work across GCC on Cygwin and GCC via MinGW.
 * Giving up on support for pre-2014a versions seems a bit premat

[2016-07-27 17:48] houtanb commented on #419
@JohannesPfeifer you want the preprocessor to print the equations or the equation numbers?

[2016-07-27 17:57] JohannesPfeifer commented on #419
Ideally, the equation tag and, if not specified, the equation number. If easy to do, displaying the actual equation would be great, because counting equations in big models can be cumbersome.

[2016-07-27 18:52] houtanb commented on #419
@JohannesPfeifer it's easy to print the equations with parameter/variable arrays as displayed in the `_static` and `_dynamic` files. Is this still useful or should I stick with the equation number/tags?

[2016-07-29 06:12] JohannesPfeifer commented on #419
@houtanb I think this is fine for now.

[2016-08-01 07:35] JohannesPfeifer commented on #419
@houtanb Hi could you please add an additional check that `linear` cannot be used with Ramsey. Otherwise, a cryptic message on nonlinear equations actually relating to the auxiliary equations will appear.

[2016-08-01 12:26] MichelJuillard commented on #419
This is a bug that should be fixed. @JohannesPfeifer can you please provide an example?

[2016-08-01 12:29] JohannesPfeifer commented on #419
Here it is:
[code]

[2016-08-07 16:08] JohannesPfeifer opened #1263 "Adjust apt-get build-dep"
Currently, the `texlive-fonts-extra` package containing `ccicons` for building the documentation is missing. The `README.md` must also be adjusted accordingly.

[2016-08-10 07:48] JohannesPfeifer opened #1264 "Block exogenous variables from being used in planner_objective"
Currently, exogenous variables in the `planner_objective` are simply ignored in the preprocessor. When using
[code]
the `exp(u)` does not appear in `_model_objective_static`. This is problematic, because in principle shocks at time t are part of the information set and should enter the objective. For that reason, @MichelJuillard agreed that we should block using exogenous variables in the objectiv

[2016-08-11 13:48] houtanb commented on #419
@MichelJuillard are you going to do something other throw an error when ```(mod_file_struct.ramsey_model_present || mod_file_struct.ramsey_policy_present) && linear)``` holds in ```ModFile::checkPass()```? If not, I can push this right now....

[2016-08-11 14:06] MichelJuillard commented on #419
@houtanb: we need to understand what the problem is. A linear model shouldn't break Ramsey

[2016-08-11 14:24] JohannesPfeifer commented on #419
The issue is straightforward. If the model is linear, the Ramsey equations will have a product of multiplier and the linear equation, which itself is now nonlinear and will trigger the error. The cleanest way would be to only check linearity of the original equations.

[2016-08-11 14:28] MichelJuillard commented on #419
Thanks @JohannesPfeifer , that is what needs to be done. It would be weird and confusing to throw an error in this case

[2016-08-12 09:51] #1264 closed

[2016-08-17 14:05] houtanb opened #1266 "bug with eig in Matlab R2012a"
On line 197 of `matlab/identification_analysis.m`, we have `[V,D,W]=eig(cc);`. In older versions of Matlab, eig only has two output arguments and hence this causes an error. To calculate `W`, the left eigenvectors of cc, the documentation recommends `[W,junk] = eig(cc.'); W = conj(W)` separately.

[2016-08-20 15:46] #1232 closed

[2016-08-20 16:37] #1195 closed

[2016-08-21 07:54] #1266 closed

[2016-08-21 14:12] #504 closed

[2016-08-21 14:14] #338 closed

[2016-08-22 14:28] #503 closed

[2016-08-22 17:02] JohannesPfeifer opened #1272 "Account for MAC in AnalyseComputationalEnvironment.m and GiveCPUnumber.m"
The call to
`[si0 de0]=system('grep processor /proc/cpuinfo');`
should be
`[si0 de0]=system('sysctl -a | grep machdep.cpu | grep core_count');` (see http://fortysomethinggeek.blogspot.de/2012/11/getting-cpu-info-from-command-line-in.html)

`GiveCPUnumber.m` then also needs to be adjusted to account for this.

Related to #838

[2016-08-22 21:35] #1234 closed

[2016-08-23 05:35] JohannesPfeifer commented on #1231
Closed by manually merging #1235

[2016-08-23 05:35] #1231 closed

[2016-08-23 08:46] houtanb commented on #1272
@JohannesPfeifer does this need to be a separate issue or can we just include it as a comment in #838 ?

[2016-08-23 08:54] JohannesPfeifer commented on #1272
@houtanb I wasn't sure how encompassing #838 is, because it relates to a particular file that hangs up. This ticket here points to a more general issue that MAC and Linux are not always the same and may require a different treatment. But feel free to append this to #838 and close this ticket.

[2016-08-23 08:58] houtanb commented on #1272
@JohannesPfeifer I'm going to add this to that because parallel doesn't account for OS X at all. The `Environment` variable is based on whether the computer is or is not a pc. Hence, that will have to be changed even to fix this bug and changes will have to be made throughout the code. I'll mark this as a duplicate and put a reference there to this ticket.

[2016-08-23 08:58] #1272 closed

[2016-08-23 09:01] houtanb commented on #838
@rattoma please note the discussion in #1272 when you make changes to this ticket.

Until you update the code to work with OS X, if it's ok with @rattoma @MichelJuillard or @stepan-a , I will introduce an error at the top of `AnalyseComputationalEnvironment` if the current environment is OS X.
[code]

[2016-08-23 12:46] houtanb commented on #1133
For future notice, the changes for this issue began with 5199638b3a23fa226bbad5e03e7bea68f5bdaaf6

[2016-08-23 13:07] houtanb commented on #1201
I have looked into this a bit more. The problem was indeed introduced with the changes of #1133, starting with 5199638b3a23fa226bbad5e03e7bea68f5bdaaf6. Before this, the temporary terms produced analogous output to what was produced in the previous version of temporary terms.

[2016-08-23 14:45] #1244 closed

[2016-08-23 14:57] #879 closed

[2016-08-23 16:23] JohannesPfeifer commented on #853
Closed by #1239

[2016-08-23 16:23] #853 closed

[2016-08-23 16:37] #1240 closed

[2016-08-23 16:54] JohannesPfeifer commented on #608
As model-local variables are not confined to parameters, but can also refer to variables, there is no way to ascertain whether a time index is needed or not to indicate a variable as opposed to a parameter. Closing the ticket.

[2016-08-23 16:54] #608 closed

[2016-08-23 19:56] stepan-a commented on #1263
Only @sebastien-villemot can do that... I have the impression that this dependency is only pertinent for the master branch. So this will have to wait the release of the next stable.

[2016-08-24 08:14] MichelJuillard commented on #1263
@JohannesPfeifer
[code]
from which file?

[2016-08-24 08:20] JohannesPfeifer commented on #1263
@MichelJuillard We say you should run `apt-get build-dep dynare`
to automatically install all Linux packages required to build Dynare. But this is not true, because the documentation uses the `ccicons` LaTeX package, which is contained in the `texlive-fonts-extra` Linux package. But the `texlive-fonts-extra` package is not listed as a package required to build Dynare and is therefore not installed

[2016-08-24 08:23] MichelJuillard commented on #1263
@JohannesPfeifer, you need to report a bug for the dynare package in Debian.

[2016-08-24 08:36] stepan-a commented on #1263
@MichelJuillard It's not a bug if the package is not needed for the stable version of Dynare...

[2016-08-24 08:47] sebastien-villemot commented on #1263
Indeed, Debian (and Ubuntu) still have the stable version of Dynare, which does not require `texlive-fonts-extra`, so there is no bug to be reported there.
The problem will be fixed when a new Dynare release is made (in which case I will update the dependencies).

[2016-08-24 08:48] sebastien-villemot commented on #1263
In the meantime I guess the solution is adjust the wiki to tell people to `apt install texlive-fonts-extra` if they are using the `master` branch.

[2016-08-24 09:22] houtanb commented on #1201
@MichelJuillard do you want to take care of this or would you like me to look into the auxiliary variable changes?

[2016-08-24 09:34] MichelJuillard commented on #1201
@houtanb I will look at it unless you know exactly what needs to be changed

[2016-08-24 09:40] houtanb commented on #1201
@MichelJuillard I don't. I would need to familiarize myself with the changes that were made. I offered in case you were short of time.

[2016-08-24 09:46] MichelJuillard commented on #1201
OK @houtanb I will look at it in the coming week

[2016-08-24 12:49] #1263 closed

[2016-08-25 17:56] JohannesPfeifer commented on #1246
@MichelJuillard Is there a way suppress `k_order_pert` from writing a `.jnl`-file?

[2016-08-25 18:26] MichelJuillard commented on #1246
Not that I know of

[2016-08-28 19:27] MichelJuillard commented on #1201
The problem appears with the change in the treatment of auxiliary variables, but it has to do with the computation of temporary terms for the derivatives and goes back at least to the stable version. Consider
` ` `
var x y;
varexo e;

model;
y = (1/x(-1))*(1/x(-1))*(1/x(-1));
x = exp(e);
end;

steady_state_model;
y = 1;
x = 1;
end;

steady;

stoch_simul(order=1,irf=0);
` ` `
even with the stable v

[2016-08-29 10:33] houtanb commented on #1201
@MichelJuillard, to be clear, the first equation of the Jacobian produced is (spaced to see similar terms more clearly):
[code]
Are you saying that this should be:
[code]
If so, I'm not sure the preprocessor is smart enough to simplify `1/x*1/x` into `1/x^2` so that it could be recognized as the same temporary term as that shown in `T11`. Second, even if this simplification were made it would only

[2016-08-29 11:41] MichelJuillard commented on #1201
@houtanb yu are right my example is not discriminant, but there still a problem if you expand the first equations with more identical products
I believe now that it has to do with the way that we compute the cost of an operation between temporary terms
We didn' t see it before because the substitution of auxiliary variables can create very long expressions

[2016-08-29 12:13] houtanb commented on #1201
@MichelJuillard if the first equation is changed to (repeating 5 times `(1/x(-1))`):
[code]
the resulting `_static.m` file contains a temporary term for `(-1)/(y(1)*y(1))`:
[code]
(**NB:** my comment above should have listed the cost as `2*(990+90)=2160` as the first time an expression is encountered, a cost is not associated with it--it is simply added to the `reference_count` map. Thus, repeatin

[2016-08-29 13:11] MichelJuillard commented on #1201
1) It is true that we can have several identical nodes before it is worth it to make a temporary terms (i.e. 40 products)
2) Nevertheless, I believe now that we are missing some useful temporary nodes. I will make a branch with a proposal for changes
3) However, it is not sufficient to solve the problem with the CMR model that started this issue. For complicated expressions it is indeed possible t

[2016-09-02 14:20] rattoma opened #1276 "bug in conditional forecast"
The conditional forecast is buggy.

Namely there is some inconsistency in indexing between decision rule and declaration order.

The way to fix it is to make sure that the pre-processor sets the vector of indices:
`constrained_vars_`
in decision rule order.
In fact, `imcforecast` assumes that  `constrained_vars_` is in decision rule order
Moreover, one needs to fix `imcforecast` for the trend, sin

[2016-09-02 14:23] rattoma commented on #1276
partial fix in #1277

[2016-09-04 15:02] JohannesPfeifer opened #1278 "Clarify and debug macro processor arithmetic in define statements."
Using
[code]
with ```savemacro=temp onlymacro``` results in
[code]
which is not the expected outcome.
[code]
crashes the preprocessor on Windows

[2016-09-04 15:16] MichelJuillard commented on #1278
The macro processor knows only integers. See the first sentence of http://www.dynare.org/manual/index_33.html#Macro-expressions
We could add to the manual that the division is done with truncation and maybe catch better the division by zero and issue an error message

[2016-09-04 15:32] JohannesPfeifer commented on #1278
@MichelJuillard Then we should do this. The division by 0 should be handled properly. Can one rely on this truncation behavior? Because this is exactly what the user at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=9496&p=26546#p26546 is looking for

[2016-09-04 15:57] MichelJuillard commented on #1278
@JohannesPfeifer the user should use Matlab loops instead macro-processor loops. Computing artifical data is not a usage case for the macro-processor
In general one can rely on the truncated integer division, this a standard feature of integer arithmetic like in C or Fortran.

[2016-09-05 09:58] houtanb commented on #1201
@MichelJuillard have you decided on the solution of replacing a sub-tree with 32 unclosed parenthesis with a temporary term? If so, I can implement that.

[2016-09-05 10:03] MichelJuillard commented on #1201
@houtanb OK, but it is not that simple. I will show you what I have so far

[2016-09-05 14:40] houtanb commented on #1278
The following modification will stop processing when integer division results in a non-integer value. @MichelJuillard @JohannesPfeifer is this what you want? We could also issue a warning and keep on processing.

[code]

[2016-09-05 14:45] MichelJuillard commented on #1278
@houtanb, no I think that integer truncated division can be useful in some contexts. The only think to catch and trigger an error in the preprocessor is the division by zero
The integer truncated division needs to be documented in the manual

[2016-09-05 15:37] #1278 closed

[2016-09-06 11:12] rattoma commented on #1276
@houtanb In principle this could be fixed without touching the pre-processor, however I have a strange case where the preprocessor provides a non-sense index for the constrained variable, which does not match the true variable [and actually the index is even larger than the # of variables].
I am sending you the dynare files in a separate email.

[2016-09-06 16:20] JohannesPfeifer commented on #1276
@houtanb This is also present in 4.4.3, right? If yes, we should add it to the bug list. Do we know when exactly this problem occured and what it did?

[2016-09-07 07:37] rattoma commented on #1276
@houtanb. I have amended and merged my PR. I tested and in works. thanks a lot!

[2016-09-07 08:08] houtanb commented on #1276
@JohannesPfeifer this big has existed since the feature was introduced. See the`strvcat` line 231 of `preprocessor/Shocks.cc` in dbc9e0996d8b4ec08e9d2b0306683f73327fe6da. An indexing bug (adding `+1` to the index) was fixed in: 8dc1b9037d3b0c6988fa1cebc2644aea404982b1, but the index remained w.r.t. all variables, not just endogenous.

[2016-09-07 08:19] houtanb commented on #1276
It should be noted that this bug would only be apparent when there are endogenous variables declared after either exogenous or parameters. If all exogenous variables are declared at the top of the .mod file, the index would be correct since the change in 8dc1b90

[2016-09-07 08:39] rattoma opened #1280 "grouping shocks in decompositions"
would it be possible to allow a more flexible naming of the groups, allowing a sort of verbatim reading of what is before `=` .
the following syntax does not work
[code]
not sure if this can be modified, by allowing group names to be given inside brackets, as follows:
[code]
?

[2016-09-07 13:12] #1276 closed

[2016-09-08 09:38] houtanb commented on #1280
@rattoma how do you propose to have this written in the `.m` file? Currently, the group names are fields in a structure, which cannot accept spaces or operators (in your example `-`). See: http://www.mathworks.com/help/matlab/ref/struct.html#inputarg_field for valid field names in a structure

[2016-09-08 09:40] houtanb commented on #1201
@MichelJuillard were you going to post your changes here or communicate them in some other medium?

[2016-09-08 09:41] MichelJuillard commented on #1280
I think that we should have both a name for the group for Matlab manipulations (maybe de user doesn't need to see it) and a label for display

[2016-09-08 09:46] MichelJuillard commented on #1201
@houtanb when I have time

[2016-09-08 10:13] houtanb commented on #1280
@MichelJuillard ok. So a proposed output for the above could be:
[code]
@rattoma @MichelJuillard, does this sound good?

[2016-09-08 10:24] MichelJuillard commented on #1280
@houtanb I don't think that you can have
[code]
and
[code]
I would prefer
[code]

[2016-09-08 10:25] houtanb commented on #1280
@MichelJuillard you're right. Wrote it too quickly. Will do

[2016-09-08 11:06] rattoma commented on #1280
@houtanb @MichelJuillard many thanks. I agree with your solution.

[2016-09-12 15:18] JohannesPfeifer opened #1282 "MS-SBVAR: Potentially allow for linear restrictions across A0 and Aplus"
After a user inquiry at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=9594, @dwaggoner replied with the following.  The question is now whether we want to implement this?

The underlying C code can handle linear restrictions across `A0` and `Aplus` as long as they are not cross-equation.  Also the restrictions must be linear, not affine, i.e. no non-zero constant.  It seems like this is what th

[2016-09-14 12:10] #1280 closed

[2016-09-14 12:11] houtanb commented on #1280
NB: Notation changed to be:
[code]

[2016-09-20 10:34] houtanb opened #1285 "bytecode crash in Octave"
`tests/conditional_forecasts/5/fs2000_cal.mod` causes Octave 4.0.3 to crash. Seems like a memory management problem as the error message is:
[code]
This may also be linked to the testsuite error in Matlab.

[2016-09-20 15:20] #1069 closed

[2016-09-20 15:21] houtanb commented on #1069
Done more simply using `||`

[2016-09-21 16:14] houtanb opened #1286 "issue undeclared model variable errors at the end of model parsing"
Currently, when a variable is in an equation but not declared, the preprocessor issues an error and stops parsing. This is a problem during model development as a user can potentially need to run dynare several times before catching all undeclared variables. To fix this, `preprocessor/ParsingDriver.cc` needs to be modified to check the existence of variables at the end of the `model` block.

[2016-09-22 09:15] stepan-a commented on #1286
@houtanb Could you implement this in a separate branch?

[2016-09-22 10:07] houtanb opened #1287 "mex files not found by dynare_config"
In Matlab R2016b, `dynare_config` returns:

[code]

Then, if you type `which k_order_perturbation; dynare_config` you get:

[code]

Thanks to @JohannesPfeifer for pointing this out.

This problem exists on OS X, Windows, and Linux. Need to see with which version of Matlab this started

[2016-09-22 10:24] houtanb opened #1288 "bug with use_dll, k_order_perturbation"
The following tests fail:
[code]
with the error:`dynare:k_order_perturbation: Caught KordDynare exception: ../../../sources/k_order_perturbation/dynamic_dll.cc:70: Error when loading ./fs2000k2_use_dll_dynamic.mexa64 (can't locate the 'Dynamic' symbol)`

We first found this on Matlab R2016a, though it may have existed earlier. This bug exists on OS X, Linux and Windows with MinGW (thanks @Johannes

[2016-09-22 10:25] JohannesPfeifer commented on #1287
@houtanb The problem is present since Matlab R2016a, but not before.

[2016-09-22 10:26] houtanb commented on #1287
@JohannesPfeifer thank you

[2016-09-22 10:37] JohannesPfeifer commented on #1288
@houtanb It also exists on R2015b. I cannot test earlier versions, because `gcc` is not available before that. Do we know whether the problem was introduced by R2014a moving away from `mexopts.bat`. See  https://github.com/DynareTeam/dynare/issues/1226

[2016-09-22 10:47] houtanb commented on #1287
The mex files are not found because the files `matlab/qmc_sequence.m` and `matlab/k_order_perturbation.m` are found when we try to see if the files `exist` in `dynare_config.m`. Removing these `.m` files and running `dynare_config` again makes Matlab find the mex files. This should not be the case as Matlab descends the search path looking for the file:

http://www.mathworks.com/help/matlab/ref/ex

[2016-09-22 14:31] houtanb commented on #1288
I don't think so because this problem exists on Linux and OS X.

[2016-09-22 16:45] rattoma commented on #1280
I am going to pull request at this point a new utility
`plot_shock_decomposition`
that allows to plot at a later stage any kind grouping defined using information stored in
`oo_.shock_decomposition`.

To this end it would be useful to allow for the option nograph into shock_decomposition that filters out the call to `graph_decomp` if one wants to produce customized plots with the new utility.
woul

[2016-09-22 20:32] JohannesPfeifer commented on #1280
@rattoma Do you want this as a separate local option to `shock_decomposition`? Or do you simply want an interface to set `options_.nograph`, which would affect later calls to plotting as well?

[2016-09-23 06:43] rattoma commented on #1280
this is an issue, in fact. Because there is no interface to revert the global `options_.nograph` in a subsequent call to e.g. stoch_simul. So, maybe better a local option?

[2016-09-23 07:58] houtanb commented on #1280
@rattoma @JohannesPfeifer I don't see the relation of your conversation here to the issue topic. Can you please create a new issue?

[2016-09-23 08:20] JohannesPfeifer opened #1290 "Provide local nograph option to shock_decomposition"
It should translate  `shock_decomposition(nograph)` to the last input of
`shock_decomposition(M_,oo_,options_,varlist,nograph)`
with the default being 0. Alternatively, only if the `nograph` option is specified, we call `shock_decomposition` with a fifth input. Related to #1280

[2016-09-23 08:29] rattoma commented on #1290
Since I think there will be further local options, I would then add as fifth argument a structure:
`opts_decomp`
with default field
`opts_decomp.nograph=0`

[2016-09-23 12:53] felipeboralli opened #1291 "Error when running the OSR example in octave"
When trying to run the Optimal simple rule example from the documentation, an error was generated in Octave.
GNU Octave, version 3.8.1 "i686-w64-mingw32".
Dynare unstable (version 2016-08-23).

Example run(the same in the documentation):

[code]

Output with error:

[code]

[2016-09-23 13:37] houtanb commented on #1286
@MichelJuillard @stepan-a : NB that on line 365 of `preprocessor/ParsingDriver.cc`, when an unknown variable is encountered, it is declared as exogenous. It could have been declared as any type of variable. This is done so that we can continue parsing (and creating the model tree) while also keeping track of undeclared variables.

[2016-09-23 14:14] #1291 closed

[2016-09-23 14:58] houtanb commented on #1286
NB: 67bac06 passed the test suite

[2016-09-23 15:02] houtanb commented on #1290
why not `options_.opts_decomp` and hence `options_.opts_decomp.nograph = 0;`?

[2016-09-23 15:23] JohannesPfeifer commented on #1290
`options_.shock_decomp` would be the best choice. Because `options` is not global, it will not affect subsequent calls to shock_decomp.

[2016-09-23 15:44] #1290 closed

[2016-09-26 08:50] rattoma commented on #1280
@houtan. Concerning bug fixed in fe7b781, I think this requires this issue to re-opened and closed after merging the fix. thanks

[2016-09-27 13:12] houtanb opened #1293 "xlswrite and xlsopen on Octave no longer work on .xls files, only .xlsx files"
See: http://savannah.gnu.org/bugs/?44109

This causes `tests/data/mod1a.mod` to crash in the test suite on Octave

[2016-09-27 13:28] MichelJuillard commented on #1293
I don't see any workaround. This limitation of Octave should be indicated in the manual and maybe on the forum. For the test cases, we should use xlsx in stead of xls

[2016-09-27 14:01] houtanb commented on #1293
remaining to be done: replace `.xls` files in dseries unit tests with `.xlsx` files

[2016-09-27 14:02] houtanb commented on #1293
NB: Also removed the requirement to install the `java` package as it's no longer needed: http://wiki.octave.org/Java_package

[2016-09-27 14:06] JohannesPfeifer commented on #1293
@houtanb When you say "no longer", does that mean when you use Octave 4?

[2016-09-27 14:27] houtanb commented on #1293
@JohannesPfeifer yes. Are you saying this is not the case on Windows?

[2016-09-27 15:06] JohannesPfeifer commented on #1293
@houtanb I haven't checked this on Windows, but I also assume the same problem appears there. But because it sounded like an issue of lost backward compatibility, I curious which version of Octave introduced the break with previous behavior.

[2016-09-27 15:20] houtanb commented on #1293
@JohannesPfeifer the report is from 28 Jan 2015 which, judging by ftp://ftp.gnu.org/gnu/octave was in the lead up to the 4.0 release, so I'm guessing it was in the development 3.9 version.

As for backward compatibility, I don't know what we can do other than write in the manual that people will need to save their `.xls` files as `.xlsx` and, perhaps, issue an error to that effect if the user pass

[2016-09-30 12:13] JohannesPfeifer opened #1294 "Introduce proper check for stochastic singularity"
In `initial_estimation_checks` we should introduce a proper check for stochastic singularity by setting `options_.use_univariate_filters_if_singularity_is_detected=0` and then providing an informative error message when `info(1) == 50`.
This prevents user errors where the model has a fundamental stochastic singularity, because Dynare by default will resort to the univariate filter without warning.

[2016-09-30 12:20] JohannesPfeifer commented on #1294
We should also allow for an additional option `keep_kalman_algo_if_singularity_is_detected` translating into `options_.kalman.keep_kalman_algo_if_singularity_is_detected=1`
 that determines whether we update `DynareOptions.kalman_algo` in `dsge_likelihood` when `options_.use_univariate_filters_if_singularity_is_detected=1`. Because currently, once encountering singularity will forever change the K

[2016-09-30 12:21] JohannesPfeifer commented on #1170
@houtanb Could you please assign this to @rattoma as discussed at the Dynare conference 2016

[2016-10-03 13:13] houtanb commented on #1285
This works on Octave 4.2 RC 2. Will reopen this ticket it is broken on the official Octave 4.2 release

[2016-10-03 13:13] #1285 closed

[2016-10-03 19:43] JohannesPfeifer opened #1296 "Decide on whether to save intermediate draws"
With the move to `posterior_sampling_core` we now by default save the MCMC draws every 50 draws into a temporary file, because we by default set
`posterior_sampler_options.save_tmp_file=1;`

I think this is very inefficient and therefore should be 0 by default (same behavior as before the move), with an interface provided to change the option.
@rattoma You added this behavior. Was the reason that

[2016-10-05 16:46] felipeboralli opened #1299 "The plot of recursive forecasts is wrong when prefilter=1"
GNU Octave, version 3.8.1 "i686-w64-mingw32".
Dynare unstable (version 2016-08-23).

When the variables are prefiltered, the plot of recursive forecast is made mixing a filtered realized variable with a defiltered forecasted variable.
In the window below, this is very visible in the juros variable, but happens in all of them.

What I woud expect is all of them to be in the defiltered mode.

![1](h

[2016-10-05 17:10] felipeboralli opened #1300 "When using gnuplot on octave, most graphs titles are cut"
When using gnuplot on octave, most graphs titles are cut a bit.
It seems the titles are shifted upwards, because when there is a second row of graphs in the window, their titles seem to invade the upper row.

![2](https://cloud.githubusercontent.com/assets/22381123/19123477/32dd3916-8b05-11e6-8af1-172438cf9051.png)
![3](https://cloud.githubusercontent.com/assets/22381123/19123478/32de3348-8b05-11e

[2016-10-05 17:13] JohannesPfeifer commented on #1299
@felipeboralli Could you please send me the files to replicate the problem?

[2016-10-05 17:23] felipeboralli commented on #1299
@JohannesPfeifer I have sent them to your university email. Thanks

[2016-10-05 18:31] JohannesPfeifer commented on #1299
@felipeboralli The email never arrived. Maybe an issue with the spam filter, Could you try jpfeifer@gmx.de please.

[2016-10-06 07:55] MichelJuillard opened #1302 "calib_smoother doesn't recognize diffuse_filter"
It should be possible to run the smoother with calibrated parameters for a model with non-stationary variables

[2016-10-06 08:06] JohannesPfeifer commented on #1302
This is solved in #1217

[2016-10-06 08:07] JohannesPfeifer commented on #1302
f553f89 to precise

[2016-10-06 08:31] MichelJuillard commented on #1302
Thanks @JohannesPfeifer I seemed to remember something like that but couldn't find it in the issues.
So I guess that it is better to search the repository than only the issues when looking for something

@stepan-a can we merge PR #1217 ?

[2016-10-06 08:31] #1302 closed

[2016-10-06 08:33] MichelJuillard commented on #1302
In fact searching the repository is not practicable because we search the code as well.

[2016-10-06 08:44] JohannesPfeifer commented on #1302
I guess the easiest solution is to quickly deal with outstanding pull requests. This will steamline our workflow a lot.

[2016-10-06 20:16] JohannesPfeifer commented on #1300
@felipeboralli This seems to be an Octave bug. With `Octave 4.0.3` (which we do not yet fully support), I cannot reproduce the problem. Which version and OS are you using?

[2016-10-06 20:38] JohannesPfeifer opened #1304 "Octave out of memory issues"
When running `observation_trends_and_prefiltering/MCMC/Trend_loglinear_no_prefilter_MC.mod` in `Octave 4.0.3` I get
[code]
Given that Octave (at least on Windows) does not fully support `64 bit`, solving this could be challenging to impossible.

[2016-10-06 21:27] JohannesPfeifer opened #1306 "Work around problem with identifying system architecture on Octave"
The call to
`arch = getenv('PROCESSOR_ARCHITECTURE');`
used for PC in `dynare.m` does not work with Octave (see http://savannah.gnu.org/bugs/index.php?49289). Therefore, always the 32bit preprocessor is run.

[2016-10-06 22:05] JohannesPfeifer commented on #1304
The same mod-file works on Sedna (fails due to tolerance criterion), so this seems to be a Windows issue.

[2016-10-07 06:34] JohannesPfeifer commented on #1306
As turned out during the discussion with the Octave developers, the problem derives from using a 32bit version of Octave. As there soon will be a Windows 64 bit binary, we can live with this limitation.

[2016-10-07 06:34] #1306 closed

[2016-10-07 06:42] JohannesPfeifer opened #1307 "Provide 32 and 64 bit Octave mex-files"
As indicated at http://savannah.gnu.org/bugs/index.php?49289, there will be a 64 bit version of Octave 4.2, which then also will allow to use the 64bit Dynare preprocessor (see #1306). This will hopefully also solve #1304. But this means we need to provide 64bit mex-files as well as the 32bit ones do not run.

[2016-10-07 07:42] MichelJuillard commented on #1304
Is it reasonable to have in the test suite a test case so big as to break the 32bit address space limit and run it every night?

[2016-10-07 08:55] houtanb commented on #1304
@MichelJuillard is that not the case of the above test file? Octave is 64-bit on sedna and 32-bit on windows
[code]

[2016-10-07 08:56] houtanb commented on #1304
@JohannesPfeifer did you download Octave 4.2.0 RC2 for Windows? Does it fail there? If it doesn't fail, we can close this issue.

[2016-10-07 09:00] JohannesPfeifer commented on #1304
I don't have mex-files for 4.2. @MichelJuillard only compiled them for 4.0.3 so I don't know

[2016-10-07 09:02] MichelJuillard commented on #1304
@houtanb I don't understand your question to me

[2016-10-07 09:07] houtanb commented on #1304
@MichelJuillard I was confused by your question. The `.mod` file that @JohannesPfeifer lists is already in the test suite. Apparently it breaks 32-bit octave and is run every night. We were not aware of this because Octave 4.0.3 on sedna is 64-bit.

@JohannesPfeifer sorry, I thought you were compiling mex files yourself. @stepan-a is in the process of creating a docker to cross-compile dynare for

[2016-10-07 09:11] JohannesPfeifer commented on #1304
What puzzles me is that Octave uses a 32bit address space even for the 64bit version unless it is compiled with `--enable-64`  (see https://www.gnu.org/software/octave/doc/v4.0.0/Compiling-Octave-with-64_002dbit-Indexing.html)
Thus, the limitation should be there on Linux as well. Let's see what happens with Octave 4.2.

[2016-10-07 09:11] MichelJuillard commented on #1304
What i mean is that it doesn't make sense to me to have in the test suite a problem so large as to break the memory limit of a 32bit program and to run it every night

[2016-10-07 09:15] houtanb commented on #1304
@MichelJuillard I misunderstood your previous message. This is more clear. Then you want to remove this test?

[2016-10-07 09:18] houtanb commented on #1304
@JohannesPfeifer I see. Yes, I confirm the problem is there on linux as well. I will recompile octave 4.2.0 rc2 with `--enable-64` so we can test that

[2016-10-07 10:40] MichelJuillard commented on #1304
@houtanb not remove it, I'm sure it serves a purpose, but scaling it down

[2016-10-07 11:04] stepan-a opened #1308 "Factorize print_info and interpret_resol_info"
See discussion [here](https://github.com/DynareTeam/dynare/commit/83bc67f0c03bcd79cbbe4c903d7e5f5d4bc11e88#commitcomment-19332156).

[2016-10-07 15:05] houtanb commented on #1286
Branch updated. The test suite now passes 03a353856772eaa5e11372603cd59363fb3ff8a0

[2016-10-09 09:46] MichelJuillard opened #1309 "improve documentation of datafile option"
In the manual add that if several files differ only by the extension, the filaname must include the extendsion and written between quotes

[2016-10-10 07:38] #1309 closed

[2016-10-10 07:44] #1299 closed

[2016-10-10 10:24] houtanb commented on #1287
From Mathworks.....

~$ touch mymex.mexa64
~$ <matlabroot>/bin/matlab -nojvm

[code]

[2016-10-10 10:25] houtanb commented on #1287
So, the solution is to add
[code]
to `dynare_config.m`

[2016-10-11 19:10] JohannesPfeifer opened #1312 "Investigate problem with schur_state_space_transformation"
There is a problem with the initialization of the diffuse filter and smoother via `schur_statespace_transformation.m`. The mod-file `Local_trend_3.mod` (sent via email on 11/10/16) by a user contains three independent local trend models as in Durbin/Koopman (2012). Because the three processes are independent, all Kalman filter matrices should be block recursive. When using the Harvey initializatio

[2016-10-12 07:47] JohannesPfeifer commented on #1312
@MichelJuillard writes

[2016-10-12 07:48] JohannesPfeifer commented on #1312
@MichelJuillard Do we have a a reference for what we are going there? I don't feel comfortable with that part of the code, so someone else would need to do this ticket.

[2016-10-12 07:50] rattoma commented on #1312
@JohannesPfeifer @MichelJuillard I can look into this, but not very quickly

[2016-10-12 16:27] houtanb commented on #1288
The problem is that the `Dynamic` symbol is now hidden. The output of `nm` is:
[code]
In earlier versions of Matlab, the mex function would place `Dynamic` in the global namespace (i.e. it would have a `T` in the `nm` output as opposed to a `t`). The only functions in the global namespace now are mex* functions.

The first solution will be to find the correct flags to the `mex` calls in `/utilitie

[2016-10-13 15:33] houtanb commented on #1288
@JohannesPfeifer this problem only exists on Linux and OS X starting in R2016b. Can you check how far back this problem goes on Windows?

[2016-10-13 16:11] JohannesPfeifer commented on #1288
@houtanb As mentioned above, it does at least exist in 2015b, which is the earliest `gcc` on Windows. If absolutely necessary I can check ealier versions with Cygwin

[2016-10-13 16:25] houtanb commented on #1288
@JohannesPfeifer perhaps it's not a problem for `cygwin` or `msvc` as no one has complained. Also, we don't have a case supporting `gcc` for windows in `matlab/utilities/general/dyn_mex.m`. We should fix that too.

Also, I should note for myself, that `isunix` is true under OS X, so the proper test for linux is `isunix && ~ismac`

[2016-10-13 16:47] JohannesPfeifer commented on #1288
@houtanb True. #1226 is concerned with gcc on Windows.

[2016-10-13 18:39] JohannesPfeifer commented on #1226
@houtanb Could you please do the additional command line flag `mingw`, I will have a look at `dyn_mex`

[2016-10-14 08:39] JohannesPfeifer commented on #1259
@houtanb Could we get this into `4.5`? We already have a check for MSVC like
[code]
in the `use_dll_static` and `use_dll_dynamic`-files so adding this might be not that much work.

[2016-10-14 09:26] houtanb commented on #1226
@JohannesPfeifer please tell me if there are any problems with my commit. I couldn't test it as I don't have a Windows machine

[2016-10-14 09:41] JohannesPfeifer commented on #1226
@houtanb Sure, but I will only have the cross-compiled preprocessor in tomorrow's snapshot.

[2016-10-14 09:49] JohannesPfeifer commented on #1259
@houtanb While we are at it, we should try to lift the restriction on `acosh, asinh, atanh`. MSVC is supporting them since `MSVC 2012`, i.e. `_MSC_VER` bigger than `1600`. See http://stackoverflow.com/questions/15539116/atanh-arc-hyperbolic-tangent-function-missing-in-ms-visual-c

[2016-10-14 10:33] houtanb commented on #1300
I checked in 4.2.0-rc2 and the problem does not exist there either so I am closing this ticket

[2016-10-14 10:33] #1300 closed

[2016-10-14 11:48] houtanb commented on #1259
allowing `acosh, asinh, atanh, normcdf` with MSVC >= 11.0 in 4255be00b8a10226470c4cc1bc5a514ce37041bc

[2016-10-14 12:03] houtanb commented on #1259
@JohannesPfeifer @tholden I only find `erfc` support by `msvc` going back to 2012. Was this supported before?
https://msdn.microsoft.com/en-us/library/hh308292(v=vs.110).aspx

[2016-10-14 12:14] JohannesPfeifer commented on #1259
@houtanb It seems I was wrong. `erfc` was introduced in `MSVC` together with the other functions like `acosh`. So d7d2e4fde3e28cfb7fe0834f5bb1394617c3ea94 was wrong and should be reverted, while https://github.com/DynareTeam/dynare/commit/4255be00b8a10226470c4cc1bc5a514ce37041bc was ok.

[2016-10-14 12:21] houtanb commented on #1259
@JohannesPfeifer we can implement the solution [here](http://www.johndcook.com/blog/cpp_phi/) for MSVC < 2012

[2016-10-14 12:25] JohannesPfeifer commented on #1259
@houtanb We could. But given that MSVC 2015 is free and #1227 seems to mandate that version as well in master, we should probably not devote resources to this.

[2016-10-14 13:12] houtanb opened #1314 "octave does not need the compiler argument when using use_dll"
The preprocessor requires Windows users to pass the name of the compiler on their system when using `use_dll`. This is not necessary on Octave, as evidenced by `matlab/utilities/general/dyn_mex.m`. Fix `preprocessor/ModFile.cc` appropriately.

See discussion here: https://github.com/DynareTeam/dynare/commit/accd70a4c79c3e8dffb8ab367e1879680bd20606#commitcomment-19427662

[2016-10-14 13:19] houtanb opened #1315 "check to see if we need all Windows compiler macros in preprocessor"
This page
http://nadeausoftware.com/articles/2012/01/c_c_tip_how_use_compiler_predefined_macros_detect_operating_system

Seems to say all we need is `_WIN32` as it's defined on all Windows systems. This would make `__CYGWIN32__` and `__MINGW32__` redundant. Check to see this is the case

[2016-10-14 14:12] #1259 closed

[2016-10-14 14:41] houtanb commented on #1226
@JohannesPfeifer so what remains is that you test this with a snapshot starting tomorrow. Please post here if it works or not.

[2016-10-14 14:42] JohannesPfeifer commented on #1226
@houtanb Will do. We also should have a test working with the supported new functions like `normcdf` and `asinh`.

[2016-10-14 14:44] houtanb commented on #1226
@JohannesPfeifer agreed if we ever get the testsuite running on Windows

[2016-10-14 14:48] JohannesPfeifer commented on #1226
@houtanb I will do. But this was a rather general comment. I don't think we have any tests in the testsuite that use "exotic" functions allowed in mod-files (be it with `use_dll` or not)

[2016-10-14 15:35] #1314 closed

[2016-10-15 11:38] JohannesPfeifer opened #1318 "Improve documentation of endogenous prior restrictions"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=10433

[2016-10-16 11:57] JohannesPfeifer commented on #1259
What is still missing to function correctly with `normcdf` is a
[code]
Before
[code]
in the `_dynamics.c` and `_static.c` files to define the mathematical constants. See  https://msdn.microsoft.com/library/4hwaceh6.aspx

[2016-10-16 11:58] JohannesPfeifer commented on #1226
The test is in #1319 and works on my machine with the fix in #1259

[2016-10-16 11:58] #1226 closed

[2016-10-16 12:07] JohannesPfeifer commented on #641
With Matlab on Windows now supporting two free compilers that can be easily installed, there is no reason to rely on `Cygwin` anymore. For that reason, I would not spend time on supporting something I consider a legacy system. I would propose to close the issue.

[2016-10-18 14:46] houtanb commented on #1288
Fixed on Linux. Still need to fix on macOS

[2016-10-20 12:04] #1288 closed

[2016-11-03 22:50] stepan-a opened #1328 "Find out why pr#1323 fails with older versions of matlab"
See the mod file [here](https://gist.github.com/stepan-a/260eabd535efa7c38d1197cad04a581a) and discussion [here](https://github.com/DynareTeam/dynare/pull/1323).

[2016-11-04 05:47] #1215 closed

[2016-11-04 08:19] JohannesPfeifer commented on #1328
@stepan-a I cannot replicate the issue on any Matlab version on Windows. It works with 2011a and 2016b. It also works on Sedna with R2015a.

[2016-11-04 09:56] #1294 closed

[2016-11-04 11:15] houtanb commented on #1328
See the discusion in #1323

[2016-11-04 11:30] houtanb commented on #1328
@stepan-a says there was a mistake in the gist he posted, but that he ran the same test as that which was committed and that there was a numeric bug on Debian Stretch Matlab R2015a or R2015b

[2016-11-04 11:37] houtanb commented on #1328
NB: Works on OS X Matlab R2015b and R2016b

[2016-11-04 13:39] houtanb commented on #1328
I could not verify this bug on Debian Stretch with Matlab R2015b. Adding @stepan-a as owner so he can try to reproduce it.

[2016-11-10 16:13] JohannesPfeifer opened #1332 "Decide on how to deal with mh_recover on Octave"
Various unit test fail on Octave, because the `mh_recover` option does not work properly under Octave as there are differences in setting the random number generator. We can either
- disable the check in the unit test and accept that the behavior of `mh_recover` is different under Octave and Matlab (and then document this)
- or provide an error under Octave when someone tries to use this option

[2016-11-14 11:06] houtanb opened #1335 "add field to M_ when 2nd derivative is equal to zero"

[2016-11-14 11:32] #1335 closed

[2016-11-14 11:53] houtanb opened #1336 "make stoch_simul more efficient: solve at `order=1` when `M_.hessian_eq_zero==1`"
To avoid the error in `matlab/stochastic_solvers.m` line 64, when `M_.hessian_eq_zero` is true solve at `order = 1` instead of `2` or `3`.

Work to be done on a branch

[2016-11-14 13:00] JohannesPfeifer commented on #1336
@houtanb At some point, we decided not to go down this route, see https://github.com/DynareTeam/dynare/issues/72. Do we want to changes this?

[2016-11-14 13:18] stepan-a commented on #1336
@JohannesPfeifer I do not see the relation between #72 and this issue...

[2016-11-14 13:20] stepan-a commented on #1336
@JohannesPfeifer Sorry for the noise... Now I see. This issue is not about adding a new algorithm, so we do not change the decision in #72.

[2016-11-14 13:22] stepan-a commented on #1336
@houtanb in this issue we should only discuss the automatic extension of the model with dummy auxiliary variables (to add missing lags). The absence of nonlinearity is not the problem here.

[2016-11-14 13:54] houtanb commented on #1336
@JohannesPfeifer @stepan-a to clarify, this is a continuation of #1335. When a linear model is encountered with no lags, the error in `matlab/stochastic_solvers.m` line 64 is encountered when `order > 1`. For efficiency reasons, in this situation (and when there are lags for that matter), we can calculate the solution at order 1. To do this, we can just set `local_order = options_.order` at the to

[2016-11-14 14:38] MichelJuillard commented on #1336
If a model has no lag, we need to treat differently the case where there is also no lead (a static model) and only leads (a purely forward model).
For these two cases, we could write efficient solution code. Then we could in addition write specialized code for the case where the model is linear.
As long as we don't have this code, we should simply indicate that the case is not supported.

[2016-11-14 15:09] houtanb opened #1337 "A linear model with options_.risky_steadystate = 1; and k_order_solver causes a crash"
Should stop with error if a linear model is used.

See the mod file: https://gist.github.com/houtanb/d2eaa90121e26bdace138bf477c631ee

[2016-11-14 15:22] houtanb opened #1338 "risky steady state: no interface, test suite"
There are several issues with risky steady state:

1. It has no interface. Why? Is this something we want to keep (hidden) in Dynare?
1. It the .mod files that use it are not in the test suite. Why?

[2016-11-19 08:14] MichelJuillard opened #1339 "bug in missing_DiffuseKalmanSmootherH3_Z.m?"
@JohannesPfeifer I don't see how line 302
[code]
can be correct. The term before - is a square matrix and the term after, a row vector

[2016-11-19 09:08] JohannesPfeifer commented on #1339
@MichelJuillard Good catch. Thanks a lot.

[2016-11-19 09:54] #1339 closed

[2016-11-20 11:02] JohannesPfeifer commented on #1312
@MichelJuillard Did you fix this with your recent commits 2f9dc092855bbdb0b3fdd970b6ab551842c5080a and 897af97bff5b0c6e1a486b773c411b9ed5ebe2ca ? Because the mod-file in question seems to be working now.

[2016-11-20 11:36] MichelJuillard commented on #1312
Yes @JohannesPfeifer , that was the idea. I think it is fixed. I still want to add a test case inspired by the *.mod file and refactor the code

[2016-11-20 11:51] JohannesPfeifer commented on #1312
@MichelJuillard Perfect. Thanks. But then you should assign yourself the ticket.

[2016-11-27 09:28] JohannesPfeifer opened #1344 "Investigate whether recent mex-changes broke backward compatibility with older Matlab versions"
Giovanni Lombardo reports a compilation error under Ubuntu with Matlab 2010a:
[code]
(see http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=11556).
The post at http://stackoverflow.com/questions/22367516/mex-compile-error-unknown-type-name-char16-t
suggests that one might need to add
`typedef uint16_t char16_t;`
before
`#include "mex.h"`

[2016-11-27 16:41] MichelJuillard commented on #1344
The discussion in the second link reported above shows clearly that the problem comes with the compiler used in Ubuntu 16.04 LTS. We have to see if we need to provide for this particular compiler or whether an update of the compiler can solve the problem

[2016-11-27 16:44] JohannesPfeifer commented on #1344
@MichelJuillard I use Ubuntu with a newer Matlab version and did not face any problems. That's why my guess was that it has to do with older Matlab versions.

[2016-11-27 16:58] MichelJuillard commented on #1344
I have R2015a. At the end of ./extern/include/tmwtypes.h, they do some test before referencing char16_t

@JohannesPfeifer we were already compiling with Debian in 2010 and we didn't have this problem. My guess is that some recent compilers don't support char16_t anymore. Matlab may have provided for this change in compilers but only in recent versions of Matlab

[2016-11-27 17:47] JohannesPfeifer commented on #1296
Closed by #1298

[2016-11-27 17:47] #1296 closed

[2016-11-28 13:42] JohannesPfeifer commented on #1312
Closed by https://github.com/DynareTeam/dynare/commit/80eeee697d13936d2cc6b4a550cf64b20b6e08d8

[2016-11-28 13:42] #1312 closed

[2016-11-28 13:56] JohannesPfeifer commented on #1332
@houtanb Could you please add a decision label to this?

[2016-11-28 14:30] JohannesPfeifer commented on #532
Closed by #1224

[2016-11-28 14:30] #532 closed

[2016-11-29 10:13] JohannesPfeifer commented on #419
@stepan-a I think some solution must be part of 4.5. It is not about the enhancement as the label suggests, but rather about the fact that the implemented change introduces a bug that prevents using the Ramsey command with the `linear` option (see the attached mod-file). If we cannot do what @MichelJuillard suggested in his last post, we should at least transform the error into a warning so that p

[2016-11-29 13:37] #419 closed

[2016-11-29 14:21] houtanb commented on #1245
First draft fix in e410043c244d251164638f9a0b3646e23e3d125d. This should fix the bug, but leaving open so @FerhatMihoubi can confirm and close if he agrees.

[2016-11-29 15:17] JohannesPfeifer commented on #1245
@houtanb I just recognize that there are two different output syntaxes.
In the `if(length(varargin)>0)` there is nothing to do, because we always have
[code]
The problem is in the other case where we would have
[code]
Thus, the proper initialization would be
``` varargout{1} = oo_;```

[2016-11-29 15:21] houtanb commented on #1245
@JohannesPfeifer precisely. I thought we were creating a 3rd syntax to differentiate from these two. `varargout{1} = NaN` will be returned when one of the error conditions is satisfied and `disp(['Inf or Nan value during the evaluation of block X']);` is printed. You're saying that this difference is of no value?

[2016-11-29 15:31] JohannesPfeifer commented on #1245
@houtanb Unfortunately not. The call in `perfect_foresight_solver_core.m` is
```oo_ = feval([M_.fname '_dynamic'], options_, M_, oo_);```
Therefore, if we output `NaN`, we simply overwrite `oo_`, which breaks all subsequent code. If I see it correctly, the subsequent code relies on
```maxerror = oo_.deterministic_simulation.error;```
Thus, we should preface the `return` statements by something lik

[2016-11-29 15:35] houtanb commented on #1245
@JohannesPfeifer then `oo_` is overwritten when `if(length(varargin)>0)` holds above, is it not?

[2016-11-29 15:38] JohannesPfeifer commented on #1245
@houtanb Yes, but the `varargin` only refers to input arguments after the first three. Thus, this is a different syntax where `oo_` is not requested as the output. In fact, the comment to the if-clause is ` %it is a simple evaluation of the dynamic model for time _it`. In that case, the output is the residual, but it is always set. The problem only occurs when the desired output is `oo_`

[2016-12-01 12:46] JohannesPfeifer commented on #1332
@stepan-a @MichelJuillard Any thoughts on this? I would probably go for documenting the different behavior under Octave and provide a warning.

[2016-12-02 08:10] JohannesPfeifer commented on #263
@houtanb What exactly does https://github.com/DynareTeam/dynare/commit/17c1f5286804e1e0f53339b3bce51df802d0b977 entail? Because
`gy_obs $\Delta y_{obs}$`
translates in `write_latex_dynamic_model` to
`{\Delta y_{obs}_{t}}`
while
`gp_obs ${\Delta m_{obs}}$`
translates to
`{{\Delta m_{obs}}_{t}}`.
Only the latter with manually set brackets assures that you cannot have double subscripts. It seems that

[2016-12-02 09:26] houtanb commented on #263
@JohannesPfeifer yes, this was the intention of the commit. See the problem from the forum referenced in the first comment

[2016-12-02 09:30] JohannesPfeifer commented on #263
@houtanb I see. So the double subscript problem still remains. For that we need to check for underscores that are not prefaced by a slash, i.e.
`'(?<![\])[_]'`
in `regex` and need to find out whether all underscores are contained in at least one curly bracket. If not, we need to add the brackets.

[2016-12-02 09:33] houtanb commented on #263
@JohannesPfeifer correct. This was the point of my comment above: https://github.com/DynareTeam/dynare/issues/263#issuecomment-138498467

[2016-12-02 10:21] JohannesPfeifer commented on #263
@houtanb I see. I guess the Matlab code for this would be
[code]
That is: whenever we have as many opening as closing brackets (without text brackets like `\{` ) before an underscore, we know that the underscore is not within brackets, so we must set them.

[2016-12-02 11:49] houtanb commented on #263
@JohannesPfeifer as I understand it, your algorithm would change:
[code]
to
[code]
Neither of which compiles. This may have been why we abandoned this, leaving it to the user to correctly set subscripts.

[2016-12-02 13:39] JohannesPfeifer commented on #263
@houtanb The first one should become `{{C_a}_{C_bc}}`, i.e. no slash should be introduced. Also, I don't see why this should not compile.

The second one is not supposed to compile. It is the user's duty to make sure that the LaTeX expression provided is a valid one. If the user provides an invalid expression that already has double subscripts as in the example,, we cannot fix this. We should only

[2016-12-02 16:08] houtanb commented on #263
NB: `{{C_a}_{C_bc}}` does not compile.

[2016-12-02 16:12] JohannesPfeifer commented on #263
@houtanb But why? What is the error message? Is this maybe a TeX-compilation issue? Because I don't see any faulty syntax and it works with MikTeX (of course you need to be in math mode, otherwise you cannot have an underscore that is not prefaced by a slash). There are as many opening as closing brackets and no double subscripts.

[2016-12-02 16:14] houtanb commented on #263
@JohannesPfeifer sorry, yes it works.

[2016-12-13 09:27] rattoma opened #1349 "set number of threads per job in parallel execution"
Given the large number of CPU's being made available on desktop pc's,  the current node option `singleCompThread` looks rather limited.
I would propose the following changes to the parallel configuration:
- set the default for `singleCompThread` to 0;
- add a node option in dynare.ini `numberOfThreadsPerJob`, which allows to set the number of cpu's assigned to each job. So, for example, for a node

[2016-12-13 10:12] houtanb commented on #1349
@rattoma is the default for `numberOfThreadsPerJob` 1?

[2016-12-13 10:17] houtanb commented on #1349
@rattoma and I guess it should be translated to `NumberOfThreadsPerJob`?

[2016-12-13 10:36] houtanb commented on #1349
@rattoma I will leave the doc for you to do. I assumed the default to be 1. Close this ticket once you have updated the doc and if the default value is correct. Finally, your description of this

[2016-12-13 11:32] rattoma commented on #1349
yes, it should translate in a new field of

`options_.parallel.NumberOfThreadsPerJob`

and the default should be set to 1.
many thanks

[2016-12-13 11:35] rattoma commented on #1349
@houtanb thanks a lot for your commits. I will update the doc and also make provisions in the parallel routines for this.

[2016-12-13 11:35] houtanb commented on #1349
@rattoma sounds good

[2016-12-14 21:27] JohannesPfeifer opened #1350 "Fix shock_decomposition when selected_variables_only is specified"
The option `selected_variables_only` is currently incompatible with `shock_decomposition ` as can be seen in the mod-file
[code]
The best solution seems to be making the `options_` structure local to `evaluate_smoother` (related to #1197 ) and then set `options_.selected_variables_only=0` in `shock_decomposition.m`

[2016-12-19 06:44] JohannesPfeifer opened #1355 "Allow adding auxiliary variables like Ramsey multipliers to var_list_"
The auxiliary variables are endogenous variables like every other variable. A call like
`ramsey_policy(instruments=(i),irf=13,planner_discount=betta,periods=200) x pi MULT_1;`
would be suficient to display IRFs for the multiplier 1. However, the preprocessor does not allow adding `MULT_1` to the variable list, because:
`Unknown symbol: MULT_1`
We should allow adding any variable present in `M_.end

[2016-12-19 08:42] JohannesPfeifer commented on #1344
Giovanni reports that the solution was
```replacing the Matlab headers (in external/include) of Matlab 2010, with newer versions```
http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=11556
As this seems to be a rare problem among the user base, I am closing the ticket.

[2016-12-19 08:42] #1344 closed

[2016-12-19 11:13] rattoma opened #1356 "introduce posterior_nograph option"
I think it would be useful to have an option like:

`options_.posterior_nograph`

with default value at 0 like standard nograph.

This option would allow performing all possible posterior subdraws for irfs, smoothed variables etc, but avoiding to produce thousands of useless graphs that are currently done [for large models at least].

I think it would also be useful to make a distinction w.r.t. `o

[2016-12-19 12:02] #1350 closed

[2016-12-20 08:19] JohannesPfeifer commented on #1356
@rattoma I agree in principle, But I would go for a more nested approach in `options_`, with something like `options_.no_graph.posterior` where `options_.no_graph` takes up `nograph` options for various commands. We should then alter `options_.shock_decomp.nograph` to `options_.no_graph.shock_decomp`.
The remaining problem is how to link the general `nograph` option to the specific ones. I guess i

[2016-12-20 10:30] rattoma commented on #1356
It seems your suggestion should work. Most of (maybe all?) the current `nograph` checks will remain unaltered, since `posteriorIRF` and `prior_posterior_statistics` currently do not honor `nograph` and we can upgrade the check for `shock_decomposition`.

[2016-12-20 13:03] JohannesPfeifer commented on #1356
@rattoma Yes. In #1358 I did the preprocessor interface and the `shock_decomposition` part. You only need to do the part related to `pm3` and `posterior_irf`

[2016-12-20 14:16] rattoma commented on #1356
@JohannesPfeifer many thanks

[2016-12-21 19:24] JohannesPfeifer opened #1359 "Add interface to load datafile in Matlab's table-format"
In `R2013b`. Matlab introduced a datatype `table` (https://de.mathworks.com/help/matlab/ref/table.html). We should support reading datasets saved in this format.

[2016-12-22 08:35] MichelJuillard commented on #1332
I agree with the solution proposed by @JohannesPfeifer. We can revisit the issue later.

[2016-12-22 14:04] stepan-a commented on #1332
Do you mean that under Octave we do not know what is the seed when mh_recover is used? For me this would not be a big issue. We should just remove the test under Octave for this, and document the different behaviour in the manual. I don't think we should add a warning for this... Most users won't understand the issue, and this would probably create more trouble.

[2016-12-26 10:21] #1332 closed

[2016-12-27 09:49] MichelJuillard commented on #1201
I'm giving up the idea of fixing this problem. There doesn't seem to be any simple solution:
- if we handle it at output time (in writeOutput function), we have to remove the "const" in all the output chain, blurring the distinction between building the expressions and writing them
- if we handle the transformation pass, we have to add the entire logic for parenthesis handling, basically adding pa

[2016-12-27 09:55] houtanb commented on #1201
@MichelJuillard Is it a problem to have a post-preprocessor step that does this? A simple program that can be run on any matlab code created by the preprocessor. It would parse it counting parenthesis, creating temporary variables as needed and substituting them in the appropriate places?

[2016-12-27 10:01] MichelJuillard commented on #1201
@houtanb yes, that would be indeed simpler from the preprocessor point of view. But, we should make it optional not to slow down things to much.
Isn't it a lot of efforts for a rare problem?
I was willing to fix it because until now I believed there was a simple fix

[2016-12-27 10:05] houtanb commented on #1201
@MichelJuillard we can definitely make it optional. I was just putting it forward as a possible solution. We would need to decide together whether the time spent on it and the resultant dynare.git clutter and additional distribution work are worth it for this problem.

[2016-12-27 10:18] MichelJuillard commented on #1201
Let see what the others are thinking

[2016-12-27 10:37] JohannesPfeifer commented on #1201
Providing a new version of the CMR model does not strike me as a feasible and scalable solution. Models are going to be ever more complex in the future and we need to cope with this. The problem in the CMR model comes from the definition of the 10-year term structure. This is an increasingly common feature in New Keynesian DSGE models. Forcing users to rewrite this manually seems not desireable. M

[2016-12-27 11:02] stepan-a commented on #1201
@MichelJuillard  and @houtanb, I do not really see what would be the post-preprocessor step... We would have to parse the generated matlab functions and change them to remove nested parenthesis... I think this is a lot of work. Also this would be an awful hack (I have no problem if one uses post preprocessor hooks, I do that, but I do not think we should do that in Dynare).

If we go along this ro

[2016-12-27 11:10] houtanb commented on #1201
@stepan-a you are right in that it it rather straightforward to detect if an output stream has more than a certain number of open parenthesis. If we encountered this problem, we could exit with an error telling the user to install gcc. If we wanted to put the work in at a later point, we could add code to introduce a temporary variable and make the substitution.

[2016-12-27 13:11] #1355 closed

[2016-12-27 13:20] JohannesPfeifer commented on #1355
@houtanb Does this only work with `ramsey_policy`? Or also with `stoch_simul` after `ramsey_model`?

[2016-12-27 13:22] houtanb commented on #1355
@JohannesPfeifer just `ramsey_policy`, as you said in the issue description.

[2016-12-27 13:47] JohannesPfeifer commented on #1315
@houtanb What's needed to close this ticket?

[2016-12-27 14:10] houtanb commented on #1315
@JohannesPfeifer the patience to replace the above definitions in the code and the ability to test them on various versions of Windows.

For future reference, here is a more succinct article: http://stackoverflow.com/questions/5919996/how-to-detect-reliably-mac-os-x-ios-linux-windows-in-c-preprocessor

[2016-12-27 15:42] MichelJuillard commented on #1201
@JohannesPfeifer given that Matlab has a 32 deep parenthesis limit and that users somehow "choose" to use Dynare Matlab instead of "use_dll", it doesn't strike me that we have to provide a version of Dynare that makes up for Matlab limitation. Again, unless I'm missing an easier solution, I don't see how to do it without considerable amount of work and probably weakening the preprocessor, making i

[2016-12-27 16:00] houtanb commented on #1201
@MichelJuillard does that mean that you agree with @stepan-a's proposal?

[2016-12-27 16:06] JohannesPfeifer commented on #1201
@MichelJuillard I am perfectly content if we have a workaround. Let me try whether `use_dll` solves the issue on Windows.

[2016-12-27 16:10] stepan-a commented on #1359
I do not know if this is compatible with Octave... Even if we do not have an interface for this, one can use table object in the matlab script used for loading the data.

[2016-12-27 18:04] JohannesPfeifer opened #1364 "Allow loading data from mat-files that contain other variables"
We rely on `load_mat_file_data.m` from `dseries` to read in `mat`-files. There we use
[code]
to read _all_ variables and concatenate them in an array. If there is any other variable in the mat-file that does not have conformable dimensions, we abort with a crash. This deviates from earlier behavior and will result in many users reporting problems with backward compatibility if we release `4.5` thi

[2016-12-27 20:36] JohannesPfeifer commented on #1201
The CMR model works flawlessly with `use_dll` on Windows.

[2016-12-28 09:29] stepan-a commented on #1201
@houtanb Can you implement the test on the number of nested parenthesis and stop the preprocessor, with a message refering to `use_dll` if we have more than 32 nested parenthesis. Maybe we should also point to some documentation for installing gcc (or another compiler, I found  that the installation of intel/icc was easier) in the reference manual. This should depend on the version of matlab.

[2016-12-28 11:18] MichelJuillard commented on #1201
@houtanb, please, before starting to code, explain how you plan to increment a counter inside ExpNode::writeOutput without violating the const characterization of these functions. I still think it is not simple.

[2016-12-28 11:24] houtanb commented on #1201
@MichelJuillard I was planning to create a function in the `ModelTree` class that receives as input the `ostringstream` specified in `DynamicModel::writeDynamicModel` and `StaticModel::writeStaticModel`. The function in `ModelTree` will be called right after the check `if (output_type == oMatlabStaticModel)` or `if (output_type == oMatlabDynamicModel)` after they have been written to but before th

[2016-12-28 12:18] MichelJuillard commented on #1201
@houtanb OK thanks

[2016-12-28 13:03] houtanb commented on #1201
@stepan-a feel free to replace the link I included in the error message with the one you were talking about

[2016-12-28 18:10] JohannesPfeifer commented on #1201
@houtanb Does your commit also apply to the m-files generated for identification? And does the `use_dll` option work for these?

[2016-12-28 21:16] houtanb commented on #1201
@JohannesPfeifer no, just for the static and dynamic files and `use_dll` does not work for the `params_derivs` file.

That said, I think it'd be rather straightforward to make non-efficient substitutions of nested parenthesis. We could essentially modify the `ostringstream` output. Whenever a line contains 32 or more nested parenthesis, we can create variables that break up these parenthesis, inse

[2016-12-29 09:22] MichelJuillard commented on #1201
@houtanb you are right. I wasn't looking at the right place, trying to do the substitution on the fly inside ExpNode::writeOutput()
I think that you could do it after we get 4.5 out

[2016-12-29 09:31] JohannesPfeifer commented on #1201
@MichelJuillard @houtanb If it's not too complicated, I would advocate having it in 4.5. The CMR model is now quite frequently used and many people use older Matlab versions on Windows where `use_dll` can be tricky (this is evident from numerous posts in the forum).

[2016-12-30 17:25] houtanb commented on #1201
This was more complicated than expected, so it would be good to do more testing.

The final step will be to call this function for the parms derivatives file. It's not as simple as for the dynamic and static models because the output is written directly to the file (instead of being written to string streams which are then written to the file). I'll change this to write to string streams and apply

[2017-01-01 08:47] JohannesPfeifer commented on #1201
There is no Windows snapshot after your change. Did your commit break the compilation?

[2017-01-01 19:31] JohannesPfeifer opened #1366 "Decide on how to deal with mistake in manual regarding updated variables"
According to the manual, `smoother` triggers the computation of `oo_.UpdatedVariables`. But one actually needs `filtered_vars`. We can either

1. Correct the description in the manual to reflect the code behavior
2. Flag this as a bug as the code deviates from the manual and output `oo_.UpdatedVariables` when only the `smoother` option is specified

[2017-01-01 19:34] JohannesPfeifer opened #1367 "Investigate issue with disp_dr>subst_auxvar (line 248)"
When `M_.aux_vars(i).type = 0` (lead>1), a crash happens. But it is not clear in which case this happens as leads should not be present on the right-hand side of decision rules. See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=12593

[2017-01-01 19:35] JohannesPfeifer opened #1368 "Verify correctness of manual regarding unfolding of third order matrices"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=12557

[2017-01-02 08:33] JohannesPfeifer commented on #1367
#773 needs to be done to fix this, because otherwise the information to trace the auxililiary variables back to the original ones is missing (`M_.aux_vars.orig_index` is empty for `type=0`).

[2017-01-02 08:45] MichelJuillard commented on #773
When there are leads on more than one period, the auxiliary variable replaces the entire non-linear expression. For leads, there is no one to one correspondence between auxiliary variable and lead original variable

[2017-01-02 08:52] JohannesPfeifer commented on #773
@MichelJuillard I see, but how can we then deal with this when displaying decision rules?

[2017-01-02 08:56] MichelJuillard commented on #773
@JohannesPfeifer the current way is to use the name of the auxiliary variable

[2017-01-02 09:03] JohannesPfeifer commented on #773
No, sometimes, we produce an error, see #1367. Would it be possible to do the same treatment as for leads as in 025e7a13c320822463c9ca19ba76112daf4d1d20 for expectations?

[2017-01-02 09:21] MichelJuillard commented on #1367
@JohannesPfeifer we need the mod file to be able to replicate the problem. This seems a very peculiar case involving local variables

[2017-01-02 10:42] houtanb commented on #1201
NB: even with the changes above the original `.mod` file specified in this issue does not work

[2017-01-02 13:38] MichelJuillard commented on #1367
Complicated nonlinear expression involving leads of different length can generate AUX_ENDO_LEAD variables with lags appearing among the state variables of the model. This could probably be avoided but would require another layer of complexity in the preprocessor. For the time being, when an AUX_ENDO_LEAD variable appears among the state variable, I suggest to use just that name and not to try to s

[2017-01-03 18:25] rattoma commented on #838
I just pushed on my parallel branch a fix to Account for MAC in AnalyseComputationalEnvironment.m and GiveCPUnumber.m [see also #1272.

[2017-01-04 08:15] JohannesPfeifer commented on #1366
@MichelJuillard I would like to fix this soon. Which option do you prefer?

[2017-01-04 08:26] JohannesPfeifer commented on #1201
@houtanb
1. Which issue are you experiencing? I could run the mod-file.
2. Would it be possible to only print the warning message once? For CMR, it appears 4 times. I guess once for every file

[2017-01-04 09:21] MichelJuillard commented on #1366
@JohannesPfeifer I don't understand the issue. What is computed by smoother? What is in the manual? I don' t have time to check it now, sorry. If the computations are satisfactory, I would correct the manual

[2017-01-04 09:42] houtanb commented on #1201
@JohannesPfeifer

1. When you don't have the necessary toolboxes (my situation), the steady state is not calculated and an empty vector of endogenous variables is passed to the static file. @stepan-a fixed this in 515e080f49504c1baf60b4746273043fa4a63188

1. Yes, when I have the time

[2017-01-04 10:00] JohannesPfeifer commented on #1366
@MichelJuillard We compute the required objects in the smoother routine, but did not save the results in `oo_` due to a check for `filtered_vars`. In #1370 I make the saving consistent with the manual.

[2017-01-04 10:03] MichelJuillard commented on #1366
@JohannesPfeifer perfect! Thanks

[2017-01-04 10:09] houtanb commented on #1201
To make clear what is left to be done on this issue:

1. Apply this change to the derivatives wrt the parameters for identification
1. Reduce the warning output to once per file (as opposed to once per equation encountered). This means that the warning would be emitted a maximum of 3 times.

I hope to have the time to do these later this week or next.

[2017-01-04 10:12] JohannesPfeifer commented on #1201
@stepan-a I would also suggest to add a test case like `tests/example1_use_dll.mod` that checks whether a model with more than 32 brackets returns the same result as with `use_dll` where the substitution does not take place.

[2017-01-04 15:40] JohannesPfeifer commented on #821
Closed by manually merging #1354

[2017-01-04 15:40] #821 closed

[2017-01-04 15:40] JohannesPfeifer commented on #1077
Closed by manually merging #1354

[2017-01-04 15:40] #1077 closed

[2017-01-04 22:27] stepan-a commented on #1201
@JohannesPfeifer Added integration tests in commit 11962c0a21185dccef1c358dc1a1646b95b0b2f1. It works as expected.

[2017-01-04 22:29] #1349 closed

[2017-01-05 05:52] #1356 closed

[2017-01-05 08:03] #1255 closed

[2017-01-05 08:08] #1318 closed

[2017-01-05 09:44] #1367 closed

[2017-01-05 17:19] #1201 closed

[2017-01-06 10:59] houtanb commented on #1286
@stepan-a, this is a reminder to merge this branch

[2017-01-06 16:01] houtanb commented on #841
I ran the test suite on this branch and the following three tests failed:
- `estimation/fs2000_initialize_from_calib.mod`
- `deterministic_simulations/multiple_lead_lags/AR2.mod`
- `deterministic_simulations/multiple_lead_lags/AR2_forward.mod`
because they each had one exogenous variable that was declared and included in the `shocks` statement but was not referenced in the `model` block (`e_f` for

[2017-01-08 19:04] #944 closed

[2017-01-09 13:14] houtanb commented on #841
In response to @MichelJuillard comment on #1046 (bringing the conversation here for posterity): I think this would align well with the `nostrict` option. We could say that, if `nostrict` is passed to `dynare` then any unused exogenous variables that are later referenced in a statement will pass, as is currently the case.

I also want to revisit the implementation I made on this branch. I will try

[2017-01-09 16:52] JohannesPfeifer opened #1373 "Decide on whether evalute_smoother (and others) should set M_.params"
This picks up the discussion in https://github.com/DynareTeam/dynare/pull/1372#issuecomment-271336355

I agree with @MichelJuillard that changing `M_.params` in various functions is a bad idea as it makes it hard to trace what was going on in the mod-file. At the same time, I agree with @rattoma that keeping `M_.params` unchanged when calling `evaluate_smoother` would imply a break with previous v

[2017-01-09 16:57] MichelJuillard commented on #1373
@JohannesPfeifer you right. This was an unfortunate design when we introduced option parameter_set without thinking about side effects from the global in the function. I think it is better to insure backward compatibility

[2017-01-09 18:57] stepan-a commented on #1286
@houtanb I have the impression that this branch needs more work before merge... In some trivial situations Dynare stops on the first error (for instance if a semicolon is missing in the model block).

[2017-01-09 23:31] houtanb commented on #1286
@stepan-a that's a syntax error and has nothing to do with this issue. This issue is only about undeclared variables used in the model block.

[2017-01-10 15:01] houtanb commented on #841
abc77c2 causes the preprocessor to stop with an error whenever an exogenous variable has been declared but not used in the `model` block. Passing the `nostrict` option to `dynare` reverts to the current behavior.

[2017-01-10 16:07] houtanb commented on #841
This passes the test suite save three cases:
- `moments/example1_var_decomp.mod`
- `deterministic_simulations/multiple_lead_lags/sim_exo_lead_lag.mod`
- `deterministic_simulations/multiple_lead_lags/sim_lead_lag.mod`
The first test fails because of `junk` and the last two tests fail because `z_shock` is declared but unused in the rest of the `.mod` file.
@JohannesPfeifer do these extra variables s

[2017-01-17 11:23] JohannesPfeifer opened #1377 "Decide on treatment of qz_criterium in estimation with particle filter"
Currently, if a unit root is present, estimation with `order=2` will result in an error. Using `diffuse_filter` will disable the check, but obviously makes no sense for particle filtering. See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=13126

[2017-01-18 14:17] houtanb commented on #841
I have looked at the changes I made previously and simplified them. @MichelJuillard the logic is, if there is at least one extra exogenous variable:

1. The preprocessor stops with an error when the `nostrict` option has been passed
1. The preprocessor continues the way it currently does if the `nostrict` option is passed.

To clarify, yet to be added, is code that will remove the extra exogenous

[2017-01-23 17:03] houtanb opened #1380 "stop storing index for symbols in SymbolTable"
We store the variable `size` in `SymbolTable` when we can have access to this info by changing `symbol_table` into a vector and use the size method when we need to know how many symbols are present

[2017-01-25 13:30] JohannesPfeifer commented on #1368
This seems to have been a misunderstanding of the user. I replied on the forum.

[2017-01-25 13:30] #1368 closed

[2017-01-25 13:30] JohannesPfeifer commented on #1287
@stepan-a You mentioned that you already have a fix that you could push.

[2017-01-25 13:33] JohannesPfeifer commented on #1293
@houtanb I think you can close this issue. @stepan-a fixed the unit tests via https://github.com/DynareTeam/dynare/commit/0b1b87316031550623d5deff88446dda8096acef and you did the manual

[2017-01-25 16:41] stepan-a commented on #1359
Working on the `dseries` class I realized that I introduced the ability to instantiate `dseries` objects from Matlab tables in July (see [2244ffc](https://github.com/DynareTeam/dseries/commit/2244ffc6eefc94e7d1679b8fe525bbcd6fbb9180)). But this is only available in the master branch, which is still not used in Dynare because of a bug in Octave's implementation of the OOP. So I suppose we have to w

[2017-01-25 16:55] #1293 closed

[2017-01-25 21:28] #1287 closed

[2017-01-26 09:12] stepan-a commented on #1328
I am not able to reproduce my own problem... I close.

[2017-01-26 09:12] #1328 closed

[2017-01-27 14:25] houtanb opened #1384 "do not automatically create *_set_auxiliary_variables.m on preprocessor run"
As `*_set_auxiliary_variables.m` is sometimes empty, it does not make sense to create it on every run. Only create it if something will be written to it.

This change requires either a flag in `M_` to be tested every time the function is called in the code or to test `exist('./*set_auxiliary_variables.m') == 2` and take the appropriate action in the code.

[2017-01-27 23:48] #841 closed

[2017-01-31 08:28] rattoma commented on #1016
@JohannesPfeifer
On point 1 [neighborhood_width]: I agree to put a warning.

On point 2: Morris sampling method is not well suited for performing Monte Carlo filtering tests, which are in fact triggered by rmse.
Indeed it would be interesting to provide Morris measures associated to rmse's, but since these are not implemented, then better just to skip that kind of analysis.
So, the idea is that Mo

[2017-01-31 09:40] JohannesPfeifer commented on #1162
As discussed in #1372, some dataset features may require information on trends/deflators. They currently access only `M_`. The question is then where to exactly store trend information required in various contexts

[2017-01-31 10:04] JohannesPfeifer commented on #1016
@rattoma Generally, if there is an incompatibility between options, I would always provide an error, but never override user settings.

[2017-01-31 12:13] rattoma commented on #1162
@JohannesPfeifer thank you. I think the point here may also go beyond dataset, but also to allow users to add trends to latent/unobserved variables that have been removed by `trend_var` in the model.

[2017-01-31 13:23] rattoma commented on #1016
@JohannesPfeifer OK. will do

[2017-02-02 10:54] houtanb opened #1386 "implement syntax to declare model variables on the fly"

[2017-02-02 10:55] houtanb opened #1387 "create JSON output after every step of the preprocessor"

[2017-02-02 12:11] houtanb commented on #744
superseded by #1387

[2017-02-02 12:11] #744 closed

[2017-02-02 15:50] houtanb commented on #1387
endog, exo, exodet, param, trend, external_function: list of dictionary `[{"name":"x", "tex name":"", "long_name":"", ...}...]`

equations: list of dictonary: `[{"equation":"x+y";tag:{"abc":"def";...}}...]`

statements=list of dictionary `[{}]`

The first statements to be created will be...
initval, histval, endval,param init: list of dictionary `[{"name":"x"; "value":number}...]`

[2017-02-03 10:51] rattoma commented on #1016
I should have fixed this in my last PR

[2017-02-03 10:54] JohannesPfeifer commented on #1016
@rattoma #1388 provides error messages for incompatible settings, but keeps the critical parts outlined above inteh file. Can it be that these statements can now never be reached?

[2017-02-03 11:03] rattoma commented on #1016
@JohannesPfeifer the critical statements can be reached if the user leaves GSA to its default. Then, sensitivity default options need to be re-set with Morris. So such statements need to be there to fix default behavior.

In the traps I only check options EXPLICITLY set by the user.

[2017-02-03 11:05] JohannesPfeifer commented on #1016
@rattoma Perfect. Good to know. Thanks for the clarification.

[2017-02-05 16:51] JohannesPfeifer opened #1389 "Check detrending engine"
The mod-file
[code]
from http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=14206 does not run with
[code]
but the relevant equation
[code]
should have the trends specified (as far as I can see). `g1/g2=((X*N)^(1-epsilon))/((X*N)^(2-epsilon)=(XN)^(-1)`, which is the trend for `PStar`.

[2017-02-06 16:52] houtanb commented on #1387
To create JSON output after parsing is completed, call dynare with `dynare <file>.mod json`. The JSON output will be saved in `<file>.json`.

To be done:
- [ ] finish writing output for all statements
- [ ] allow JSON output to be created after every preprocessor step (parsing, check pass, transform pass, computing pass
- [ ] create JSON output for static and dynamic files

[2017-02-07 10:31] houtanb opened #1390 "create option to suppress preprocessor output to stdout"
Suppress this:
[code]

and stuff like this....
[code]

This would make it easier to read json output when the `jsonstdout` option is passed.

[2017-02-09 10:13] JohannesPfeifer commented on #1252
Related to the problems I am experiencing on Windows, I now got the following exception:

[code]
Maybe it provides any clues to what might be going on. If I read this correctly, the problem occurred when trying to generate random numbers (`srand`).

[2017-02-09 11:20] houtanb opened #1392 "fix ramsey_model syntax"
@MichelJuillard Currently `ramsey_model` accepts a list of symbols in the syntax and the `RamseyModelStatement` accepts a `symbol_list` but nothing is done with it. Furthermore, there's no reference to the `symbol_list` form in the manual. Is there a reason you added support for `symbol_list` to `ramsey_model` in d945395a15, e90859ba524abfcb570d6cf09394ce86b4405090, and 17477ab095bb4f9b24d0da5ec5c

[2017-02-10 09:50] houtanb commented on #1392
In email exchange, we decided to make this change **after** having released Dynare 4.5

[2017-02-12 15:55] albop opened #1394 "JSON: incorrect printing of expressions for parameter initializations."
When parameter initializations contains expressions, symbols are replaced by references to `M_.params` instead of symbol name.

For instance, in `example1.mod` if we replace line `rho   = 0.95;` by `rho = 0.95+alpha*0.00001;` we currently get:

[code]

instead of:
[code]

It works correctly for variable initializations.

[2017-02-13 13:05] #1394 closed

[2017-02-24 16:50] houtanb opened #1397 "preprocessor: static params derivatives don't use temporary terms"
see `kim2_static_params_derivs.m` produced by `identification/kim/kim2.mod`

[2017-03-01 11:24] #1397 closed

[2017-03-01 14:45] houtanb commented on #694
Superseded by #1387 (JSON output)

[2017-03-01 14:45] #694 closed

[2017-03-02 14:33] houtanb commented on #1387
This ticket can be closed once the `json` branch has been merged into `master`

[2017-03-07 12:35] houtanb opened #1398 "replace equation cross references with those done for json"
Replace original version done in 4976b2b3359688e9b1d000bdf05f95d5b6071ac3, f546368252 with those done in 0ccc82300c3046d159554c24027ded09a93b687e

The changes in 0ccc82300c3046d159554c24027ded09a93b687e contain information on lags whereas the original ones don't

[2017-03-08 12:59] JohannesPfeifer opened #1400 "Investigate dseries problems in parallel execution"
When executing the attached file, which runs the ```UseParallel``` feature of ```fmincon```, a crash results because the dseries data is transformed to a structure:
[code]

[SW.zip](https://github.com/DynareTeam/dynare/files/827628/SW.zip)

[2017-03-10 11:55] tholden commented on #1400
I have encountered this issue previously too. I recall hacking in a fix to my dynare and dseries forks (quite a while ago), but I doubt it's very elegant.

[2017-03-10 12:06] stepan-a commented on #1400
We have two branches in the `dseries` repository. In Dynare/master we use the branch where the class is implemented with the old OOP interface. The master branch (of `dseries`) uses instead the new OOP interface. I need to test your file with this to see if the master branch fixes the issue. This branch is still not used in Dynare because of a bug in the implementation of the new interface in Octa

[2017-03-10 12:41] tholden opened #1401 "Dynare should give warnings when priors are unbounded"
It is generally a bad idea to have a prior with unbounded density, as even with reasonably tight identification, such a prior can easily swamp the likelihood. This is particularly problematic when the prior is unbounded at the edges of its support, as then the mode will be driven to the edge, causing further problems with Hessian computation.

At present in Dynare, it is a bit too easy to inadvert

[2017-03-10 13:05] stepan-a commented on #1401
@tholden I am not convinced that a user who does not pay attention to the plots of the densities (which pop up at the beginning of the estimation) will give more attention to a warning... We also have the same issue with the gamma prior.

[2017-03-10 13:09] JohannesPfeifer commented on #1401
@stepan-a I am also not convinced, but I don't think it would hurt. We already provide a warning if the beta prior is bimodal. Providing an additional warning would be almost costless

[2017-03-10 13:26] JohannesPfeifer commented on #1389
@houtanb You assigned a bug label here. Did you already find out what is going on?

[2017-03-10 14:07] stepan-a commented on #1401
Okay. I have to check for the Gamma distribution, I do not remember under which threshold for the variance we obtain an asymptote.

[2017-03-10 14:08] JohannesPfeifer commented on #1401
@stepan-a I am working on it right now

[2017-03-10 14:09] houtanb commented on #1389
@JohannesPfeifer  no

[2017-03-10 14:19] JohannesPfeifer commented on #1401
@stepan-a @tholden As we explicitly compute the relevant hyperparameters, the check is straightforward (and equals the conditions for the mode being at a corner in `compute_prior_mode.m`).
For future reference, the conditions are spelled out at http://www.math.uah.edu/stat/special/Gamma.html and http://www.math.uah.edu/stat/special/Beta.html

[2017-03-10 14:32] JohannesPfeifer opened #1403 "Decide on changing prior in fs2000.mod"
https://github.com/DynareTeam/dynare/commit/b14cf33c8ffe936c3c3ad79846335e918be7fb77 changed the prior for `rho` in the integration tests to not have an asymptote. But this change was not ported to the `fs2000.mod` in the Dynare `examples`-folder. Following the discussion in #1401, we warn users against using such a prior. Therefore, I would propose to change the prior in the `examples`mod-file as

[2017-03-10 15:10] tholden commented on #1401
@stepan-a This occurred to me after being passed a MOD file in which prior density plotting had been suppressed. It's hard to predict the eccentricities of users!
@JohannesPfeifer Thanks for implementing this so quickly!

[2017-03-10 16:01] #1398 closed

[2017-03-10 16:52] JohannesPfeifer opened #1404 "Fix bug in sim1_linear"
`sim1_linear.m` seems to return wrong results. The following mod-file calls different solvers in sequence, using the previous result as the respective starting value.
[code]
But the result of the nonlinear solvers has non-zero residuals in the linear solver and vice versa, while the nonlinear solvers seem to have consistent results.

[2017-03-15 15:33] #1401 closed

[2017-03-15 15:52] #1403 closed

[2017-03-17 11:46] stepan-a opened #1406 "Add interface for #1372"
@houtanb To identify the needed modifications look at #1372 and the new entries in the reference manual.

[2017-03-17 14:37] #1373 closed

[2017-03-18 15:32] #1016 closed

[2017-03-20 08:37] JohannesPfeifer opened #1407 "Keep track of whether smoother results are in logs and adjust smoother2histval accordingly"
See #1396

[2017-03-20 10:09] stepan-a opened #1409 "Add an interface for setting initial condition of the Kalman filter"
See discussion in #1395.

[2017-03-20 11:10] JohannesPfeifer commented on #1225
Matlab R2017a seems to not support 32bit mex-files anymore (see http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=14705)

Thus, it seems we need to upgrade following the steps at https://de.mathworks.com/help/matlab/matlab_external/upgrading-mex-files-to-use-64-bit-api.html

[2017-03-20 11:14] JohannesPfeifer opened #1410 "Make master mex-files compatible with Matlab R2017a and adjust installer for Windows"
Following the discussion in #1225, Matlab R2017a seems to require a change in mex-file compilation.
This also implies that the commit https://github.com/DynareTeam/dynare/commit/4f3b35acbaaa23ad81d5200f68eacbbd9c9b98b6 is not correct, because we need a different set of 64bit mex-files going forward, starting with version `9.2`.

[2017-03-20 11:18] houtanb commented on #1225
@JohannesPfeifer I believe your message on July 17 is accurate. The 32-bit API is still available by passing the flag `-compatibleArrayDims`, it's just that mex files are now built against the 64-bit API by default. For more details, see the table under "MEX builds with 64-Bit API by default" on https://www.mathworks.com/help/matlab/release-notes.html

[2017-03-20 11:23] JohannesPfeifer commented on #1225
@houtanb Yes, but I would prefer to go full 64bit going forward. Also, we need to distinguish two things:
1. The precompiled mex-files we ship with Dynare. It seems with R2017a we (again) lose compatibility with all older Dynare version (as the user reported for 4.4.3). This will require changes in the build-system, I guess.
2. Compilation at run-time when e.g. using `use_dll`. Changes here should

[2017-03-20 11:38] JohannesPfeifer commented on #1409
We need a `filter_initial_state` block that follows the syntax of the `observation_trends` which was
[code]
The difference is that now we only allow setting state variables as in `histval`-blocks (same consistency checks apply). Within the bracket, we should allow for any valid expression of constants and parameters as for `observation_trends`.

The biggest question is the structure for storing th

[2017-03-20 14:35] stepan-a commented on #1404
@JohannesPfeifer Okay. Sorry for not responding sooner to this... The difference you report is obviously expected because the model is non linear . The `sim1` routine is replaced `sim1_linear` if the `linear_approximation` option is used. If the model is non linear we expect a difference, precisely because we only simulate an approximated model. The problem is that the option `linear` triggers `li

[2017-03-20 15:23] JohannesPfeifer commented on #1404
@stepan-a I would not remove this. The design for `model(linear)` has always been to use the fastest available algorithm. Of course, over the years we had problems with making sure that the model was truly linear. But this is not a reason to change the solution approach, but to make sure the setup is really linear (which we should be able to do easily)

[2017-03-20 15:33] stepan-a commented on #1404
As you wish... But I am not sure that it is so easy (We need not only to check that these operators are appearing in the model, but also that they operate on endogenous variables. Also it easy to write an inequality constraint that never binds). The fix will wait 4.6.

[2017-03-20 15:37] JohannesPfeifer commented on #1404
@stepan-a I wouldn't overthink it. If you want to use these operators, do not say your model is linear. I wouldn't go so far to check whether constraints bind.

[2017-03-20 15:49] JohannesPfeifer commented on #1410
A user at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=14705 reports that Windows does not seem to be affected after all. So we should put this on hold until we get access to R2017a ourselves.

[2017-03-20 16:02] JohannesPfeifer commented on #1377
@stepan-a Any thoughts on this?

[2017-03-20 16:15] stepan-a commented on #1377
@JohannesPfeifer  Unit roots are problematic because of the initial condition of the filter. In the case of a nonlinear filter we use by default the ergodic distribution of the states (which is not definite in presence of a unit root). But other initialisation are available. For instance we can initialize the filter with a diagonal covariance matrix or a covariance matrix estimated with a stochast

[2017-03-20 16:31] JohannesPfeifer commented on #1377
@stepan-a @FredericKarame Then I would go for a more informative error message for now and deal with this once people start requesting this feature more.

[2017-03-20 16:31] stepan-a commented on #1410
I have just tried successfully all the mod files in the example folder with the last snapshot under windows 7 with R2017a...

[2017-03-20 16:33] JohannesPfeifer commented on #1410
Then only macOS is affected. Closing the ticket.

[2017-03-20 16:33] #1410 closed

[2017-03-20 16:35] JohannesPfeifer commented on #1364
@stepan-a Is there a way we can fix this for `4.5`?

[2017-03-22 14:15] houtanb opened #1414 "make commands independent of one another"
Allow users the possibility to bypass the current situation where an option set in one command is perpetuated into other commands when the user doesn't explicitly pass the option again. e.g. In the following case, the second call to `command` will have options 1, 2, and 3 set even though only 2 and 3 were passed:
[code]

Introduce a new syntax such as
[code]
which would tell the preprocessor to re

[2017-03-22 14:16] houtanb opened #1415 "rewrite dyn_saveas, dyn_figure to take the options they need as arguments"
This is a first step in the long road to completing #1414

[2017-03-24 09:21] #1415 closed

[2017-03-24 12:56] #1406 closed

[2017-03-27 11:11] houtanb opened #1425 "create interface for initial_condition_decomposition"
See #1421

[2017-03-31 11:20] #1425 closed

[2017-03-31 11:21] houtanb commented on #1425
@rattoma interface created. Please tell me if you need any changes. I took the best guesses I could for the modifications to `matlab/initial_condition_decomposition.m`.

[2017-04-03 08:46] houtanb commented on #1409
@stepan-a can this be done for 4.5 or should we wait for 4.6?

[2017-04-03 09:44] #1377 closed

[2017-04-03 12:26] JohannesPfeifer commented on #1409
@houtanb @stepan-a I don't think it's realistic to have this fully implemented for 4.5. Nevertheless, I would like to continue to work on this once the preprocessor part is done.

[2017-04-03 12:27] houtanb commented on #1409
@JohannesPfeifer ok, I'll do the preprocessor part this week

[2017-04-03 14:10] houtanb commented on #1409
@JohannesPfeifer in `histval` blocks we do not have consistency checks regarding the type of variable set. The only checks we do are made when `all_values_passed` has been set. In this case, we ensure that all endogenous and exogenous variables have been assigned in `histval`...

[2017-04-03 14:19] JohannesPfeifer commented on #1409
@houtanb When you run
[code]
you will get
[code]
So there must be a check.

[2017-04-03 14:25] houtanb commented on #1409
@JohannesPfeifer you are right. The check was just not where I expected it to be. Thanks

[2017-04-03 15:20] JohannesPfeifer commented on #1409
@houtanb Sorry, I totally forgot about this. We of course need to pass lags as well in `filter_init_state`. So an example of the syntax presumably should be something like
[code]

[2017-04-03 15:38] stepan-a commented on #1409
@houtanb, this will have to wait 4.6. Please, if you do something do it in a separate branch.

[2017-04-03 15:53] houtanb commented on #1409
@JohannesPfeifer we allow both endogenous and exogenous variables in `filter_initial_state`? If so, then do you want separate Matlab matrices to store them, as with `histval`? Also, I guess you want the lag in the first column and the expression in the second, is this correct?

[2017-04-03 16:27] JohannesPfeifer commented on #1409
@houtanb I don't think we need to take care of exogenous variables here. The initial state is about predetermined variables, i.e. the ones decided one period in advance. The exogenous variables are states, but are decided at time t and are therefore not taken as fixed by the Kalman filter. Lags of exogenous variables are a different matter. But for stochastic problems (at least as far as I can see

[2017-04-03 16:31] houtanb commented on #1409
@JohannesPfeifer and the lag information?

[2017-04-03 16:34] JohannesPfeifer commented on #1409
@houtanb Do you think we need it? I thought everything is the first lag due to auxiliary variables. A name like `AUX_EXO_LAG_14_2` in the first column should convey all information and one can look up the associated lag in `M_.aux_vars.orig_lead_lag`

[2017-04-03 18:06] JohannesPfeifer commented on #1245
Last status: @FerhatMihoubi needs to check whether the issue has been completely closed by 5f85d3a

[2017-04-04 10:09] houtanb commented on #1409
@JohannesPfeifer the change is on the `filter_initial_state` branch. Please tell me if there are any problems.

[2017-04-04 10:25] houtanb commented on #1404
@stepan-a is it ok with you if I implement the check that @JohannesPfeifer proposes? I would change the warning message to be: `warnings << "WARNING: you are using a function (max, min, abs, sign) or an operator (<, >, <=, >=, ==, !=) in a model declared 'linear' which may be unsuitable in a stochastic context; see the reference manual, section about \"Expressions\", for more details." << endl;` s

[2017-04-04 11:55] JohannesPfeifer commented on #1404
@houtanb The present problem does not arise in a stochastic context, but in perfect foresight. As far as I can see, no warning is triggered in this case. The proposal was to issue a warning like the above one if one declares `linear` with any nonlinear operator regardless of context.

[2017-04-04 14:11] #477 closed

[2017-04-04 14:15] houtanb commented on #1404
@JohannesPfeifer I agree. I had misread your comment above. I thought that was the check you were proposing. I had not seen that you said "a check similar to..."

[2017-04-04 14:18] houtanb commented on #1404
How's this for a proposed warning: `"WARNING: you have declared your model 'linear' but you are using a function (max, min, abs, sign) or an operator (<, >, <=, >=, ==, !=) which potentially makes it non-linear.` Please suggest modifications to the warning message and, if @stepan-a agrees, I'll make the change.

[2017-04-04 21:28] JohannesPfeifer commented on #1404
@houtanb The message is perfect for me. @stepan-a What do you think?

[2017-04-04 21:39] stepan-a commented on #1404
@houtanb please apply the patch, it's fine with me.

[2017-04-05 09:13] houtanb commented on #1404
A more complete will be made in 4.6 following @stepan-a 's [earlier comment](https://github.com/DynareTeam/dynare/issues/1404#issuecomment-287796888)

[2017-04-05 18:13] JohannesPfeifer opened #1431 "Port write_equation_tags to write_latex_static_model and write_latex_original_model"
See https://github.com/DynareTeam/dynare/commit/14f4544a29eac182ff1f5840e5f9cc78b9efa7e0#commitcomment-21632978

[2017-04-07 09:08] houtanb commented on #1409
@JohannesPfeifer have you been able to look at this? If it's ok I'll close the ticket.

[2017-04-07 10:59] JohannesPfeifer commented on #1409
@houtanb I will try to look into it soon. Would it be possible to get a Windows snapshot of this branch? That would make my life easier.

[2017-04-07 11:04] houtanb commented on #1409
@JohannesPfeifer technically yes. @stepan-a has created a cross-compiler here: https://gitlab.com/DynareTeam/dynare-build though I'm not sure if we all have access to the necessary libraries. I'll try that after lunch.

[2017-04-07 12:30] houtanb commented on #1409
@JohannesPfeifer I don't have the rights on one of the needed repositories to create a snapshot. Wi will have to wait for @stepan-a (who is on vacation) to do this....

[2017-04-07 13:16] JohannesPfeifer commented on #1409
@houtanb Two things:
1. Was it a deliberate choice to put `filter_initial_state` into `options_` instead of `M_`?
2. It seems expressions are evaluated by the preprocessor instead of saving the expression as text. If I put
[code]
into `fs2000.mod`, the second column contains a number (5.801) instead of the whole RHS as text.

[2017-04-07 13:38] houtanb commented on #1409
@JohannesPfeifer 1 is fixed in 0ed5ab5bfe88be8e4eb7f0600a17fe165fadf072. For 2, do you want it to be exactly as you have written there or do you want the variable names to be replaced with their associated arrays and indices? i.e.
[code]
or
[code]

[2017-04-07 13:42] JohannesPfeifer commented on #1409
If you could do the replacement from parameter names to `M_.params()` that would be great. Note that variable names should not be allowed

[2017-04-07 13:46] houtanb commented on #1409
@JohannesPfeifer done in 642f8c86c179a02ea9fe3e48c79b20e67a576793

[2017-04-07 14:41] JohannesPfeifer commented on #1409
@houtanb Thanks. It looks good to me now.

[2017-04-07 14:43] #1409 closed

[2017-04-09 18:31] JohannesPfeifer opened #1434 "Check ksstat option of sensitivity"
It seems to be superseded by e.g. `pvalue_ks`. See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=17952
While it appears in `stab_map_.m` is seems to not be used at all.

[2017-04-10 09:41] houtanb commented on #1389
@JohannesPfeifer I don't see the error. If you agree with the following, I'll close the ticket.

The detrended equation being tested is (too many parenthesis because this output is rough code I wrote for debugging purposes):
[code]
The log of said equation:
[code]
The first derivative wrt `X`:
[code]
The nonzero second derivative wrt `Pstar`:
[code]

[2017-04-10 10:21] houtanb commented on #1286
Was closed by #1381

[2017-04-10 10:21] #1286 closed

[2017-04-13 13:48] houtanb commented on #1389
From an email from @JohannesPfeifer dated 10 April 2017

[2017-04-14 10:11] JohannesPfeifer commented on #838
@rattoma @houtanb The problem seems to be still operative, see Joris's post at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6373

[2017-04-14 10:15] houtanb commented on #838
@JohannesPfeifer of course, the change was made in the master branch. Nothing has changed in 4.4.3

[2017-04-14 10:18] JohannesPfeifer commented on #838
@houtanb As Joris was building from source in a different post, I assumed (maybe incorrectly) the he was using the unstable.

[2017-04-14 10:19] houtanb commented on #838
@JohannesPfeifer Ah, this was not clear to me on this post. In this case, what you repsonded in the forum is correct. It would be helpful to @rattoma to have as much information as possible so he can recreate the problem locally. I guess he'd need the parallel configuration files, the mod file, data files, etc...

[2017-04-20 16:38] houtanb commented on #1389
With @stepan-a we decided to fix this in 4.6. But, for the 4.5 release, since we agree there is a problem with the test, we will change the error message to a warning and allow processing to continue.

[2017-04-20 16:54] JohannesPfeifer commented on #1389
@houtanb @stepan-a Fine with me. But do we already have a problem diagnosis?

[2017-04-21 07:50] #1337 closed

[2017-04-21 08:02] JohannesPfeifer commented on #780
Seems to be solved with #1412

[2017-04-21 08:02] #780 closed

[2017-04-21 08:38] stepan-a commented on #1154
The second problem does not pop up with Octave 4.2.1 (I did not try with 4.2.0), but we still have the rank failure error if we do not use the mex file.

[2017-04-21 08:54] stepan-a commented on #1154
... And I do not see how we could fix the condition number issue in Octave's implementation of `linsolve`.

[2017-04-21 08:56] JohannesPfeifer commented on #1154
@stepan-a Is this a bug in Octave?

[2017-04-21 11:25] stepan-a commented on #1154
@JohannesPfeifer Sorry I closed the issue inadvertently. I do not know if this is a bug or a change of behaviour in Octave. Digging further, it seems that the problem comes from the call to `qz`. If I remove the part specific to Octave in `mjdgges.m` your mod file runs smoothly and I obtain the same results with matlab or with the mex file (I checked with other mod files). But in this case the gen

[2017-04-21 12:56] JohannesPfeifer commented on #1154
@stepan-a I filed a bug report with Octave: https://savannah.gnu.org/bugs/index.php?50846

[2017-04-21 13:22] houtanb commented on #1389
@JohannesPfeifer just that the test is not correct...

[2017-04-21 13:24] JohannesPfeifer commented on #1389
@houtanb But in which cases? And what is the mistake in the test?

[2017-04-21 13:27] houtanb commented on #1389
@JohannesPfeifer we have not gotten that far. Only that this change can wait until 4.6 and we want to make 4.5 soon. Since we know that in some situations it's not correct, we left the warning but removed the exit so that processing can continue.

[2017-04-21 14:46] JohannesPfeifer commented on #838
@houtanb It seems we can close the issue

[2017-04-21 14:54] JohannesPfeifer opened #1437 "Speed of Kalman filter in unstable vs 4.4.3"
Joris reports at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6373&start=15#p37426 that  4.4.3 runs Bayesian estimation a lot faster than the current master. Profiling `fs2000.mod`, the culprit seems to be https://github.com/DynareTeam/dynare/pull/1088/commits/05fc096569e15e89d8d13b08799321c0313b168d where we made the Kalman filter more robust against ill-conditioned matrices. This seems to ha

[2017-04-21 15:26] #838 closed

[2017-04-21 16:35] stepan-a commented on #1154
@JohannesPfeifer I have found a fix. Now I am able to run your example, and obtain correct results. I will push the fix this week-end. Basically I removed all the lines specific to Octave in `mjdgges.m`, as I said earlier, but I force the complex QZ factorization by converting `e` and `d` into complex matrices. Without this transformation the generalized eigenvalues returned by Octave are plain wr

[2017-04-22 12:47] stepan-a commented on #1154
@JohannesPfeifer ad21612967f41a60be01994d7423ca3893e11dc6 fixes the issue on Linux. Can you try on Windows ?

[2017-04-22 12:50] JohannesPfeifer commented on #1154
@stepan-a Yes, that did the trick. Should we add the call to `mjdgges.m` with the `e` and `d` of this mod-file as a unit test for this function?

[2017-04-22 13:32] stepan-a commented on #1154
@JohannesPfeifer Okay. I can add a unit test, to test the number of stable eigenvalues and the rank condition. I don't think that it would be wise to build a test on the values of the eigenvalues (which can be very imprecise when they are far from one). I close this issue and open another for the unit test (assigned to me).

[2017-04-22 13:32] #1154 closed

[2017-04-22 13:32] stepan-a opened #1438 "Write a unit test for mjdgges (m implementation)"
Based on matrices E and D from the example contributed  by @JohannesPfeifer  in #1154.

[2017-04-22 14:11] stepan-a commented on #1437
@JohannesPfeifer The univariate filter is very slow... But we already have an option to prevent Dynare from switching to the univariate filter automatically. I wonder if the solution is not to have the patch proposed by @rattoma as an option (the drawback is that it would make the code even more obscure). I need to do the timing myself, I am a bit surprised by the difference you report on the foru

[2017-04-22 14:15] stepan-a commented on #263
@houtanb Is this TeX issue fixed?

[2017-04-22 14:48] stepan-a commented on #1307
I close and open an issue in the [dynare-build](https://github.com/DynareTeam/dynare-build) project.

[2017-04-22 14:48] #1307 closed

[2017-04-22 14:50] stepan-a commented on #1304
@houtanb what is the status of this issue?

[2017-04-22 15:16] #1336 closed

[2017-04-22 15:21] stepan-a commented on #1210
@houtanb What is the status of this issue?

[2017-04-22 15:28] stepan-a commented on #1179
Moved to issue [#3](https://github.com/DynareTeam/dynare-build/issues/3) in [dynare-build](https://github.com/DynareTeam/dynare-build) project.

[2017-04-22 15:28] #1179 closed

[2017-04-22 15:30] stepan-a commented on #789
@houtanb and @rattoma Can we close this issue?

[2017-04-22 15:31] JohannesPfeifer commented on #1210
@stepan-a It's still unmerged, because we do not have an option actually using this.

[2017-04-22 15:33] JohannesPfeifer commented on #789
@stepan-a No, it still needs to be done and should be in 4.5. I may be able to do it this weekend.

[2017-04-22 15:36] #755 closed

[2017-04-22 15:36] JohannesPfeifer commented on #1304
@stepan-a The ticket is still open. But without mex-files for Octave 4.2 I cannot test it.

[2017-04-22 15:37] #546 closed

[2017-04-22 15:41] stepan-a commented on #1304
@JohannesPfeifer We already provide 32bit mex for Octave... But I never tested them on Windows. I need to modify the build system to provide also 64bit mex files. I filled an issue on [dynare-build](https://github.com/DynareTeam/dynare-build) project.

[2017-04-24 16:53] JohannesPfeifer opened #1439 "Fix bytecode memory problem introduced in #1420"
#1420 changed the memory allocation. Since then `ramst_normcdf_and_friends_static` fails with
[code]

[2017-04-24 17:27] stepan-a commented on #1439
@FerhatMihoubi This is the bug I mentioned by email a couple of weeks ago. Any ideas?

[2017-04-26 14:40] stepan-a commented on #758
Fixed in 63d31572677315705978ac507b87ef2f7ce8c74f.

[2017-04-26 14:40] #758 closed

[2017-04-26 15:20] stepan-a commented on #1304
@JohannesPfeifer Starting this evening the snapshot will include 32bit and 64bit mex files for Octave 4.2.1. I am not sure this solves the current issue but users reported that 32bit mex files were not working with Octave 64bit. I do not use 64bit addresses, because my understanding is that the official 64bit Octave release still uses 32bit indexing. We could obviously distribute a custom version

[2017-04-27 08:50] JohannesPfeifer commented on #1304
@stepan-a
1. You are right that the 64bit version of Octave still does not support large arrays.
2. https://github.com/DynareTeam/dynare-build/issues/1 did not complete the issue as far as I can see. There is no `octave32` directory. My hunch is that the Windows installer at https://github.com/DynareTeam/dynare/blob/master/windows/dynare.nsi needs to be adjusted as well

[2017-04-27 09:23] #1437 closed

[2017-04-27 09:30] stepan-a commented on #1304
@JohannesPfeifer Sorry, I only checked the ZIP archive... Where the `mex/octave32` and `mex/octave` are present. I need to adjust the `dynare.nsi` script.

[2017-04-27 09:46] JohannesPfeifer commented on #1437
@stepan-a Does this mean you could confirm the speed loss?

[2017-04-27 10:00] stepan-a commented on #1304
I fixed the `nsi` file in dec9d6d90004d8df5558cd7c8a3b2ea529d01eb0.

[2017-04-27 10:05] #789 closed

[2017-04-27 10:12] stepan-a commented on #1437
@JohannesPfeifer Yes, the speed loss was as you reported. The commit fixes this issue. The master branch is now faster than 4.4.3 (because we evaluate less often the objective function). The default behaviour, w.r.t. the potentially badly scaled prediction error covariance matrix, is the same as in 4.4.3.

[2017-04-27 11:14] rattoma commented on #1437
@JohannesPfeifer @stepan-a thank you. this is very helpful

[2017-04-27 12:38] JohannesPfeifer commented on #1389
The logic of the test is described in http://www.dynare.org/DynareWiki/RemovingTrends

[2017-04-29 16:23] JohannesPfeifer commented on #1434
Closed by #1441

[2017-04-29 16:23] #1434 closed

[2017-04-29 16:24] JohannesPfeifer commented on #1431
@stepan-a Can you please reopen this ticket. The commit message to #1441 was wrong and this ticket was inadvertently closed.

[2017-04-29 16:29] stepan-a commented on #1431
@JohannesPfeifer Done.

[2017-04-29 21:46] #1364 closed

[2017-04-30 07:06] #641 closed

[2017-05-16 13:42] JohannesPfeifer opened #1452 "Update info for building from source"
Particularly on Mac when not using homebrew (e.g. for own branches), some package versions may be too new. For example, Bison 3 does not work. Instead one needs 2.7 or so. According to @houtanb one can use
[code]
But the `readme.md` only states one needs `Bison, version 2.5 or later`, which is not correct. A similar issue may be true for `Flex`

[2017-05-18 10:55] JohannesPfeifer opened #1453 "Fix bug introduced in issue 1336"
In 7829a252387d6da559b37b37797bf5fa4330f6ad related to https://github.com/DynareTeam/dynare/issues/1336 we set `order=1` locally in `stochastic_solvers`. While that speeds up the solution, the subsequent functions do not know that `order` was locally changed. That crashes e.g. `disp_dr` and `th_autocovariances`, because they are looking for `dr.ghs2` which would be there at `order=2`

[2017-05-19 16:37] JohannesPfeifer opened #1454 "Make dynare_version and ver_less_than work with Master"
`dynare_version.m` on the unstable version returns strings like `master-2017-05-18-95da783`. This way of providing a version number is not compatible with our functions like `ver_greater_than`, which rely on purely numeric output. But MacroModelBase relies on `dynare_version.m`

[2017-05-19 23:37] stepan-a commented on #1454
I move the issue to DynareTeam/dynare-build#7.

[2017-05-19 23:37] #1454 closed

[2017-05-23 10:00] raspatan opened #1455 "Error when installing Dynare in Ubuntu 16.04"
I couldn't install Dynare 4.3.3 on Ubuntu 16.04. I am using Matlab 2017a. [Here](https://paste.ubuntu.com/24632092/) is the full log file with the error. This is the last bit of the code:

[code]

There is a bug open in launchpad [here](https://bugs.launchpad.net/ubuntu/+source/dynare/+bug/1580761).

[2017-05-23 10:14] houtanb commented on #1455
I think you mean Dynare `4.4.3`. My first guess is that your Matlab is too recent for the dynare package as we have not updated the packages in the Dynare repository in a couple of years. See: http://www.dynare.org/DynareWiki/InstallOnDebianOrUbuntu

If you'd like to use Dynare with Matlab R2017a on Ubuntu, your best option is to compile it from source following the instructions here: https://gith

[2017-05-23 10:14] #1455 closed

[2017-05-27 11:25] stepan-a commented on #1454
@JohannesPfeifer I fixed the build system. Now `dynare_version()` returns `4.6-unstable-GIT_SHA` in the snapshot version, `4.5.0` in the stable version, and `4.5.x-beta~y-GIT_SHA` for the beta releases of the stable version.

[2017-05-27 17:35] JohannesPfeifer commented on #1454
@stepan-a Perfect. Works like a charm.

[2017-05-27 17:47] JohannesPfeifer commented on #1452
The problem is related to symlinking and not to the version. #1461 should close the issue.

[2017-05-27 17:58] JohannesPfeifer commented on #1407
@stepan-a Could you please add the bug label?

[2017-05-27 19:09] JohannesPfeifer commented on #1113
Under Windows, everything seems to be working properly. Closing the ticket

[2017-05-27 19:09] #1113 closed

[2017-05-29 09:25] #1452 closed

[2017-06-02 16:14] spcatterall opened #1463 "Errors in code in mh_optimal_bandwidth.m"
It appears to me that there is an error in line 146 of mh_optimal_bandwidth.m:
    `g3 = abs(2*correction*k6(0)/(mu21*Itilda4*correction))^(1/9);`

This line should be identical to line 113:
     `g3 = abs(2*correction*k6(0)/(mu21*Itilda4*number_of_draws))^(1/9);`

Also, all references to 'n' in lines 135-152 should be replaced by 'number_of_draws'.
[I've recently written code in R which performs

[2017-06-04 19:42] #1453 closed

[2017-06-06 11:35] stepan-a commented on #1463
@spcatterall Thanks for spotting this. I don't think 146 and 113 should be the same, because just before (line 144) I redefine and normalize the correction with the number of observations. Maybe I should remove line line 144, the code would be easier to read.

[2017-06-06 12:22] spcatterall commented on #1463
@stepan-a Thanks for your reply. If my understanding of the code is correct, I still think that lines 146 and 113 should be the same. Line 113 forms part of the computations for the bandwidth=-1 option. In this case, the correction factor is computed earlier using the correction_for_repeated_draws function, and the correction factor is normalised at the end of this function (line 177). So, line 14