[2013-02-20 15:29] sebastien-villemot opened #3 "When the steady state computation fail, give the user a possibility to see where the computation stopped"
Request by Pascal Jacquinot.

[2013-02-21 11:50] sebastien-villemot opened #8 "Benchmarks with various BLAS libraries"
We should test the 5 options:
- reference BLAS
- generic ATLAS
- customized ATLAS
- generic OpenBLAS
- customized OpenBLAS

The tests should be performed on a few hardware and on a few interesting models. The results should be put on a Wiki page.

[2013-02-21 11:53] sebastien-villemot opened #9 "Improve wiki page on coding guidelines"
http://www.dynare.org/DynareWiki/CodingStandards

We could add things like:

- no commented code (git already stores the history)
- no mexprintf
- use asserts
- write short functions
- pass-by-reference whenever possible

[2013-02-21 11:54] sebastien-villemot opened #10 "Retrieve the source code for PDFs in user guide"
We should contact Tommaso about that issue.

[2013-02-21 14:40] sebastien-villemot opened #17 "Update user guide"
For DSGE-net.

[2013-02-21 14:40] sebastien-villemot opened #22 "Expand specification of priors (i.e. priors on relative variances between 2 shocks)"
For the IMF.

[2013-02-21 14:40] sebastien-villemot opened #23 "Add Estimation DLL"
For DSGE-net.

[2013-02-21 14:40] sebastien-villemot opened #27 "Finite element solution method"
For the IMF.

[2013-02-21 14:41] sebastien-villemot opened #38 "Allow k-order and estimation DLL to use bytecode for the model evaluation"
Currently, k-order DLL and estimation DLL only work with use_dll option.

This constraint could be easily relieved by calling the M-file of the model from within the DLL, using mexCallMATLAB().

For the bytecode, a similar trick could be done, provided that support is added for 2nd and 3rd order derivatives.

From the implementation side, the idea would be to create an super class of DynamicModelD

[2013-02-21 14:41] sebastien-villemot opened #51 "Add new command to create dynamic model file with given options, when there is no simul/stoch_simul..."

[2013-02-21 14:42] sebastien-villemot opened #58 "Implement constrained parameters for osr"

[2013-02-21 14:42] sebastien-villemot opened #72 "2nd and 3rd order approximation of purely backward and forward models"
- need to write specialized code for 2nd and 3rd order approximation of purely backward and forward models

[2013-02-21 14:42] sebastien-villemot opened #79 "Some Dynare++ tests fail"
Some unit tests of Dynare++ fail:
 * in the integ library
 * in the kord library

Moreover, the kord tests take a VERY long time.

We need to check with Ondra how to fix these tests.

[2013-02-21 14:43] sebastien-villemot opened #106 "Document prior distributions"
The document from Stéphane is probably the one to use.

It should be added to the doc/ subdirectory, then to the build-system and to the packaging.

[2013-02-21 14:43] sebastien-villemot opened #111 "Add the possibility to solve underdetermined models"
When the Blanchard-Kahn conditions are not satisfied because the model is underdetermined, it is possible to select a solution among the infinity of solutions, provided we impose more restrictions.

We can implement the solution of Lubik and Schorfheide, “Testing for Indeterminacy:An Application to U.S. Monetary Policy” (AER, 2004), see http://ideas.repec.org/p/jhu/papers/480.html

[2013-02-21 14:43] sebastien-villemot opened #113 "Metropolis: add adaptive hybrid MCMC"
See Ingvar Strid & Paolo Giordani & Robert Kohn “Adaptive hybrid MCMC for
DSGE models” (2010) presented at the Dynare Conference 2010.

[2013-02-21 14:44] sebastien-villemot opened #122 "Lower and upper bounds on priors used for two purposes"
The p3 and p4 parameters of estimated_params are currently used for two distinct purposes:
- specifying the domain of definition of the prior (uniform, generalized beta and gamma)
- restricting the optimization for the posterior mode on a sub-domain of the definition of the prior

This double usage of the same values is confusing, and makes some cases impossible to describe in a MOD file (example:

[2013-02-21 14:44] sebastien-villemot opened #136 "complete implementation of "shock_decomposition""
add options for grouping shocks together and for choosing the set of parameters to be used

[2013-02-21 14:44] sebastien-villemot opened #146 "Global method: Chebychev polynomials"

[2013-02-21 14:44] sebastien-villemot opened #148 "Integrate dr_block.m into the new structure for stochastic solvers"

[2013-02-21 14:47] sebastien-villemot opened #220 "add a homotopy mode for simul() and for steady with endval"
Currently homotopy only exist for steady with initval.

These features would be useful for GIMF at the IMF.

[2013-02-21 14:47] sebastien-villemot opened #236 "Add a user friendly frontend to simult_"
The idea is to give an user-friendly way to perform simulations of a model using custom series of shocks; this is a recurring request.

[2013-02-21 14:47] sebastien-villemot opened #238 "Add interface for convergence tolerance criterions (and maybe rename internal options)"
Currently we have 4 options for convergence criterions:

- options_.dynatol.f
- options_.dynatol.x
- options_.solve_tolf
- options_.solve_tolx

The first two are for the deterministic solution, the last two for the steady state.

We should add a preprocessor interface to these options.

Also, it would make sense to rename them for more homogeneity. I suggest the following renaming scheme:

- optio

[2013-02-21 14:48] sebastien-villemot opened #254 "UnivariateSpectralDensity.m must be implemented to preprocessor and documented."
The SpectralDensity option of stoch_simul is neither documented nor implemented in the preprocessor.
It could be implemented as an option of stoch_simul().

Alternatively, we could use a preprocessor command along the lines

spectral_density_decomposition(plot=integer,cutoff=number,step_length= number);

which translates into

options_.SpectralDensity.trigger = 1;
options_.SpectralDensity.plot  =

[2013-02-21 14:48] sebastien-villemot opened #255 "Check for consistent use of dataset_.descriptive.mean vs. bayestopt_.mean_varobs in smoother and estimation"
Currently, both structures are still present. prior_posterior_statistics.m sets

bayestopt_.mean_varobs = dataset.descriptive.mean';

to have both. Thus, use should be made consistent and storage be confined to one structure. As the mean of the data belongs to the dataset and not the estimation, the dataset_ structure is better suited than bayestopt_.

[2013-02-21 14:48] sebastien-villemot opened #261 "Option to require that all endo/exo are initialized in initval"
Implement a new option to initval command, "all_values_required". The preprocessor would stop and reports which endogenous or exogenous variable has not been explicitly initialized if any (instead of using a default zero value).

Request from the IMF for GIMF

[2013-02-21 14:48] sebastien-villemot opened #263 "latex variable with exponent causes compilation error"
See: http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=3846

Quick fix is to require users to place brackets around latex
variables containing exponents (and probably underscores)

Complete fix is to place braces around variables with lead/lags and those variables with no lead/lag but that are followed by an exponent. In the user's case, we would output: B^problem_t-1^\rho

[2013-02-21 14:48] sebastien-villemot opened #267 "design an interface for assigning moment/irf contraints (e.g. sign constraints)"
Currently there is no way of setting a set of constraints to irfs or moments of DSGE model to feed to some calibration procedure like Monte Carlo filtering in the sensitivity analysis toolbox.

Indeed the threshold_redform option in sensitivity analysis would only allow to set, e.g., the SAME sign constraint to a set of irfs, which is not very handy.

So, we may think to the following syntax for s

[2013-02-21 14:48] sebastien-villemot opened #270 "Determinant computation in marginal_density.m looks sub-optimal"
In marginal_density.m, the determinant is computed (at three places) using the det() function. This function is known to be less precise than a Cholesky-based determinant computation when the determinant is close to zero.

Stéphane thinks that the Cholesky was used before, so we need to understand why this has changed, and therefore whether we can go back to the Cholesky.

Issue reported by Gilles

[2013-02-21 14:48] sebastien-villemot opened #284 "check values returned by likelihood functions and their use in calling functions"
check value of fval when returned by DsgeVarLikelihood.m and non_linear_dsge_likelihood.m.
Check the use of fval and exit_flag in the functions calling dsge_likelihood.m, DsgeVarLikelihood.m and non_linear_dsge_likelihood.m

[2013-02-21 14:49] sebastien-villemot opened #288 "Expand information stored about model variables in preprocessor"
From Michel:

In the preprocessor, we need the full analysis of the dynamic structure of the model. Lists of lagged variables, forward variables, variables that are both lagged and forward, static variables.

Currently, this analysis is done in `set_state_space.m` except when `block` option is used, then @FerhatMihoubi does it in the preprocessor.

We need to think about the structure in which to

[2013-02-21 14:49] sebastien-villemot opened #297 "Dynare (stable) and Slicot packages for RHEL 6"
Request from Gianni Lombardo and Petr Man from ECB.

[2013-02-21 14:49] sebastien-villemot opened #298 "make check: add timing information of tests"
Add information to each .trs file about how long the test took to run

In the make check summary, list the 10 tests that took the longest

[2013-03-17 09:58] JohannesPfeifer opened #318 "Add more information about auxiliary variables to M_.aux_vars"
For auxiliary variables, the Dynare preprocessor appends the new equations after the ones provided by the user. Currently, the easiest way to see what they contain is to use the `write_latex_{static,dynamic}_model' commands. This will also reveal the match between auxiliary variables and what they replace. But accessing this information is rather cumbersome.

I would suggest to add the string of t

[2013-03-20 09:35] rattoma opened #330 "ReshapeMatFiles"
ReshapeMatFiles is currently used only for posterior IRF's. For large models it is a huge bottle-neck which is probably useless. The approach followed in prior_posterior_statistics.m is to use the pm3 utility that takes the data needed for plots from the non-reshaped files. Such a procedure is in the end much less time consuming than the ReshapeMatFile.

The current pm3 utility is not easily exten

[2013-03-20 10:27] JohannesPfeifer opened #331 "Add reset option to shocks-block"
Currently the only way to set a different covariance matrix of structural shocks and measurement errors is to manually set all elements that differ from the previous shocks-statement. It would be nice to have something like
[code]
that sets all elements of the M_.Sigma_e and M_.H to 0 before filling it again with the entries of the shocks-block.

[2013-03-20 19:08] JohannesPfeifer opened #332 "Add functionality to compute function on posterior"
Currently, it is very hard to compute a user defined function on the posterior draws. A user asked me if we could add a functionality where the user specifies a function name which is executed on each posterior draw when we compute posterior moments. For such a function call, we would need to clearly specify the interface. We might want to provide M_, oo_, bayestopt_, estim_params_ and the current

[2013-03-21 21:48] JohannesPfeifer opened #337 "Update manual section 5: The Configuration File"
The manual is highly confusing and seems outdated compared to the Wiki
http://www.dynare.org/DynareWiki/ParallelDynare
For example, the configuration file is case sensitive, but the manual uses the wrong COMPUTER NAME instead of the correct ComputerName as indicate by the Wiki. Moreover, a link to the Wiki might be helpful.

[2013-03-21 22:46] JohannesPfeifer opened #338 "Clarify and potentially disentangle role played by conf_sig"
According to the manual, conf_sig by default is 0.9 for forecast, but after global_initialization, it is 0.6. conditional_forecast has an option with the same name and default 0.8 according to the manual.

[2013-03-26 18:50] JohannesPfeifer opened #341 "Block certain user-specified names in the preprocessor"
Allowing for a variable names like i may generate spurious crashes, particularly when used in conjunction with a steady state file as i is both the imaginary number and often the index variable of a loop.
A similar case happens when someone names his data-file data or when he uses the mod-file name for the data-file. If the datafile for bkk.mod is named bkk.xls and the user only specifies data_fil

[2013-03-28 12:09] stepan-a opened #347 "Use dynSeries in Dynare."
Use dynSeries objects for the dataset considered for estimation and for some of the outputs (IRFs, forecasts, ...) stored in oo_. See branch [use-dynSeries] [1].

  [1]: https://github.com/DynareTeam/dynare/tree/use-dynSeries       "use-dynSeries"

[2013-04-07 08:08] MichelJuillard opened #357 "testsuite: modify prior for rho in fs2000XX.mod"
The current prior implies a vertical asymptot at 0. This becomes indeed the theoretical posterior mode. This unwanted result is now found in one case at least by mode_compute=5. More importantly, we warn users agains using such priors.

[2013-04-10 15:23] JohannesPfeifer opened #364 "Potentially make PosteriorIRF obey irf_shocks"
The ```irf_shocks ``` option of  estimation restricts the generation of IRFs in  ```PosteriorIRF_core1 ```, but has no effect on  ```PosteriorIRF_core2 ``` and  ```PosteriorIRF ```, which always iterate over ```M_.exo_nbr ```. While this does not affect the number of plots as only IRFs>10^(-6) are plotted and they were initialized to 0, there may be a computational gain in not computing posterior

[2013-04-24 14:07] sebastien-villemot opened #375 "Support optional features of MatIO on Windows and Mac"
The Windows binary currently comes with a matio compiled without zlib and HDF5, which means that it cannot read/write compressed MAT files nor 7.3 MAT-files.

The Mac binary is in the same situation.

Fixing this would first require compiling static versions of zlib and HDF5 for the 2 platforms.
Then `-lhdf5 -lz` would have to be added to `LIBADD_MATIO` or, better, we could use `pkg-config` in ax_

[2013-04-27 05:49] JohannesPfeifer opened #378 "Make estimation set the mode-file-option to empty unless specified otherwise"
If a mode-file has been specified once, it will always be reloaded in all subsequent calls to estimation, thereby overwriting the MCMC results set with set_all_parameters(xparam,estim_params_,M_) and will conflict with the estimation of other specifications where e.g. the parameters to be estimated have changed.

The check currently always is
``` isempty(options_.mode_file) ```

Also, setting mode

[2013-06-04 07:53] JohannesPfeifer opened #419 "Expand model_diagnostics to test whether the model is truly linear"
Often users specify model(linear), but don't enter all FOCs correctly. Testing in model_diagnostics whether all equations are linear and displaying the wrong equations would provide a valuable diagnostic tool. Alternatively, the preprocessor could check whether the Hessian g2 is a zero matrix if the linear option is specified.

[2013-06-27 08:01] JohannesPfeifer opened #435 "Potentially automatically detect non-stationary model and change QZ criterium"
While the manual states that ```kalman_algo``` automatically uses the correct filter for stationary and nonstationary models, this case never seems to happen. If the user does not specify that the model is non-stationary, initial_estimation_checks will throw out an error, because the QZ criterium is too high for the BK conditions to be satisfied. It might be a good idea to check in ```initial_esti

[2013-07-02 08:58] sebastien-villemot opened #439 "Bytecode does not enforce positivity constraint on irreversible investment model"
In the following RBC model with irreversible investment, the positivity constraint is not enforced if simulated with block+bytecode. On the contrary, if block+bytecode is removed, the classic deterministic solver gives the right result.

[code]

[2013-09-25 14:06] rattoma opened #477 "use of tags in write_latex_dynamic_model"
would it be  possible to add tag info in the write_latex_dynamic_model, e.g. by inserting a simple text line with tags info before each equation?

[2013-10-22 10:02] JohannesPfeifer opened #503 "Check use and precedence of jscale and document it."
The use of ``` bayestopt_.mh_jscale ``` and ``` bayestopt_.jscale ``` as well as ``` options_.mh_jscale ``` is confusing an potentially buggy (see also http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=5072). In ``` dynare_estimation_1 ``` we use
[code]
to read out the ``` mh_jscale ``` from a previous run of ``` mode_compute=6 ```. But this is after ``` dynare_estimation_init ``` where the ``` mh_

[2013-10-22 13:25] JohannesPfeifer opened #504 "Discuss and document the load_mh_file option"
The current behavior of the ``` load_mh_file ```-option with it recomputing the mode, the Hessian, and the scale-factor by default seems counterintuitive. Given the fixed seed, one should get the same results, but there is the risk of them changing between the reloaded chain and the new elements to be added and thus having a chain with difffering proposal densities. We should at least document thi

[2013-11-05 10:17] MichelJuillard opened #520 "Weibull prior distibution"
CMR 2013 are using a Weibull prior distribution. I suggest to add it to the list of prior used by Dynare

[2013-11-06 16:17] JohannesPfeifer opened #525 "Check prior truncation"
There are two issues:

a) There are three cases where priors are/should be truncated in Dynare
1. If the user explicitly specifies this
2. If the prior for a correlation has mass outside [-1,1]
3. If prior for standard deviations has mass below 0.

#522 suggests to issue a warning in cases 2 and 3. However, the point where truncation is problematic is computing marginal data densities. I suggest t

[2013-11-14 09:36] JohannesPfeifer opened #532 "Improve Documentation of MS-BVAR"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=5139

[2013-11-15 21:03] JohannesPfeifer opened #534 "Discuss allowed use of endogenous variables outside of model-block"
Consider the mod-file
[code]
The definition
``` test=y*beta; ```
results in the preprocessor plugging in for the endogenous variable ```y``` with its yet uncomputed steady state, i.e. 0. Users thus can create a circular problem with the steady state of ``` y ``` depending on ``` test ``` with ``` test ``` depending on ``` y ``` - and would never notice the problem, because the definition does not

[2013-11-27 22:00] stepan-a opened #546 "Fix version compatibilty issues"
The organization of the (global) structure `oo_` saved on disk is not constant across dynare's versions. In some situations, for instance when we need to get informations about a previous estimation as in #544, this causes a crash because needed fields do not necessarily exist if `oo_` was generated by an older version of Dynare.

[2013-12-12 10:12] JohannesPfeifer opened #563 "Potentially change treatment of #-expressions in LaTeX - Code"
I have a mod-file where I use  `write_latex_dynamic_model;`
The file contains an expression

`#delta_2=delta_2divdelta_1*delta_1;`

We should try to add a way to define a LaTeX name for this expression. Moreover, I noticed that sometimes, the LaTeX-Code adds a time t-index to this expression although expressions cannot be lagged or leaded. This should also be removed if possible.

[2013-12-16 13:50] JohannesPfeifer opened #566 "Deal with stale files that are automatically loaded in computations of e.g. endogenous moments"
In the computation of endogenous moments, e.g. in ```correlation_mc_analysis``` we have statements like
[code]
Hence, all older files with endogenous moments are read out, regardless whether they stem from the current run or are older. This is very dangerous as those additional draws might be from different specifications. I would suggest to automatically delete those files upon running endogenous

[2014-01-03 08:27] JohannesPfeifer opened #573 "Fix bug in interaction of diffuse filter and stoch_simul"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=5248

[2014-01-24 11:29] JohannesPfeifer opened #585 "Fix simpsa"
Simpsa performs well with Bayesian estimation with well-defined priors. However, it is dangerous for ML estimation and Bayesian estimation with ``` prior_trunc=0 ``` where ```LB=-Inf``` and ```UB=+Inf``` . In that case, simpsa will produce garbage due to line 246 using
```P(k+1,k) = LB(k)+rand*(UB(k)-LB(k));```
The infinities in the bounds will lead to NaN in the computation. However, simpsa does

[2014-01-24 15:12] houtanb opened #586 "mssbvar: investigate bug with high number of perturbations"
mod files with a high number of perturbations cause Matlab to crash after some processing.

see emails from Stephane on 24 Jan 2014 8:56 AM

[2014-01-28 16:22] sebastien-villemot opened #595 "Improve performance of conditional forecast for deterministic simulations"

[2014-02-04 17:31] JohannesPfeifer opened #608 "Get rid of time index in LaTeX-code of model local variables"
As mentioned in #563, the LaTeX-Code sometimes adds a time t-index to model local variables althoug they cannot be lagged or leaded. This should also be removed. A MWE is
[code]
which results in
[code]

[2014-02-05 10:56] JohannesPfeifer opened #611 "Add conditional check for steady state in unit root models"
As detailed in #573, for unit root models ```options.steadystate.nocheck=1``` is set, which implies that there is no check for correctness of the steady state as there are theoretically infinitely many. However, conditional on the trending (exogenous) variable, the steady state should be unique. We should thus test whether this conditional steady state is correct as suggested by @stepan-a instead

[2014-02-17 09:00] JohannesPfeifer opened #617 "Fix translation of histval to one-lag problem"
For deterministic simulations with more than one lag, the translation to a problem with one lag for use in ```sim1``` does not work.

The mod-file
[code]
shows that the problem comes from ```M_.endo_histval```, which is set to
[code]
and thus has more than one initial period.

[2014-03-11 10:41] MichelJuillard opened #633 "Steady state of a Ramsey model is wrong in some cases"
If a Lagrange multiplier appears in the Ramsey model with a lead or a lag of more than one period, the steady state may be wrong.

[2014-03-24 16:28] sebastien-villemot opened #640 "Provide support for Cygwin 64-bit"
Recent versions of Cygwin include a 64-bit version, installed under `c:\cygwin64` by default.

We should support this configuration, at least in two places:
* when compiling MEX files with `use_dll`; see http://www.dynare.org/DynareWiki/ConfigureMatlabWindowsForMexCompilation
* in `README.md`, for people compiling from source

[2014-03-24 16:30] sebastien-villemot opened #641 "Support new MEX compilation under Windows (MATLAB >= 8.3/R2014a)"
In MATLAB 8.3/R2014a, the `mex` command has been rewritten. In particular, all the `mexopts.bat` logic is now obsolete (but still works, with a warning).

We should aim at supporting the new infrastructure.

See also http://www.dynare.org/DynareWiki/ConfigureMatlabWindowsForMexCompilation and issue #640.

[2014-03-28 16:21] houtanb opened #644 "support mcmc_* options wherever there's an mh_* option"
as mcmc is more general than mh. support mh_* for backwards compatibility.

[2014-05-13 10:47] JohannesPfeifer opened #651 "block the use of estimated_params_init and estimated_param_bounds when no estimated_params-block is present"
Otherwise, a crash results. See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=5638

[2014-05-17 13:23] JohannesPfeifer opened #655 "Fix unconditional_forecast values derived from conditional_forecast command"
The ```unconditional_forecast```-command seems to produce incorrect forecasts when used together with ```initval```. This can be seen in the following mod-file where it yields different results than the ```forecast```-command (which appear sensible).

[code]

The problem seems to come from lines 139-143 of ```imcforecast``` where the initial values are supposed to be translated into deviations fro

[2014-05-23 10:35] houtanb opened #657 "produce & print original model (without auxiliary variable substitutions)"
For inclusion in reports (or just general interest), produce the original model and be able to print it in latex.

Add option to include calibrated values in parentheses next to variables in the report.

[2014-06-02 12:07] JohannesPfeifer opened #662 "Update and fix gsa/set_shocks_param.m"
Apart from an obvious typo (```Sigma_e_``` instead ```Sigma_e```) it seems as if that file is still missing the update to reflect calibrated covariances (#511).

[2014-06-09 14:10] MichelJuillard opened #667 "rename hessian.m in dyn_hessian.m"
In order to avoid name collision with other Matlab program/toolboxe

[2014-06-18 12:44] JohannesPfeifer opened #670 "Fix handling of prefiltering and trends in non_linear_dsge_likelihood"
```non_linear_dsge_likelihood``` uses
```Y     = transpose(DynareDataset.rawdata);```
By accessing ```rawdata``` instead of data, prefiltering is ignored. Moreover, deterministic trends are not subtracted. I am not sure this is on purpose.

[2014-06-18 15:05] houtanb opened #671 "misc changes to dates/dseries"
- dates: rename ```time``` field to something more descriptive. Perhaps ```data```
- dates: remove ```ndat``` field. Should have method that provides this information instead
- dseries: remove ```nobs``` field. Should have method that provides this information instead
- dseries: remove ```vobs``` field. Should have method that provides this information instead

[2014-06-30 11:54] JohannesPfeifer opened #675 "Fix bug in dsge_likelihood related to analytic_derivation"
See http://www.dynare.org/pipermail/dev/2014-May/003793.html

[2014-06-30 11:57] JohannesPfeifer opened #676 "Fix compatibility of sensitivity and ML estimation"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=5681
Email to Marco:
[code]

[2014-06-30 12:04] JohannesPfeifer opened #677 "Deal with treatment of unit roots in identification"
[code]
The treatment of unit roots seems unsatisfactory.
First, one needs to specify
```options_.diffuse_filter=1; ```
because ```options_``` used in ```dynare_estimation_init``` does not inherit the ```lik_init``` from the ```identification``` command (used only in ```options_ident```) and also does not accept ```diffuse_filter```.
Second, some graphs are empty. My guess is because some unconditi

[2014-06-30 12:54] JohannesPfeifer opened #679 "Fix various bugs related to detrending and prefiltering"
- ```dyn_forecast``` adds unlogged steady state if ```loglinear``` is used
- ```dynare_estimation_init``` sets the ```noconstant``` based on the unlogged steady state if ```loglinear``` is used
- when trends are specified as a function of deep parameters, the values are not correctly updated during estimation due to using the base-workspace parameter values and not the updated local ones
- when us

[2014-07-01 16:36] JohannesPfeifer opened #681 "Improve model_comparison"
1. Currently, the default for the prior odds if not specified is a probability of 1 for all models, which is improper. We should change this to 1/Number of models to be compared. The default should also be more clearly documented in the manual

2. Model_comparison should provide a warning when only ML was used. The manual should also clarify that this is only possible with Bayesian estimation

3.

[2014-07-02 13:35] sebastien-villemot opened #684 "Add test and documentation for LMMCP solver"

[2014-07-17 09:07] houtanb opened #694 "create fortran preprocessor output"
dynamic and static files each as independent functions
model as a fortran module

[2014-07-18 14:18] houtanb opened #697 "change syntax for instantiation of year dates"
Currently, we can instantiate years as:
```t = dates(1, [1990; 1990; 1978], [1; 1; 1])```
but not as
```t = dates(1, [1990; 1990; 1978])```

In the case of years, the periods are irrelevant and so we should be able to declare a dates in the second syntax

[2014-08-12 17:10] tholden opened #706 "Preprocessor: @#for end of file bug"
If a file @#include-ed into another file contains a @#for loop for which the matching @#endfor is followed immediately by the end of the file, rather than by a new-line, then the pre-processor fails to find the @#endfor. To see this clone the repository https://github.com/tholden/DynareBugs/tree/master and then run dynare TestForLoopBug.mod . On Windows at least you will get an error saying it fai

[2014-08-12 17:11] tholden opened #707 "Preprocessor: Support creating empty arrays with [] (wishlist)"
It would be great if [] returned an empty array. (At the moment it produces an error.) Doing [ "" ] - [ "" ] is a bit cumbersome!

[2014-08-15 17:51] JohannesPfeifer opened #711 "Fix forecasting with exogenous deterministic variables in master and add unit test"
Forecasting with exogenous deterministic variables in master is broken. In the mod-file
[code]
```dyn_forecast.m``` still uses ```oo_.exo_det_simul```, but this variable is not set anymore.

We should also add a unit test for this case.

[2014-09-04 11:06] rattoma opened #720 "relative_irf"
Would it make sense to allow option relative_irf also in estimation for producing bayesian irfs?
Would it be possible to allow options to the new syntax
`irf_calibration(<options>)`

in particular would be fine to have the relative_irf option

`irf_calibration(relative_irf)`

[2014-09-13 10:11] JohannesPfeifer opened #727 "Add unit test and example for differentiate_forward_vars"

[2014-09-25 09:34] houtanb opened #744 "create Julia preprocessor output"
See #694

[2014-10-03 15:34] JohannesPfeifer opened #750 "Decide on treatment of prior truncation during estimation"
We need to decide on how to proceed, see https://github.com/DynareTeam/dynare/commit/aa503abfa79145efc0840c79210e795e1b76df84

[2014-10-09 10:00] JohannesPfeifer opened #754 "Enforce estimation to be fully Bayesian or fully ML"
Currently, we allow for mixtures in the estimated_params-block like
[code]
This leads to strange subsequent crashes like
[code]
We should check earlier whether priors have been defined for all variables or none.

[2014-10-10 05:07] JohannesPfeifer opened #755 "Investigate dseries bug under Octave"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6105

[2014-10-13 21:08] stepan-a opened #758 "Write specialized code for loading data..."
We should not use the same code if we load data with the "legacy approach" (`datafile` option of the `estimation` command) or if we use the `data` command. In the first case we should create a `dseries` restricted to the variables listed in `options_.varobs`. See PR #741.

[2014-10-26 17:06] JohannesPfeifer opened #764 "Fix initialization of variables in dynare_sensitivity routine"
Some of the variables are not properly initialized, grow within loops, and/or are not set in all cases. The ```ls2003a.mod``` from the tests-folder crashes with ```prior_range=1``` for example crashes because of this when no standard deviations are estimated, i.e. when using
[code]
With ```prior_range=0``` the respective field associated with estimated shocks is correctly set to an empty array and

[2014-10-29 10:51] JohannesPfeifer opened #766 "Deal with correlations in identification"
Currently, ```identification``` does not support specified correlations and simply crashes. We should either support this or block it. See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6156

[2014-11-02 19:07] JohannesPfeifer opened #773 "Fix preprocessor info on auxiliary variables"
See #770

[2014-11-11 09:03] houtanb opened #779 "add option opt_algo to osr"
It generally allows integer inputs for a case distinction and also takes a “function_name” string for user-provided files.

[2014-11-11 09:41] JohannesPfeifer opened #780 "Deal with options_.nobs and options_.first_obs in master"
With the new data interface, these fields are not always set, leading to crashes in different places. For example, recursive forecasting still relies on those fields. See also afb5be206741457a9b6383fa004bb3f208ed5d94
We need to decide on how to treat them. Are these field properties of the dataset to be moved into `dataset_`? Or are they to be used as options in other commands?

[2014-11-20 09:29] houtanb opened #789 "update default values for sensitivity options in doc"
It seems as though some default values in the documentation do not accord with the default values in `dynare_sensitivity.m`. e.g. `alpha_rmse`, `ksstat_redform`. Please review the defaults and update the manual.

[2014-11-25 15:44] JohannesPfeifer opened #803 "Be more flexible with calib_smoother command"
Currently, we do not allow ```prefilter```, ```loglinear```, and ```first_obs```. I think they are all valid options that can be easily handled within the current framework. The first step would be to add the preprocessor interface allowing these options.

[2014-11-26 09:28] JohannesPfeifer opened #804 "Factorize saving of smoother results used in dynare_estimation_1 and evaluate_smoother"
In ```dynare_estimation_1``` both the calibrated smoother and ML/MCMC without replications write the smoother results to oo_. The same holds true for ```evaluate_smoother.m```. I would propose to outsource this code to a separate function that is easier to maintain (in particular when working on #679). This would also make sure that the saving is consistent. Currently, I don't think the calibrated

[2014-11-26 10:59] houtanb opened #805 "Update Homebrew-science script to allow build from HEAD"

[2014-11-26 18:25] JohannesPfeifer opened #806 "Harmonize initval-file loading and update documentation"
```oo_.exo_simul``` is ```periods``` by ```exo_nbr```, i.e. a collection of column vectors. In contrast, ```oo_.endo_simul``` is ```endo_nbr``` by ```periods```, i.e. a collection of row vectors. This is confusing and leads to problems with initval-files where this needs to be taken into account. See
http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6261.
This should be harmonized in 4.5.
Moreover,

[2014-11-30 11:32] houtanb opened #811 "move reporting code to a different repository and include it as a submodule"
Emails on Nov 29, 2014

[2014-12-03 15:48] JohannesPfeifer opened #814 "Decide upon what to do stale mode_compute options"
In the process of factorizing the optimization calls (see #800), we should clean up. Currently, ```mode_compute==2,101,102``` are broken/not supported anymore. 2 and 102 are non-existing simulated annealings. I would propose to drop 102 and replace 2 by Matlab's
```simulannealbnd``` from the Global Optimization Toolbox. That way we would have at least one simulated annealing available.

I have no

[2014-12-09 09:07] JohannesPfeifer opened #820 "Clean up setting of bayestopt_.mf* in dynare_estimation_init"
The setting of fields like ```bayestopt_.mf0``` is present twice and seems partially recursive. This is confusing and error-prone. We should make sure there are not redundant definitions.

[2014-12-10 16:11] JohannesPfeifer opened #821 "Add flag if lyapunov_symm fails"
In models like the one at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6291
`lyapunov_symm` fails to solve the Lyapunov equation and outputs NaN. This error is not flagged and no exception thrown out, leading to subsequent crashes. We should add a check whether the solver was successful and only continue if so.

[2014-12-10 16:22] houtanb opened #822 "Investigate MS-SBVAR bug"
Email from Stéphane Lhuissier 10 Dec 3:32PM

[2014-12-12 13:21] JohannesPfeifer opened #823 "Clear up unused or stale files"
1.	In Master we have a function ```PosteriorFilterSmootherAndForecast.m``` that seems not be called by any other function. Can it be deleted?
2.	In Master, we have both ```rndprior.m```, used only in ```forcst_unc```, and ```prior_draw.m``` to draw from the prior. I would suggest to switch to the latter and delete the first one, because ```rndprior.m``` does not check for violation of prior bounds

[2014-12-16 18:51] JohannesPfeifer opened #828 "Investigate why mod-file using k_order_pert crashes Matlab"
The following mod-file crashes Matlab on different Windows and Dynare versions (http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6306):
[code]

[2014-12-20 12:15] stepan-a opened #834 "Build a test suite for large scale models."
The test suite should check the accuracy of the results and provide timings (for different algorithms). It would be nice if we could do that in a travis-ci like environment (with [jenkins](http://jenkins-ci.org) and [docker](https://www.docker.com)).

- [ ] Eagle
- [ ] Gpm
- [ ] Gimf
- [ ] FSGM

[2015-01-13 12:23] houtanb opened #838 "fix parallel on os x"
See: http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6373

respond there when fixed

[2015-01-14 15:05] houtanb commented on #773
See notes in ```preprocessor/SymbolTable.hh```
```eq_nbr``` is only set for ramsey multipliers
```orig_lead_lag``` is only set for lagged variables, despite the name. I don't know why as I didn't write this code, but the information is only tracked for lagged variables
```orig_index``` again, it seems to have been a choice not to print this.

@JohannesPfeifer, are these needed or did you just make

[2015-01-14 15:45] JohannesPfeifer commented on #773
@houtanb Yes, you are right with ```eq_nbr```. Forget about this.
It would be very helpful to generally set ```orig_lead_lag``` and ```orig_index``` as printing of error messages relies on this information. Currently, it is for example almost impossible to identify to which variable a replaced expectation operator refers to (type 4)

[2015-01-16 17:08] houtanb commented on #805
Merged.

[2015-01-16 17:08] #805 closed

[2015-01-22 15:44] JohannesPfeifer opened #841 "Investigate crash in bytecode due to incompatible dimensions of jacobia_"
See Email from 22.01.2015
The problem is due to some exogenous (e7, e8) being declared but not used in the model. Removing them solves the issue.

[2015-01-30 07:22] JohannesPfeifer opened #843 "Check why name GF is suddenly blocked in preprocessor"
The mod-file
[code]
stops in master with
[code]
For some reason, it thinks GF is a reserved name/token. It works in 4.4.3.

[2015-01-30 07:26] JohannesPfeifer opened #844 "Make sure order=3 implies k_order_solver in the preprocessor"
Currently, we set ```k_order_solver = 1``` if ```order=3``` within two functions: ```stoch_simul``` and ```simult_```. This approach is prone to problems. ```stoch_simul``` will not pass ```k_order_solver = 1``` to the ```options```-structure, because it is local to the function. When a user tries to directly call ```resol```, this will thus fail, see http://www.dynare.org/phpBB3/viewtopic.php?f=1

[2015-01-30 13:30] stepan-a commented on #843
GF is a value for option filter_algorithm in the estimation command. This option is new in master (the option is described in the manual), so it does not affect 4.4.3.

@houtanb Is it possible to have a keyword for an option local to a command (i.e. not to force option values to be reserved words)? I suppose I have done something wrong when I added these options for particle filtering...

[2015-01-30 16:56] houtanb commented on #843
@stepan-a yes, you could just make a general rule to test whether filter_algorithm is equal to a string and then in the check pass, make sure the string is valid. In the transform pass, you can set the options associated with the string

[2015-01-30 18:28] houtanb commented on #843
@stepan-a I just looked at it again. Why don't you set the defaults in global_initalization to 0? Then you only have to set one option when GF is passed?

In a sense, this is analogous to mode_compute, right? Can't we just have a number associated with each filter algorithm and make everything simpler?

Anyway, again, I'll look at this when I get back from vacation. Perhaps make a wiki page with y

[2015-01-31 00:09] MichelJuillard commented on #843
I think that an option possible values shouldn't be declared in
preprocessor, only the name of the option. The validity of an option
value should be checked in Matlab code, not the preprocessor.

Best

Mchel
Stéphane Adjemian writes:

--
Michel Juillard

[2015-02-09 02:05] houtanb commented on #843
@MichelJuillard is right. I looked at it too quickly and thought you were then outputing other option values based on these ones. I will make the fix, turning this into a string option, default ```'sis'```

[2015-02-09 02:21] #843 closed

[2015-02-10 02:40] #844 closed

[2015-02-11 02:36] houtanb commented on #841
The email, from Johannes

Hi Ferhat,

could you please have a look at the attached mod-file. It crashes with bytecode because the jacobia_ returned only has 92 columns while without bytecode it has 94. The problem is present in both master and 4.4.3

Best,
Johannes

[2015-02-12 17:11] JohannesPfeifer opened #846 "Provide inverse gamma prior with indeterminate moments"
We currently only allow specifying inverse gamma priors with finite/unique mean and variance. But Leeper/Walker/Yang (2010) in an influential paper use an inverse gamma prior with s=1 and nu=4 (parametrization as at http://en.wikipedia.org/wiki/Inverse-gamma_distribution), which implies non-existing first and second moments. I would suggest to provide a new prior ```inv_gamma_parametrized``` that

[2015-02-12 20:41] MichelJuillard commented on #846
I would permit it only with the new interface for prior declaration described here: http://www.dynare.org/DynareWiki/NewEstimation
In the old interface, I don't like the idea to use parameter 1 and 2 for anything else but mean and variance.
We need to check if the code for the distribution allows for case like s=1 nu=4

[2015-02-13 09:08] JohannesPfeifer commented on #846
How for out is the milestone for the new estimation interface? I see your point about the first two parameters being reserved for mean and standard deviations. That is why my proposal was to use a very explicit name for the distribution that makes clear we parameterize it using the shape and location parameter.

The current code for the distribution would already allow for this. For example, the r

[2015-02-16 07:33] houtanb commented on #657
@JohannesPfeifer, #318 is not related to this change.

Opening another ticket to allow for printing of calibrated values for ```write_latex_*_model``` commands

[2015-02-16 07:33] #657 closed

[2015-02-16 07:38] houtanb opened #847 "Add option to print calibrated values in latex reports"
for use in ```write_latex_*_model``` commands

[2015-02-16 08:55] JohannesPfeifer commented on #657
@houtanb #318 is indirectly related. I thought that when adding capabilities for not replacing auxiliary variables it might be easiest to also add capabilities for writing the name of Latex names of substituted variables to ```M_.aux_vars```. But I don't know the code that well, so it can well be that it is unrelated.

[2015-02-16 09:06] JohannesPfeifer commented on #711
Close through dfc89df6a8f5ff0f94c515934caf576088f5c5f6

[2015-02-16 09:06] #711 closed

[2015-02-18 02:14] houtanb commented on #828
Nor does it crash Matlab on Debian with dynare master. Must be Windows-specific

[2015-02-18 02:27] houtanb commented on #823
@stepan-a is it ok to delete ```PosteriorFilterSmootherAndForecast``` and ```forcst_unc```?

[2015-02-18 02:55] #706 closed

[2015-02-18 03:34] houtanb commented on #697
fixed in bd73f401ddb1360c4dba5155c526fa2c5bed9e58 in houtanb/dates (once pull request is approved)

[2015-02-18 14:13] JohannesPfeifer commented on #828
@houtanb Can I assist you with the next steps?

[2015-02-18 15:11] houtanb commented on #828
@JohannesPfeifer on OS X or Linux, I would start gdb and run matlab in batch mode, telling dynare to run this .mod file (i.e. ```matlab -logfile bug.log -r run_this_modfile```). Hopefully that would yield something. I guess you can do this on Windows, just don't know how.

[2015-02-20 13:26] sebastien-villemot commented on #755
@houtanb My impression is that the documentation of `csv2cell` is wrong, and that it perfectly supports files with more than 4096 bytes per line. I could verify this by looking at the source code of `csv2cell`. Also, I could correctly open the CSV file given by the bug reported mentionned at the beginning of this thread. So I think that your workaround should be reverted and that the bug experienc

[2015-02-20 13:29] sebastien-villemot commented on #755
Linking this bug to DynareTeam/dseries#2

[2015-02-20 13:35] sebastien-villemot commented on #755
Ok it's actually more complicated than that. Reading files with lines > 4096 bytes was working in the io package until version 2.2.5, in which this ability was broken.

[2015-02-24 10:21] houtanb commented on #697
Closed in 402a826300e4b674b3413bd514cf647e70499ac4

[2015-02-24 10:21] #697 closed

[2015-02-24 11:07] houtanb opened #848 "macroprocessor: add possibility to evaluate expression in @#include"
Currently, ```@#include``` expects a quoted string. Allow the user to also pass a macro expression or at least a macro value to the ```@#include``` expression.

Motivated by the following forum question:
http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6532&p=18600

[2015-02-24 13:49] #848 closed

[2015-02-24 15:41] #811 closed

[2015-02-27 11:39] JohannesPfeifer opened #849 "Make use_calibration option compatible with ML"
ML currently requires to specify explicit starting values inside of the ```estimated_params``` block, rendering the ```estimated_params_init``` block useless.

[2015-02-27 16:30] stepan-a commented on #849
@JohannesPfeifer Why? The ```estimated_params_init``` block is mainly used with the Bayesian approach. Do you mean that the preprocessor should return an error if this block is used when no priors are declared in the ```estimated_params block```?

[2015-02-27 17:24] stepan-a commented on #846
I agree with @MichelJuillard , this will have to wait for the new estimation interface (this summer).

[2015-02-27 17:57] stepan-a commented on #823
Done in commit 198a6ed7cfa2f6a7b713826299ac870ade9dbe1a.

[2015-02-27 17:57] #823 closed

[2015-02-28 14:17] JohannesPfeifer commented on #849
@stepan-a I am currently working on a model estimated with ML. I have about 40 parameters to be estimated and fully calibrated the model. If I were doing Bayesian estimation, I could simply use the ```use_calibration``` option of the ```estimated_params_init``` block. But for ML, I am forced to provide starting values, because the preprocessor complains. A more sensible restriction would be to onl

[2015-02-28 15:33] JohannesPfeifer commented on #780
@stepan-a I understand that you have a lot to deal with, but my tickets rely on this bug being fixed. If you find 5 minutes, could you please just fix this along the lines outlined above.

[2015-03-02 06:28] JohannesPfeifer commented on #255
#852 moves the setting of
```bayestopt_.mean_varobs = dataset.descriptive.mean';```
to ```dynare_estimation_init.m``` as other routines also need this info, even if no MCMC is run.

[2015-03-04 13:54] JohannesPfeifer commented on #779
Closed with #850

[2015-03-04 14:01] #779 closed

[2015-03-05 11:01] stepan-a commented on #849
@JohannesPfeifer, Okay. If you are able to estimate a model with ML without imposing upper and lower bounds, this makes sense. The only issue I foresee is that we should check that all the (estimated) parameters are effectively initialized (either in the ```estimated_params_init block``` or with the calibration). I am not sure that this can be handled only with the preprocessor. @houtanb can you r

[2015-03-05 11:12] stepan-a commented on #780
@JohannesPfeifer, I still have a problem with your proposed change. I tried to run a recursive estimation with fs2000.mod with the old data interface and it ran perfectly fine... So I do not understand the problem you are trying to fix. Can you point me to a mod file where the issue you are referring pops up?

[2015-03-05 13:31] JohannesPfeifer commented on #780
@stepan-a The issue in recursive estimation is gone by now. What remains is the problem in e.g. ```dyn_forecast``` and ```filt_mc_```. Just take the fs2000.mod and add the ```forecast``` option:
[code]
 You will see that the forecast graph does not show any lines. This is due to ```nobs``` being NaN.

[2015-03-05 13:40] JohannesPfeifer commented on #849
@stepan-a This should not be handled by the preprocessor. ```initial_estimation_checks``` should make sure that a valid vector is provided at the start of estimation, because it is also able to detect parameter dependencies from steady state files. If I understand this correctly, we are already doing this when calling ```test_for_deep_parameters_calibration(Model);```

[2015-03-05 13:54] stepan-a commented on #849
I agree. @houtanb, please, just remove the aforementioned restriction in the preprocessor.

[2015-03-05 15:24] JohannesPfeifer commented on #667
@stepan-a Your suggestion only works if you are the Stackelberg leader. When every toolbox requires to be on top of the path, they become incompatible. For that reason, I would like to rename both ```hessian.m``` and ```irf.m```. Particularly the latter is known to cause issues with LeSage's toolbox as evidenced by numerous posts in the forum.

[2015-03-09 12:26] JohannesPfeifer opened #853 "Deal with forecast uncertainty due to measurement error"
Currently, Bayesian forecasts completely neglect the presence of measurement error. Theoretically, is is not clear whether we should display
1. the true value of the underlying variable
2. the observed value of the variable including measurement error
While the mean forecast should be unaffected, the presence of measurement error should widen the uncertainty associated with forecasts. But this is

[2015-03-09 12:42] JohannesPfeifer commented on #853
Option 2 would be consistent with Christophel et al. (2010): Forecasting with DSGE models, ECB Working Paper 1185, www.ecb.europa.eu/pub/pdf/scpwps/ecbwp1185.pdf

[2015-03-09 17:18] sebastien-villemot commented on #617
I realize that the workaround implemented for this case no longer works. One now gets:
[code]

The problem appears for deterministic models with more lags on exogenous than on endogenous, when one uses `histval`. In that case, the matrix `oo_.endo_simul` is too small, because it does not have all the expected lags. The commit mentionned above in this bugreport was therefore probably not the right

[2015-03-09 17:20] sebastien-villemot commented on #617
Commit 4179e25e11f7b890c7d0ce30ead8d34d8d3483c3 is also linked to this issue.

[2015-03-12 12:03] rattoma opened #855 "preprocessor and matlab command lines"
I was trying to do tests on the current status of HEAD, but I am getting an error from the preprocessor, that does no longer allow to call matlab functions with multiple output arguments, like

`[out1, out2, out3] = function_name(bla1, bla2);`

the preprocessor complains with the following message

`ERROR: gemc.dyn: line 1686, col 15: syntax error, unexpected '[', expecting '.'`

is there a new wa

[2015-03-12 12:43] JohannesPfeifer commented on #855
@rattoma You should use the ```verbatim``` block. Its contents are not interpreted by the preprocessor. On a more fundamental level, a less restrictive way would be appreciated as there is currently no way to call a function with several output arguments within the ```steady_state_model```-block.

[2015-03-12 12:46] stepan-a commented on #855
I wonder if this is not a problem introduced by @houtanb's recent commit (30428aeb17162db8328d941491162fe3a6895041) where an interface to declare joint prior over a vector of parameters is defined. @houtanb can you check?

Also, because this issue was not detected by the test suite, it means that a test is needed for that. Could you make a PR in tests with a small example reproducing the issue?

T

[2015-03-12 12:49] JohannesPfeifer commented on #855
@stepan-a No. The commit was done in March, but I reported the same issue within the steady_state_model-block to @houtanb on February, 27

[2015-03-12 12:56] houtanb commented on #855
@JohannesPfeifer I understood that @rattoma's problem is in a .mod file outside of a block.

@rattoma can you send me a .mod file that creates with the line that creates this error?

[2015-03-12 13:05] rattoma commented on #855
@houtan. I just sent you the file by email (by the way, there is no way to attach files within this github discussion, right?).
I just added a stupid call

`[m, im] = min(rand(250,3));`

 in the otherwise usual `ls2003.mod` test file.

[2015-03-12 13:18] stepan-a commented on #855
@rattoma It is not possible to attach a file, but you can use a [Gist](https://gist.github.com) (a small github repository that is used to share small set of files editable online).

[2015-03-12 15:08] houtanb commented on #855
Here's the file: https://gist.github.com/houtanb/08f2f5d08659416f603f

It works just fine in OS X and Linux. Marco's problem is with the Windows snapshot. Need to check on Windows....

[2015-03-12 15:11] JohannesPfeifer commented on #855
@houtanb It works with the preprocessor of February 27, but fails with March 11 on windows.

[2015-03-12 15:24] houtanb commented on #855
@JohannesPfeifer or @rattoma can you test this .mod file with the March 2 snapshot and again with the March 3 snapshot? If it breaks with the March 3 but works with the March 2 then it is most likely my commit.

[2015-03-12 15:35] JohannesPfeifer commented on #855
@houtanb Done. It works before and stops after March 3.

[2015-03-12 15:39] houtanb commented on #855
@JohannesPfeifer thanks. I'm going to install a virtual windows machine now......

[2015-03-12 15:45] JohannesPfeifer commented on #855
@houtanb When you do this, could you also look #828?

[2015-03-12 15:48] houtanb commented on #855
will do...

[2015-03-16 10:45] houtanb commented on #855
I am unable to replicate this problem. I downloaded the 3-11 snapshot, ran the file from the gist above, and the preprocessor works fine (i.e., no error, and it recognizes the matlab code).

Running Windows 8.1, Matlab R2015a, though neither the Windows nor the Matlab versions should matter.

I will leave this open in case someone else wants to work on it.

[2015-03-16 10:48] houtanb commented on #828
Again, this works just fine with the 3-15 snapshot on Windows 8

[2015-03-16 10:57] rattoma commented on #828
I have windows 7. could this be a reason?

[2015-03-16 10:59] houtanb commented on #828
It would surprise me because the preprocessor file is the same across the two....

[2015-03-16 12:18] JohannesPfeifer commented on #828
@houtanb I just noticed a mistake in the file attached above. It should be ```order=3```. And the problem derives from the mex-files

[2015-03-16 12:20] JohannesPfeifer commented on #855
I encouter the problem with yesterday's snapshot on Windows 7. I will try Windows 8.1 when I am back home.

[2015-03-16 15:39] houtanb opened #857 "Investigate problem in .mod file"
http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6577
14 endos in .mod file but preprocessor sees 15

[2015-03-16 16:04] MichelJuillard commented on #857
It is exactly as reported in the preprocessor messages:

14 endogenous variables are declared and 1 auxiliary variable is added
because of k(2) [suspicious, probably doesn't use stock on end of
period basis]

there are only 13 equations in the model plus one auxiliary variable
definition

In addition there are two loose "end;" in the *.mod file

Houtan Bastani writes:

--
Michel Juillard

[2015-03-16 16:08] houtanb commented on #857
@MichelJuillard thanks for looking into this.

@JohannesPfeifer you can respond to the user with the info @MichelJuillard provided

[2015-03-16 16:08] #857 closed

[2015-03-16 16:14] JohannesPfeifer commented on #857
@houtanb Done. @MichelJuillard Thanks. I was stupid and counted a linebreak as two equations.

[2015-03-16 19:41] JohannesPfeifer commented on #855
I don't know why, but it works under Windows 8, but fails on any Windows 7 machine.

[2015-03-17 08:45] JohannesPfeifer commented on #828
@houtanb Here, Windows 8 is not the solution. The file still crashes Matlab.

[2015-03-17 10:23] houtanb commented on #828
Ok, with the change you made this crashes on OS X too. Will investigate.....

[2015-03-18 16:01] houtanb commented on #828
A TLException is thrown during the call to ```md.insert(mdTi);``` in ```KordpDynare::populateDerivativesContainer``` in ```k_ord_dynare.cc```.

I don't have a ready explanation as to why this exception is not caught, as all of this code is being called in a try/catch block and TLExceptions are among those exceptions that are caught

[2015-03-19 14:34] #855 closed

[2015-03-25 08:30] JohannesPfeifer opened #860 "Account for loglinear option with lagged/leaded exogenous variables"
The problem is that e.g. news shocks are incompatible with the ```loglinear``` option. The reason is that they require auxiliary variables with mean 0 so that taking the log of them is not possible. The easiest way to deal with this is probably state this explicitly in the manual and let the preprocessor throw out an error when ```loglinear``` is used and there there is a substitution of exogenous

[2015-03-26 14:53] houtanb opened #862 "support 32bit and 64bit preprocessors"
* if a 64 bit preprocessor is created, rename it to ```dynare_m64``` (32 bit remains ```dynare_m```)
* depending on whether the host OS is 32 or 64 bit, call the appropriate preprocessor from the matlab code

[2015-03-27 16:33] #862 closed

[2015-03-27 16:33] houtanb commented on #862
90e00b38712ebc226ce7a6774c998f01ce7ef779 also contains changes

[2015-03-30 13:16] stepan-a commented on #667
Ok. I fixed this in commit 0e1dd779b953971bcdc4b7318bb0ff1d48eff528. Dynare automatically (and temporarily for the current matlab session) change the path if needed (e.g. if Dynare's routines are overriden by routines provided by other toolboxes). I checked with Le Sage's toolbox.

[2015-04-03 09:29] houtanb opened #867 "add fan charts to reporting"
pass 3 series to the plot command

[2015-04-03 09:55] houtanb opened #868 "problem running modfile in octave from draw_prior_density.m"
http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6627

[2015-04-03 13:26] houtanb opened #869 "make sure tables in landscape mode expand to take up all the space possible"

[2015-04-03 13:28] houtanb opened #870 "allow the possibility to change the font size of the series in a table"

[2015-04-06 10:21] JohannesPfeifer opened #874 "Update license file"
We have massively changed the folder structure, but these changes are not reflected in the license file yet.

[2015-04-06 20:48] JohannesPfeifer commented on #806
Closed by #807

[2015-04-06 20:48] #806 closed

[2015-04-06 20:50] JohannesPfeifer opened #875 "Fix extended path with varexo_det"
As noted in #806 ```oo_.exo_simul``` is ```periods``` by ```exo_nbr``` while ```endo_simul``` has periods as the second dimension. This seems to be a problem for e.g. ```extended_path```. See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6675

[2015-04-07 10:02] houtanb commented on #874
@JohannesPfeifer feel free to make any further changes to the file as you see fit... otherwise, if I've gotten everything, let me know and I'll close the ticket

[2015-04-07 10:13] JohannesPfeifer commented on #874
Looks all set to me.

[2015-04-07 10:13] #874 closed

[2015-04-09 10:32] houtanb opened #877 "document set_time and data for dates"

[2015-04-10 11:17] JohannesPfeifer commented on #525
Summary:
a) 1. was fixed in f48566aeaef23671c7779535f1a129cc2d514a0c. Warnings for 2. and 3. have been added in #609.
b) Was a mistake on my part and posed no problem in the first place.

[2015-04-10 11:17] #525 closed

[2015-04-13 15:33] houtanb opened #879 "update doc for markov_switching"
```number_of_states``` should be ```number_of_regimes```

The ```restrictions```, ```number_of_lags```, and ```parameters``` options have not been documented

[2015-04-15 10:37] stepan-a opened #881 "Fix bug with tests/gsa/ls2003a.mod"
which causes a segmentation fault. See discussion in #880 and commit a7f0366980540d668a4b54bb8517798e1ae4deac.

[2015-04-15 11:45] JohannesPfeifer commented on #881
@stepan-a Did this happen in Octave or Matlab? I just ran the file on Matlab and it worked. On Octave however, the problem is that
[code]
To make it run, I used
[code]

[2015-04-15 12:44] stepan-a commented on #881
Thanks @JohannesPfeifer. The problem is on Linux/Matlab (I am not sure for Octave). I will give a try to these options.

[2015-04-15 16:18] stepan-a commented on #881
I checked that there is no problem on OS X (I think that's why I did not catch the bug yesterday). But on Linux the mod file returns a segmentation fault even with the option ```nograph```. I posted the content of the generated log file [here](https://gist.github.com/stepan-a/4f7925c52b8d59a061a0). @rattoma Do you have any idea?

[2015-04-15 18:34] rattoma commented on #881
I think that `nograph` does not work since I forgot to trap plots inside the option ...
So, I think it is a graphical issue: I generate and close a lot of files. Also I use `annotation` and `path` objects, which are two things that perhaps are not so commonly used in other dynare places?
One thing I would check, is to apply the option `graph_format(eps,fig)` also in the `dynare_sensitivity` calls

[2015-04-15 21:14] rattoma commented on #881
Some major fixes are done in https://github.com/rattoma/dynare/commit/41cebf7e4e0f76f50d4ded96b63d449ea7084991.
If it still does not go, one can at least run it with nograph

[2015-04-15 22:23] stepan-a commented on #881
It's working with ```graph_format=(fig)``` and ```nograph``` under Matlab. So the problem concerns the ```eps``` format. With Octave ```eps```format works fine (```nograph``). I do not know why ```eps``` is not working with Matlab, and if the crash is version dependent...

[2015-04-15 22:45] #881 closed

[2015-04-16 06:18] rattoma commented on #881
OK with `nograph`, since now no plot is initiated there.
On the mac it works with `eps` and Matlab.

I think it can be an issues related to the behavior of different platforms when the figure is not visible. With `eps`, we have in `dyn_saveas`, lines 37-39 on for Octave:
`
        if DynareOptions.nodisplay && ispc,
            set(h, 'Visible','on');
        end
`
could you try in linux setting t

[2015-04-16 06:28] rattoma commented on #881
I don't think it will work since otherwise should provide the fault always. Anyhow, I noted a different behavior on different platforms of using
`figure(fig_handle)`
to make `fig_handle` the current figure.
On mac (presumably also on linux) this makes the figure visible even if it was not. On PC the figure remains not visible.
To keep figure not visible on mac I had to change the syntax to
`set(0,

[2015-04-16 07:10] rattoma commented on #881
perhaps my last pull request will help...

[2015-04-16 08:29] stepan-a commented on #881
So here is the output of ```ls -latr```in ```tests/gsa/ls2003a/gsa```. The last generated eps file is on the last line.

[code]
Your last patch (8d679bff6f61896bd708629cfd2fa1f7fe0b0f2a) does not help...

[2015-04-16 09:49] rattoma commented on #881
OK. I think the file
`ls2003a_prior_irf_restrictions.eps`
is corrupted, right?
should be 2MB.
Might be related to the use of  `facealpha` to allow transparency in a patch
[this feature is not used elsewhere in dynare, and it is the only fancy thing in that plot]

[2015-04-16 09:55] rattoma commented on #881
Yes, that's the issue, see
https://github.com/altmany/export_fig/issues/3

[2015-04-16 10:11] stepan-a commented on #881
Okay. Is this thing cosmetic? Can we add a trap for Matlab/Linux in ```gsa/map_calibration.m```?

[2015-04-16 10:20] rattoma commented on #881
I am getting rid of `facealpha`

[2015-04-16 10:32] rattoma commented on #881
try this please
https://github.com/rattoma/dynare/commit/4e1e7732fddf35352c1459c2a95e62f11e47f5d4

[2015-04-16 13:16] houtanb opened #885 "move creation of M_ to a separate file"

[2015-04-16 20:33] #814 closed

[2015-04-16 20:43] stepan-a opened #887 "Document new optimizers..."
... And fix license.txt. See #873.

[2015-04-16 20:47] stepan-a opened #888 "Remove redundant optimization related mod files from testsuite."
All the tests for optimizers should be in ```tests/optimizers``` (introduced in merged PR #873).

[2015-04-17 07:30] rattoma opened #891 "adding options to irf/moment calibration"
Would it be possible to add options in the irf/moment calibration interface.
For example it would be good to allow:

[code]

to allow triggering
`options_.relative_irf=1;`
In fact, when std of shocks are estimated, it makes probably more sense to target a relative response w.r.t. an absolute one, which might just change due to the change in the value of the shock.

Similarly, we might think of all

[2015-04-17 13:33] rattoma commented on #891
For moment calibration I think things can be made simple, since all estimation options are already triggered in sensitivity analysis or estimation.
I would propose the two cases. The first will automatically triggers restrictions for all variables in `var_list` for `ar` lags:
[code]
or the following syntax would allow only specific entries to be data driven:
[code]

To wrap up, I would allow three

[2015-04-19 08:32] JohannesPfeifer opened #892 "Clean up use of dyntable"
The function ```dyntable``` takes as arguments the width of the label and value columns, but internally overrides them so that they are not used. We should either enable that functionality again or completely get rid of it.

[2015-04-19 17:19] tholden opened #894 "An option (noprint?) should be available to disable output of solvers"
If I'm not misremembering, prior versions of dynare used to allow you to pass custom options to solvers.

While complete flexibility in solver options is probably unnecessary, it would be good if there was an option to disable output from solvers (e.g., to set 'display', 'off' in the fsolve optimset call). Otherwise, when optimising the parameters of a model in a loop over resol (e.g. in a partial

[2015-04-20 10:00] JohannesPfeifer opened #896 "Fix treatment of complex elements in perfect foresight simulations"
The mod-file
[code]
terminates with imaginary parts in the results. Judging from the size of imaginary parts (maximum in the range of 1e-13) this is due to numerical inaccuracies.

With ```stack_solve_algo=6```, the message is ```Perfect foresight solution found``` while with ```stack_solve_algo=0```,  it fails with
```Simulation terminated with imaginary parts in the residuals or endogenous varia

[2015-04-24 14:29] JohannesPfeifer opened #909 "Create true unit test from comments in middle of random_walk_metropolis_hastings.m"
There is some advice for a manual unit test hidden there.

[2015-04-24 16:11] JohannesPfeifer opened #910 "Allow specifying output directory for estimation"
```dynare_estimation.m``` takes as an input ```dname```, but as far as I can see, there is no way to set this. ```ComputingTasks.cc``` in line 482 only writes ```var_list_``` as an argument.

[2015-04-25 17:44] JohannesPfeifer opened #912 "Fix bug for mh_recover that prevents using mh-files already created"
There seems to be a bug hidden in ```metropolis_hastings_initialization.m``` when using ```mh_recover```.
We have at the end
[code]
That means that the starting values for the chain are taken from the last mh-file on the disk. In the unit test at #911 , there are 4 in the current block and the crash happened after file number 3 (as the fourth file is deleted). In this case, we start the MCMC with

[2015-04-27 09:05] houtanb commented on #910
This is not a bug. The ```dname``` argument to ```dynare_estimation``` is intended to allow it to be called directly without using the rest of dynare. It is not necessary for dynare to pass the ```dname``` argument given the ```if``` statement on line 57.

[2015-04-27 09:15] JohannesPfeifer commented on #910
@houtanb Unfortunately, that is not a solution. I would like to set ```dname``` from within a mod-file. But that is currently impossible as I would have to call ```dynare_estimation``` myself with the input arguments and manually set all options. The preprocessor will always call it without ```dname```. But because of the check whether ```dname``` is passed, I cannot even set ```options_.dname```

[2015-04-27 09:28] stepan-a commented on #910
Okay. Would ```dirname```be a good option name for you?

[2015-04-27 10:00] #910 closed

[2015-04-27 16:34] #867 closed

[2015-04-29 14:25] #869 closed

[2015-04-29 14:35] houtanb commented on #870
can only do this for an entire series, not a point within a series, so closing

[2015-04-29 14:35] #870 closed

[2015-04-30 12:53] houtanb opened #914 "place oo_.exo_simul in the same format as oo_.endo_simul"
See #546, #806, #875,

[2015-04-30 12:55] houtanb commented on #546
Still to do: 3) from @stepan-a's last comment

[2015-04-30 13:01] JohannesPfeifer commented on #546
#771 already introduced a conversion function ```convert_dyn_45_to_44```

[2015-04-30 13:05] JohannesPfeifer opened #915 "Integrate convert_dyn_45_to_44 into convert_oo_.m"
See the discussion in https://github.com/DynareTeam/dynare/commit/a93e0157e4ea0d3a2ee4d5b10842066a0a39c2e9#commitcomment-10984144

[2015-04-30 13:23] JohannesPfeifer commented on #915
@stepan-a Is ```convert_oo_.m``` a one-way utility that only allows converting to newer values? Or is it also to support backward-compatibility (two-way)?
```convert_dyn45_to_44.m``` was introduced following the discussion on http://www.dynare.org/DynareWiki/OutputVariables and only allows preserving backward compatibility. It is not intended to bring older version into the new format.
We may want

[2015-04-30 13:32] stepan-a commented on #915
Discussing with @houtanb, I realize that I have a semantic issue with backward and forward compatibility... I think that our responsibility, with respect to our users, is to ensure that old results (oo_, M_, ...) can be used with more recent versions of Dynare. @houtanb's code can be used to convert freely between formats, but I do think that it is not reasonable to commit on the reversed compatib

[2015-04-30 13:39] JohannesPfeifer commented on #915
I think so to, but I think @stepan-a and @MichelJuillard insisted on this as a precondition for the changes outlined in the http://www.dynare.org/DynareWiki/OutputVariables. See our email exchange in November 2014 where @MichelJuillard said
[code]
and
[code]

[2015-05-02 07:05] JohannesPfeifer opened #916 "Investigate preprocessor crash with external function in model-local variable"
See ```use_local_variable_for_beta.mod``` at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6772

[2015-05-02 07:52] JohannesPfeifer opened #917 "Add indicator for successful run of MCMC to mh_history_"
Currently, at the beginning of the MCMC we use ```metropolis_hastings_initialization``` to write a new ```mh_history```file. But we never confirm that this run was successful. When using the ```load_mh_file``` this leads to cryptic crashes. I would propose to add an indicator for a non-crashed run to the history file and check this indicator when ```load_mh_file``` is requested. If the indicator s

[2015-05-02 09:52] MichelJuillard commented on #915
I guess that we need both features:
1) if a user has developped Matlab code for his 4.4 version, he wants to convert M_, oo_, options_ created by a 4.5 parser into 4.4 layout
2) in order to load results created by 4.4 version in a run with 4.5, we need the inverse conversion
I wonder what is the most efficient: releasing a different utility for each version and indicate the versions in its name or

[2015-05-04 09:50] JohannesPfeifer commented on #894
@houtanb This is not a preprocessor issue. I already have a working version that uses the options already present. You can assign me to this ticket.

[2015-05-07 13:12] #887 closed

[2015-05-07 13:14] #888 closed

[2015-05-07 13:15] #892 closed

[2015-05-07 14:01] #585 closed

[2015-05-07 15:33] JohannesPfeifer opened #924 "Add preprocessor interface and documentation for dr_display_tol and huge_number"
See #906 and 6d0dfc2d3fe302333204bac446458b1dd3b62b49

[2015-05-08 09:27] JohannesPfeifer opened #925 "Add preprocessor interface for selecting proposal density"
In the MCMC, we seem to have everything in place for using a student t-distribution as the proposal density, but we have no interface.
Modify the estimation command to accept the following new options:
* proposal_distribution, which takes two arguments: ```rand_multivariate_normal``` (default) or ```rand_multivariate_student``` and maps to ```options_.proposal_distribution```
* ```student_degrees_

[2015-05-08 15:14] JohannesPfeifer commented on #727
@stepan-a Can we use https://bitbucket.org/stepan-a/differentiate-forward-variables/src/43b5bf4cd3257d194fd7fc3256f94ad9696f8dfc/mod/rbc.mod?at=master
?

[2015-05-08 15:17] JohannesPfeifer commented on #667
@MichelJuillard I think we can regard this issue as closed then?

[2015-05-08 15:23] MichelJuillard commented on #667
@stepan-a, doesn't your solution assume that the user doesn't use Le Sage toolbox in her *.mod file?

[2015-05-08 15:28] JohannesPfeifer commented on #667
@MichelJuillard Implicitly, is does. The Dynare routine will always have precedence as it is higher in the path.

[2015-05-08 15:31] MichelJuillard commented on #667
I would prefer to rename our functions when we learn that their is a conflict. I think that we want to give users the maximum flexibility in using other tools with Dynare.

[2015-05-08 15:32] JohannesPfeifer commented on #566
@stepan-a My proposal to deal with this issue is to either:
1. Not only delete the ```metropolis.log```-file upon starting a new MCMC, but also the mentioned files above.
2. Expand the mh_history-file to contain information on the number of these files written and then only load the created ones.

I would probably prefer the second as this seems cleaner.

[2015-05-08 15:45] MichelJuillard commented on #566
Until now, I think that there is an implicit rule that the files created by Dynare come from the last run. If a user wants to change the *.mod file but keep some files or results, he should change the name of the *.mod file.
The only voluntary exception is the Metropolis iterations file that can be re-used by a subsequent run with load-mh-file.
It is quite possible that some users lazily tool adva

[2015-05-08 15:48] JohannesPfeifer commented on #566
@MichelJuillard Ok. Then we should delete them. Note also that the new ```dirname``` option #910 allows to select a different folder for a new run.

[2015-05-08 15:50] JohannesPfeifer commented on #853
@MichelJuillard Any thoughts on this? I would propose to go for option 2.

[2015-05-08 16:03] MichelJuillard commented on #566
Encouraging users to keep successive results from subsequent runs of an identically named *.mod file seems dangerous to me  and depart from the current situation where all the files and results have a consistent name. This is a way to automatically document the exact way some results have been obtained.

When suing the same *.mod name to generate different results, we encounter problems similar to

[2015-05-08 16:10] MichelJuillard commented on #853
I think that we should provide an option for taking into account measurement errors or not when computing the confidence interval.
Option 2 provides a confidence interval for the observed variable, bu not the model variable.
In a forecasting context, I guess that one may want to use measurement errors to avoid that these errors interfer with the forecast

[2015-05-09 06:29] JohannesPfeifer commented on #364
@houtanb Could you please lift this restriction in the preprocessor.

[2015-05-09 12:27] #284 closed

[2015-05-09 13:56] stepan-a commented on #727
@JohannesPfeifer But the macro variables PERIODS and AUX must be set (see the README file). I suppose it's easier to define them in the mod file. I moved this git repository to http://gitlab.ithaca.fr/Dynare/differentiate-forward-variables.

[2015-05-09 14:49] stepan-a commented on #915
I am not convinced that a utility to address the first point raised by @MichelJuillard is the best approach. Ideally users should change their matlab code at some point (also such a utility does not address the case, or very inefficiently, where the user's matlab code is called in the middle of the Dynare run, ie not for post treatment of the generated data) and our responsibility would be to docu

[2015-05-09 14:52] stepan-a commented on #925
I did not use the student as a proposal since years... We should test it first. With the matricvariate Student, there should be an additional hyperparameter (for the degrees of freedom), I do not remember how we set it...

[2015-05-09 15:30] JohannesPfeifer commented on #925
I am already working with it and it seems fine. Of course, we also need an interface to set ```options_.student_degrees_of_freedom```.

[2015-05-09 20:23] stepan-a commented on #667
I still do not agree with this solution. The original problem with ```hessian.m``` reported by Andrea a year ago was that his ```dynare/matlab``` folder was not on top of the matlab's path, and that dynare was calling the wrong version of ```hessian.m```. This kind of problem is addressed by 0e1dd779b953971bcdc4b7318bb0ff1d48eff528.

@MichelJuillard imagines another situation, which to my knowledg

[2015-05-09 20:36] #727 closed

[2015-05-09 20:45] stepan-a commented on #566
I agree with @JohannesPfeifer fix. But I think that we should add an option like ```load_mh_file```for posterior subdraws. Some people use Git to track and document the exact way results have been obtained...

[2015-05-09 20:47] #566 closed

[2015-05-10 13:46] JohannesPfeifer opened #933 "Add load_mh_file-like option for loading posterior subdraws"
See #566

[2015-05-10 14:03] JohannesPfeifer opened #934 "Clarify notation of MS-SBVAR"
Section 4.18 of the manual refers to variables limke A^0, A^+ or Q. But they seem to come from a different paper than the cited Sims/Waggoner/Zha (2008). My guess is Sims/Zha (1998). See also
http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6801&p=19671#p19671

[2015-05-10 17:16] JohannesPfeifer commented on #122
@stepan-a It appears to me that this issue is superseded by #750 and can be closed.

[2015-05-10 18:07] JohannesPfeifer commented on #821
Also, ```disclyap_fast.m``` has no iteration termination criterion, allowing for an infinite loop. We should add one and use and exitflag to check whether convergence was obtained.

[2015-05-12 14:40] #916 closed

[2015-05-12 14:46] JohannesPfeifer commented on #916
@houtanb Does it make sense to add this file as a unit test?

[2015-05-12 14:50] houtanb commented on #916
Perhaps.... though I think we need to rethink our testing strategy. Right now, the test suite takes several hours to complete and if we add a new test for every bug we encounter (as we have apparently been doing) it will become even more unwieldy. Perhaps @stepan-a or @MichelJuillard will have some input on this, but I think we should cut down and combine tests in the test suite where possible so

[2015-05-12 15:19] MichelJuillard commented on #916
Do we have now timing for each of the test case?

[2015-05-13 13:02] houtanb commented on #924
@JohannesPfeifer is this for ```estimation```?

[2015-05-13 13:06] JohannesPfeifer commented on #924
```dr_display_tol``` is ```stoch_simul``` and ```huge_number``` is estimation and potentially ```osr```.

[2015-05-13 13:07] houtanb commented on #924
so is it or is it not ```osr```?

[2015-05-13 13:10] JohannesPfeifer commented on #924
Also ```osr``` please, although this will require some additional changes.

[2015-05-13 13:18] houtanb commented on #924
@JohannesPfeifer I'll leave the documentation to you before closing this ticket

[2015-05-13 13:19] JohannesPfeifer opened #940 "Add interface for TaRB algorithm"
In ```estimation``` we would need the following options:

1. ```use_TaRB``` which translates to ```options_.TaRB.use_TaRB=1```;
2. ```TaRB_mode_compute=integer``` resembling ```mode_compute``` and translating into ```options_.TaRB.mode_compute=4```
3. ```TaRB_new_block_probability=double``` translating into ```options_.TaRB.new_block_probability``` and checking whether it is between 0 and 1.
4. ``

[2015-05-13 13:38] houtanb commented on #940
@JohannesPfeifer
2. what is the default for TaRB.mode_compute?
3. what is the default? The check will be done by the matlab code

[2015-05-13 13:42] JohannesPfeifer commented on #940
If you need to know this for ```global_initialization```, I already took care of that. The default for TaRB.mode_compute is 4. The default for ```TaRB_new_block_probability``` should be 0.25. Should I add the check to my Matlab code implementing it (that is after mode-finding)? Or do we check in ```initial_estimation_checks.m```?

[2015-05-13 13:45] houtanb commented on #940
Yes, it was for ```global_initialization```.

That depends on when you want the user to know about it. I would put it in ```initial_estimation_checks```.

[2015-05-13 14:52] houtanb commented on #940
@JohannesPfeifer can you do the doc?

[2015-05-13 14:53] JohannesPfeifer commented on #940
Sure, I will add it together with the algorithm itself. Thanks a lot for the quick work.

[2015-05-13 14:54] houtanb commented on #940
Ok, np

[2015-05-13 14:54] #940 closed

[2015-05-18 14:16] JohannesPfeifer opened #943 "Update manual on ordering of variables coming from smoother"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6020. Needs to be done after #804

[2015-05-19 08:12] JohannesPfeifer opened #944 "Fix description of Ramsey timeless perspective in manual"
Michel writes:

[code]

[2015-05-19 10:31] #925 closed

[2015-05-22 14:20] houtanb commented on #773
@JohannesPfeifer for an expectation operator, it's not clear to me what ```orig_lead_lag``` and ```orig_index``` should contain when the ```expectation``` is of an expression. Can you tell me what the  output should be when you have ```expectation(-3)(x(+2)*y(+1)-y(-1))```

[2015-05-23 10:27] JohannesPfeifer opened #945 "Fix bug in identification when estimating only standard deviations"
See email from 05/23/15.

[2015-05-23 10:37] JohannesPfeifer commented on #945
This happens for both ML and Bayesian estimation. Adding one deep parameter helps to not trigger the bug. See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6832

[2015-05-23 16:15] JohannesPfeifer commented on #773
@houtanb I completely forgot that you can apply this to expression. This makes my initial suggestion unfeasible. My proposal would be to add a new field to ```M_.aux_vars``` that contains the replaced expression, in your example ```expectation(-3)(x(+2)*y(+1)-y(-1))``` (if that is not too much work).

[2015-05-26 10:43] houtanb commented on #773
This is certainly doable, but it is a bit of work.... I'll leave the ticket open and get to it some day (maybe soon)

[2015-05-27 16:31] JohannesPfeifer opened #946 "Add new preprocessor option minimal_workspace"
Matlab has a limit on the number of variables allowed in the workspace. To prevent problems with this limit, introduce new preprocessor option ```minimal_workspace``` that when used, suppresses writing the parameters to a variable with their name in the workspace. That is, instead of
[code]
only write
```M_.params( 1 ) = 0.999;```
Also set ```options_.minimal_workspace``` to 1 (default: 0) so that

[2015-05-27 17:11] JohannesPfeifer opened #948 "Potentially add interface to set parameter bounds for osr."
In principle, there is everything in place to use constrained optimizers with osr. An example on how to use this with a user-defined optimizer wrapper is at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6835
However, we do not provide an interface to set such bounds. We should discuss if we should leave it at that (more work for users) or whether we provide functionality to automatically set th

[2015-05-28 09:53] #946 closed

[2015-05-31 11:58] JohannesPfeifer opened #949 "Fix loop in identification"
In ```identification_analysis.m``` we have

[code]
As far as I can see, the condition on ```indJJ``` is not updated in the loop. This looks wrong to me.

[2015-06-01 14:40] #924 closed

[2015-06-02 08:54] houtanb commented on #934
from Dan:
The 2008 paper with Chris and Tao does use Q for the transition matrix, but uses A for A0 and F for A+.  It is true that Sims and Zha, 1998, does use the A0, A+ notation, but that paper does not have Markov switching, so there is no transition matrix.

[2015-06-02 08:54] #934 closed

[2015-06-03 09:25] JohannesPfeifer commented on #949
I found a mod-file to verify that the update
```indJJ = (find(max(abs(JJ'),[],1)>1.e-8));```
must be added to the loop.

[2015-06-03 12:23] rattoma commented on #949
@JohannesPfeifer sorry for the late reply. Indeed this is a bug and that line must be added!
`indJJ = (find(max(abs(JJ'),[],1)>1.e-8));`
after line 95.
thanks a lot for spotting that

[2015-06-03 12:26] #949 closed

[2015-06-04 16:09] houtanb opened #953 "create new class VerbatimStatement"
Currently, lines in the ```verbatim``` block are stored as ```NativeStatement``` objects. This was ok before we decided to replace dates in the preprocessor (e.g. ```9q1``` with ```dates('9q1)```). These dates should be replaced in native statements but not in verbatim statements, hence the new class.

[2015-06-08 08:17] #662 closed

[2015-06-08 08:17] #676 closed

[2015-06-08 08:17] #677 closed

[2015-06-08 08:17] #764 closed

[2015-06-08 08:17] #945 closed

[2015-06-08 11:29] JohannesPfeifer opened #959 "Clean up http://www.dynare.org/events"
The current ordering is a mess.

[2015-06-08 12:45] houtanb commented on #959
@JohannesPfeifer, though we're aware of the problem, it's good that you brought it to our attention again. That said, GitHub issues are used only for dynare project related issues, not for organizational to do's

[2015-06-08 12:45] #959 closed

[2015-06-15 20:31] JohannesPfeifer commented on #338
This also affects the bvar-a-la-sims, see http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6939

[2015-06-16 10:48] #953 closed

[2015-06-17 10:49] tholden opened #963 "Bug in dyn_mex.m"
At present dyn_mex.m uses the undefined variables msvc and cygwin.

It also tries to export the wrong function from the _static.c file.

The fix is in the following commit in my branch: https://github.com/tholden/dynare/commit/0c533744750ed3247fd25c43b1fe82c1fea64bbb

It is also shown here:

Lines 50 to 65 of dyn_mex.m should read as follows:
[code]

[2015-06-17 10:53] houtanb commented on #963
This is in @JohannesPfeifer's pull request #956

[2015-06-17 10:53] #963 closed

[2015-06-18 16:07] houtanb commented on #885
@MichelJuillard in testing the changes I made to separate the writing of ```M_``` I ran into a problem. I spoke with @stepan-a about it, and he told me to make a note about it here to see if you had an idea.

The changes are on the ```origin/separateM_ branch, 6d1142896dfaaf6dbdd237fb92ed3af37d6a171c.

Here, we are trying to pick out the definition of the ```M_``` structure, placing it in a separa

[2015-06-18 16:41] MichelJuillard commented on #885
I think it kills the idea in general.  I think that statements like

parameters beta;
....
beta = 0.9;
stoch_simul;
beta = 0.95;
stoch_simul;

would create a problem  I also forgot what improvements a separate function for M_ would bring.

[2015-06-18 21:18] stepan-a commented on #885
Okay. I have the impression that we will have to abandon this...

The idea was to be able to do things with models without having to preprocess a mod file. This would make life much easier when we  want to play with different models. Also I need this for the Julia version, where the preprocessor would write a module with definitions of ```M_```, functions for the dynamic/static models and the stea

[2015-06-19 12:30] #894 closed

[2015-06-19 14:16] houtanb commented on #885
closing because this change is no longer necessary or desired

[2015-06-19 14:16] #885 closed

[2015-06-20 21:14] JohannesPfeifer opened #964 "Add cholcov function to missing/statistics"
The TaRB algorithm makes use of the ```cholcov``` function of the statistics toolbox. We might want to add the Octave version to the missing folder.

[2015-07-01 05:34] JohannesPfeifer opened #965 "Add posterior distribution of contemporaneous correlations"
Currently, we only save the covariances, but users often want correlations, see e.g. http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=6968.

[2015-07-03 14:37] houtanb opened #966 "split output of write_latex_dynamic_model so it can be included in a report"
write_latex_dynamic_model can create two files:
1. one containing everything before ```\begin{document}```, an ```\input``` command and an ```\end{document}```
2. a second containing the equations that is included in the ```\input``` command

This second document can also be included in a report if someone wants the model equations in a report.

[2015-07-06 07:36] #964 closed

[2015-07-06 15:12] JohannesPfeifer commented on #821
Another example is http://www.dynare.org/phpBB3/posting.php?mode=reply&f=1&t=6934#pr20358

[2015-07-06 15:15] JohannesPfeifer commented on #821
@MichelJuillard Should we only check in the initial estimation checks? Or does it make sense to check in every call to ```dsge_likelihood```? The former would reduce the computational burden, but I am afraid that accepting parameter regions with weird initial conditions for the covariance matrix of the states may lead to wrong results.

[2015-07-08 14:15] JohannesPfeifer commented on #849
@houtanb
Currently the allowed syntax for ML would e.g. be
[code]
The request was to allow only specifying a list of parameters without having to state the starting value, i.e.
[code]

[2015-07-08 14:54] JohannesPfeifer commented on #849
An additional note:
[code]
works.

However, just
[code]
does not.

[2015-07-15 07:02] #966 closed

[2015-07-20 08:18] #655 closed

[2015-07-20 13:05] JohannesPfeifer opened #971 "Improve unit tests for correctness of Kalman filter results"
Following #738, we still need to
- Fix all bugs that result in unit tests crashing
- Improve unit tests to compare likelihood results for consistency
- Update and enable other unit tests for Kalman filter in kalman/likelihood directory

[2015-07-20 14:50] JohannesPfeifer opened #972 "Change display_problematic_vars_Jacobian.m to use number of auxiliary equations stored by preprocessor"
See #729

[2015-07-20 19:29] Ufos92 opened #974 "Running dynare from inside of a matlab function forces "clear all" behavior."
Issue: if executing dynare command from inside of a function, all variables that were created inside this function are purged regardless clearall option.
I am not sure, whether this is a dynare bug or a Matlab problem, but may be you at least would like to add this to documentation.
Here is a test-case:
(github does not support upload, so you will have to copypaste the code...)

------------ repro

[2015-07-20 20:26] MichelJuillard commented on #974
Run dynare with noclearall option:

dynare <modfile> noclearall

See manual 3.1 Dynare invocation

[2015-07-21 04:46] JohannesPfeifer commented on #974
@Ufos92 I guess this has to do with the workspace scope. Please put all files into a zip-file and post to the forum.

[2015-07-21 08:21] JohannesPfeifer opened #976 "Block using parameters as variables in mod-files"
The following file defines ```pip``` as a parameter, but uses ```pip(+1)``` like a variable. We should block this and issue an error.
[code]

[2015-07-21 08:59] houtanb commented on #974
@Ufos92 you can also use http://pastebin.com with Matlab syntax highlighting

[2015-07-21 09:04] Ufos92 commented on #974
@houtanb, good idea! But I've just uploaded it on your forums if you don't mind looking there.
http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7056

[2015-07-21 09:14] JohannesPfeifer commented on #974
The solution is in the forum. This issue can be closed

[2015-07-21 09:15] #974 closed

[2015-07-21 09:35] MichelJuillard commented on #976
This is a difficult issue. I guess that currently the lead/lag is simply ignored. This facilitates a lot the development phase of a model, when the user defines temporarily a variable as a parameter. If we go thru with this change, we will force him to change all occurrences of the symbol with a lead/lag.

[2015-07-21 10:05] JohannesPfeifer commented on #976
@houtanb Would it be possible to let the preprocessor set a flag into the model structure ```M_``` if this is the case? Let's say ```M_.parameter_as_variable```. That way, ```model_diagnostics``` could point to this potential problem without forcing us to change any current behavior.

[2015-07-21 10:44] Ufos92 commented on #974
Ok, well. For someone who stumbles across it, solution/work-around:
define a global in the matlab, and then define it in the mod-file again.

[2015-07-21 12:18] JohannesPfeifer opened #978 "Fix interface/options for stochastic extended path in master"
Not all required options are set by default. For example, ```rs2.mod``` needs to manually set
[code]
as otherwise a crash in ```setup_integration_nodes.m``` happens. We should properly initialize all options and add a unit test that tests the default options.

[2015-07-21 12:31] MichelJuillard commented on #976
I would also issue a warning. I would rather call the indicative variable M_.parameter_used_with_leadlag

[2015-07-21 12:38] MichelJuillard opened #979 "Make M_.dname more consistent"
M_.dname is used more as an option than as a characteristic of the model file. By default, the directory name of saving output is M_.fname. When the user wants to change the name, this should be setting options_.dname, not M_.dname

[2015-07-21 12:40] MichelJuillard commented on #978
The interface for extended path was never finished. I'm working on it currently

[2015-07-21 12:42] JohannesPfeifer commented on #978
I was asking because of backward compatibility. The file at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=5220 does not work anymore (also, the question there needs to be answered)

[2015-07-21 12:43] JohannesPfeifer commented on #979
I think we need to separate two functions here. ```options_.dname``` is for user-specified names. ```M_.dname``` rather is our hack to allow recursive estimation/forecasting to change the output folder.

[2015-07-21 12:44] MichelJuillard commented on #979
Good point. I had forgotten.

[2015-07-21 12:45] JohannesPfeifer commented on #979
With recursive estimation, ```M_.fname``` is ```options_.dname``` plus underscore observation number. Thus, ``` M_.fname``` needs to be given precedence whenever it is set. Otherwise ```options_.dname``` must be used.

[2015-07-22 08:33] JohannesPfeifer opened #981 "Expand writing of eps-loaders on consistent basis to identification"
Left after implementing #937

[2015-07-22 09:06] MichelJuillard commented on #978
Most of these options have never been documented as far as I know (except periods, solver_periods, order and hybrid) . So I don't see an issue of backward compatibility. The test cases will need to be changed to use the new interface.

[2015-07-22 09:09] JohannesPfeifer commented on #978
Let me phrase it differently. All options should be initialized in ```global_initialization``` so that the baseline command runs without the user needing to specify additional options manually. This is currently not the case anymore. The referenced mod-file just uses the options you refer to
[code]
but it still does not execute anymore.

[2015-07-22 09:44] MichelJuillard commented on #978
I agree entirely. Redesigning the interface for extended path includes initializing the new options in global_initialization. I still have to see if it is possible to rationalize and standardize the option names used in various parts of the extended path code.

[2015-07-22 13:28] JohannesPfeifer commented on #667
@MichelJuillard After a few months with 0e1dd77 I think the new path management is successful in preventing the described problems. Thus, I agree with @stepan-a and would propose closing the ticket.

[2015-07-22 13:37] #667 closed

[2015-07-22 13:44] JohannesPfeifer commented on #670
77a29e9 solves this

[2015-07-22 13:44] #670 closed

[2015-07-23 12:12] JohannesPfeifer commented on #617
@MichelJuillard Referring to your email from May 27, 2015, #986 shows that the mod-file is supposed to have a solution. The reason it does not solve is a variety of bugs. For example, in the current unstable, ```make_ex_``` is called and it has
[code]
But ```ex0_``` was not set by the preprocessor, but only
[code]
Because of this, the historical values are lost. You can see this in the final ```oo

[2015-07-23 12:20] JohannesPfeifer commented on #504
@houtanb Could you please add the decision label to this

[2015-07-23 12:50] JohannesPfeifer commented on #720
@rattoma #740 introduced ```relative_irf``` to estimation. Is there anything else required for closing this ticket?

[2015-07-23 12:57] JohannesPfeifer commented on #640
@sebastien-villemot Since we do not support Cygwin building of Dynare anymore, I would suggest dropping its support completely and closing this issue. If someone wants dll-compiling on Windows, MSVC should be used as it is free as well.

[2015-07-23 13:00] rattoma commented on #720
if is also available in `irf_calibration` ?

[2015-07-23 13:11] JohannesPfeifer commented on #720
No. @houtanb This now seems to be a preprocessor issue. What is still needed is allowing the ```irf_calibration```-block to have the input argument ```relative_irf``` (mapping to ```options_.relative_irf```) similar to the way the ```use_calibration``` option is passed to the ```estimated_params_init``` block.
@rattoma I have one additional question after looking up this block: it seems the option

[2015-07-23 13:24] rattoma commented on #720
I am not sure to understand your question. Shouldn't `relative_IRF` only apply for `irf_calibration` and be irrelevant for moment computation?

[2015-07-23 13:31] JohannesPfeifer commented on #720
@rattoma You are right that this option will not affect computations. I missphrased. What I meant is the following. Say you have ```ls2003a``` from the ```tests/gsa``` folder
[code]
Thus, you want to restrict the relative IRFs of y and R_obs. But because ```options_.relative_irf``` is generally set, it will also affect the saved results in ```oo_.PosteriorIRF.dsge``` and the displayed IRF-figures.

[2015-07-23 13:55] #972 closed

[2015-07-23 13:57] #754 closed

[2015-07-23 14:03] JohannesPfeifer opened #988 "Potentially modify solving Lyapunov equations"
@tholden commented on https://github.com/tholden/dynare/commit/69daaa0460b0ddee97292c39d40355201e316622
that

lyapunov_symn is a utility function provided by Dynare that's likely to be useful in a whole number of places when solving and estimating models. If I recall correctly, I had something in my own code where I needed to solve a Lyapunov equation, so I understandably called the dynare functio

[2015-07-23 14:08] JohannesPfeifer commented on #331
@houtanb Could you please also add this to your to-do list when you work on #720

[2015-07-23 14:12] MichelJuillard commented on #988
I'm not sure that the iterative methods work with models containing a unit root and variance is infinite for non-stationary variables..

[2015-07-23 14:15] JohannesPfeifer commented on #318
Close with 025e7a13c320822463c9ca19ba76112daf4d1d20

[2015-07-23 14:15] #318 closed

[2015-07-23 14:26] JohannesPfeifer commented on #773
@houtanb I would not consider this as closed. You correctly pointed out that auxiliary variables can be nested. An example is ```test1.mod``` in ```tests/auxiliary_variables```. The first aux_var is the complex expression. After that, we have several nested aux_vars for the leads of this expression. Would it be possible to assign the respective ```endo_index``` from ```M_.aux_vars``` to the ```ori

[2015-07-23 14:33] JohannesPfeifer commented on #357
@MichelJuillard Do you remember where this problem is still present. It tried it with the ```fs2000.mod``` and the non-stationary version and the posterior is always more like 0.7. Also, I don't really understand the theoretical argument against such a type of prior.

[2015-07-23 15:11] JohannesPfeifer commented on #270
http://de.mathworks.com/matlabcentral/answers/41080-compute-determinant-using-cholesky-decomposition suggests that there is no point in changing this. If agreed upon, we could close this issue.

[2015-07-23 15:13] MichelJuillard commented on #378
It needs to be made clear in th manual that mode_file is an option local to estimation statement as it departs from standard (and often unfortunate) behavior

[2015-07-23 15:20] JohannesPfeifer commented on #378
@MichelJuillard I added documentation to the pull request.

[2015-07-23 15:22] #378 closed

[2015-07-23 15:27] JohannesPfeifer commented on #236
I would propose to close this issue as I don't think the value added has any relation to the costs. By now there are so many well-documented mod-files showing how to use the simult_-function that adding an interface is not necessary. I haven't seen requests for this in years. The great strength of the ```simult_```-function is its flexibility. This comes at the costs of requiring some programming

[2015-07-23 15:31] JohannesPfeifer commented on #948
I guess this supersedes #58

[2015-07-23 15:40] MichelJuillard commented on #270
I agree with closing the issue

[2015-07-23 15:42] MichelJuillard commented on #236
OK for closing

[2015-07-23 15:43] MichelJuillard commented on #948
Yes it does

[2015-07-23 15:43] JohannesPfeifer commented on #270
@MichelJuillard Sorry, I missed the loop. I amended the PR along the suggested lines

[2015-07-23 15:45] JohannesPfeifer commented on #3
I don't really understand this request. Is the request to provide the values where the steady state computation stopped? If yes, we could easily add this to the debugging options.

[2015-07-23 15:46] JohannesPfeifer commented on #948
Then we should close #58

[2015-07-23 15:49] MichelJuillard commented on #3
I believe it is

[2015-07-23 15:59] MichelJuillard commented on #357
All *.mod file in ./tests/fs2000 have a prior with an asymptote to zero for rho except fs2000a.mod I checked that fs2000_data.mod still return a value close to zero for posterior mode after posterior optimization.

One needs to have a lot of faith in the parameter being zero to use such a prior. In this particular example, this prior is powerful enough to move the posterior mode close to zero when

[2015-07-23 16:11] JohannesPfeifer commented on #357
I agree that this asymptote is not ideal, but it is the prior actually used by Schorfheide in his paper. Thus, I would be very reluctant to change it, particularly as his mode in the data is still above 0.85.
Using ```fs2000_data.mod``` I got
[code]
for the mode.

[2015-07-23 16:21] MichelJuillard commented on #357
The difference on the mode is very odd. For the tests, the prior probably doesn't matter so you can keep it as it is. But, I still think that it is important to tell users to look at the prior plots and wonder if, when there is an asymptote, it really represents what they have in mind.

[2015-07-23 16:26] stepan-a commented on #357
Note that we already depart from the JAE paper since we use a simulated dataset instead of the original data (@sebastien-villemot decided this move because there was no license in the datafile distributed on the JAE website).

[2015-07-23 16:33] JohannesPfeifer commented on #270
@MichelJuillard We should then close this as well

[2015-07-23 16:37] JohannesPfeifer commented on #357
@stepan-a Yes, but this is evident as the dataset is called ```fsdat_simul```. But the model including the estimated parameters is the same.
@MichelJuillard Sure, selecting priors is important, but I am not sure we are in a position to educate people about this. I tell my students to always look at the prior plots.

So what is our course of action on this topic? I would suggest adding a correspond

[2015-07-23 16:49] JohannesPfeifer opened #992 "Fix implementation of lik_init==5 part of dsge_likelihood"
```dsge_likelihood.m``` still has the part

[code]
that can never be reached. ```options_``` does not even exist in this function. I propose deleting this part.

[2015-07-23 16:56] JohannesPfeifer commented on #988
@MichelJuillard If I read ```dsge_likelihood.m``` correctly, we only call ```lyapunov_symm``` with stationary models, i.e. if the ```diffuse``` filter option is not set. And this seems to be the only place where users actually have a choice on the method used.

[2015-07-24 07:40] rattoma commented on #720
Right, it will change the behaviour of irfs in all subsequent calls, which can be however reverted?
Can we allow a syntax
`relative_irf=0`
and not only
`relative_irf`
?

[2015-07-24 07:43] JohannesPfeifer commented on #720
Maybe a stupid question, but can you have multiple ```irf_calibration``` blocks? In this case, we need to worry about conflicting options.

[2015-07-24 08:03] rattoma commented on #720
non rally  `irf_calibration`, but to tackel your worry, there can be first
`irf_calibration`

afterwards

`stoch_simul`

for example, where you would like to plot the levels.

Perhaps, we should set an option for `irf_calibration` that does not alter the global `options_` but only works locally. thus `relative_irf` must be reset to the value it had before entering calibration.
what do you think?

[2015-07-24 08:12] JohannesPfeifer commented on #720
@rattoma The problem you describe is a neverending problem. I would not tackle it as it is common and pretty obvious because the figure titles will show you what happened. I was rather worried whether Dynare automatically concatenates several irf_calibration blocks to one joint block as is the case for example with the ```estimated_params``` block. Because in this case, the user could specify conf

[2015-07-24 08:23] rattoma commented on #720
So far, only single relative or absolute irf restrictions are allowed, so I think we are OK. thank you

[2015-07-24 13:54] JohannesPfeifer opened #997 "Fix prior sampling with prior_trunc"
For the inverse gamma in case of bound violations, sampling instead comes from the inverse gamma I distribution. This yields incorrect results and may result in (almost) infinite loops.

For the uniform distribution, ```prior_trunc``` is completely ignored.

[2015-07-27 19:50] #3 closed

[2015-07-27 19:51] #341 closed

[2015-07-27 19:53] #997 closed

[2015-07-28 13:26] #979 closed

[2015-07-28 14:33] JohannesPfeifer commented on #868
@sebastien-villemot This looks like a bug still present in Octave 4. The reason is a call to
[code]
In ```gampdf.m``` there are the logical conditions for ```k```:
[code]
We want the second part to execute as a>1. However, due to a missing check whether ```k``` is empty, the first part is executed (and later overwritten) where ```b^a``` evaluates to 0. This does not happen in Dynare as the ```gamp

[2015-07-29 14:14] MichelJuillard commented on #617
Fixed in commit 7d11ed764263a71aec6efe76ad96e7d02f317610

[2015-07-29 14:17] JohannesPfeifer commented on #617
@MichelJuillard What exactly is the role of ```ex0_``` and ```ys0_``` that are sometimes global? It seems we are replacing them all over the code. Shouldn't we completely phase them out?

[2015-07-29 14:22] JohannesPfeifer commented on #617
@MichelJuillard Another thing: could it be that ```histvalf``` also needs to be adjusted before this ticket can be closed?

[2015-07-29 14:27] MichelJuillard commented on #617
@JohannesPfeifer  `ex0_` and `ys0_` are storing initval when endval is present. They shouldn't appear
but in perfect_foresight_setup. Passing them somehow instead of having
them global would be better.

[2015-07-29 14:29] MichelJuillard commented on #617
@JohannesPfeifer OK, we still need to check `histvalf` I reopen the issue until then.

[2015-07-30 08:34] JohannesPfeifer opened #1004 "Make ```initvalf``` and ```histvalf``` compatible with translation to one-lag problem"
We currently have both ```initvalf``` and ```histvalf``` but with auxiliary variable substitution it is not clear to me how separate the two and how to properly initialize a model. Also, ```histvalf``` automatically takes care of auxiliary variables while ```initvalf``` does not.
Related to #617

[2015-07-30 08:35] JohannesPfeifer commented on #617
I opened a new ticket, #1004, for the remaining issues as they touch upon separate issue.

[2015-07-30 08:35] #617 closed

[2015-07-30 12:40] #976 closed

[2015-07-30 14:08] mboisson opened #1005 "Dynare 4.3.3 won't compile"
I am trying to compile Dynare 4.3.3 for a user (he needs this specific version). I get the following error :
DynareBison.yy:45:36: error: ‘const struct Dynare::parser::stack_symbol_type’ has no member named ‘begin’
         (Current).begin = (Rhs)[1].begin;               \
                                    ^
DynareBison.cc:619:7: note: in expansion of macro ‘YYLLOC_DEFAULT’
       YYLLOC_DEFAULT

[2015-07-30 14:20] JohannesPfeifer commented on #1005
I am not sure we should provide support for back-versions of Dynare. Obviously, many bugs have been fixed in recent versions. Keeping old versions up to date with newer software seems like a neverending issue. For example, older versions won't work with newer Matlab versions due to changes in Matlab's random number generator. Similarly, you point out the autoreconf incompatibility in #1006 . Thus,

[2015-07-30 14:22] mboisson commented on #1005
Hi,
So, should I send the user who is telling me that his results are different with 4.4.3 than 4.4.3 (and therefore wanted to stick with the same version) to contact you to figure out why the results are different ?

[2015-07-30 14:26] JohannesPfeifer commented on #1005
@mboisson If Dynare 4.4.3 returns something substantially different from 4.3.3. my prior is that there is something wrong with the older version that affects his results. Sticking with 4.3.3 is not advised unless there is a really good reason for doing so. The other possibility is that a new bug was introduced, but again, understanding the source of the difference is crucial. I can help to investi

[2015-07-30 14:38] #1005 closed

[2015-07-31 08:57] houtanb commented on #915
If I understand correctly, we're only providing conversions from 4.4 forward, is that correct? No need to do 4.3 and earlier?

[2015-07-31 09:08] JohannesPfeifer commented on #915
@houtanb Version 4.4 is the first one that changes the output structure. All versions before 4.4 should be the same.

[2015-07-31 09:34] #849 closed

[2015-07-31 09:38] MichelJuillard commented on #915
I'm not so sure that nothing has changed between 4.3 and 4.4, but let's do one thing at the time. First let's do it for 4.4 and 4.5 and establish standard practice for the future. Then we may want to look back to 4.3-4.4

[2015-08-03 10:41] JohannesPfeifer commented on #254
@houtanb Actually, we only need an option ```spectral_density``` to ```stoch_simul``` translating to
```options_.SpectralDensity.trigger = 1;```
I will do the rest.

[2015-08-03 14:14] JohannesPfeifer commented on #254
@houtanb Could you please also give me an option of ```stoch_simul``` named ```bandpass_filter``` It should be mutually exclusive with ```hp_filter```. If specified as
[code]
it should map into ```options_.bandpass.indicator=1```. If specified as
[code]
it should map into
[code]
Default values are
[code]

[2015-08-03 14:19] JohannesPfeifer opened #1011 "Add bandpass filter"
Adding a bandpass-filter as in Christiano/Motto/Rostagno seems straightforward.

One issue is ```options_.hp_ngrid``` which specifies the number of points for the Inverse Fourier Transformation. With a different filter, this option would not be specific to the HP filter anymore. I would suggest renaming it to ```ifft_points``` and deleting the old option. Obviously, this would break backward compa

[2015-08-03 14:59] houtanb commented on #1011
@JohannesPfeifer for the bounds, I can do something like:
[code]
Is this ok?

[2015-08-03 15:02] JohannesPfeifer commented on #1011
Yes, but please map into ```[6 32]```

[2015-08-03 15:05] JohannesPfeifer commented on #1011
@houtanb While I am doing requests with respect to filterin: Could you please also do ```one_sided_hp_filter=x```
mirroring the hp_filter option and mapping into
```options_.one_sided_hp_filter=x```
with the default being 1600?

[2015-08-03 15:09] houtanb commented on #1011
@JohannesPfeifer I thing there's a type in your last message

[2015-08-03 15:10] houtanb commented on #1011
@JohannesPfeifer there is no mapping as far as the periodicity vector goes. The vector will be printed in the order the user entered it as the option

[2015-08-03 15:13] JohannesPfeifer commented on #1011
@houtanb Right. That's perfect. I updated the post. Could you then name it ```passband``` instead of ```periodicity```? I can deal with the initialization in ```global_initialization```

[2015-08-03 15:18] houtanb commented on #1011
ok. @JohannesPfeifer there is still a problem with your comment about the ```one_sided_hp_filter```

[2015-08-03 15:20] JohannesPfeifer commented on #1011
@houtanb Sorry, but I don't see what you mean.

[2015-08-03 15:23] houtanb commented on #1011
what should it map into?

[2015-08-03 15:23] houtanb commented on #1011
forget it. I had to reload the page

[2015-08-03 15:24] JohannesPfeifer commented on #1011
Strange. On my screen it clearly shows
[code]

[2015-08-03 16:23] JohannesPfeifer opened #1012 "Add one-sided HP filter"
#1011 already implemented the interface. Before adding the function, we need to decide whether to simply add it as a function that operates on regular double data like the ```sample_hp_filter``` or whether we want to make it a function on dseries objects as the ```baxter_king_filter.m``` of the dseries submodule.

[2015-08-05 06:38] JohannesPfeifer opened #1013 "Fix saving of posterior standard deviations"
See also http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7130
When running the MCMC, the ```oo_.posterior_std``` and ```oo_.posterior_mode``` fields are based on the posterior mode, not the MCMC. But the manual says they should only be there if ```mh_replic>0``` but we always write them.
In contrast, ```oo_.posterior_variance``` is based on the MCMC. However, this field is not documented in the m

[2015-08-05 17:17] JohannesPfeifer commented on #847
@houtanb What exactly do you mean with this ticket? We have a function ```write_latex_parameter_table.m``` introduced in 52f9d164ace863414923fa4d61e141d47cf47969 that creates a table with parameters.

[2015-08-05 17:55] houtanb commented on #847
When writing a report with ```write_latex_*_model``` have the calibrated values next to the parameters. @stepan-a wanted it.

[2015-08-06 09:02] JohannesPfeifer commented on #681
#1015 fixes 1. 3 is too much work, given that people hardly use ML these days.

[2015-08-06 09:28] JohannesPfeifer commented on #780
@stepan-a This also breaks the ```ppost``` option of ```dynare_sensitivity``` which relies on ```options_.nobs``` being always set.

[2015-08-06 10:24] JohannesPfeifer opened #1016 "Clean up setting of options in dynare_sensitivity.m"
Currently, it is very intransparent and prone to bugs.
-  `neighborhood_width` forces

[code]

but the manual says that  `neighborhood_width` only works when `pprior=0` and `ppost=0`. This seems like a bug. If we reset options set by the user, we should consistently provide warnings on the screen.
- Even more problematic, without any indication in the manual, using `morris=1` overwrites almost all

[2015-08-06 12:21] houtanb opened #1018 "fix test suite bugs"
In email of 6/8/2015 on the dev list, @JohannesPfeifer reported dependencies of the test suite that don't make sense. fix these

[2015-08-06 12:38] #1018 closed

[2015-08-06 13:27] #236 closed

[2015-08-06 13:33] #270 closed

[2015-08-06 13:36] #868 closed

[2015-08-06 16:41] MichelJuillard commented on #1013
Maybe, we should have a first level of name that makes clear the algorithm used for the computation (optimization, MCMC).

[2015-08-06 17:41] JohannesPfeifer commented on #1013
@MichelJuillard I am not entirely convinced of adding another layer. We already have fields like
```oo_.posterior_hpdsup.measurement_errors_corr.gdp_conso```. It would also change the storage of all posterior moments. I can also do that, but is seems to be a bit of an overkill.

The only ambiguous field seems to be ```oo_.posterior_std```. Thus, I would prefer to just rename it and leave the other

[2015-08-07 09:47] houtanb commented on #915
```matlab/convert_oo_``` is a recursive function that works in both directions (i.e. converting up from, for example, 4.3 to 4.5 or converting down from, for example, 4.5 to 4.3).

The procedure is that for every new release of Dynare, we need to:
* modify ```convert_oo_``` to change the ```MAX_VER``` variable.
* create two new functions: ```convert_dyn_NEW_VER_to_LAST_VER.m``` and ```convert_dyn_

[2015-08-07 10:28] JohannesPfeifer opened #1021 "Check correctness of DSGE-VAR Wiki"
According to Del Negro/Schorfheide (2004), the variance priors and posteriors have degrees of freedom correction with number of estimated parameters in the VAR equation, i.e. variables times lags plus a constant:
[code]
However, http://www.dynare.org/DynareWiki/DsgeVar does not feature a constant in the description, but still uses the same initial improper prior with ```m+1``` as if a constant wou

[2015-08-07 15:10] MichelJuillard commented on #1013
Let's do it your way. We can re-organize later

[2015-08-11 09:31] JohannesPfeifer opened #1024 "Save posterior moments even when moments are constant"
In ```covariance_mc_analysis.m``` and the like we test whether the moments are constant and, if yes, we store NaN. I don't see the logic of this. All moments are still well-defined (although identical). I would propose to get rid of this check and always store the computed moments.

[2015-08-11 19:15] JohannesPfeifer opened #1026 "Investigate memory issue of k_order dll (Dynare++)"
See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7155. Even with 32GB RAM, it crashes with
[code]

[2015-08-11 20:01] MichelJuillard commented on #1026
The model is rather large with 28 variables, 2 shocks and 11 state variables. I' m even surprised that it turns for order=6 on 32GB. Cross-derivatives of higher orders take a lot of space!

[2015-08-12 05:25] JohannesPfeifer commented on #1026
@MichelJuillard I am not really satisfied by your answer. Both the user and I checked with different OS and the resource monitor does not show anything suspicious. Under Windows 8, Dynare++ tells me right from the start in the ```jnl``` file
```dim=2 run out of memory```
It then continues until the crash at
[code]
with occasional large hard-disk activity, but hardly any RAM use. The used RAM incre

[2015-08-12 07:37] #357 closed

[2015-08-12 07:40] #917 closed

[2015-08-12 08:35] MichelJuillard commented on #1026
The dynamic model has 42 variables + 2 shocks and 28 equations. With the total number of variables n=44,
the number of non-symmetric derivatives for order 7 is
28*n*(n+1)*(n+2)*(n+3)*(n+4)*(n+5)*(n+6)/7 which is a very large number, even if dynare++ stores only nonzero derivatives. In addition, you need the information for orders < 7 and for storing the solution.
Most likely, dynare++ computes all

[2015-08-12 08:43] JohannesPfeifer commented on #1026
I understand the intuitive argument, but it hardly seems to match what's going on on the machine. On a 64 bit system, there is no effective limitation on memory use as the harddisk should be used as swap space. But Dynare++ does not even use the full physical memory at any point in time. This in addition with the always wrong display of memory used makes me skeptical that just size is the problem.

[2015-08-12 09:01] MichelJuillard commented on #1026
If you want to investigate the issue further, you should probably do it on a Linux machine that is likely to give you a more accurate picture of instantaneous memory usage.. The basic fact remains that there are some problems that dynare++ can solve in a given among of RAM and some bigger problems that it can't. I believe that improving the memory efficiency of dynare++ would be a major work for l

[2015-08-12 09:07] JohannesPfeifer commented on #1026
I am not really interested in improving the memory efficiency. I worry more that there is a bigger issue here on non-Linux systems. Ticket #612, which was a memory leak under Windows, was closed without a solution. Now there is another case in the same basic routine where the memory management under Windows behaves counterintuitively.

[2015-08-12 09:46] JohannesPfeifer commented on #1021
Addendum: the condition ```lambda*T<m(p+1)``` for a valid prior sees to come from the Wishart distribution where in Appendix A1 without this condition the Gamma function would be evaluated at a negative number. I don't see the immediate relation to the number of observations/degrees of freedom used for the likelihood.

[2015-08-12 10:12] MichelJuillard commented on #1026
You' are right, there maybe another problem. I tried the example on a Linux machine and dynare++ crashed after 25 minutes with a segmentation fault. According to the journal, it occurred when dealing with order=6. Until then the peak memory used was about 8GB

[2015-08-12 11:20] JohannesPfeifer commented on #1026
Do we then still view this issue as closed? And if not, how should we proceed?

[2015-08-12 11:45] MichelJuillard commented on #1026
gdb reported the error as occuring in openblas, but I doubt that openblas be th culprit. I'm trying valgrind but don' t expect a result before tomorrow

[2015-08-12 12:23] JohannesPfeifer commented on #1026
When building Dynare++ for Windows, do we distinguish 64 and 32 bit systems?

[2015-08-12 12:36] houtanb commented on #1026
No, we distribute a 32bit binary

[2015-08-12 12:44] JohannesPfeifer commented on #1026
Is Linux different? That might explain the problems in memory management under Windows where the out of memory happens straight from the start. For 32 bit the limit should be somewhere around 3GB memory.
The only strange thing is that something similar happens for the ```k_order_pert.mex``` which is compiled for 64 bit.

[2015-08-12 12:46] houtanb commented on #1026
I imagine @MichelJuillard compiled ```dynare++``` in which case it would be the 64-bit version

[2015-08-12 12:47] JohannesPfeifer commented on #1026
What happens on Mac OS? The user reported the same message as under Windows, while Michel reports something different.

[2015-08-12 12:48] houtanb commented on #1026
On OS X and Windows we distribute a 32-bit version of dynare++. If the user compiled it himself, it could be either 32-bit or 64-bit, depending on his setup

[2015-08-13 12:59] #965 closed

[2015-08-13 14:10] #1013 closed

[2015-08-15 09:57] JohannesPfeifer opened #1028 "Transform M_.aux_vars.eq_nbr from char to double"
For some reason, the equation number is stored by the preprocessor as a character, leading to problems in ```display_problematic_vars_Jacobian.m```

[2015-08-17 08:45] houtanb opened #1031 "declare all options_ fields as empty/0 in global_initialization"
Following the discussion on pr #1030, we must decide whether or not we want to do this and implement it throughout the code (or not)

[2015-08-17 08:55] #1028 closed

[2015-08-23 19:14] tholden opened #1033 "typo in dsge_likelihood.m"
Lines 366 and 480 of dsge_likelihood.m are as follows:
[code]
I presume the `options_.lik_init == ` should not be there? `options_` is no longer even defined in DsgeLikelihood.m, so if none of the previous cases have been matched, a MATLAB error will be generated when MATLAB attempts to access a field of the non-existent structure.

[2015-08-23 19:41] JohannesPfeifer commented on #1033
@tholden This is a duplicate of #992

[2015-08-23 19:46] tholden commented on #1033
Apologies.

[2015-08-23 19:46] #1033 closed

[2015-08-24 09:38] JohannesPfeifer opened #1034 "Add capacities for rolling window forecasts"
Currently, we only support recursive forecasting where the time window, on which the model is estimated, expands.
Necessary steps:
1. Allow ```estimation``` option ```first_obs``` to take vector like ```nobs``` (with the same consistency checks)
2. Adjust ```dynare_estimation``` to not either set ```options_.nobs = nobs(i);``` or  ```options_.first_obs=first_obs(i)``` and add check that makes them

[2015-08-24 09:44] JohannesPfeifer opened #1035 "Add option to save kernel density for posterior objects"
This allows for example getting the posterior density of forecasts.

It simply requires adjusting ```pm3.m``` to save the objects that can already be computed via ```posterior_moments```.
I would propose to call the option ```posterior_kernel_density``` and save it to ```options_.estimation.posterior_kernel_density.indicator=1```

[2015-08-24 10:00] houtanb commented on #1021
@JohannesPfeifer We use the github issues for code-related work only, not as a general to-do list. I think it would be better to send this to the dev list.

[2015-08-24 10:00] #1021 closed

[2015-08-25 04:56] JohannesPfeifer commented on #1034
@houtanb I updated the description as this is more straightforward than thought. If you do the preprocessor part 1), I will do part 2).

[2015-08-25 08:41] JohannesPfeifer commented on #1035
@houtanb When you allow setting ```options_.estimation.posterior_kernel_density.indicator``` I will do the rest, including the ```global_initialization.m``` part.

[2015-08-25 10:30] JohannesPfeifer commented on #1024
@houtanb Does this mean it is OK to do this or do we still need a decision?

[2015-08-25 17:47] tholden opened #1039 "@#include should pull in mod files off the MATLAB path, not just the current folder"
To enable @#include to be easily used with libraries of utilities e.g. https://github.com/tholden/DynareTransformationEngine , it needs to be able to include MOD files that are not in the current folder, and are instead somewhere in the MATLAB path. Copying and pasting is both messy and unreliable.

[2015-08-25 19:53] tholden opened #1040 "check_matlab_path.m fails if there are files with single letter file names"
Line 131 is as follows:
[code]
If the file name is length 1, then end-1 evaluates to a 0, causing an error. A fix is included in this commit: https://github.com/tholden/dynare/commit/99742309d2fe3468bcdc7074a0120be00222912b
in which that line is changed to:
[code]

[2015-08-26 07:57] JohannesPfeifer opened #1041 "Save planner objective after running discretionary_policy"
For some reason ```discretionary_policy.m``` has the commented line
[code]
Is there a reason we do not simply add
[code]
to the function to actually save the objective function value as for Ramey?

[2015-08-26 09:09] houtanb commented on #1040
@tholden two things:

* For us to merge your commit, you need to create a pull request
* You rightly point out that we ignore ```.M``` files which were supported until R2011b. Thanks for noticing this
* I think the ```max``` confuses the issue, as we're trying to choose only ```.m``` files here. Why not use
[code]
* Finally, it seems like the  ```if``` body can be simplified to ```flist{end+1} = n

[2015-08-26 09:34] houtanb commented on #1040
Actually, it seems like we can avoid looping through the files, as long as we can find the analogous Windows command to the following (I guess it's something using ```dir```):
[code]
Then just loop through the directories adding their ```.m``` files to ```flist```

**NB**: This is just an idea and would have to be tested....

[2015-08-26 10:11] houtanb commented on #1039
```@#include``` does not have access to the Matlab path as this is in the macroprocessor. You need to include the entire path in the @#include statement to find the .mod file.

[2015-08-26 11:40] MichelJuillard commented on #1039
Relative path should work as well

[2015-08-26 11:44] MichelJuillard commented on #1041
It should work but it would be nice to have an example where we know the right answer

[2015-08-26 12:42] JohannesPfeifer commented on #1041
@MichelJuillard I wonder what could go wrong? We use the same function for Ramsey to evaluate the objective. If the value would be wrong, the whole ```discretionary_policy``` command would return wrong results. Or what am I missing? But I agree that we should have a unit test for correctness.

[2015-08-26 19:45] tholden commented on #1040
I'll leave this to you if that's OK. I have a lot of changes in my version of Dynare, so creating a pull request would be more hassle than it's worth for a 1 line change. (And I'm desperately trying to hit a deadline right now.)

[2015-08-26 19:51] tholden commented on #1039
Using a relative path is a good idea, but it still doesn't solve the issue. It would be nice to be able to use libraries of mod files, like libraries, and for that, scanning some path is necessary.

It wouldn't be hard to give the preprocessor access to the MATLAB path, so I don't think that's really an answer or a reason for closing this ticket. The question is whether the preprocessor ought to h

[2015-08-26 20:07] MichelJuillard commented on #1039
It raises several issues:
1. we should probably explore the entire path and report an error if two *.mod files have the same name
2. Logically *.mod files are different from Matlab file, why use the Matlab path and not a Dynare path?
3. If you are into libraries of *.mod file, you probably also have libraries of *.m files for pre or post processing. Maybe we should encourage users to keep same in

[2015-08-27 08:03] JohannesPfeifer commented on #1040
@houtanb Using the ```dir``` command in Windows seems impractical. How about something along the line
[code]

[2015-08-27 08:55] houtanb commented on #1040
@JohannesPfeifer your solution looks pretty good. If you have the time, feel free to implement it, test it, and create a pull request. If not, let me know and I'll do it sometime soon.

[2015-08-27 09:14] stepan-a commented on #1039
I am also not in favor of including the whole Matlab path.

There is a command line option to the preprocessor to define macro variables (```-DMACRO_VARIABLE=MACRO_EXPRESSION```). We could add the possibility to specify paths to folders where the preprocessor would search for files (not necessarily ```*.mod``` files by the way) to be included. Something like:
[code]
This is what is done for ```*.h

[2015-08-27 09:23] stepan-a commented on #1040
I imagine we should also fix the routine ```get_directory_description```, which lists all the m files under a folder, in ```m-unit-tests``` submodule.

[2015-08-27 09:25] JohannesPfeifer commented on #1040
@houtanb I tried it according to my best knowledg and it worked. But I have no clear grasp how to trigger the different cases where the function is supposed to operate. That makes it hard for me to rigorously test it. Maybe @stepan-a can have a look

[2015-08-27 09:28] stepan-a commented on #1031
Why wouldn't we want to do this? I do not think that if can hurt if we initialize to Nan, 0 or [] options that currently do not have default values...

[2015-08-27 09:30] houtanb commented on #1040
@JohannesPfeifer to make the function work, I think you need to open matlab, then type:
[code]

[2015-08-27 09:33] houtanb commented on #1031
The question is more that, if this is desired, why haven't we been doing this all along. Was there a reason, or was it just carelessness? If the later, then we should do this now.

[2015-08-27 09:41] stepan-a commented on #992
I fixed the bug relaed to ```options_``` in commit d125c2effc2b7c1d103d96173ddc4b59c7ee5749. I am not sure I want to delete this part of the code.

[2015-08-27 09:44] stepan-a commented on #1031
I have the impression that is more a matter of carelessness. I think it would be useful to have all the options initialized, at least to have a clear (and if possible organized) view of all the options available somewhere.

[2015-08-27 09:46] JohannesPfeifer commented on #1031
The challenge is now to identify which fields were not set, because they should be scattered around the code. Maybe searching for isempty will work.

[2015-08-27 09:50] JohannesPfeifer commented on #992
@stepan-a Fine with me, but could you please add documentation for it and add the case to the unit tests in dynare/tests/kalman/likelihood_from_dynare/

[2015-08-27 11:46] MichelJuillard commented on #1031
isempty() doesn't work because the field doesn't exist. If some cases, we may have used isfield() and it is important to find these, because initializing the field would break that part of the code
It is more important to be clear about the rule for the future than to correct all existing code because departure is harmless in most cases.
I know that I have to do it for extended path

[2015-08-27 15:13] MichelJuillard commented on #1039
It is good to have the -I option but we also need a macro command such as DYNAREPATH in the *.mod file

[2015-08-27 15:38] stepan-a commented on #1039
@MichelJuillard  What would be the purpose of a DYNAREPATH macro variable?

[2015-08-27 15:48] MichelJuillard commented on #1039
DYNAREPATH would need to be written only once while -I needs to be written every time you run dynare

[2015-08-27 15:50] houtanb commented on #1039
the doc for the ```-I``` flag: c9a808f70497dcbc9fc613302831a49b2440ce1f

[2015-08-27 15:52] houtanb commented on #1039
@MichelJuillard do you envision one path per ```@dynarepath``` command or a list of colon-separated paths?

[2015-08-27 15:54] stepan-a commented on #1039
I wonder if the name DYNAREPATH is not misleading... This has nothing to do with the path to the dynare binary (in matlab). Why not INCLUDEPATH?

[2015-08-27 18:01] MichelJuillard commented on #1039
INCLUDEPATH is better

Stéphane Adjemian writes:

--
Michel Juillard

[2015-08-27 18:02] MichelJuillard commented on #1039
one colon-separated list

Houtan Bastani writes:

--
Michel Juillard

[2015-08-27 22:18] tholden commented on #1039
Thanks a lot for the -I contribution. That does solve the problem, and it sounds like Michel's INCLUDEPATH suggestion will be very helpful too.

One further suggestion: Just as MATLAB/GCC/whatever have a few default folders they always include, it might be nice for Dynare to have one or more directories it always includes too? Perhaps ~/DynareInclude/ (if it exists) and DYNARE_ROOT/DynareInclude/

[2015-08-28 08:23] JohannesPfeifer opened #1044 "Clear up option mh_posterior_mode_estimation"
See the question at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7235
Does anyone know what it does?
Looking at the codes in ```dynare_estimation_1.m``` this option seems to skip mode computation and directly runs the MCMC, using the prior mode as the starting point and the prior variances for computing the inverse Hessian for the MCMC. In case of the mode not existing, the prior mean is used.

[2015-08-28 16:08] houtanb commented on #1039
@tholden the decision was made to allow for paths to be specified in the dynare config file which is automatically read every time dynare is run. So, if you want to include a directory, it's sufficient to add the following to your dynare config file:
[code]

[2015-08-28 16:08] #1039 closed

[2015-08-30 09:52] MichelJuillard opened #1045 "Clarify interface for evaluate_planner_objective.m"
It works OK for evaluation at the steady state, but the way to set histval and shocks in first period is confusing

[2015-08-31 07:12] #1040 closed

[2015-08-31 10:56] #1034 closed

[2015-08-31 15:10] JohannesPfeifer opened #1047 "Make Ramsey and discretionary_policy mutually exclusive via preprocessor"
Follows discussion on mailing list on 31/08/2015.

[2015-08-31 15:35] JohannesPfeifer opened #1048 "Eliminate remaining randomness from estimation routines"
Related to http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7243&p=21224#p21224
There still seem to be elements where we do not make sure that estimation becomes "deterministic". For example, we only reset the seed in ```metropolis_hastings_initialization``` after we have initialized the chains via
[code]
thereby introducing an element of randomness. This seems to be particularly relevant if optim

[2015-09-03 14:38] houtanb commented on #1047
@JohannesPfeifer are ```ramsey_model``` and ```ramsey_policy``` mutually exclusive as well?

[2015-09-03 15:00] MichelJuillard commented on #1047
No they are more like synonymous

On September 3, 2015 4:38:57 PM CEST, Houtan Bastani <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-09-03 15:01] houtanb commented on #1047
So then ```discretionary_policy``` is mutually exclusive to both ```ramsey_model``` and ```ramsey_policy```?

[2015-09-03 15:20] #1047 closed

[2015-09-03 19:48] tholden opened #1051 "Eliminate the global variable objective_function_penalty_base"
This causes problems when the estimation function is evaluated in parallel, using fmincon's 'UseParallel','always' or similar. Further problems with parallel objectives are given in this issue: https://github.com/DynareTeam/dseries/issues/10

[2015-09-04 07:43] stepan-a commented on #1051
Yes this is the last global in ```dsge_likelihood```. We have at least to precise in the manual that this code cannot be called in parallel. I think it would be a lot of work to pass this variable as an input argument. Maybe we could put the global in a if statement, but I don't know what would be the cost of this solution. Another possibility is to write a version of ```dsge_likelihood```without

[2015-09-04 10:25] JohannesPfeifer commented on #1051
Is there any reason we do not put it as a field into one of the structures we already use? For example into options?

[2015-09-04 15:04] tholden commented on #1051
dsge_likelihood ought to support being called in parallel really. I've been using CMAES on a multi-modal objective function, with the main loop in parallel. Without the parallelisation it would really be prohibitively slow. As a work-around, I have:
[code]
There's also a required change to dseries to get this to work, to support initializing from a struct.

[2015-09-04 15:13] JohannesPfeifer commented on #1051
I fully agree, but this will be tricky. I am willing to do the change, but we need to find out how to do this. The penalty is sometimes updated. By being global this update is available in later calls. When having the penalty as an input, one needs to make sure that any update is passed to later calls. But this path dependeny is fundamentally incompatible with a parallel context. Maybe we should t

[2015-09-04 16:06] stepan-a commented on #1051
We cannot remove the penalty for ```mode_compute=4,5```. I think that it should be possible to pass it as an argument but it's not simple because we do not systematically update its value (for instance we do not update the penalty when calling numgrad routines (so we would have to pass also a flag to indicate if the penalty bas has to be updated).

The endogenous penalty helps the gradient based m

[2015-09-04 18:08] JohannesPfeifer commented on #1051
If I understand it correctly, the base value of ```objective_function_penalty_base``` is hard-coded in ```dynare_estimation_init``` to be 1e8 and reset to Inf in ```random_walk_metropolis_hastings```. In between those two statements, ```mode_compute=4,5``` adjust the penalty endogenously. In ```dsge_likelihood.m``` itself, ```objective_function_penalty_base``` is read-only. That means, we should b

[2015-09-04 18:28] stepan-a commented on #1051
Your understanding is correct. But I would wait for @MichelJuillard opinion before starting to code... He may remember why he put back this variable as a global.

[2015-09-06 07:02] MichelJuillard commented on #1051
As stated by @stepan-a  ```objective_function_penalty_base``` helps dealing with the constraints (solving steady state, unicity of RE solution, parameters inside their boundaries, likelihood being real, etc ....) with gradient based methods.
Using a constant penalty creates walls or cliffs in the objective function that give a hard time to the gradient class of optimizers.  Optimizers for constrai

[2015-09-06 07:17] JohannesPfeifer commented on #1051
I agree with this solution. You should not worry too much about backward-compatibility with user-defined mode-compute functions as that functionality was broken in 4.4.3.

[2015-09-06 08:18] MichelJuillard commented on #1051
Thanks @JohannesPfeifer. Do you remember what was broken with user-defined mode-compute. @tholden are you using the user defined ```mode_compute``` when you call  CMA-ES? How did you handle exceptions in that case?

[2015-09-06 08:20] JohannesPfeifer commented on #1051
We did not correctly account for passing strings to mode_compute. CMA-ES is mode_compute=9. It runs perfectly in the current setup where the base value of the penalty is unchanged

[2015-09-06 15:35] tholden commented on #1051
I have a custom CMAES which a) takes function handles, b) has more sensible default options, c) also parallelises after the objective function returns nan, (default CMAES handles that case in serial). This is here: https://github.com/tholden/dynare/blob/master/matlab/optimization/cmaes.m
The objective function is wrapped up in a parallel wrapper from here: https://github.com/tholden/dynare/blob/ma

[2015-09-07 09:49] #720 closed

[2015-09-07 09:59] houtanb commented on #297
No plans to do this. Closing

[2015-09-07 09:59] #297 closed

[2015-09-07 10:05] houtanb commented on #331
@JohannesPfeifer what is the difference between this option and the ```overwrite``` option?

[2015-09-07 10:08] JohannesPfeifer commented on #331
Seems I have missed this option that's already there.

[2015-09-07 10:08] #331 closed

[2015-09-08 08:27] MichelJuillard opened #1053 "mode_compute=5 breaks computing total execution time"
mode_compute=5 resets maybe time counters with tic and toc. To be checked

[2015-09-08 08:29] JohannesPfeifer commented on #1053
```newrat.m``` has a tic/toc construct.

[2015-09-08 09:49] houtanb commented on #263
Remaining to be done: search the tex name (provided by ```getTeXName(symb_id)``` for an underscore. We don't need to search for power because 17c1f52 already adds braces around the expression potentially containing the subscripted lag and a power and a lag are ok in tex. We have to search for the underscore because we add an underscore if the variable has a lag. Need to do a regex match for variab

[2015-09-08 10:12] MichelJuillard commented on #263
We always add an underscore because even current variables have a 't' subscript in the Latex rendering

[2015-09-08 10:12] houtanb commented on #263
yes, you are right. I misspoke. But the change is the same.

[2015-09-08 12:21] MichelJuillard opened #1054 "argument steadystate_check_flag is ignored in evaluate_steady_state"

[2015-09-09 09:25] stepan-a opened #1055 "Deprecate first_obs and last_obs in data command"
Replaced by ```first_date``` and ```last_date```, to avoid confusion with the options in the ```estimation``` command.

[2015-09-09 09:25] stepan-a opened #1056 "Document the data command"

[2015-09-11 11:38] JohannesPfeifer opened #1057 "Rethink default clear all to improve compatibility with Matlab 2015b"
With Matlab 2015b the default ```clear all``` statement interferes with the new just-in-time compiler, resulting in many warnings and poor performance.
We may want to get rid of this clear all.

[2015-09-11 12:19] MichelJuillard commented on #1057
If we don't replace the initial ``clear all``` with something equivalent better suited for R2015b, we will need to change all ```if exist()``` constructs in the code as their logic rest on starting Dynare with an empty work space.
We should also watch for syntax updating objects assuming that they didn't exist upon starting Dynare. I'm thinking in particular to structures: Even if ```a``` doesn't

[2015-09-11 12:52] JohannesPfeifer commented on #263
@houtanb Does this also solve the issue with model-local variables? I have one defined as ```#log_R_bar=log(Pi_bar/betta);```
As far as  I know, there is no way to manually specify a TeX-name for model local variables, but the name is literally put into the TeX-file, resulting in multiple subscripts.

[2015-09-11 12:56] JohannesPfeifer commented on #1057
@MichelJuillard Why do we use a ```clear all```?
Why not

``` clear('M_','oo_','options_','ys0_','ex0_','estimation_info') ```

That is, we could just selectively delete all global variables that are defined a few lines later. That should solve the issue and preserve compatibility.

[2015-09-11 13:00] JohannesPfeifer opened #1058 "Make Dynare compatible with Matlab2015b"
See https://github.com/DynareTeam/dynare/commit/1a3d8d0b26a398c60221cdceb234036140d8fd4e, 6a17fe5de3e9834da01b6ad10abd891cff35be22, and b4a8ad8aa4b992c49638c90207871a9feaa18c3c for previous version.

[2015-09-11 13:02] stepan-a commented on #1057
I agree with @JohannesPfeifer. We only need to clear the global variables, with:
[code]
or we can use the ```clearvars``` command.

[2015-09-11 13:03] houtanb commented on #263
@JohannesPfeifer no, yours is a separate issue which would require a new syntax

[2015-09-11 13:08] JohannesPfeifer commented on #263
@houtanb I am not saying we need a way to specify TeX names for model-local variables. I just want the underscore by replaced by ```\_``` for them.

[2015-09-11 13:09] houtanb commented on #263
@JohannesPfeifer this would still be a separate issue

[2015-09-11 13:10] JohannesPfeifer opened #1059 "Make names of model-local variables TeX-compatible"
In particular, replace underscores. See https://github.com/DynareTeam/dynare/issues/263#issuecomment-139540237
Potentially, we might allow defining a TeX-name for them.

[2015-09-11 13:11] JohannesPfeifer commented on #263
@houtanb Ok. I opened a new issue.

[2015-09-11 13:16] MichelJuillard commented on #1057
I'm not sure that this list of global variables is exhaustive. Needs to be checked. We probably need to do something about persistent variables as well. Normally, they should be properly initialized, but a second security is probably helpful

[2015-09-11 13:24] JohannesPfeifer commented on #1057
```clearvars``` seems to be the best option, but it is not available in Octave.

[2015-09-11 13:30] stepan-a commented on #1057
We can still use ```clear all```for Octave (and/or old versions of matlab, ```clearvars``` was introduced in Matlab 2008)

[2015-09-11 13:31] stepan-a commented on #1057
I think, but need to check, that there is also a ```clear persistent```...

[2015-09-11 14:22] JohannesPfeifer commented on #1057
Clearing persistent variables seems to be hard, see http://de.mathworks.com/matlabcentral/answers/16799-best-method-to-clear-persistent-variables

[2015-09-15 08:02] JohannesPfeifer opened #1060 "Add capabilities for pseudo out of sample forecasting"
Allow estimating model parameters on one part of the data and then, holding the estimated parameters fixed, forecast observations after the end of the sample used for estimation. See discussion on mailing list from September 14, 2015

[2015-09-15 13:35] stepan-a commented on #1057
Doing timing with ```fs2000.mod``` using matlab R2015b I do not find significant differences when I try with/without options ```noclearall``` or ```onlyclearglobals```... So I wonder if we really care about JIT performance issues. The time spent in JIT compilation is not so important (even for larger models, as the preprocessor rewrites the dynamic and static routines for each dynare run,  there i

[2015-09-16 10:23] #1059 closed

[2015-09-17 14:04] houtanb commented on #364
@JohannesPfeifer is @stepan-a ok with lifting this restriction?

[2015-09-23 09:56] stepan-a commented on #1057
The command ```grep -lR ^persistent *```in folder ```dynare/matlab``` returns the following list of matlab routines containing persistent variables:
[code]
For Matlab > R2015a I propose to replace the ```clear all``` statement by ```clearvars``` and  apply ```clear``` to the functions listed above. I will write a matlab function to do that. Ideally I would like to obtain the information returned b

[2015-09-23 10:56] MichelJuillard commented on #1057
OK for me

[2015-09-23 20:01] JohannesPfeifer opened #1063 "Make output of dsge_var_likelihood accessible"
See the discussions in http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7315 and http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=2920

[2015-09-25 11:27] rattoma opened #1065 "factorizing posterior samplers + inclusion of slice sampler"
I am going to make a pull request from by personal branch
https://github.com/rattoma/dynare/tree/slice

the aim is to add a new posterior sampler, SLICE, but also to make it easier to add further new ones.
There is a bunch of common codes in random walk, independent, TARB, etc. and I did not want to follow that route.

So I wrote, adapting from random walk algorithm, a new general set of routines

[2015-09-25 11:28] rattoma commented on #1065
the current status of my branch can already be tested

[2015-09-25 12:32] stepan-a commented on #1065
Thanks @rattoma I will grab your branch and run the tests this week-end.

[2015-09-25 16:24] rattoma commented on #1065
Thanks @stepan-a. Please note I just committed few changes [should only apply to slice but might affect also other things]

[2015-10-02 22:51] tholden opened #1066 "Skip dynare initialization when run with noclearall when dynare has previously run"
The below is a feature request which seems particularly pertinent in light of https://github.com/DynareTeam/dynare/issues/1057 :

In code that calls dynare repeatedly with noclearall, the time spent in Dynare's initialization can be a non-trivial contribution.

Can we set a global flag when Dynare is initialized (e.g. paths set, mex files found, etc.), and skip as much as possible on subsequent ru

[2015-10-03 07:49] JohannesPfeifer commented on #1066
@tholden Where would you ever need this? You are not supposed to run Dynare repeatedly, but rather loop over the respective command without taking derivatives etc again. Which application do you have in mind that repeatedly requires new preprocessing?

[2015-10-03 16:27] tholden commented on #1066
Well dynareOBC does it for one. ( https://github.com/tholden/dynareOBC ) First dynare call just runs the preprocessor, the output is processed by dynareOBC, then a second dynare call just gets the steady-state, further processing is done on the mod file in light of the steady-state, then a final dynare call does the actual work. Doing this without the repeated calls would have required me to make

[2015-10-05 15:30] JohannesPfeifer opened #1067 "Fix trust region exit criterion"
In  ```trust_region.m``` we have a problem with trying to encode three pieces of information in a binary variable ```check```

The problem is error code -3 (Trust region became uselessly small). c01352ea3bfd6dd29074a2e0867afc5a1763f79d tried to prevent the solver from accepting error code -3 as a solved steady state. But this breaks the loop in ```dynare_solve.m```:

[code]
which relies on being a

[2015-10-06 08:30] MichelJuillard commented on #1067
I think that your first idea was the right one. If I understand correctly info can take three value at the end of the main loop
info = 0 : maxiter has been reached
info = -3: trust region too small
info = 1: success

The two first values indicate a problem and the procedure should stop and report failure

However, I think there was a problem in your first patch because when info == 1, check was re

[2015-10-06 09:17] JohannesPfeifer commented on #1067
@MichelJuillard That was a different problem with my patch that does not solve the issue. The problem is that -3 is a non-terminal exit code within the loop, but it must be terminal outside of it. I pushed a proposed fix in #1068

[2015-10-06 09:28] MichelJuillard commented on #1067
I don't understand why "-3 is a non-terminal exit code within the loop"

[2015-10-06 09:57] JohannesPfeifer commented on #1067
Because in ```trust_region.m``` we have the line
[code]
So both 1 and -3 evaluate to check being 0, which is non-terminal for
[code]

[2015-10-06 10:03] MichelJuillard commented on #1067
I think it is a bug. If the trust region becomes too small, it doesn't mean that we reached the solution

[2015-10-06 12:10] JohannesPfeifer commented on #1067
@MichelJuillard I think now that you are right. But the problem is that we do not check for a solution before breaking with code -3. I proposed an amended fix in #1068

[2015-10-06 12:17] MichelJuillard commented on #1067
@JohannesPfeifer, yes, it is better to check as you do now.

[2015-10-06 12:17] #1067 closed

[2015-10-08 09:17] houtanb opened #1069 "prevent test suite from failing when a call to octave/matlab fails"
Add a ```-``` in front of the calls to octave/matlab. Then add a script afterward that will test for the existence of the ```.trs``` file and, if it doesn't exist, create it with some information that will allow it to be separated later in the email

[2015-10-08 09:19] houtanb opened #1070 "un-revert 48257450475c306c03fdcbea9901bb3ab9fb8293 and 62b1c85fd4638cb01435d35ed2458a538d897d2f"
They were reverted to simplify the debugging of the test suite due to the upgrade to Debian Jessie

[2015-10-09 10:13] #1070 closed

[2015-10-09 10:13] rattoma opened #1071 "initial estimation checks"
The first checks in `initial_estimation_checks.m` are not robust to the case where for example we use mixed frequency data.
Assume we have annual data in time interval 1995-2000 and quarterly data in 2001-2015, I would define the annual variable and the quarterly variable as BOTH observed, but with missing values mutually exclusive, i.e. in 1995-2000 Q data will be NaN, while in 2001-2015 the annu

[2015-10-09 10:15] houtanb opened #1072 "fix test suite on OS X"

[2015-10-09 12:50] houtanb opened #1073 "move test suite timing to bokeh"
* store commit number + date of test run
* two y-axes : 1 for matlab test, 1 for octave

[2015-10-09 12:51] houtanb opened #1074 "test suite timing: when a test is run more than once on a given day, keep the last run"

[2015-10-09 15:11] #681 closed

[2015-10-09 16:58] JohannesPfeifer commented on #1071
@rattoma Do you want to do this or shall I do it?

[2015-10-09 20:08] MichelJuillard commented on #633
Currently, the problem seems to be limited to expectation operator. We need to come up with a test case for this issue.

[2015-10-10 15:50] MichelJuillard commented on #1053
Closed with commit 6502c311a0448c4694f0f9bc5390abcf4556d7f0

[2015-10-10 15:50] #1053 closed

[2015-10-10 16:05] MichelJuillard commented on #503
@JohannesPfeifer, the above code is not in dynare_estimation_1.m anymore. What shall we do with this issue?

[2015-10-10 16:07] MichelJuillard commented on #586
@houtanb can you add an example triggering the crash?

[2015-10-10 16:23] JohannesPfeifer commented on #503
@MichelJuillard i still see it in lines 137 following so I think it is still current

[2015-10-10 16:26] MichelJuillard commented on #821
@JohannesPfeifer, what remains to be done for this issue?

[2015-10-10 19:29] #122 closed

[2015-10-10 20:25] #1041 closed

[2015-10-11 09:12] JohannesPfeifer opened #1076 "Add preprocessor interface for prior_posterior_function"
See original PR https://github.com/DynareTeam/dynare/pull/871

[2015-10-11 09:19] JohannesPfeifer commented on #821
@MichelJuillard We haven't even started with the issue. What is missing is
1. A decision whether we want to add such a check and when we want to check
2. Adding the check and passing the respective output argument back from the function
3. Attaching a penalty and error code to this case

[2015-10-11 09:21] JohannesPfeifer commented on #988
Following the experiences of Herbst (2015) I would not change the default due to the current approach being much more accurate.

[2015-10-11 09:21] #988 closed

[2015-10-11 09:29] JohannesPfeifer opened #1077 "Integrate doubling algorithm into lyapunov_symm"
Following #988 and the discussions at the 2015 Dynare conference, we should integrate `disclyap_fast.m` into `lyapunov_symm` to have one solver only. The question is whether we want to integrate this as a call to `disclyap_fast.m`as an external function or whether to make `disclyap_fast.m` a nested function within  `lyapunov_symm`. I would prefer the latter, because it makes the function with the

[2015-10-11 09:30] JohannesPfeifer opened #1078 "Make lyapunov_symm compatible with sparse matrices"
As discussed in #988 it would make sense to have ```lyapunov_symm``` able to work with sparse matrices (at least for the baseline option)

[2015-10-11 18:25] JohannesPfeifer commented on #640
@MichelJuillard I think this can be closed as well

[2015-10-11 18:27] JohannesPfeifer commented on #364
@stepan-a Any input here would be greatly appreciated.

[2015-10-11 18:42] #640 closed

[2015-10-11 18:53] MichelJuillard commented on #988
@JohannesPfeifer What is the exact citation of Herbst (2015)? Couldn't find the paper or the right section

[2015-10-11 19:07] MichelJuillard commented on #503
@JohannesPfeifer @stepan-a : I pushed a branch optimal_jscale_parameter. Can you check it and tell me if it takes care of the issue?

[2015-10-11 19:19] rattoma commented on #1071
Hi Johannes,
you have been very quick in making a pukll request on this. Thank you!!
best
Marco

On 10/09/15, Johannes Pfeifer  <notifications@github.com> wrote:

[2015-10-12 05:13] JohannesPfeifer opened #1081 "Add Chandrasekhar Recursion Kalman Filter"
As discussed during the 2015 Dynare conference, this might be a nice addition for larger models. See
Herbst (2015): "Using the “Chandrasekhar Recursions” for Likelihood Evaluation of DSGE Models", Comput Econ (2015) 45:693–705

[2015-10-12 05:18] JohannesPfeifer commented on #332
Done in #871

[2015-10-12 05:18] #332 closed

[2015-10-12 07:12] #1071 closed

[2015-10-12 07:28] MichelJuillard commented on #1077
@JohannesPfeifer I would prefer to have one master function lyapunov_solver.m calling different algorithms implemented in their own *.m file

[2015-10-12 09:38] JohannesPfeifer commented on #503
@MichelJuillard Your branch looks good to me to solve the problem that the scale was never used. But we still have to take the fundamental decision about precedence of options. There are three ways a user can specify the jscale:
1. In the ```estimated_params```-block. This will always have precedence, which is good.
2. Using the ```mh_jscale``` option of ```estimation```
3. By automatically loadin

[2015-10-12 09:53] MichelJuillard commented on #503
@JohannesPfeifer, you have a point. This is not optimal. A user may have computed the mode with mode_compute=6 and may want to run the Metropolis in another run while modifying mh_jscale.
It would be better for explicit options_.mh_jscale used in estimation() to have precedence over *_optimal_mh_scale_parameter. The latter being used only if there is no mh_jscale option in the estimation call.
Unf

[2015-10-12 09:58] JohannesPfeifer commented on #503
How about a new option for explicitly loading the scale parameter from a file? As this option did never work, we have no backward compatibility to worry about. Moreover, at some point I would like to write a routine for tuning the scale parameters over the full parameter range instead of having a scalar. Here, such an option for loading a matrix might also be helpful.
If we go for a separate optio

[2015-10-12 20:10] MichelJuillard commented on #573
The reason to remove unit_root_vars was that in non trivial models, it is difficult to know a priori which variables are nonstochastic and which ones are stochastic. Declaring nonstationary variables are not necessary for simulation of linear models. We later added the computation of theoretical moments with NaN for non stochastic variables automatically detected by Dynare.
In summary declaring no

[2015-10-12 20:15] MichelJuillard commented on #1024
Proposed decision: make the change proposed by @JohannesPfeifer

[2015-10-12 20:17] MichelJuillard commented on #1012
Proposed decision: do both

[2015-10-12 20:23] MichelJuillard commented on #534
Proposed decision: leave it open until somebody comes up with a new suggestion

[2015-10-12 20:26] MichelJuillard commented on #504
Proposed decision: reload the mode as well

[2015-10-12 20:28] MichelJuillard commented on #338
Proposed decision: unify the default to 0.8 and correct the manual

[2015-10-12 20:30] MichelJuillard commented on #330
Proposed decsion: we should try to do it despite the long delay

[2015-10-12 21:23] #1035 closed

[2015-10-13 07:10] rattoma commented on #330
blame on me. I agree to try fixing this ...

[2015-10-13 09:22] houtanb commented on #1076
@JohannesPfeifer is there a reason to not save the output of ```execute_prior_posterior_function``` in ```oo_```? Why do we need the separate output variable?

[2015-10-13 09:25] JohannesPfeifer commented on #1076
@houtanb No particular reason. We can save it into ```oo_``` and adjust the documentation accordingly.

[2015-10-13 10:26] stepan-a commented on #1066
I think I do not understand your problem. Most of the time is spent, but obviously it depends on the size of the model, in the parsing of the model (when we compute the derivatives and write the dynamic and static files)... Not in checking the availability of the various mex files (and setting the paths).  In the situations you are referring to, I understand that the model changes so you need to p

[2015-10-13 11:46] JohannesPfeifer commented on #1066
@stepan-a call to ```dynare_config``` adds about 1 second to each run on my machine. An option like ```noconfig``` might be a way out so that Dynare only needs to be called once at the start and then one can use e.g.
```dynare mymodfile noclearall nonconfig```
in subsequent runs.

[2015-10-13 11:56] MichelJuillard commented on #1066
I think calls to addpath are expensive. It would be more efficient to accumulate the different paths in a string and call addpath only once at the end of the configuration. Maybe it would be enough and without an extra option

[2015-10-13 12:47] JohannesPfeifer commented on #504
@MichelJuillard I agree. However things are more complicated than I thought. Your envisioned solution requires a mode-file to exist, which is not assured (particularly not when mode-finding overwrites the old model). I would propose to deal with this in 4.5 the following way:
1. From now on we save the proposal density information (scale factor, covariance matrix, starting values for the chains fr

[2015-10-13 12:53] JohannesPfeifer commented on #1048
@MichelJuillard @stepan-a Is there anything speaking against moving the seed setting to before that above statement?

[2015-10-13 14:15] stepan-a commented on #1066
Okay. One second is not a problem for me, but I will do what Michel suggests.

[2015-10-13 15:19] houtanb commented on #1076
@JohannesPfeifer please check the doc and ```execute_prior_posterior_function``` as I changed them a bit.

Also, @JohannesPfeifer, can we change the option ```prior_posterior_sampling_draws``` to just ```sampling_draws```?

Finally, @JohannesPfeifer, it might be neater to create two commands: ```prior_function``` and ```posterior_function```. If not, to have either ```prior``` or ```posterior``` b

[2015-10-13 15:26] JohannesPfeifer commented on #1076
@houtanb i will check them later today. But all your suggested changes are good ideas

[2015-10-13 15:35] stepan-a commented on #1065
@rattoma Here are the results of the tests (with matlab) considering the ```slice```branch (after the merge with ```master```, ie commit d1809152107ad0c95b9afe800113d2bec0d207e1):
[code]

[2015-10-13 16:19] JohannesPfeifer commented on #1077
@MichelJuillard do you really want a new function? lyapunov_symm.m already is a master function calling different (external) algorithms.

[2015-10-13 16:40] rattoma commented on #1065
@stepan-a thank you!
I will have a look. My first guess is around your rolling back of CutSample after MCMC diagnostics. Computing inefficiency factor needs info in record from CutSample which is most probably now missing. Also, I do not think CutSample should alter the behavior of Brooks/Gelman or Geweke tests [just adds more fields to the record] if we run it before calling McMCDiagnostics.m. Or

[2015-10-13 18:52] JohannesPfeifer commented on #1012
#1083 now includes it as a regular function. We can still port it to a dseries object of desired.

[2015-10-13 21:56] #1011 closed

[2015-10-13 21:56] #1012 closed

[2015-10-13 23:12] #573 closed

[2015-10-14 06:52] MichelJuillard commented on #1077
@JohannesPfeifer I would do one master file that only check for and call the different methods and one file per method. Maybe there is some code common to each method that could go in the top file

[2015-10-14 08:27] houtanb commented on #1076
@JohannesPfeifer any update here? Do you have a preference for two commands or one command and a default?

[2015-10-14 08:30] JohannesPfeifer commented on #1076
@houtanb I still have to check it out, but I would prefer two commands. That makes the setup on the user interface side cleaner without requiring changes in the Matlab implementation

[2015-10-14 08:52] JohannesPfeifer commented on #611
@stepan-a While this sounds nice in theory, do you have an idea on how we might achieve this? An example of what we are talking about is having
```a = g + a(-1) + epsilon```
in the model. We would need to have a way to define ```a``` as a conditional exogenous variable and a way to define that the above equation defines that variable and thus not need to be checked for a steady state, only all oth

[2015-10-14 08:55] JohannesPfeifer commented on #534
@MichelJuillard I don't see a workable solution that would not run into problems with backward compatibility. Maybe we should just drop the issue and close the ticket. I seem to be the only one who complained.

[2015-10-14 09:00] MichelJuillard commented on #534
@JohannesPfeifer OK, I close the ticket. We need however to remember the issue if at some point we consider a bigger overhaul of the modeling language

[2015-10-14 09:00] #534 closed

[2015-10-14 09:03] JohannesPfeifer commented on #419
@houtanb Is there an easy way to do this in the preprocessor? If not, we should just make sure that when we encounter a ```model_diagnostic``` statement in a mod-file, we actually compute g2 (i.e. we always use at least order=2 for generating the derivatives)

[2015-10-14 09:05] JohannesPfeifer commented on #298
@houtanb Is that ticket done?

[2015-10-14 09:08] houtanb commented on #298
@JohannesPfeifer almost. There are some things I want to check before I close the ticket and I want to redo the graphs

[2015-10-14 09:08] MichelJuillard commented on #419
Checking g2 is much easier. However, we need trigger the computaton of second derivatives in the preprocessor when model_diagnostic is present in the *.mod file

[2015-10-14 09:22] #1076 closed

[2015-10-14 09:31] houtanb commented on #419
@JohannesPfeifer can you post a .mod file that should fail.

[2015-10-14 09:34] JohannesPfeifer commented on #419
[code]

[2015-10-14 09:36] houtanb commented on #419
Hmmm, the previous comments have not been clear then. Should this check be triggered when the model is declared as linear or when it is linear and ```model_diagnostics``` has been passed?

[2015-10-14 09:39] JohannesPfeifer commented on #419
The check should be triggered when the user declares the model is linear. We want to find out where the nonlinearity is. I envision this to be a feature of ```model_diagnostics```, because generally checking for actual linearity seems like an overkill that robs the efficiency of declaring a model as linear

[2015-10-14 10:36] stepan-a commented on #1024
I do not understand the problem raised by @JohannesPfeifer (also see #1086). If the posterior distribution is degenerated, what should we report for the deciles, intervals or densities? I agree that there is no logic in reporting NaNs, but this has the merit to warn the user (even the most inattentive one) than something goes wrong.

[2015-10-14 11:05] MichelJuillard commented on #1024
@stepan-a I would report
- identical deciles
- 0 width intervals
- collapsed densities, maybe NaN if there is no better way

[2015-10-14 13:53] JohannesPfeifer commented on #1024
@stepan-a Even if you have a degenerate point density, the quantiles are well-defined as we are talking about a discrete distribution over draws. They are just identical, which is what we report now. Reporting NaN seems wrong to me as the percentile over the draws seems to be well defined.
@MichelJuillard That is what happens now. The deciles and HPDIs will be identical as the xth percentile of dr

[2015-10-14 13:54] JohannesPfeifer commented on #1024
@MichelJuillard What I forgot: the density estimate will also automatically return NaN when all values are the same.

[2015-10-14 15:52] stepan-a commented on #1024
@JohannesPfeifer I understand that we can compute these moments. My only concern is that this would be more misleading than returning NaNs (even the posterior mean is wrong). Users need to understand that they do not have any sensible result in this case. I think that if we do as you suggest, Dynare should at least issue a warning saying that something is wrong with the MCMC.

[2015-10-14 16:08] stepan-a commented on #1057
Done in commits e52ce43569398c9ea347458b51700020e0f9a412 and 18a5eea7e05cdf701a0e1a8fb0ba916f50e914a3. Note that I did not check on Windows (for which I use ```findstr``` as a replacement for ```grep```). Also the testsuite does not test this because we use matlab R2014b on karaba.

[2015-10-14 17:32] JohannesPfeifer commented on #1024
@stepan-a Why is this misleading and why is the posterior mean wrong? There are numerous cases where the posterior object can be constant without the MCMC being the culprit. For example, whenever there is an identity in the model, those two variables will have correlation 1 and there will be no variation even if the MCMC did work perfectly. Why should we report NaN here?
I see the problem that we

[2015-10-14 17:39] JohannesPfeifer commented on #1057
I don't know about Linux, but on Windows the ```findstr``` operation takes 2 minutes on my machine. That is prohibitive.

[2015-10-14 17:48] JohannesPfeifer opened #1090 "Save marginal data density from BVAR"
Currently, it is computed and displayed, but not stored. See http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7365

[2015-10-14 18:46] MichelJuillard commented on #1057
I didn't understand that you were greping on each Dynare run. I would integrate that in the package building procedure, making automatically a list of files containing persisent and writing them in a file that is static in a given distribution.

[2015-10-14 18:47] stepan-a commented on #1024
@JohannesPfeifer, I misunderstood the object of your PR. Your concern is only about the posterior distribution of the second order moments... Looking too quickly I understood that this was also about the posterior distribution of the estimated parameters. Sorry for the noise. I run the testsuite right now and push on master if the PR does not produce errors.

[2015-10-14 19:05] stepan-a commented on #1057
That is weird... In my virtualbox ```findstr``` is much faster. Besides, I do not grep on each Dynare run. I use grep the first time and I save a mat file containing the list of files where ```persistent``` variables are used. Then, on each run I test if the file exist and check that this file is newer than all the files in the matlab folder (and subfolders). If some of the routines are modified o

[2015-10-14 19:11] MichelJuillard commented on #1057
I prefer the static file. Users using persistent variables in their own files have better to know the dangers of this construct. I don't think that we should worry about them.

[2015-10-14 20:15] #1024 closed

[2015-10-14 21:04] stepan-a commented on #1057
Okay, I'll do that with a script to update the static file.

[2015-10-15 08:45] JohannesPfeifer opened #1092 "Allow changing planner_discount in mod-file (preprocessor restriction)"
See the discussion on the mailing list on 31/08/2015. This problem crashes the ```Gali_discretion.mod``` unit test. My proposal is:
Treat the planner_discount option like any other option (or parameter for that matter) and allow resetting it via the same statement later on. If a warning is needed, I would provide a warning that the planner_discount has been updated. But I don't really see the need

[2015-10-15 08:59] JohannesPfeifer opened #1093 "Discuss changing options_.hp_ngrid"
The option ```options_.hp_ngrid``` is now badly named after introducing a ```bandpass_filter``` option. It actually governs the number of points used in the inverse Fourier transform for any filter (see #1011).
I would suggest creating a new option ```ifft_points``` in the options structure and the preprocessor. For backward compatibility we should keep ```hp_ngrid``` in the preprocesor, but have

[2015-10-15 10:04] JohannesPfeifer opened #1094 "Check setting of bayestopt_ in set_prior.m"
In master, ```ls2003.mod``` crashes, because ```set_prior.m``` is called, which overwrites ```bayestopt_``` globally. The main culprit is the bottom line:
[code]
I don't understand why we have ```set_prior.m``` returning ```bayestopt_``` as a function output and simultaneously setting it as a global variable. I would propose getting rid of the above statement.

[2015-10-15 10:08] JohannesPfeifer commented on #1063
The question is which objects we should make available in which way. If the DSGE-VAR is estimated with Bayesian techniques, the AR-matrices for example will differ with each draw. Returning them in a structured way is not easy. Maybe we could just provide an example on how to use the ```posterior_function``` to retrieve any desired object that is output by ```dsge_var_likelihood.m```
What we might

[2015-10-15 10:32] rattoma commented on #1094
Indeed I am getting crazy trying to fix that right now ... getting rid would be best for me

[2015-10-17 12:13] stepan-a commented on #1072
The problem is the default startup folder of Matlab. For the testsuite to run smoothly Matlab must start in ```dynare/tests``` and not in another directory (in my case the default startup folder was my home directory, as a consequence Matlab failed in finding the ```run_matlab_test```). I resolved this issue by changing the configuration of Matlab. See the documentation [here](http://fr.mathworks.

[2015-10-17 12:13] #1072 closed

[2015-10-17 12:43] stepan-a commented on #1093
I think we also use inverse Fast Fourrier Transform for the estimation of the posterior densities, and probably elsewhere. So I wonder if a unique ```ifft_points```option is a good thing.  With your suggestion, if I do not misunderstand, ```hp_ngrid``` would change ```ifft_points```, ie the option considered for the ```bandpass_filter```.  This kind of side effect cannot be avoided if we use *glob

[2015-10-17 15:45] #1094 closed

[2015-10-17 17:12] JohannesPfeifer commented on #1093
The number of ifft points for computing the posterior densities is separetely stored in ```kernel_options.gridpoints```.
The option I am talking about is ```hp_ngrid``` used in ```th_autocovariances.m```, which governs the number of points used to approximate the theoretical moments of the model. Because we considered only hp-filtered moments initially, we named that option ```hp_ngrid```. But wit

[2015-11-06 09:56] houtanb commented on #822
This was a bug in the mod file, not with our interface to the ms-sbvar code or with the ms-sbvar code itself.

[2015-11-06 09:56] #822 closed

[2015-11-06 10:57] houtanb commented on #586
@MichelJuillard The file is on `sedna:/home/houtanb/mssbvar`. I started the test at `Fri Nov  6 11:56:04 CET 2015` with the `nolog` option to dynare, as the thought was that the log file was becoming too large. It takes several weeks to run

[2015-11-10 17:16] JohannesPfeifer commented on #1054
@MichelJuillard Do you have an example of this? Or more information?

[2015-11-12 13:32] stepan-a commented on #1074
@houtanb  Why do you want to do that? If each run corresponds to a different commit we should keep all the results.

[2015-11-12 13:36] houtanb commented on #1074
@stepan-a it's for the timing that takes dates along the x-axis without the time. This may not be necessary in bokeh and we could potentially keep the timing of those intermediary tests as well

[2015-11-12 13:49] #1057 closed

[2015-11-17 13:19] JohannesPfeifer opened #1105 "Fix several identification issues"
Consider the following mod-file
[code]
1. The problem is that after ```identification_analysis``` resets the number of autocorrelations, we have the line
``` evalin('caller',['options_ident.ar=',int2str(nlags),';']); ```
 that is, only in the original caller, which is ```dynare_identification.m```, is it reset. When the mod-file now reaches ```simulated_moment_uncertainty.m``` the variable accesse

[2015-11-19 07:20] JohannesPfeifer opened #1106 "Make treatment of delimiters in missing/strjoin compatible with Matlab"
The Dynare version returns for ```strjoin({'aa','bb'},'\n')```
```ans =aa\nbb```
while Matlab returns
[code]
The same holds for other delimiters like the tabulator ```\t``` that are treated like literal characters.

[2015-11-19 07:25] MichelJuillard commented on #1106
Be careful, this may have implications for the manipulation of TeX strings. In which cases is missing/strjoin called?

[2015-11-19 07:33] JohannesPfeifer commented on #1106
@MichelJuillard I thought the files in the ```matlab/missing``` folders are only added to the path if the Matlab version is not detected. I have never experienced problems with the proprietary Matlab version of ```strjoin``` so I presume that having full compatibility of our version with it should not create any problems.

[2015-11-19 07:40] MichelJuillard commented on #1106
Let see what @houtanb and @stepan-a say

[2015-11-19 15:33] houtanb commented on #1106
In fact, I only use it in reporting to display error messages. I took the open source version of the file that I found at the time and modified it to work with Matlab. I only intersperse commas in a cell arrays, so the escape characters don't factor in.

So, in short, this is a bug we won't ever encounter.

If you'd like to fix this to work with escape characters because you are planning to implem

[2015-11-24 16:04] houtanb commented on #1073
Done in DynareTeam/testsuite@4c9e6a36a1aed3e75eaf1c8373942510553e39f4

[2015-11-24 16:04] #1073 closed

[2015-11-24 16:10] houtanb commented on #1074
This is no longer necessary. Bokeh will handle plotting multiple points on the same date

[2015-11-24 16:10] #1074 closed

[2015-11-24 16:20] houtanb commented on #841
@MichelJuillard this is waiting on your check of PR #1046

[2015-11-24 17:34] houtanb commented on #298
Done in commits between DynareTeam/testsuite@a53bea9179ef0a524bf4aa8c89e75c49d9e5e633 and DynareTeam/testsuite@d2eb69493e07d5c04b5c437e3d424267fd01aca2

[2015-11-24 17:34] #298 closed

[2015-11-28 18:48] JohannesPfeifer commented on #1081
Closed through https://github.com/DynareTeam/dynare/commit/c373d1e1be102ec41d813b397df70d9158ffe3de

[2015-11-28 18:48] #1081 closed

[2015-11-28 18:50] JohannesPfeifer commented on #780
@MichelJuillard https://github.com/DynareTeam/dynare/commit/eb3d0cd20e0d061a05af0ed0f0453003eacc5064 maybe solves this issue, but @stepan-a might disagree with the commit.

[2015-11-28 19:58] MichelJuillard commented on #780
We need to proceed by steps. options_.nobs is still needed by some part of the codes. Commit
https://github.com/DynareTeam/dynare/commit/eb3d0cd20e0d061a05af0ed0f0453003eacc5064 only makes sure that it is correctly set and corrects a bug in  dynare_estimation_init.m
If it turns out that options_.nobs is not desirable anymore, the change should be made systematically in all functions using it.

[2015-12-01 10:35] houtanb opened #1110 "make substitutions in aux_equations the same way as in equations in DynamicModel::substituteLeadLagInternal"
currently, `aux_equations` and the auxiliary equations in  `equations` are out of sync

[2015-12-01 10:36] houtanb opened #1111 "is tests/reporting/example1.mod syntax up to date? Is the test necessary?"

[2015-12-01 10:47] houtanb opened #1112 "treatment of auxiliary variables"
Auxiliary variables are treated differently depending on the commands passed in the `.mod` file. As it stands now, if the following conditions hold
[code]
we substitute endo and exo leads and lags. Otherwise, we only substitute endo leads and lags. This different treatment is undesirable for Julia output, where we will only use the preprocessor to process a  model, without having the associated co

[2015-12-01 11:42] #1110 closed

[2015-12-01 12:37] houtanb commented on #1111
@MichelJuillard , the syntax in this `.mod` file seems ok. What's more, I included it because it's a good example of using the macroprocessor with `dates`, `dseries`, and `reporting` in a `.mod` file as opposed to in a `.m` file. Note that, for example, the dates are typed in directly as opposed to being encloded in `dates('')`.

That said, it's true that it doesn't test anything new (other than t

[2015-12-01 12:45] MichelJuillard commented on #1111
Thanks @houtanb. I would move it to example but call it *example1_reporting.mod*. I think it is good to have a very simple example to do one very basic thing and nothing else.

[2015-12-01 12:53] #1111 closed

[2015-12-02 15:53] JohannesPfeifer opened #1113 "Make Dynare compatible with Octave 4.2"
Requires among other things dealing with the mex-files, see http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7570

[2015-12-04 11:44] houtanb opened #1114 "create contributions.md describing how to contribute to dynare"

[2015-12-04 20:35] JohannesPfeifer commented on #520
@stepan-a I had been assigned this ticket. Now we duplicated the work.

[2015-12-04 21:16] stepan-a commented on #520
@JohannesPfeifer I am sorry for that. I knew that you had been working on this (Michel also worked on this issue) but I needed this urgently to play with CMR for another project (also I did not remember that someone was assigned).

[2015-12-04 21:19] stepan-a commented on #520
I still have to add unit tests for the Weibull random number generator.

[2015-12-08 12:46] houtanb commented on #1114
I don't know about the unitary tests, so @stepan-a can contribute that part

[2015-12-08 12:59] JohannesPfeifer commented on #1114
@houtanb For the reporting bugs-part, could you please add that people please only report bugs for the unstable or the most recent stable version, might want to check against http://www.dynare.org/DynareWiki/KnownBugs and that they should please clearly state:
- Dynare version used
- Octave/Matlab version used

[2015-12-08 13:24] houtanb commented on #1114
@JohannesPfeifer this is a good idea, though I think people should be able to report bugs in both stable and unstable. I'll add it now.

[2015-12-17 15:48] JohannesPfeifer opened #1117 "Get rid of globals in make_ex_"
Their presence creates a bunch of issues. In dfc89df6a8f5ff0f94c515934caf576088f5c5f6 we added a call to ```make_ex_``` to make the ```tests/forecast/Hansen_exo_det_forecast.mod``` run. But then 105100c7fefcf3610214a5bb8c6970098e8cb9aa eliminated the globals from ```dyn_forecast```, splitting the workspace of globals used within ```dyn_forecast``` from the one set by ```make_ex_```, thereby breaki

[2015-12-17 16:34] houtanb opened #1119 "Investigate potential bug introduced by 15716124fa6f061ca21e8f6c5a4907a4b0c52562"
The change introduced in 15716124fa6f061ca21e8f6c5a4907a4b0c52562 was meant to fix the existing bug in `aux_equations` that did not recursively substitute variables in `aux_equations` even though they were substituted in `equations`. We must see if this commit introduced a bug or if there is a bug in the way ramsey code deals with auxiliary equations.

@JohannesPfeifer pointed this out due to the

[2016-01-12 16:44] stepan-a opened #1121 "Fix compilation flags in the build system"
Compilation flags (```CFLAGS``` and ```CXXFLAGS```) specified with the ```configure``` script are not passed correctly when building the mex files (the preprocessor and dynare++ honour the flags). So the mex files are always compiled with debug symbols and it is not possible to use more aggressive optimizations (ie ```-O3```).

[2016-01-12 16:51] houtanb commented on #1121
@stepan-a have you tried using `MATLAB_CFLAGS` and `MATLAB_CXXFLAGS`?

[2016-01-12 17:01] houtanb commented on #1121
@stepan-a The mex files are compiled with the flags specified in `m4/ax_mexopts` which come from the Matlab distribution itself (see `mexopts.sh`). From what I understand, it's not a good idea to change these options as our mex files are compiled against the Matlab mex libraries.

[2016-01-12 17:59] stepan-a commented on #1121
@houtanb I just want to remove the debug symbols and raise the optimization level, this cannot be a problem for Matlab. Besides, we already change the default options when we pass the flag for openmp (which works as expected).

[2016-01-25 08:00] houtanb commented on #1121
I decided to add the `MATLAB_MEX_*` options **after** the related `MATLAB_*` option as `gcc` (is supposed to) choose the option that comes last in the command line when two or more conflicting options are encountered. Furthermore, it was messy to overwrite the `MATLAB_*` option as you would then need to add in necessary flags (e.g. `-I`, `-L`).

[2016-01-25 08:00] #1121 closed

[2016-02-02 08:30] JohannesPfeifer opened #1124 "Investigate bug in perfect foresight simulations in unstable"
The user at http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7765 reports the following mod-file
[code]
With the unstable version, it crashes with
[code]
When I replace the parameter s in the model by 0, it runs as expected. But when I replace s by 0.1, there again is the same crash.

[2016-02-13 14:23] SamuelDelpeuch commented on #1113
Hi !
Is it possible to make Dynare compatible with Ocatve 4.0 by dealing with the mex-files ? Or not, as written [http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=7570](url) ? Do I need to remove Octave4.0 and get an older version to make it work ?

Thanks

[2016-02-22 10:27] #1058 closed

[2016-02-22 11:52] houtanb opened #1125 "make xref more efficient, write to .m file"
From @MichelJuillard

For large models it is really slow. I think that we should
1) add an Dynare option to compute them and write them in `*.m` file
(unless it is required for a particular computation, but it is not yet
the case)
2) change the Matlab code: `{end+1}` is very elegant but very inefficient
because Matlab makes memory allocations several times. It is better to
initialize first the cel

[2016-02-23 13:34] #1125 closed

[2016-02-24 13:47] houtanb commented on #1106
Issue obviated by removal of `strjoin` in c386be3fb76b2b451c35f7e4c8f603f51d916ede

[2016-02-24 13:47] #1106 closed

[2016-03-01 09:32] MichelJuillard commented on #1124
@JohannesPfeifer I fixed the dimension problem in my local copy of Dynare but the model doesn't converge. Are you sure that there is a solution to this model?

[2016-03-02 10:32] JohannesPfeifer commented on #1124
@MichelJuillard I guess there is no solution to the problem, but I am not sure. The main point of this issue was that the unstable crashed while the stable did not - while also not finding a solution.

[2016-03-02 11:21] MichelJuillard commented on #1124
Issue fixed by commit d60cc0a6faf2cc6660faead618c14c742ba782e9

[2016-03-02 11:21] #1124 closed

[2016-03-08 17:43] tholden opened #1127 "Minor bug in extended_path.m"
A parfor loop contains the line (211):
`[results{k}(:,t), info_convergence] = extended_path_core(ep.periods,endo_nbr,exo_nbr,positive_var_indx, ...`
Later, `info_convergence` is used outside of the parfor loop (line 236).
MLint detects this as a critical bug, though I expect it hadn't been hit as people had run with verbosity off.
The fix is to make `info_convergence` a reduction variable. (Outsid

[2016-03-10 18:50] tholden opened #1128 "Extended Path disagreeing with OccBin and DynareOBC on linear models"
DynareOBC contains tests which solve the same otherwise linear model with the Extended Path, OccBin, and with DynareOBC. OccBin and DynareOBC agree (up to the order of 10^(-8)), but the extended path is way off (e.g. responses 10 times larger).

(It's just possible that there's something up with my version of Dynare, but the fact that running `git diff upstream/master -- matlab/ep/` produces no ou

[2016-03-11 13:40] houtanb commented on #1092
Discussion begins here: http://www.dynare.org/pipermail/dev/2015-August/004193.html

[2016-03-11 13:51] JohannesPfeifer commented on #1119
The problem can be traced back to the substitution of auxiliary variables of type 4 in the steady state file creation. In the unit test, the problem comes from

```junk_expectation=EXPECTATION(-1)(c(+1)); ```

In Dynare 4.4.3, we had in the steady state file

[code]

The first line assigns to E_{t-1}({c_{t+1}}) the value of ```c```. The second assigns to ```c(+1)``` the value of ```c```.
In the un

[2016-03-11 14:06] JohannesPfeifer commented on #633
@MichelJuillard Could it be we have a test case in ```optimal_policy/Ramsey/ramsey_ex_aux.mod```? See #1119

[2016-03-11 14:35] MichelJuillard commented on #1092
I tend to agree with @JohannesPfeifer and think that we should treat optimal_policy_discount_factor as any other parameter. It just happens that the option of the optimal policy commands can set or reset its value.
We need to change the handling of the planner_discount option so as to check whether optimal_policy_discount_factor exits. If it does, set its value, if it doesn't, add this parameter a

[2016-03-11 14:45] MichelJuillard commented on #633
YES! It is exactly it. I have started working of it but the solution is difficult.

[2016-03-11 15:02] #1092 closed

[2016-03-11 16:23] JohannesPfeifer commented on #651
Given the rare occurrence and the complications in solving the issue, I am closing the issue

[2016-03-11 16:23] #651 closed

[2016-03-11 16:39] JohannesPfeifer commented on #675
Seems to have been fixed by 214dc747237b8a3ddce4267039ada25d0ab2f0e6

[2016-03-11 16:39] #675 closed

[2016-03-13 13:40] MichelJuillard opened #1133 "auxiliary variables in steady state and static model"
Currently, in static model and set_auxiliary_variables.m, auxiliary variables may appear in the RHS of equations. This is problematic for two reasons:
 1. assignments may not be recurice in set_auxiliary_variables.m which leads to errors
 2. <fname>_static.m may not be solved independently from set_auxiliary_variables.m

In the static deterministic model, any auxiliary variable, except Lagrange mu

[2016-03-13 13:42] MichelJuillard commented on #1119
I will try to solve it as part of #1133

[2016-03-15 08:06] JohannesPfeifer commented on #1054
@MichelJuillard I guess this should have a bug label. What exactly is the issue here?

[2016-03-15 11:39] #1090 closed

[2016-03-15 13:36] JohannesPfeifer commented on #981
Closed by #1116

[2016-03-15 13:36] #981 closed

[2016-03-15 13:41] JohannesPfeifer commented on #875
For reference, the mod-file triggering the crash is
[code]

[2016-03-15 13:52] MichelJuillard commented on #875
I'm not sure that we should allow varexo_det with extended path

[2016-03-15 17:07] stepan-a commented on #875
I think we should not, at least for the moment. The meaning is unclear (should we interpret this shock as a surprise, as in the example because it occurs in the first period, or, if the shock is set for future periods, as an expected shock?). Also there is nothing in the extended_path code to handle this case.

My opinion, for the moment, is that the preprocessor should raise an error if the user

[2016-03-17 17:12] JohannesPfeifer opened #1141 "Fix bugs in perfect foresight in master"
The ```ramst_augmented_histval.mod``` in #1140 crashes. The mod-file itself takes the ```ramst.mod``` and adds an autonomous deterministic AR(2)-process. For that reason, i) the solution for capital and consumption should be identical to the mod-file without the AR(2)-process and ii) the decay of the AR(2)-process should be correctly computed. Both is not the case.

There are at least three separa

[2016-03-18 13:28] #875 closed

[2016-03-18 14:10] #1117 closed

[2016-03-18 17:00] stepan-a commented on #1128
Thanks for reporting this @tholden.  I will try to run your tests this week-end. I do also observe unexplained significant differences in volatility when I compare extended path with PEA (using an RBC model). So there is probably something to fix on our side.

[2016-03-22 14:41] #750 closed

[2016-03-22 14:52] stepan-a commented on #338
We should have separate options (even if the default value is the same)

[2016-03-22 15:05] stepan-a commented on #364
Fixed in 61e6e80b5a92a0802c7049fb20e18dafc6be5730

[2016-03-22 15:05] #364 closed

[2016-03-22 15:13] stepan-a commented on #267
@sebastien-villemot Do you remember why did you reopen this issue ?

[2016-03-22 15:23] sebastien-villemot commented on #267
@stepan-a No, sorry. I guess some of the points listed in my message dated 2014-03-25 were not yet implemented.

[2016-03-22 15:23] sebastien-villemot commented on #267
I think that @rattoma is the right person to decide whether this should be left open.

[2016-03-22 15:48] #1048 closed

[2016-03-22 16:22] stepan-a commented on #503
Okay I agree. @houtanb Can you add this option? The syntax would be ```mh_scale_file=FILENAME```, and the preprocessor should write a string in ```options_.metropolis.proposal.scale_file```.

[2016-03-22 16:46] stepan-a commented on #439
@FerhatMihoubi Any progress on this ?

[2016-03-22 17:03] #912 closed

[2016-03-23 10:33] rattoma commented on #267
@stepan-a @sebastien-villemot
I did some check and indeed this issue can be closed, since also  #720 is fixed.
I would have a similar issue to open, for moment calibration, namely to allow setting calibration criteria for moments based on data.

However, I guess it will be best to close this and open a dedicated one?

[2016-03-23 13:09] stepan-a commented on #948
@houtan Can you add a new block named ```osr_parameter_bounds``` for that purpose. The preprocessor should output a new subfield in

```M_.osr.param_names```, n*1 cell of strings
```M_.osr.param_indices``` n*1 vector
```M_.osr.bounds```,  n*2 array

I suppose that it's not too much work because it looks very close to what we do with ```estimated_param_bounds```.

[2016-03-23 13:17] #255 closed

[2016-03-23 13:17] #803 closed

[2016-03-23 13:22] #254 closed

[2016-03-23 13:33] JohannesPfeifer commented on #804
Closed with #1145

[2016-03-23 13:33] #804 closed

[2016-03-23 13:34] JohannesPfeifer commented on #679
Done in #1145

[2016-03-23 13:34] #679 closed

[2016-03-23 14:10] JohannesPfeifer opened #1147 "Do remaining tasks for trends and prefiltering changes"
Left after #1145:
- Check treatment of various options and trends in smoother used in ```imcforecast.m```
- Check treatment of these issues in ```identification```
- Adjust ```convert_dyn_45_to_44``` to reflect these changes
- Add trend estimate to output from ```prior_posterior_statistics_core```

[2016-03-23 16:46] stepan-a commented on #1054
Michel encountered an example where (for a model with unit root) ```nocheck``` option is not honoured.

[2016-03-23 16:55] stepan-a commented on #821
We all agreed that we should add a flag for iterative methods.

[2016-03-23 16:58] stepan-a commented on #821
Also agreed to switch to Schur based method if iterative method fails.

[2016-03-23 17:23] stepan-a commented on #1026
Won't fix.

[2016-03-23 17:23] #1026 closed

[2016-03-23 17:26] stepan-a commented on #79
Won't fix.

[2016-03-23 17:26] #79 closed

[2016-03-23 20:40] JohannesPfeifer opened #1149 "Harmonize output of objective functions passed to minimizers"
Prerequisite for eliminating the global variable ```objective_function_penalty_base``` (#1051) and to avoid introducing another layer of functions as in reverted commit https://github.com/DynareTeam/dynare/commit/1ad8df4635d99ba775e22f5693bf18c2cbb6c0aa (see also the discussion there)

[2016-03-24 11:37] JohannesPfeifer commented on #220
@stepan-a As far as I can see, this ticket is obsolete. There is no restriction anymore

[2016-03-24 11:42] JohannesPfeifer commented on #113
I don't see the resources to do this and would recommend closing the ticket

[2016-03-24 11:45] JohannesPfeifer commented on #72
We currently advise people to use dummy equations, which works fine. Therefore, I would not go down this route as it requires resources we don't have and introduces another layer ot specialized code that needs to be maintained

[2016-03-24 12:58] MichelJuillard commented on #113
OK

[2016-03-24 13:10] #113 closed

[2016-03-24 13:19] MichelJuillard opened #1150 "derivation with respect to the parameters"
When modifying <fname>_static.m in order to address problems with auxiliary variables (see #1133), I realized that the creation of <fname>_params_derivs.m and the code for analytical derivatives of the likelihood function assume that the static model is the static version of the <fname>_dynamic, equation by equation.
This is not obvious in the preprocessor where the static model is stored and hand

[2016-03-24 22:18] JohannesPfeifer commented on #1141
1 and 2 were user errors in the use of the blocks. The manual still needs to be adjusted to prevent this in the future.
3 has been solved by e714dc1a9f36fcd34f8a3da9e1de70bda814063c

[2016-03-24 22:18] #1141 closed

[2016-03-25 10:42] JohannesPfeifer commented on #992
Fixed in https://github.com/DynareTeam/dynare/commit/fd850ca5bda9af54c36d64a5df8f41166e7e9ab6

[2016-03-25 10:42] #992 closed

[2016-03-25 15:09] FerhatMihoubi commented on #439
Issue fixed :
- When block option (with or without bytecode) is used the pull request #1151 fixes this issue. During the block decomposition when cutoff is set to 0, the incidence matrix is used instead of the Jacobian of the static model to perform the block decomposition. It avoid to use derivatives always equal to 0 when they are computed on logical operators.
- When bytecode is used alone (wit

[2016-03-25 15:10] houtanb commented on #439
closed via merge from PR #1151

[2016-03-25 15:10] #439 closed

[2016-03-26 10:25] MichelJuillard commented on #1150
@rattoma could you please confirm that it is a bug not to have any entry for row 3 of rp in ./tests/fs2000/fs2000_analytic_derivation_params_deriv.m ?

[2016-03-27 14:29] JohannesPfeifer commented on #1150
@MichelJuillard I think the row of zeros is actually correct. Judging from the _static_model-file, the third equation

```-P/(c(+1)*P(+1)*m)+bet*P(+1)*(alp*exp(-alp*(gam+log(e(+1))))*k^(alp-1)*n(+1)^(1-alp)+(1-del)*exp(-(gam+log(e(+1)))))/(c(+2)*P(+2)*m(+1))=0; ```

becomes two equations by introducing an auxiliary variable ``` AUX_ENDO_LEAD_65 ```, where equations (3) and (15), respectively, are

[2016-03-27 14:33] MichelJuillard commented on #1150
Thanks @JohannesPfeifer