[2017-06-06 18:52] JohannesPfeifer commented on #1439
Closed via https://github.com/DynareTeam/dynare/pull/1465

[2017-06-06 18:52] #1439 closed

[2017-06-07 09:04] stepan-a commented on #1463
@spcatterall Okay I understand now (I had to exhume the paper by Skold and Roberts). Thanks.

[2017-06-07 09:05] #1463 closed

[2017-06-14 17:28] cstackpole opened #1469 "Compile fail w/ fix"
Greetings,
Had issues compiling the last few daily's. Ended up with a bunch of errors about comparisons between signed and unsigned integers. @almightybeeij helped me figure out it was a missing include.

In preprocessor/ModelTree.cc there is a missing line.
`#include <boost/range/empty.hpp>`

Thanks!

[2017-06-14 17:33] houtanb commented on #1469
I don't have any problems compiling dynare and we build a snapshot every night on macOS and windows and compile regularly on Debian "Jessie," without any issues. What OS are you using and what version of boost do you have?

[2017-06-14 19:59] cstackpole commented on #1469
Greetings,
Thanks for the response. I know we are on an older distro, but it has support till 2020 and it will probably take us a few more years as we transition off of it. :-)

Here is what I have.

OS: Scientific Linux 6.9
GCC: 4.4.7
Matlab: 2017a
Boost: 1.41.0

Here is the error without that missing include:
`ModelTree.o `test -f 'ModelTree.cc' || echo './'`ModelTree.cc
ModelTree.cc: In member

[2017-06-14 21:50] #1469 closed

[2017-06-14 21:51] houtanb commented on #1469
@cstackpole Thanks for providing your compilation error. Your solution was not the correct one but it points to an error in the code. You can see the fix in 2cbb619

[2017-06-14 22:46] cstackpole commented on #1469
Thank you!

[2017-07-07 12:27] houtanb opened #1476 "create our own version of the Matlab table command"

[2017-07-07 15:52] JohannesPfeifer opened #1477 "Allow calling calib_smoother with parameter_set option"
Currently, the `calib_smoother` calls `evaluate_smoother` with the first input argument being `calibration`. We should allow for a `parameter_set`-like option to select the parameter set at which to compute the smoother. Default should be `calibration`.

Related to http://www.dynare.org/phpBB3/viewtopic.php?f=1&t=24518

[2017-07-14 04:43] JohannesPfeifer opened #1478 "Configure Windows Installer to allow silent install"
This is a feature request from a university wanting to do an  unattended installation of Dynare on a computer pool. The NSIS installer we use seems to not be configured for silent installs, i.e. passing '/D /d=test_directory' does not work.

We should follow the instructions at http://nsis.sourceforge.net/Docs/Chapter4.html#silent t to allow for this.

[2017-07-14 06:01] stepan-a commented on #1478
@JohannesPfeifer We also distribute Dynare in a zip file, I would use this for a silent install.

[2017-07-21 16:26] barrymoo opened #1482 "No rule to make target `../../../../dynare++/kord/faa_di_bruno.cpp', needed by `libdynare___a-faa_di_bruno.o'. Stop."
## Details

OS: RHEL 7 (Kernel 3.10.0-514.6.1)
GCC Version: Red Hat 4.8.5-11
Attachments: `config.log` and `make.log`

## Configuration Script

[code]

## Error

[code]

## Notes

I tried both the 4.5.0 release and the 4.6-unstable git repo. Any help is appreciated.

[2017-07-21 16:27] barrymoo commented on #1482
Attachements. Renamed to `make.txt` and `config.txt`.
[config.txt](https://github.com/DynareTeam/dynare/files/1166128/config.txt)
[make.txt](https://github.com/DynareTeam/dynare/files/1166129/make.txt)

[2017-07-24 09:15] houtanb commented on #1482
@barrymoo this question is better placed in the forum: https://forum.dynare.org

But, to answer your question, `make.txt` tells us the build fails when trying to build `libdynare++`. `config.txt` tells us that it will not build `dynare++` because you are missing one of the following libraries: `BLAS`, `LAPACK`, `MatIO`.

[2017-07-24 09:15] #1482 closed

[2017-07-24 13:28] barrymoo commented on #1482
@houtanb Installing this for a colleague, I didn't know there was a forum. I made an assumption:

[code]

would skip over Dynare++. I only need the Matlab components. It wasn't clear from the README that MatIO is actually a required dependency. Thanks.

[2017-07-24 13:39] houtanb commented on #1482
@barrymoo it's required to build one of the mex files that depends on dynare++. Our build system could be improved by allowing mex function builds to fail without stopping the rest of the build. However, the build system should not have built the mex functions when the requirements to build dynare++ were not present. Can you send me the config.log from `/mex/build/matlab`?

[2017-07-24 13:45] barrymoo commented on #1482
Attached (renamed to `config.txt`).

[config.txt](https://github.com/DynareTeam/dynare/files/1169962/config.txt)

[2017-07-24 13:49] houtanb opened #1483 "if Dynare++ will not be built, do not build mex files that depend on it"
`mex/build/matlab/configure.ac` does not account for the case when makefiles are not created for dynare++ by the main configure script. Hence, `libdynare++` and `gensylv` will still be built, causing an error. See #1482.

Easy solution: test for BLAS, LAPACK, and MatIO. don't build `libdynare++`, `gensylv`, `k_order_perturbation`, or `dynare_simul_` if one of these libraries is not found (same tes

[2017-07-24 13:52] houtanb commented on #1482
Thanks. It's as I suspected. You can either install MatIO, or delete `libdynare++ gensylv` from line 6 of `mex/build/matlab/Makefile.am` and rerun configure/make again.

I created an issue for this bug in #1483

[2017-07-24 14:04] barrymoo commented on #1482
@houtanb Hope it helps someone else. Thanks for the help.

[2017-07-30 17:32] JohannesPfeifer commented on #1478
@stepan-a Where do we distribute the zip-file? At http://www.dynare.org/download/dynare-stable we only have the `exe` as far as I can see.

[2017-07-30 19:19] stepan-a commented on #1478
Actually we only distribute the zip files for the unstable version. I will create a place for putting and distributing the zip archives.

[2017-08-03 09:25] JohannesPfeifer opened #1486 "Make variance decomposition of observables account for measurement error"
Currently, we only decompose the variable after the measurement error has been taken out.

[2017-08-11 09:17] JohannesPfeifer opened #1487 "Potentially make empirical moments independent of simul_replic"
We currently rely on the last simulated series for computing moments. If `simul_replic` is increased, the moments will therefore change. I would propose to output the first instead of the last run in `simult.m`. That way, the results would always be the same. Of course, this would entail some loss of backward compatibility. I would accept this, because in principle any replication for the moments

[2017-08-11 10:15] MichelJuillard commented on #1487
@JohannesPfeifer OK for me

[2017-08-11 10:42] stepan-a commented on #1487
Reading the reference manual, I have the impression that the current behavior is a bug:
[code]
That said, I never understood this option. Why do not we report the average of the moments? As a user this is what I would expect and need.

[2017-08-11 11:01] JohannesPfeifer commented on #1487
@stepan-a The reason is path dependence. In `4.2` we only had `options_.replic` for governing replications for IRFs. This option at the same time governed the number of simulations written to a binary file. The moments, however, were computed for the last simulation in `simult`. In https://github.com/DynareTeam/dynare/commit/8fe2eb23b9d31dda3bba8f81854be665c96a0681 we introduced a new option `simu

[2017-08-11 20:40] stepan-a commented on #1487
I understand the origin of the option. My point, is that your proposal fixes a bug (if I interpret correctly the reference manual). The loss of backward compatibility cannot be an issue if we fix a bug. But I would prefer here to change the behaviour. Most of the users who set `simul_replic`, as in the forum topic you are referring to, expect or wish to compute the average of the moments.

[2017-08-15 18:18] JohannesPfeifer opened #1490 "Again investigate memory problems with k_order_perturbation on Windows"
Two users at https://forum.dynare.org/t/cant-work-with-third-order/10523/12 report problems with Dynare 4.5.1. I cannot replicate the issue on my machine.

The stack trace on both affected machines is
[code]
So it might have to do with Visual Studies's `msvcrt.dll` and the random number generator's call to the system time.

[2017-08-17 09:17] JohannesPfeifer commented on #1490
Addendum: that is exactly the same error message I reported at https://github.com/DynareTeam/dynare/issues/1252

[2017-08-17 18:28] stepan-a opened #1492 "Third order does not work with official stable OS X package (4.5.1)"
I obtain the following error message:
[code]
Note however that if Dynare is installed through Homebrew, there is no such problems with `k_order_perturbation` Mex file. @houtanb Is it possible to have access to the code generating the package?

[2017-08-22 08:14] houtanb commented on #1492
@stepan-a I'll work on this today. For future reference, the code is here: https://github.com/houtanb/snapshot-macOS

[2017-08-22 08:22] stepan-a commented on #1492
Thanks for the link.

[2017-08-22 09:47] houtanb commented on #1492
This has been fixed. `hdf5` was being linked dynamically. This will be fixed in the snapshot the next time it is created.

[2017-08-22 10:33] stepan-a commented on #1492
@houtanb I understood the problem, but can you explain where you fixed it? I do not see a patch on the repo you were referring to above...

[2017-08-22 10:34] stepan-a commented on #1492
This needs also to be in the next stable release (4.5.2). I would like to do it next week.

[2017-08-22 10:48] houtanb commented on #1492
@stepan-a it's on the computer that compiles it. I just needed to copy the static `hd5` libraries to `/usr/local/static/lib`

[2017-08-22 10:48] #1492 closed

[2017-08-22 12:48] stepan-a commented on #1492
What I still do not understand is that I have `hdf5` through Homebrew on my laptop (that's why the version shipped with Homebrew or compiled works)...

[2017-08-22 12:51] houtanb commented on #1492
@stepan-a I don't understand your comment. Can you rephrase it?

[2017-08-22 12:55] stepan-a commented on #1492
I have `hdf5` library installed on my laptop (with Homebrew). I do not understand why the `k_order_perturbation` mex distributed in the official package does not find/use it.

[2017-08-22 13:05] houtanb commented on #1492
`otool -L k_order_perturbation.mexmaci64` on the bad k_order mex file yields the line:
[code]
For me, `ls /usr/local/lib/libhdf5.6.dylib` tells me it is not found. This is because the version of hdf5 on the computer that is building the snapshot and release is older than the current version (I have not updated it)

[2017-08-22 13:09] stepan-a commented on #1492
Thanks, I understand. Shoulldn't we ensure that we use the same libraries with the packaged and homebrew shipped versions of Dynare?

[2017-08-22 13:17] houtanb commented on #1492
I don't think there is anything that imposes that. The homebrew version of Dynare is supposed to be used for use on Octave whereas the version we release is for Matlab. There are already enough differences between Octave and Matlab libraries that these other libraries being the same won't matter.

Furthermore, compiling the static libraries we need before every release would add quite some time to

[2017-08-24 14:15] #1431 closed

[2017-08-24 14:45] #1392 closed

[2017-08-25 12:32] #1390 closed

[2017-08-25 12:43] houtanb commented on #1390
@albop tell me if this works for you or if there's any more output to suppress.

[2017-08-25 15:36] JohannesPfeifer commented on #1390
@houtanb I think a manual entry is still missing

[2017-08-25 15:38] houtanb commented on #1390
@JohannesPfeifer thanks!

[2017-08-27 16:55] JohannesPfeifer opened #1494 "Investigate crash in newrat.m"
See https://forum.dynare.org/t/mode-compute-5-in-dsge-var/10642
@rattoma Could you please have a look. The problem is that in the `else`-clause of
[code]
the `dum` variable has not been set.

[2017-08-28 11:55] houtanb commented on #1252
@JohannesPfeifer what `.mod` file gives you this error? Can you post it?

[2017-08-28 12:46] MichelJuillard commented on #1252
@houtanb @JohannesPfeifer I'm not sure that the discussion still corresponds to the title of the thread. Shouldn't we open a new issue?

[2017-08-28 12:47] houtanb commented on #563
@JohannesPfeifer this won't solve #709, which requires more involved changes.

[2017-08-28 14:58] houtanb opened #1495 "Problem with JSON output for model local variables"
The lists created by `ModelTree::writeJsonModelLocalVariables` should be combined into the same list

[2017-08-28 15:25] #563 closed

[2017-08-28 15:49] JohannesPfeifer commented on #1252
@MichelJuillard @houtanb As we do not know the underlying cause of the troubles under Windows, it may be true what we are mixing issues here. The facts are the mex-files sometimes crash Matlab under Windows. I currently see two different issues:
1. The one in #1490 related to the exception above, which may be unrelated to this ticket.
2. Cases like the mod-file in #828 that involve unhandled dynam

[2017-08-28 15:53] houtanb commented on #1477
@JohannesPfeifer you just want to pass the `parameter_set` option to `calib_smoother`? It takes the following as arguments: `prior_mode`, `prior_mean`, `posterior_mode`, `posterior_mean`, `posterior_median`, `mle_mode`, `calibration`.

[2017-08-28 15:58] JohannesPfeifer commented on #1477
@houtanb Yes, exactly.

[2017-08-28 16:26] #1477 closed

[2017-08-29 08:39] JohannesPfeifer opened #1496 "Allow writing steady_state_model-block into LaTeX-document"
This would make debugging a lot easier

[2017-08-29 13:07] houtanb opened #1500 "Remove `tests/practicing` from repository"
Following https://github.com/DynareTeam/dynare/issues/637#issuecomment-234199900, we should remove `tests/practicing` from the repository.

We can:
1) simply delete it
1) compress the files and serve them on www.dynare.org somewhere

What do people prefer?

[2017-08-29 14:04] #1384 closed

[2017-08-29 15:22] houtanb commented on #1500
This is the code related to [Barillas et al 2010: Practicing Dynare](https://f85f5b92-a-62cb3a1a-s-sites.googlegroups.com/site/christianmatthes/AP_tom16.pdf?attachauth=ANoY7corffSEq7-3r8XU_uMGmoxZKtSWM_gKrCkRo1b6Ssz25VNb9ehLfzKQvmWh_KzqK5DQJhNikGCQK4r_VvTLxX5VBnWJIk2CqubGh-_9DD9M7-inQbyX6hqnM3ziB4ifqe3y0yPct8AH97WzbjT2JbCI9_vkOJvIMm3q-6S-its0ATWFH1IUpXS_iQHrzIA9IapZWXtsGo_98F-3Es2-SojLQVPDLw%3D%3D

[2017-08-29 15:22] #1500 closed

[2017-08-30 11:53] stepan-a opened #1501 "Backward models with lagged exogenous variables"
The Jacobian matrix of backward models with lagged exogenous variables is wrong, columns for the lagged exogenous variables are missing. It is unclear to me why we do not simply add auxiliary endogenous variables for the lagged exogenous variables (as in the case of backward/forward models). I suppose that the simplest fix is to add auxiliary variables (rather than augmenting the size of the Jacob

[2017-08-30 12:04] stepan-a commented on #1501
... But the cost of adding auxiliary variables (for large models or if we have a lot of lags) must be greater than the cost of having a Jacobian matrix with more columns. For instance if we have a shock in `t-50` we would have to add fifty auxiliary variables (rows and columns in the Jacobian matrix), while if we do not introduce these auxiliary endogenous variables we would just have to append on

[2017-08-30 12:33] #1496 closed

[2017-08-30 13:31] JohannesPfeifer commented on #1496
@houtanb Great. Thanks a lot. Does the commit also issue an error when this command is used without a `steady_state_model`-block being present?

[2017-08-30 13:34] houtanb commented on #1496
No. I'll take care of that

[2017-08-30 13:55] JohannesPfeifer commented on #1501
@stepan-a I think we have systematically moved to considering only one-lag problems for endogenous variables throughout the code. This makes particularly the Matlab code easier to deal with. I would advocate to go into the same direction for the exogenous variables. The only economic application for lagged exogenous variables that I know of is for news shocks and there you seldom have really large

[2017-08-30 14:59] houtanb commented on #1387
Branch was merged into `master` on March 15

[2017-08-30 14:59] #1387 closed

[2017-08-30 15:25] stepan-a commented on #1501
@JohannesPfeifer I tend to agree with you.

Digging further around the example I posted, with @houtanb,  we probably found the problem. In the mod file I do not use any Dynare command indicating to the preprocessor that we are dealing with a stochastic model (`stochastic_simul`,  `estimation`, `osr`, ...), so that Dynare, by default, interprets the model as a perfect foresight model.

We have a di

[2017-08-30 20:56] stepan-a commented on #1501
The understanding of my problem was wrong... Perfect foresight solutions are correct. My problem is just that by not using a Dynare command in a mod file, I obtain a dynamic file for perfect foresight models even if I intend to simulate a stochastic model.

Adding auxiliary variables for the exogenous variables would break some codes (when `initial_file` command is used).

For now the only workaro

[2017-08-30 20:56] #1501 closed

[2017-08-30 20:59] stepan-a opened #1502 "Add a dynare option for specifying if we consider a stochastic or deterministic model"
See discussion in #1501.

[2017-08-30 21:01] stepan-a opened #1503 "Do we really need to have specific dynamic routines for deterministic and stochastic models?"
See discussion in #1501.

[2017-08-30 21:25] stepan-a commented on #1502
Since Dynare defaults to perfect foresight models, we just need an option for stochastic models. Something like:
[code]
The presence of the option should be tested in `ModFile.cc` on line 396.

[2017-08-31 06:31] stepan-a commented on #1502
@houtanb I have just done the change. I just need to adapt the reference manual and I push (for an unknown reason I cannot compile the doc on OS X).

[2017-09-01 05:12] stepan-a commented on #1502
Done in 591a68bf509614f9b9b922d6ac2ea978f2e2e237.

[2017-09-01 05:12] #1502 closed

[2017-09-04 14:53] tholden commented on #1490
I am currently teaching a course in Advanced Dynare techniques, and I have a full classroom full of students whose Dynare is crashing on both 4.5.1 and on the latest unstable. A selection of crash dumps are attached below.
To replicate, clone the repository https://github.com/tholden/DynareTransformationEngine and run `dynare Example.mod`.
This crash did not occur on my home PC, so it appears to b

[2017-09-04 17:04] JohannesPfeifer commented on #1490
@tholden Like the last time, I am unable to replicate the crash on any of my Windows machines. That makes it very hard to trace the source of the problem. Do you know which version still works? `4.4.3` or `4.5`? Could you maybe try what happens on the crashing machines if you use the `4.4.3` mex-file with `4.5`, i.e. replace the original `k_order_perturbation.mexw64` by the attached one:
[k_order_

[2017-09-04 17:12] tholden commented on #1490
With 4.4.3 I don't get crashes. I will have access to those machines again on Wednesday, so will try your suggestion of using the 4.4.3 k_order_perturbation mex with the 4.5.1 code then.

[2017-09-05 11:51] JohannesPfeifer commented on #1486
@houtanb Could you please block `ME` as a name for `varexo` in the preprocessor?

[2017-09-05 16:42] JohannesPfeifer opened #1506 "Fix get_posterior_parameters.m"
For some reason I do not understand, the function `get_posterior_parameters.m` not only reads out the parameters to the function output `xparam`, but also sets them in the global workspace. I do not really understand why. We call it for example in `evaluate_smoother.m` in the context of
[code]
Note that in the `prior mode` case, nothing in the base workspace is altered. As far as I can see, all ca

[2017-09-05 16:44] JohannesPfeifer commented on #1506
Note that this bug affects calls to `stoch_simul` after e.g. `shock_decomposition` as the parameters in the base workspace are not correctly set if correlated shocks are present.

[2017-09-05 19:38] JohannesPfeifer commented on #1490
The users at https://forum.dynare.org/t/cant-work-with-third-order/10523/30 reports that the 4.4.3 mex-files work with 4.51 without problems, so something got broken since then,

[2017-09-06 18:03] tholden commented on #1490
I was again teaching in the same room on the same machines today, and I can confirm that we had no problems whatsoever using the 4.4.3 mex with a post 4.5.1 Dynare unstable. Thanks for the suggestion. I had assumed that the old mexes would be incompatible.

[2017-09-07 08:48] houtanb commented on #1490
@tholden @JohannesPfeifer just to make sure, does this problem occur on any Windows version other than Windows 7?

[2017-09-07 09:07] JohannesPfeifer commented on #1490
@houtanb I have now finally gotten hold of a Windows 7 machine as all my machines run on Windows 10. I can now replicate the crash, but only on Windows 7.

[2017-09-07 09:48] tholden commented on #1490
My home PC and laptop are on Windows 10, and have not had this crash. Those work machines were on 7 and did have it. I haven't tested on 8 or 8.1.

[2017-09-07 10:46] JohannesPfeifer opened #1507 "Make log and ln operators in LaTeX code"
When requesting LaTeX output, we should output `log` and `ln` as `\log` and `\ln` to make them operators that are correctly set typographically.

[2017-09-07 13:38] houtanb commented on #1490
Currently, the snapshot and release packages are compiled in a `chroot` with Debian Jessie (old stable). Compiling the package in a `chroot` with Debian Wheezy (old old stable) takes care of the problem with k-order on Windows 7. This leads us to believe the problem is with the compiler version difference between these two operating systems.

We still need to compile on Debian Stretch (current sta

[2017-09-07 15:21] houtanb opened #1509 "allow preprocessor to accept text input instead of mod file"
for GUI interface, create a preprocessor argument that would be the `.mod` file in string format. This way the GUI would not have to make a `.mod` file every time the user changed something

[2017-09-07 16:08] houtanb commented on #1507
@JohannesPfeifer in the preprocessor we don't output `ln` but rather `log`. I agree with the change above for `log10` to be `\log_{10}`. But for `log` should it just be `\log` or would you prefer `\ln`?

[2017-09-07 16:24] JohannesPfeifer commented on #1507
Having `\log` is fine.

[2017-09-08 09:07] #1507 closed

[2017-09-08 15:40] #1509 closed

[2017-09-08 15:42] houtanb commented on #1509
From the commit message:
Usage: `/dynare_m $'<<mod file text>>'`

The `$''` expands special characters. This is necessary because our setup for native matlab statements require that they end with a newline. In other words, the rest of the mod file can be sent on one line, but if there is a native matlab statement you must enter a `\n` after it.

NB: In this case, apostrophes must be escaped: `'` b

[2017-09-11 15:29] houtanb commented on #1193
@JohannesPfeifer in this, should we only be able to set the histval for `r` at period `0`? i.e., `r(-1)` and `r(1)` would still yield errors?

[2017-09-12 09:00] houtanb commented on #1193
@JohannesPfeifer do you think this should be cherry-picked to the `4.5` branch or should we leave it on `master` to be released with `4.6`

[2017-09-12 09:13] JohannesPfeifer commented on #1193
I would classify this as a bug (as you did) and cherry-pick it.

[2017-09-12 09:18] houtanb commented on #1193
@JohannesPfeifer will do. However, even though it passed the test suite, it would reassure me, if you have the time, if you could check it to make sure it functions as expected (both when it should pass through and when it should end with an error)

[2017-09-12 09:32] houtanb commented on #1486
@JohannesPfeifer at the moment the only variable names we restrict are those constructed by the preprocessor as auxiliary variables. Why do you need to restrict `ME` as an exogenous variable?

[2017-09-12 09:36] JohannesPfeifer commented on #1486
Because internally, I will use the string `ME` to denote sum of all measurement errors in the variance decomposition (think of blocking it like blocking `Sigma_e`)

[2017-09-12 09:37] houtanb commented on #586
Closing as I was not able to reproduce this error and no longer have the mod files to reproduce it

[2017-09-12 09:37] #586 closed

[2017-09-12 09:45] houtanb commented on #1486
@JohannesPfeifer `sigma_e` is a command and is a valid exogenous variable name.

[2017-09-12 11:07] JohannesPfeifer commented on #1486
@houtanb You are right. We only have a warning in the manual not to use the variable name `Sigma_e` as it will lead to cryptic crashes. If you think it is a bad idea to block the name in the preprocessor, I can use the approach in https://github.com/DynareTeam/dynare/blob/master/matlab/load_m_file_data_legacy.m to use a random string internally.

[2017-09-12 11:18] houtanb commented on #1486
@JohannesPfeifer that sounds good to me. It's not that it's a difficult thing to do on the preprocessing side (it's quite easy), it just seems to me that the way you suggest, using a random variable name until you find one that's not an exogenous variable, is more user friendly.

[2017-09-12 13:09] #1380 closed

[2017-09-12 13:39] houtanb commented on #1315
@JohannesPfeifer do you compile the preprocessor on MinGW? Cygwin?

[2017-09-12 15:18] JohannesPfeifer commented on #1315
@houtanb A long time ago I used Cygwin, but I haven't done that in ages. Do you need it?

[2017-09-12 15:43] houtanb commented on #1315
No, was just wondering what I can get rid of. I just need to check this with @FerhatMihoubi before making changes and closing this ticket.

@JohannesPfeifer so you don't use MinGW either?

[2017-09-12 16:44] JohannesPfeifer commented on #1315
@houtanb I use it for the `use_dll` Option, but I don't compile the preprocessor.

[2017-09-12 19:18] JohannesPfeifer commented on #1193
@houtanb If I use `r(-1)=1;` in the histval block (which should trigger an error as that variable does not appear with a lag), I get
[code]

[2017-09-12 19:21] JohannesPfeifer opened #1510 "Block histval from accepting positive lags"
`histval` serves for setting past values, not future ones. The Matlab-files are not able to handle this case. The code
[code]
causes a crash in `simult_` because of the `a(5)` in the `histval`-block

[2017-09-13 07:08] JohannesPfeifer commented on #1506
@stepan-a @MichelJuillard Any input on this? If not, I will implement solution 1.

[2017-09-13 07:25] JohannesPfeifer commented on #1486
@houtanb I had another look at the issue and think we should block the name `ME` in the preprocessor. The reason is that we would save the contribution of the measurement error in a field like `oo_.PosteriorTheoreticalMoments.dsge.ConditionalVarianceDecomposition.ME`. Here, we need to make sure that the `ME` field is not already taken. Using a random name in the code would not solve the problem.

[2017-09-13 08:16] #1510 closed

[2017-09-13 10:04] #1193 closed

[2017-09-14 14:48] JohannesPfeifer opened #1513 "Allow selecting proper training sample for endogenous_prior"
Currently, we simply use `Y=data';`, but it is straightforward to include different data

[2017-09-14 14:53] JohannesPfeifer opened #1514 "Add Importance Ratio as diagnostic for checking accuracy of normal approximation to posterior"
See e.g. Slide 32 of apps.eui.eu/Personal/Canova/.../bayes_dsge_eui2012.pdf

[2017-09-14 15:02] stepan-a commented on #1514
@JohannesPfeifer There is a problem wit the link...

[2017-09-14 15:11] JohannesPfeifer commented on #1514
@stepan-a I fixed it

[2017-09-18 09:37] JohannesPfeifer opened #1518 "Clean up setting estim_params_ as global"
In line 675 of `ModFile.cc` we set
```global M_ options_ oo_ estim_params_ bayestopt_ dataset_ dataset_info estimation_info ys0_ ex0_```
But in line 1031 of  `ComputingTasks.cc` we again set `estim_params` global if an `estimated_params`-block is present:
```output << "global estim_params_" << endl```
I would get rid of the latter statement and only keep the one setting all globals global.

[2017-09-18 09:46] #1518 closed

[2017-09-18 14:15] houtanb opened #1519 "check repeated variables in symbol_list for stoch_simul"
do this during `transformPass`, issue warning and remove second symbol when encountered.

[2017-09-19 09:37] houtanb opened #1521 "create class for storing/writing metropolis draws"
In the `while` loop of `matlab/posterior_sampler_core.m` we have an example of how draws are stored and written when a certain number of draws have been stored in memory.

Need to create a Matlab class that stores:
- a vector
- a matrix
- an structure (`dr`)
And that writes itself to disk when a certain number of vector/matrix/structures have been written and clears itself so that more draws can b

[2017-09-26 12:18] houtanb opened #1523 "rename isfile.m as there is a function called isfile in Matlab R2017b"

[2017-10-03 08:07] JohannesPfeifer opened #1524 "Enable method argument of gamrnd.m"
Currently, we provide an error.

[2017-10-03 11:46] stepan-a commented on #1506
Fine with me. We should cage behavior of `get_posterior_parameters` (option 1).

[2017-10-03 14:21] JohannesPfeifer commented on #1338
Decision: Document it and provide interface

[2017-10-03 14:34] JohannesPfeifer opened #1527 "Add Occbin"

[2017-10-03 14:49] houtanb commented on #1527
Duplicate of #569

[2017-10-03 14:49] #1527 closed

[2017-10-04 13:36] #1487 closed

[2017-10-05 09:32] JohannesPfeifer commented on #1506
Closed via #1526

[2017-10-05 09:32] #1506 closed

[2017-10-05 10:13] #1486 closed

[2017-10-05 12:43] JohannesPfeifer opened #1530 "Add interface for SMM/GMM"
1. Add commands `gmm_estimation` and `smm_estimation` modelled like `prior_function/posterior_function`-commands. Syntax should be
a. Command `gmm_estimation(options_list) var_list_`
translating to
`[M_,oo_,estim_params_,bayestopt_,dataset_,dataset_info]=GMM_SMM_estimation_core(var_list_,M_,options_,oo_,estim_params_,bayestopt_,dataset_,dataset_info,'GMM');`
where `var_list_` is the list of variab

[2017-10-05 14:07] JohannesPfeifer opened #1531 "Add interface for flexible IRF-generation"
Create block
[code]
or alternatively (as suggested in #115 )
[code]
where `options_list` can be (for now)
- `stderr_multiples` translating to `options_.irf_opt.stderr_multiples`
- `diagonal_only` translating to `options_.irf_opt.diagonal_only`

and where each line translates into
1. a cell array `options_.irf_opt.irf_shock_graphtitles` storing the group_name along the rows
2. a column of a matrix

[2017-10-05 14:10] JohannesPfeifer opened #1532 "Factorize IRF code into function generate_irfs(M_,options_,oo_)"
Take the fragmented codes from `stoch_simul` and `PosteriorIRFcore1` and put them into one function that is used in those other commands, but can also be called as a standalone. Related to #1531.

[2017-10-05 15:35] stepan-a commented on #1531
I prefer the first option.

[2017-10-05 17:24] stepan-a commented on #1531
@JohannesPfeifer Before the call to `generate_irfs`, should we not first compute the steady state and the reduced form solution? Otherwise it means that the command must follow the `stoch_simul` command and that if a user decides to change the value of a parameter between `stoch_simul`  and `generate_irfs` (or calls more than once  `generate_irfs` for different calibrations) the new parameter valu

[2017-10-06 13:52] JohannesPfeifer commented on #1530
Closed by https://github.com/DynareTeam/dynare/commit/254a73a4065a4b476296391dd22672637f82fc72

[2017-10-06 13:52] #1530 closed

[2017-10-06 13:53] JohannesPfeifer opened #1534 "Add documentation for SMM/GMM/IRF options"
Relevant commits are https://github.com/DynareTeam/dynare/commit/254a73a4065a4b476296391dd22672637f82fc72 and https://github.com/DynareTeam/dynare/commit/d52f13114d10fbe5fd4d263d5d0b9d7cfda787f6

[2017-10-06 14:16] houtanb commented on #1531
The syntax should allow from `1` to `N` exogenous variables to be set per line

[2017-10-09 10:13] #1531 closed

[2017-10-10 09:02] #1494 closed

[2017-10-10 10:13] stepan-a commented on #1404
@houtanb I close this issue because the original problem is fixed. Can you please open another issue for 4.6.

[2017-10-10 10:13] #1404 closed

[2017-10-10 10:30] houtanb opened #1537 "Stop processing with error if nonlinearities exist in endog/exog for linear model"
Following the conversation in #1404, stop preprocessing with an error if a model is marked as linear but nonlinearities exist in the endogenous or exogenous variables.

[2017-10-10 11:35] #1523 closed

[2017-10-11 13:03] houtanb opened #1539 "create a reporting tutorial website"
Going from simple examples to more complex examples to make the code more approachable

[2017-10-11 13:04] houtanb opened #1540 "create reports for dynare commands"
Create standardized reporting output for dynare commands using the reporting submodule, replacing latex code throughout the dynare codebase

[2017-10-16 20:44] JohannesPfeifer opened #1541 "Make isfile compatible with Octave/older Matlab"
In `missing\isfile` we rely on `isstring`, which was introduced in `R2016b` and is not available on Octave

[2017-10-16 21:24] #1541 closed

[2017-10-18 09:32] JohannesPfeifer opened #1543 "Rename distributed PDFs in doc folder"
The names should be more expressive. For example, `dynare.pdf` should be `Adjemian_et_al_2011_Dynare_Manual_4.pd` or similar.

[2017-10-19 07:56] thomasbrand opened #1544 "dataset_ is a dseries and no longer a structure"
The last commits about `dseries` (between October 10th and October 14th) modified the type of the `dataset_` output in `results.mat`. It was previously a matlab structure, and now it is a `dseries`. The consequence is important (for me) because now I need Dynare to read the `dataset_` output.

Was it on purpose or do you think you will go back to a structure ?

Thank you.

[2017-10-19 17:50] stepan-a opened #1545 "Test matlab version in isfile routine"
See [here](https://forum.dynare.org/t/getting-error-in-dynare-4-5-2/10896).

[2017-10-19 18:03] JohannesPfeifer commented on #1545
@stepan-a This is a duplicate of #1542

[2017-10-19 18:07] stepan-a commented on #1545
@JohannesPfeifer Thanks. I didn't see the PR. When you mentioned the issue I only fixed it for Octave and forgot older matlab versions... I merge. Unfortunatly I won't be able to publish 4.5.3 before November.

[2017-10-19 18:07] #1545 closed

[2017-10-19 19:31] JohannesPfeifer commented on #1545
@stepan-a Ok. But this means `4.5.2`, which is the only version of the `4.5` branch correctly working with Windows does not support any Matlab version before `2016b`.

[2017-10-19 19:37] stepan-a commented on #1545
@JohannesPfeifer Yes. That is not acceptable... I had plan to work on other things, but I will release 4.5.3 later tonight. I cannot leave on vacation with this mess behind. 4.5.2 will become the shortest ever lived version of Dynare....

[2017-10-19 19:41] JohannesPfeifer commented on #1545
@stepan-a That is not true. 4.2.3 was the shortest–lived. It had wrong decision rules.

[2017-10-19 20:03] stepan-a commented on #1545
It was less than 24 hours? Too bad, I was comforting myself by thinking that I had broken a record...

[2017-10-19 20:51] stepan-a commented on #1545
@JohannesPfeifer  I have just checked there was more than one day between 4.2.3 and 4.2.4!

[2017-11-06 14:21] #1495 closed

[2017-11-07 10:50] tholden opened #1546 "Pre-processor division by zero error does not include line numbers (and includes typo)"
Currently, a division by zero in the pre-processor triggers the following error:

    ERROR: Division by zero!
    ...division by zero error encountred when reading model from .mod file

Note the typo in the spelling of "encountered".

It would be good if this was consistent with the formatting of other pre-processor errors, including file names and line numbers, e.g.:

    ERROR in macro-processo

[2017-11-07 11:03] #1546 closed

[2017-11-07 17:37] tholden opened #1547 "allow length operator in macroprocessor to return the length of strings"
At present, the length operator applied to a string always returns 1.

It would be good if it returned the length of the string.

Try e.g.:

[code]

Incidentally, it would be good if there was a number to string function in the pre-processor!

[2017-11-07 18:55] rattoma opened #1548 "Pre-processor bug: plot_shock_decomposition"
The type option is not properly handled, since it always provides qoq field
`options_.plot_shock_decomp.type = 'qoq'; `

whatever this choice `qoq | yoy | aoa`

[2017-11-08 09:19] stepan-a commented on #1544
I think this is a consequence of the move to the new class interface. When an object is loaded and that the class definition is not in the path, the object is no more automatically converted to a structure. This issue only affects people which do not have dynare in the matlab's path (I suppose this is your problem since you load the mat file from R). I will push a method to convert `dseries` objec

[2017-11-08 09:23] #1548 closed

[2017-11-08 12:06] tholden opened #1550 "Support in-line comments in macroprocessor"
This page: http://www.dynare.org/manual/Macro_002dprocessing-language.html#Macro_002dprocessing-language
contains an example in which a pre-processor definition is followed by a // comment. This generates an error in reality. Try e.g.
[code]

This is something that should be supported though. The simplest solution would be for the pre-processor to remove all // comments in the generated -macroexp.

[2017-11-08 12:20] rattoma commented on #1548
thanks a lot. It should be also cherry picked to 4.5

[2017-11-08 12:25] houtanb commented on #1548
This was done in c6ee541f11a1177d86bdf58c5c31b1ec35c15191

[2017-11-08 12:29] tholden opened #1551 "Pre-processor should remove empty lines"
When using complicated logic in the pre-processor language, one can often end up with files full of thousands of empty lines. This is both because empty lines are necessary to make pre-processor code readable, and because of the need to have empty lines at the end of .mod files that finish with e.g. an @#endfor .

It would be helpful if the pre-processor removed empty lines in the generated -macro

[2017-11-08 12:31] houtanb commented on #1550
@tholden comments have never been supported in the macroprocessor. The comment in the example simply explains the type associated with the macro variable. Thus, this is not a bug, but an enhancement request.

[2017-11-08 12:36] houtanb commented on #1551
Others may like the empty lines. You can do this yourself: https://stackoverflow.com/questions/14570489/how-to-remove-blank-lines-from-a-unix-file

[2017-11-08 13:58] rattoma commented on #1548
@houtanb thanks I overlooked this.

Then , I have my usual question under these circumstances ...
Would it be possible to have a snapshot of the fixed preprocessor for 4.5.3 ... ???

[2017-11-08 13:59] houtanb commented on #1548
@rattoma for macOS? or for Windows?

[2017-11-08 15:06] stepan-a commented on #1548
@rattoma, @houtanb  I will do the windows snapshot with sources (so that Houtan can produce the snapshot for osx).

[2017-11-08 15:08] houtanb commented on #1547
NB: The length operator only works on arrays, so this is correct. What @tholden is asking is that it also work on strings.

[2017-11-08 17:31] tholden commented on #1547
Hmm. I don't see any situation in which it makes sense to return 1 as the length of a string. Either the length operator should return an error when evaluated on a string, or it should behave sensibly. Returning 1 without an error seems like a bug.

[2017-11-08 17:53] stepan-a commented on #1544
@thomasbrand I have just updated the `dseries` submodule in the master branch with a new function `struct`. All you have to do in the mod file (after the `estimation` command) is:

[code]

[2017-11-08 17:53] #1544 closed

[2017-11-08 20:15] tholden commented on #1551
I am quite capable of removing empty lines from a file myself. But I am producing a pre-processor based toolkit for others, and it is not reasonable to expect others to be able to do the same. People want to look at the -macroexp.mod file to get a feel for what's going on, without having to do a load of string processing on it first.

Were it not for this bug: https://github.com/DynareTeam/dynare/

[2017-11-08 20:31] JohannesPfeifer commented on #1551
@houtanb I tend to agree with @tholden. I always found macro-processor generated mod-files very hard to read due to the excessive empty lines introduced. Particularly during debugging, I find it really annoying. Manually doing string processing seems like a bad solution, particularly as most users are on Windows, where the solution is less straightforward.
How about having a command line option si

[2017-11-08 20:57] tholden commented on #1551
Sounds like a good compromise.

[2017-11-08 23:06] stepan-a commented on #1548
@rattoma The new windows binary is available here :

https://dynare.adjemian.eu/pre-release

in a zip archive or with a windows installer. The version name is `4.5.4-pre~1`.

[2017-11-09 07:34] rattoma commented on #1548
@stepan-a thanks a lot. very much appreciated

[2017-11-09 07:51] rattoma commented on #1548
@stepan-a apologize: apparently I cannot get to the page https://dynare.adjemian.eu/pre-release

[2017-11-09 09:46] stepan-a commented on #1548
@rattoma The provider I use for my server (ovh) was down this morning. It works now.

[2017-11-09 12:50] JohannesPfeifer commented on #1547
I agree with @tholden A string is an array of characters. So its length is not 1 unless it is just a single character

[2017-11-09 13:48] houtanb commented on #1551
Because it is useful for @JohannesPfeifer, I will reopen the ticket. That said, it is extremely low priority as we have too much on our collective plate at the moment, and will not be finished in the foreseeable future. @tholden if you would like this to be done more quickly, I see two options:

1. You can do it yourself and submit a pull request. This way would probably be iterative with you maki

[2017-11-09 13:56] houtanb commented on #1547
@JohannesPfeifer for the macro-processor a string is a string, not an array of characters as in Matlab. The `length` operator only works on arrays, as you can see from the manual, pg 136.

As far as the macro-processor is concerned, the string is converted to an array, hence
[code]
becomes
[code]
returns `1` because this is an array with one element in it. At the moment, the only change I can make

[2017-11-09 15:43] tholden commented on #1551
@houtanb I am sorry that the Dynare project is struggling with financing, it certainly deserves to be well financed by central banks and other policy institutions. But until your financing improves, it seems to me that encouraging contributors ought to be high on your collective priority list. I cannot say that these exchanges have particularly encouraged me.

I do not need to be told how that I c

[2017-11-09 16:28] tholden commented on #1551
Fair enough!

[2017-11-16 16:54] houtanb opened #1555 "Allow mod files to be read from stdin"
Allow a .mod file to be piped into the preprocessor.

For the GUI

[2017-11-22 10:03] JohannesPfeifer opened #1556 "Allow running mode-finding on random draws from prior distribution to check for local modes"

[2017-11-22 14:27] JohannesPfeifer opened #1558 "Allow diffuse_filter as option for dynare_sensitivity"

[2017-11-23 16:10] rattoma opened #1564 "echo list of macro-variables"
would it be possible to set a command that prints the value of all macro-variables defined at a given point in the code? I am starting to have lots of macro flags and would be good to have this to trace back which kind of options have been selected for a given experiment.

[2017-11-23 16:17] rattoma opened #1565 "initial condition decomposition"
it would be useful to add interface for the following options:

[code]

Moreover, the preprocessor should give a lhs arg oo_ when translating the command, i.e.:

`oo_ = initial_condition_decomposition(M_,oo_,options_,var_list_,bayestopt_,estim_params_);`

so not really new options, but just allow those in the pre-processor. many thanks!

[2017-11-23 17:35] stepan-a commented on #1564
@rattoma I think that the value of the macro variables should be displayed in the matlab command window at the beginning of the run of a mod file. You will then have a trace of what has been done in the log file. This could be a default behaviour, and we may add an option to the dynare command to prevent this... But I do not have strong opinion on what should be the default behaviour.

I do not th

[2017-11-23 18:26] JohannesPfeifer commented on #1564
@stepan-a We would need to have an actual command. Because within the mod-file, you can still define macro-flags and change their value. So it is not clear what you would provide as an output after preprocessing: the value at the end or the beginning?

Say you have a
[code]
then in the command window the first output of `stoch_simul` will be associated with a different value of the macro-variable

[2017-11-23 21:55] stepan-a commented on #1564
@JohannesPfeifer I do not understand your example... Do you expect that this macro would change the model on the fly? This cannot be the case. @houtanb will correct me if I am wrong, the macroprocessing is done in a first step, reading the entire mod file. At the end of this first step, _ie_ before the actual preprocessing of the expanded mod file, we know the value of all the macro variables.

Th

[2017-11-24 09:01] JohannesPfeifer commented on #1564
@stepan-a Maybe this is not intended behavior, but you can change macro-variables on the fly within mod-files. Simply execute
[code]
with the `savemacro` option and check the output.

[2017-11-26 14:52] wtpfede opened #1567 "Silent crash when calculating steady state variables of basic economic model"
Hi all,

I'm using Dynarec to reimplement a basic Ramsey model from Ohanian and Cole (1999)

The code is as follows:

[code]

Unfortunately, Dynarec crashes silently.

All of the parameters and the equations have been double checked by our team, and the numerical values come straight from the original paper.
We are on Octave 4.2.1 and Dynare 4.5.3.

If anyone has any pointers or could confirm this

[2017-11-26 18:00] JohannesPfeifer commented on #1567
@wtpfede I can confirm the problem on Octave and will investigate it. That being said, your mod-file is wrong.
[code]
has steady state `x=0`. But
[code]
does not work with `x=0`

[2017-11-26 18:17] wtpfede commented on #1567
Hi Johannes, thanks for your reply.

You're right - indeed we identified this by manual calculation and solved by normalizing our other variables (dividing by X) and using the linearization trick, that is, for instance:
[code]

Then indeed we can remove x from the system altogether, dynarec no longer crashes, and we get the expected results.

Still wondering what the bug was (and how to debug this

[2017-11-26 18:18] JohannesPfeifer commented on #1567
@wtpfede I filed a bug report with Octave: https://savannah.gnu.org/bugs/index.php?52516

[2017-11-26 18:21] wtpfede commented on #1567
So it was actually a bug after all! Thanks @JohannesPfeifer for your help!

[2017-11-26 18:57] JohannesPfeifer commented on #1567
@wtpfede Yes, but it's a bug on the Octave side of things. So there is nothing in Dynare you can do to debug it (except for cross-checking with Matlab)

[2017-11-29 07:19] JohannesPfeifer commented on #1567
@stepan-a This ticket can be closed

[2017-11-29 07:22] JohannesPfeifer opened #1570 "Fix steady_state_model-block check with instruments"
I have a model with
[code]
This is a proper conditional steady state file, where the instrument is taken as given. But it results in
[code]
because the preprocessor check does not account for the conditionality.

[2017-11-29 07:31] JohannesPfeifer commented on #1570
Sorry, my mistake. Dynare only provides a warning:
[code]
that is still somewhat misleading in this case.

[2017-11-29 07:31] #1570 closed

[2017-11-29 08:19] rattoma commented on #1564
@stepan-a @JohannesPfeifer :
indeed my primary idea is to echo hard-coded macro-variables associated to various options. So, the idea of having them printed the command line at the beginning of the run of a mod file would be OK. An this may well be a default option.
 At the same time, @JohannesPfeifer correctly pointed to another possible use of the macro-variables. This would require an additiona

[2017-11-29 08:42] JohannesPfeifer commented on #1564
@stepan-a @rattoma The problem I see is that the value of macro variables at the beginning of a run is not well-defined as my example above shows. What do you display? That the country is H or F and H? I.e. would you go for the value set when the variable is encountered for the first time?
My suggestion was having a command within the mod-file that displays the values set at that point. This would

[2017-11-29 09:09] rattoma commented on #1564
@JohannesPfeifer you are right.
I would then echo all variables set at that point by triggering `disp` commands with name/value couples.

[2017-11-29 09:11] rattoma commented on #1564
then the command should be a macro command inside the mod file, not as a dynare instance option, i.e. something like
`@#echomacrovars`

[2017-12-01 09:59] houtanb commented on #1564
@stepan-a @rattoma @JohannesPfeifer this is not a problem to do.

@stepan-a in response to your statement above, you are correct. It just seems to me that @rattoma and @JohannesPfeifer want the macro variable values at some point *during* the macroprocessing step.

@JohannesPfeifer for me, the macro variables are well defined at the beginning of the macro processing step in that they do not exist.

[2017-12-01 10:01] #1567 closed

[2017-12-01 10:15] JohannesPfeifer commented on #1564
@houtanb Thanks for clarifying the terminology. What we had in mind is a simple display in the command window that will therefore also be in the log-file. No need for storing it in `options_`. The values at the beginning of the macroprocessing step are already displayed in the unstable version. I don't think we need to duplicate this. We would only need `@#echomacrovars` displaying the value of al

[2017-12-01 10:24] houtanb commented on #1564
@JohannesPfeifer great, that's even easier to implement.

[2017-12-01 10:34] #1558 closed

[2017-12-01 13:04] rattoma commented on #1564
@JohannesPfeifer @houtanb I agree. many thanks!

[2017-12-01 14:09] rattoma commented on #1564
@houtanb ... actually, your idea of transforming macro vars into a matlab structure may be very useful. Perhaps as an additional command. What about
`@exportmacrovars2matlab`
that stores
[code]
?

[2017-12-01 14:20] rattoma commented on #1564
Why not? If the user just need to have an echo in the log, this is done automatically by the macro-processor without one having to do it on purpose from the `options_`.
does it make sense?

[2017-12-01 14:20] JohannesPfeifer commented on #1564
@houtanb The difference is being able to access that information from Matlab vs. having a log-file of what was done.

[2017-12-01 14:22] houtanb commented on #1564
@rattoma @JohannesPfeifer I understand the difference. I just think it's messy to have two options that provide the same information in slightly different ways.

[2017-12-01 14:26] JohannesPfeifer commented on #1564
@houtanb I would be fine with having a preprocessor option `@exportmacrovars2matlab` to write to `options_` and then have a separate Matlab function to display the contents of this field in the command window.

[2017-12-01 14:34] houtanb commented on #1564
@JohannesPfeifer that sounded good, but then I guess it would still require two lines to get the output into the `.log` file. What about just having an option to the macro command, such as:
[code]

Every time `@#echomacrovars` is encountered, its output is printed to screen. If `@#echomacrovars(save)` is encountered, no output is printed to screen; rather it is saved to `options_` as @rattoma spec

[2017-12-01 14:57] JohannesPfeifer commented on #1564
@houtanb Fine with me.

[2017-12-01 15:18] JohannesPfeifer opened #1573 "Allow mode_compute to be a vector"
Allow `mode_compute` to be a vector and the sequentially execute the mode-finders specified. See e.g. https://forum.dynare.org/t/simulated-annealing-block/11052 for why this may be useful.

[2017-12-01 15:32] rattoma commented on #1564
@houtanb @JohannesPfeifer fine also for me. thanks

[2017-12-01 16:00] houtanb commented on #1564
@JohannesPfeifer @rattoma that change implements `@#echomacrovars` but not `@#echomacrovars(save)`, which I'll do at a later date. There are also improvements to be made (differentiating between string arrays and int arrays, adding quotes around elements of string arrays) that I'll do in a later commit. I just wanted to push this so you could have something to work with.

[2017-12-04 15:58] houtanb commented on #1564
@JohannesPfeifer @rattoma in the end I set it up such that multiple `@#echomacrovars(save)` commands can be supported. The value contained in `options_.macrovars` will be that saved when the previous `@#echomacrovars(save)` was encountered.

[2017-12-07 17:48] #1551 closed

[2017-12-10 16:15] JohannesPfeifer opened #1575 "Fix WriteShockDecomp2Excel.m"
See https://forum.dynare.org/t/bug-in-write-xls-option-of-shock-decomposition-after-estimation/11097
On MAC, we rely on `xlwrite` from https://fr.mathworks.com/matlabcentral/fileexchange/38591-xlwrite--generate-xls-x--files-without-excel-on-mac-linux-win without checking whether Excel is installed. If we want to keep this, we need to clearly spell out that users need to install that file. @rattoma

[2018-01-09 19:01] JohannesPfeifer opened #1576 "Provide steady state file example for Ramsey"
The final loop should most probably be
[code]

[2018-01-12 07:20] JohannesPfeifer opened #1578 "macro-processor: allow for nested variables"
1. Related to https://forum.dynare.org/t/total-number-of-periods-given-by-variable/11200/3

We should allow
[code]
but currently the lexer gives an error when encountering the `@{J}` in the second line.

2. Related to this, according to the manual, we have at the command line
```-DMACRO_VARIABLE=MACRO_EXPRESSION```
But we do not really macro expressions as
`dynare macro.mod -D=[1,2]`
fails.

3. I

[2018-01-12 09:20] JohannesPfeifer opened #1579 "Make fast realtime decomposition use the proper nobs"
See https://github.com/DynareTeam/dynare/pull/1563#issuecomment-357180435

[2018-01-12 11:52] rattoma commented on #1579
This means that the option should be implemented to work as:
`realtime_shock_decomposition(fast_realtime = INTEGER)`

[2018-01-12 22:46] feliperuiz01 commented on #1578
Hi @JohannesPfeifer,

I solved it. I followed your idea of writing a text file, but in it I instead defined a vector named countries, which I then used in the `for` loop:

[code]

And then, in the .mod file:

[code]

It worked!
Thanks for helping me with this.

[2018-01-23 14:44] houtanb commented on #1578
@JohannesPfeifer what is wrong with simply doing:
[code]
The output of then running
[code]
is
[code]
Is this not what you want?

[2018-01-23 14:47] JohannesPfeifer commented on #1578
@houtanb That is an elegant solution I did not think. That solves issue 1.) from above.

[2018-01-23 14:51] houtanb commented on #1578
@JohannesPfeifer regarding number 2) above, we do take in arrays. They are just stored as strings. Calling Dynare with `-DMYVEC=[1:3]` and having `@{MYVEC}` in the `.mod` file yields
[code]
The confusing thing is that
[code]
yields the error `Argument of @#for loop must be an array expression`. This should be fixed so I'll change this to a bug instead of an enhancement.

[2018-01-23 15:00] JohannesPfeifer commented on #1578
Ok. Thanks

[2018-01-23 15:00] houtanb commented on #1578
@JohannesPfeifer The functionality you outlined in 3) above is correct. This is an error because you have interrupted the `@#for` macro statement. You can think of `@#include` working the way that `#include` works in C and hence cannot split statements between the included file and the including file.

[2018-01-23 15:33] #1578 closed

[2018-01-23 16:13] #1550 closed

[2018-01-23 22:21] JohannesPfeifer opened #1584 "Update and potentially fix installation information for mac"
See https://forum.dynare.org/t/installing-dynare-no-longer-available-on-homebrew/11259

[2018-01-26 17:59] JohannesPfeifer opened #1586 "Document initial_condition_decomposition and make it an official feature"
Still missing from https://github.com/DynareTeam/dynare/pull/1421

[2018-01-29 09:55] houtanb opened #1587 "nested @#ifndef and @#ifdef don't work"
Email from @JohannesPfeifer:

If I use

[code]
In a mod-file, I get an error
[code]

[2018-01-29 09:58] #1587 closed

[2018-01-29 17:09] JohannesPfeifer opened #1588 "Update Readme for Windows"
The readme has a line linking to a recommended Octave version (https://github.com/DynareTeam/dynare/blob/48b5839414b96c69c0ea0a0da4b129b0195d7dfe/windows/README.txt#L64), which should be 4.2.1, but http://www.dynare.org/download/octave/windows only has downloads for 3.8.1

[2018-01-29 17:22] #1588 closed

[2018-02-02 09:29] JohannesPfeifer opened #1593 "Add truncated priors"
Following the discussions in #1591 and #750, we currently do not have a way to introduce a proper truncated prior. But this is an often requested feature thta e.g. @rattoma would like to have. Waiting for the new estimation interface (e.g. #824 and #846) seems to long to wait.
My specific proposal would be to add a new token `truncated_norm_pdf` that uses the third and fourth hyperparameter (which

[2018-02-05 12:17] rattoma commented on #1593
@JohannesPfeifer thanks for this suggestion. yes, I think would satisfy my needs!

[2018-02-07 17:22] stepan-a commented on #1593
I do not wish to add a new prior density that will become useless when we finish the implementation of the new estimation interface (I now that this is waiting since years, and this will not be for 4.6). Also if we follow this proposition we should do the same for the other distributions.

Actually I am more sympathetic with the idea proposed by @rattoma in #1591. We can compute the prior mass ana

[2018-03-05 13:31] JohannesPfeifer opened #1595 "Add proper error handling to thet2tau.m for identification"
Otherwise, identification may crash when computing the Jacobian due to `dynare_resolve.m` returning with an error code. See PM to Marco from `sourena_hosseini`

[2018-03-08 10:02] houtanb commented on #1555
This is already possible. See Section 3.4 of the manual

[2018-03-08 10:02] #1555 closed

[2018-03-08 10:58] houtanb opened #1596 "add maximum lag info by variable"
[code]
Where the vectors are the length of `M_.orig_endo_nbr`

[2018-03-12 13:28] houtanb opened #1597 "Accept UTF-8 in .mod file"

[2018-03-12 13:31] stepan-a commented on #1597
@houtanb This should only be allowed with the Julia output... With the default output (Matlab) an utf-8 character in `var`, `varexo` or `parameters` should raise an error.

[2018-03-12 21:50] stepan-a opened #1598 "Add a routine for setting automajically the value of mh_jscale..."
so that the acceptance ratio is close to an arbitrary target.

This already done with `mode_compute=6`, but we need to port to other optimization routines.

[2018-03-14 06:34] yurivict opened #1599 "octave option requires -std-c++14"
dynare fails to build without -std-c++14 now after octave update.

Found in the FreeBSD port.

[2018-03-20 15:53] houtanb commented on #1386
Done in https://github.com/DynareTeam/dynare/commit/7f3120eb2ea92b3c094459ca1c07bd6e3ec3ad85

[2018-03-20 15:53] #1386 closed

[2018-03-28 16:22] houtanb opened #1600 "look at preprocessor `output` option"
What is `dynamic` used for?

Look at printing in `DynareMain2.cc`. Why do we switch on `output_mode` ?

[2018-03-31 15:27] MichelJuillard opened #1601 "dates: uninformative error message"
In ``dates`` if the date format is not recognized the error message is "You should first read the manual". This isn't helpful. Furthermore, inside Dynare, if this problem occurs in the datafile, there is no reference to the ``dates`` module.

[2018-04-03 18:14] JohannesPfeifer opened #1602 "Fix predetermined_variables command with model-local variables"
The mod-file
[code]
yields wrong results. The relevant parts of the dynamic file corresponding to
[code]
are
[code]
Here, `y(1)` stores `K` and `y(2)` stores `K(+1)`. As can be seen, in the created model-local variable, the capital stock is not shifted backwards, despite the `predetermined_variables` statement.

Upon fixing this, we should turn the file into a unit test.

[2018-04-09 20:04] JohannesPfeifer opened #1603 "Investigate whether var_exo_det works correctly with stoch_simul"
See https://forum.dynare.org/t/varexo-det-to-simulate-random-shocks-during-a-predetermined-period/11637
It seems there is at least one call to `make_ex_` missing

[2018-04-11 10:59] tpapp opened #1604 "dynare.org down (just http and https)"
[code]

[2018-04-11 12:35] stepan-a commented on #1604
@tpapp Thanks for reporting. I restarted apache2.

[2018-04-11 12:35] #1604 closed

[2018-04-15 20:25] JohannesPfeifer opened #1605 "Better document behavior of steady_state operator"
See https://forum.dynare.org/t/steady-state-command-in-perfect-foresight-simulations/11632/3

[2018-04-15 20:42] JohannesPfeifer opened #1606 "Fix bug or document behavior of mcp"
See https://forum.dynare.org/t/perfect-foresight-simulation-failed/11638/5

[2018-04-18 12:42] #1602 closed

[2018-04-21 10:11] JohannesPfeifer opened #1607 "Fix prior sampler"
`prior simulate` in `cli/prior.m` calls
[code]
where the 0 indicates that no decision rules need to be saved. The problem is that this flag `drsave` is then used to call `resol` with
[code]
so that `resol` only computes eigenvalue, but not BK conditions etc. As a result, the reported simulations will never fail the BK conditions. See https://forum.dynare.org/t/determinacy-prior-simulate-puzzle/116

[2018-04-21 10:44] JohannesPfeifer opened #1608 "Fix forecast at order=2 with linear model and varexo_det"
The mod-file
[code]
crashes, because `forecast` relies on the original `options_.order` and the precomputed decision rules. But given the linear model, `stoch_simul` used `order=1`. Thus, the default does not work anymore.

[2018-04-22 18:02] JohannesPfeifer opened #1609 "Fix bug in mjdgges.mex"
See email from 04/22/18.
```[err, ss, tt, w, sdim, dr.eigval, info1] = mjdgges(E, D, DynareOptions.qz_criterium, DynareOptions.qz_zero_threshold);```
returns ```sdim=6.``` However, manually computing `sdim` based on the returned `dr.eigval` via
[code]
returns 8.

[2018-04-23 09:32] MichelJuillard commented on #1609
It turns out that when there are eigenvalues very close to qz_criterium sdim may be different from
[code]
because it is faster to use ``sdim`` rather than to compute ``sum(abs(dr.eigval))``, I suggest that we rely only on ``sdim``as we do now for ``stoch_simul``
However, we use ``sum(abs(dr.eigval))`` for ``check``. I suggest that we add ``sdmin`` as an element of ``oo_.dr.`` and that ``check `` u

[2018-05-05 11:46] stepan-a commented on #1607
Closed by fa67aeb7a6c55697fc990db8275e35b492396bb6 and merged in 4.5 branch. The problem was in the routine computing the first order reduced form (argument `task` was not correctly interpreted) rather than in the prior sampler routine.

[2018-05-05 11:46] #1607 closed

[2018-05-05 12:57] #1601 closed

[2018-05-05 20:03] stepan-a commented on #1609
Done in 8f53be2a6fe819175e8d992fb7e8fe24e99f8e68.

[2018-05-05 20:03] #1609 closed

[2018-05-16 14:38] #1598 closed

[2018-05-25 12:31] JohannesPfeifer opened #1610 "Make estimated_params_init robust to wrongly specified parameters"
The file
[code]
crashes with a cryptic message, because a correlation is initialized that is not estimated. For structural parameters, there is no error. We should make the behavior informative and consistent

[2018-06-01 21:17] svillemot commented on #1599
Dear @yurivict,

Are you referring to the FreeBSD package there: https://www.freshports.org/math/dynare/ ?

If yes, then this is a problem with the packaging, and you should report it at freshports.org. We the Dynare Team have no way to fix the FreeBSD port.

Best,

[2018-06-01 22:52] yurivict commented on #1599
You are wrong. Callers shouldn't be expected to guess and pass the right --std=c++NN flag. I don't really know what C++ standard is supposed to be used in your code. This is why you should add this line to the project.

You probably use gcc, and it doesn't ask for such flags, but FreeBSD uses clang, and clang requires this flag to be set.

[2018-06-02 18:45] angelosalton opened #1612 "Build failed in Arch Linux"
Tried to build from 4.5.4 sources (against Octave 4.4.0), with the following error:

[code]
I'm pretty sure all necessary dependencies are met. I wonder if a header file for Octave is missing.

[2018-06-02 18:54] svillemot commented on #1612
Hi @angelosalton,

We have not yet verified the compatibility of Dynare with Octave 4.4 (we only tested Octave 4.2 so far).

We'll get back to you once we've done the necessary tests.

[2018-06-02 19:05] angelosalton commented on #1612
Thanks for the help! I will downgrade Octave on my machine.

[2018-06-02 19:05] #1612 closed

[2018-06-02 19:07] svillemot commented on #1490
@tholden @JohannesPfeifer We just upgraded the compiler used to produce the Dynare Windows binaries, and this might solve the issue.
Could you possibly test a recent snapshot (_i.e._ dated June, 1st or later), like [that one](http://www.dynare.org/snapshot/windows/dynare-4.6-unstable-9974382-win.exe), to see if the problem persists?

[2018-06-02 19:16] svillemot commented on #1599
Can you then please give more details about the issue?
Is it in the preprocessor or in the MEX files for Octave? (I guess the latter, because the preprocessor is currently in C++03, though we will soon upgrade to C++14).
Concerning the MEX files for Octave, those are also written in C++03, and we get our CXXFLAGS for `mkoctfile`. So I don't see how `-std=c++14` could be required, unless it is used

[2018-06-02 19:18] svillemot commented on #1599
Also note that for the time being we only support Octave 4.2. We haven't yet tested Octave 4.4.

[2018-06-03 00:51] yurivict commented on #1599
It breaks with these messages:
[code]

Clang compiler is used.
It only breaks when the octave option is selected.
Octave 4.4.0 is used, OS is FreeBSD 11.1
The reason I reported this is that I discovered this problem while committing the update to the dynare port.
I don't think this is a huge issue, just a small problem.
Ports shouldn't be required to supply extra flags like this.

IMO, you should

[2018-06-03 07:35] svillemot commented on #1599
As you can see, the C++11/C++14 code is in Octave headers. And Dynare gets its `CXX` and  `CXXFLAGS` from `mkoctfile`, which is the tool used to build MEX/Oct extensions.

Basically your problem shows that `mkoctfile` is probably broken under FreeBSD ports. Nothing to do with Dynare. I'm therefore closing this issue.

Thanks for maintaining the Dynare package for FreeBSD !

[2018-06-03 07:35] #1599 closed

[2018-06-03 07:46] svillemot commented on #1599
Just some extra technical details to help you debugging this.

You can see the compiler and flags picked by Dynare when compiling Octave extensions in `mex/build/octave/configure.ac`:
[code]
(where `MKOCTFILE=mkoctfile`).

`mkoctfile` is the command-line tool for compiling Oct and MEX extensions (i.e. commands written in C or C++ and callable directly from the Octave command line). This is precise

[2018-06-03 10:48] svillemot commented on #1599
Or could it be that you have two Octave installations on your machine, and that the `mkoctfile` that is in the `$PATH` does not correspond to the Octave installed under `/usr/local/` ?

[2018-06-03 14:54] JohannesPfeifer commented on #1490
I don't have access to Windows 7 machines anymore, so I cannot test whether this particular problem is solved. But I ran my files the regularly crash Matlab on Windows 10 and there the problem seems to finally be gone.

[2018-06-04 06:31] svillemot commented on #1490
Actually the test case that I proposed was wrong, because the snapshot on the Dynare website still contains the workaround (i.e. k-order DLL compiled with Debian Wheezy).

@stepan-a Did you try the snapshot that I specifically made for this test? (it is on sedna in my home directory, per a previous email)

[2018-06-04 06:46] stepan-a commented on #1490
Ahahah... I was already in the process of removing the k-order things from dynare-build... I post your build somewhere and redo the check.

[2018-06-04 06:55] stepan-a commented on #1490
The snapshot with the new version of the k-order dll is available here:

https://dynare.adjemian.eu/dynare-4.6-unstable-474556e-win.exe

[2018-06-04 07:17] rattoma commented on #1593
@stepan-a this would be OK for me. Was this option incorporated somewhere?

[2018-06-04 08:13] stepan-a commented on #1490
The new version of the dll (see previous link) crashes matlab R2017a (on windows 7). Adding a loop on `stoch_simul` in [deficit_sticky.mod](https://forum.dynare.org/t/cant-work-with-third-order/10523/20), Matlab freezes at some point, and Windows claims that the computer is low on memory. I was not able to reproduce the same issue with Octave, which seems to work correctly.

[2018-06-04 09:13] stepan-a commented on #1593
@rattoma It is still pending in my todo list...

[2018-06-04 12:01] wmutschl opened #1614 "Identification display bug"
Hi @rattoma , I just noticed a bug in the identification toolbox when only checking for unidentified parameters without any other parameters, as Dynare prints that all parameters are identified even though the figures etc do not suggest so. This is probably just a small bug in the display function.

To replicate the bug (I use Dynare unstable from June, 3 and Matlab R2017b):
1) Open kim2.mod in th

[2018-06-04 12:50] rattoma commented on #1614
@wmutschl many thanks. I will have a look
Marco

[2018-06-04 13:46] JohannesPfeifer commented on #1614
The problem is that the display-condition in `disp_identification` is on `if any(idemodel.ino)` only, meaning that only in the presence of separatey non-identified parameters the collinearity display is executed. My guess is that the condition must be on

`if any(idemodel.ino) || any(any(idemodel.ind0==0)) || any(idemodel.jweak_pair)`

and similarly for

`if any(idemoments.ino)`

[2018-06-04 14:52] wmutschl commented on #1614
That seems promising, however, one also has to change
`if ~any(idemoments.ino) && ~any(any(idemoments.ind0==0))`
and similarly
`if ~any(idemodel.ino) && ~any(any(idemodel.ind0==0))`

Otherwise it displays that they are both identified and not

I think simply using else instead of these two conditions, fixes this.

[2018-06-04 16:16] rattoma commented on #1614
dear both, many thanks

[2018-06-07 11:32] JohannesPfeifer commented on #1543
@svillemot As you are working on the build system, could you please also do this?

[2018-06-07 12:32] svillemot commented on #1543
I'm not entirely convinced by your suggestion. It is rather usual to name a reference manual after the name of the software. Maybe `dynare-manual.pdf` ?

[2018-06-07 12:33] JohannesPfeifer commented on #1543
That would be fine with me. The goal is to have the files more expressively named.

[2018-06-07 14:06] JohannesPfeifer opened #1616 "Fix perfect_foresight_solver with lags and leads on exogenous variables"
The following modification of our test-file where the shock is now `EfficiencyInnovation(-2)` instead of contemporaneous does not work, despite us already being at the solution with `histval`:
[code]
This is related to https://github.com/DynareTeam/dynare/commit/8913791ff0972f8a56d6c5d0d325d1cb6fda7189#commitcomment-29281838

We should add the above file with
[code]
to the testsuite.

[2018-06-08 08:16] #1614 closed

[2018-06-13 00:52] tholden opened #1621 "Apparent bug with empty strings in 4.6-unstable-474556e0ca6a3b24638d69c883ce255886268adf"
I was trying to test this build: https://dynare.adjemian.eu/dynare-4.6-unstable-474556e-win.exe
as instructed in this issue thread: https://github.com/DynareTeam/dynare/issues/1490

The example I found the aforementioned issue on previously included some empty strings. In this Dynare Unstable, these seem to result in an incorrect pre-processor error.

Saving the following three lines is a MOD file

[2018-06-14 15:21] #1621 closed

[2018-06-25 18:21] JohannesPfeifer opened #1622 "Fix posterior_sampler_initialization>set_proposal_density_to_previous_value"
In case of the `record`-structure not containing the required fields, the output argument of the private function at the bottom of the file are not set, crashing Matlab.

[2018-07-02 15:53] svillemot commented on #1490
This bug may be fixed by commit cb46a2697eb48c92cb34e2a8ede4845f9eabc22d.

Could someone try to see if the bug is indeed fixed by installing the following snapshot on Windows 7 and try to run the problematic mod file? http://www.villemot.name/dynare-4.6-unstable-cb46a26-win.exe

[2018-07-02 17:12] JohannesPfeifer commented on #1490
@svillemot I ran the problematic file on a Windows 7 machine and were for some reason unable to replicate the issue even with older Dynare versions. This is the case on the same machine that originally crashed Matlab. So my hunch is that this was related to a Windows bug that has since been fixed. The behavior on Windows 7 is now like on Windows 10.

[2018-07-02 17:37] stepan-a commented on #1490
@svillemot I will try tomorrow. The tests were still failing a couple of weeks ago on my windows 7 laptop.

[2018-07-04 06:38] stepan-a commented on #1490
It does work on my windows 7 laptop (before and after an upgrade of windows). Windows complains about full memory (although the problem does not manifest in the task manager) and closes Matlab. It looks like a memory leak issue, but only pops up with recent versions of mingw (distributed in jessie and stretch).

[2018-07-04 11:54] JohannesPfeifer commented on #1490
@stepan-a With

do you mean it crashes as before? Or does the mod-file run properly?

[2018-07-04 13:04] stepan-a commented on #1490
@JohannesPfeifer Sorry I missed three letters. It does not work on my windows machine.

[2018-07-04 15:06] paologelain commented on #1170
It seems from tha manual that the default option for optimizer 5 is Hessian routine, which is not the one to get I1. Option "0" gives the outer product gradient.

[2018-07-06 08:09] paologelain commented on #1170
I confirm that the one can get the sandwich by using mode_compute = 5 (together with kalman_algo = 2 to trigger the univariate filter). One needs to use a recent dynare version. For instance version 4.4.3 seems to ignore the options of mode_compute = 5.
The formula that I know to get the asymptotic consistent and robust variance covariance matrix is
inv(A)*B*inv(A)
where A corresponds to I2 in the

[2018-07-24 16:42] svillemot commented on #1547
Reopening, actually it makes sense to have `length` return the length of a string, since there is an indexing operator for strings.

[2018-07-24 16:47] svillemot commented on #1564
Reopening, because the command still needs to be documented.

[2018-07-24 16:48] svillemot commented on #1564
Actually it is documented, closing again, sorry for the noise.

[2018-07-24 16:48] #1564 closed

[2018-07-25 16:50] #707 closed

[2018-07-25 16:50] #1547 closed

[2018-07-25 16:53] svillemot commented on #707
@tholden Empty arrays are now supported (starting from tomorrow's unstable snapshot).

[2018-07-25 16:55] svillemot commented on #1547
@tholden This has been fixed in Dynare 4.5.6 (just released). The length operator on a string now returns the number of characters.

[2018-07-25 17:32] stepan-a commented on #1547
Actually 4.5.6 will be released tomorrow.

[2018-08-01 17:38] tholden commented on #707
Great, thanks.

[2018-08-01 17:39] tholden commented on #1547
Thanks again.

[2018-08-03 10:33] svillemot commented on #1605
See also #835.

[2018-08-13 14:29] awindbells opened #1626 "Program killed by itself"
I am solving a large model. The model is solved successfully on Mac up to 5th order approximation. When I try solve the model on Windows, or Linux server, it solves 3rd order in seconds, the program is "killed" by the system or by the program at 4th order after a few seconds of running. The cpu utilization is below 40% when killed, and memory usage is minimal. There is no other error message, exce

[2018-08-13 14:34] houtanb commented on #1626
@awindbells Please tell me the exact versions of Windows, Linux, and Matlab or Octave you are using.

Please also post all files necessary to replicate the problem.

[2018-08-13 14:39] awindbells commented on #1626
To clarify, I am using Dynare++ (it is implied by the higher order, but I should've been explicit.)

I am using Matlab 2018a on Mac, which worked fine.

I am using Windows Enterprise 7, and Matlab 2018a. I am not exactly sure about the version of Linux on my server, Matlab is 2017a. I did not use Octove.

[2018-08-13 14:53] houtanb commented on #1626
For the Linux version, open a terminal on your server and send the output of `uname -a`.

Also, I assumed you were using the latest version of Dynare. Is this correct? If not, which version are you using? Does the problem exist with the latest version?

Are you using `dynare++` from the command line or from within Matlab?

And, again, please send the files that cause the crash. You can use [GitHub

[2018-08-13 15:07] awindbells commented on #1626
Linux version: UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

I am using Dynare 4.5.5. on windows, Dynare 4.5.6 on Linux.

I used dynare++ from Matlab on windows, and from command line on Linux.

Mod codes are here: https://gist.github.com/awindbells/364f2a42700e11838dd0f1f9650ca13f

The codes are run by
./dynare++  --seed 5 --thread 2 --per 100 --order 4 --check PES --ss-tol 10^-10 dynarepp.mod

[2018-08-13 15:15] houtanb commented on #1626
@awindbells thanks so much. I'll look into this. For your distribution, please also send the output of: `cat /proc/version`. Thanks

[2018-08-13 15:18] awindbells commented on #1626
Linux version 3.10.0-693.25.7.el7.x86_64 (mockbuild@x86-038.build.eng.bos.redhat.com) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC) )

Thanks.

[2018-08-13 15:35] MichelJuillard commented on #1626
I was able to run your model (order=4) on Linux with both the stable and unstable version of Dynare. My machine has 16GB of memory. The sudden death on your computer seems to point on an issue related to memory. How much memory do you have on these machines?

[2018-08-13 15:37] MichelJuillard commented on #1626
@awindbells On Linux, did you compile dynare++ yourself?

[2018-08-13 16:00] awindbells commented on #1626
Memory is 32g. From what I see, the memory usage is not much when it’s running on Linux or windows.

Yes, i compiled it myself.

Sent from my iPhone

[2018-08-13 16:03] awindbells commented on #1626
My windows has 64g memory.

Sent from my iPhone

[2018-08-13 19:12] MichelJuillard commented on #1626
In Linux, I would use gdb to try to see where the program encounters a problem

[2018-08-13 19:15] MichelJuillard commented on #1626
Could you please send us the *.jnl file?

[2018-08-13 19:16] MichelJuillard commented on #1626
For order=5, in Linux, I get the following error
[code]
I will investigate

[2018-08-13 19:25] awindbells commented on #1626
@MichelJuillard Here is the jnl file from Windows.
[modelpp_jnl.txt](https://github.com/DynareTeam/dynare/files/2284429/modelpp_jnl.txt)
It gets stuck and never updates further.

[2018-08-13 19:27] awindbells commented on #1626
Here is the jnl from Linux
[modelpp_linux_jnl.txt](https://github.com/DynareTeam/dynare/files/2284440/modelpp_linux_jnl.txt)

I compiled MatIO and Openblas also on Linux, with GNU.

[2018-08-13 19:29] MichelJuillard commented on #1626
@awindbells do you see any error message related to Openblas?

[2018-08-13 19:36] awindbells commented on #1626
I did not. But I am puzzled by the Windows also. I tried 4.5.5 and 4.5.6.

On Mon, Aug 13, 2018 at 3:29 PM MichelJuillard <notifications@github.com>
wrote:

[2018-08-13 21:41] awindbells commented on #1626
I reinstalled Openblas. Problem resolved for Linux. It solves order 5 for me now. @MichelJuillard

Windows still does not work as before. @houtanb